/****** Script for SelectTopNRows command from SSMS  ******/
SELECT        
	 isnull(substring([BOND_ISSUE_DATE], 7, 4), '') as IssueYear,
	 SUM(isnull([BOND_AMT], 0)) as BondAmount
FROM [DepositPower].[dbo].[AU_DPBOND_POL]
group by substring([BOND_ISSUE_DATE], 7, 4)