 

    declare @DataA varchar(50)
    set @DataA = replace('1054, 1106', ' ', '')

    declare @IntTableA TABLE ([ValueA] INT NULL)
    DECLARE @PtrA int, @LengthA int, @vA nchar, @vvA nvarchar(100)

    SELECT @LengthA = (DATALENGTH(@DataA)) + 1, @PtrA = 1

                                  
    WHILE (@PtrA < @LengthA)
    BEGIN
            SET @vA = SUBSTRING(@DataA, @PtrA, 1)                                         
            IF @vA = ','
                BEGIN
                        INSERT INTO @IntTableA (ValueA) VALUES (CAST(@vvA AS int))
                        SET @vvA = NULL
                END
            ELSE
                BEGIN
                        SET @vvA = ISNULL(@vvA, '') + @vA                                             
                END
            SET @PtrA = @PtrA + 1
    END
    -- If the last number was not followed by a comma, add it to the result set
    IF @vvA IS NOT NULL
            INSERT INTO @IntTableA (ValueA) VALUES (CAST(@vvA AS int))

    select ValueA from @IntTableA
