USE [WDS]
GO
/****** Object:  StoredProcedure [dbo].[uspOWTUpdateWasteTrackingContact]    Script Date: 22/02/2016 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eric He
-- Create date: 19-02-2016
-- Description:	update single or mutiple Waste Tracking Contact Details information 
--                
-- =============================================
ALTER PROCEDURE [dbo].[uspOWTUpdateWasteTrackingContact] 
(	
	 @EmergencyPhone     VARCHAR(50),
	 @TitleCode          VARCHAR(20),
	 @GivenName          VARCHAR(50),
	 @Surname            VARCHAR(50),
	 @PhoneNumber        VARCHAR(50),
	 @MobileNumber       VARCHAR(50),
	 @FaxNumber          VARCHAR(50),
	 @Email              VARCHAR(100),
	 @StreetAddress      VARCHAR(200),
	 @Suburb             VARCHAR(50),
	 @Postcode           VARCHAR(10),
	 @StateCode          VARCHAR(10),
	 @UserID             INT,
	 @CustomerID   INT,
	 @AccountOperationID INT,
	 @AccountOperationIDs VARCHAR(200),
	 @IndividualIDs VARCHAR(200)
)
AS	

BEGIN	
	SET NOCOUNT ON
	DECLARE @UserType AS int
	DECLARE @TCState AS VARCHAR(4)

	BEGIN TRY
			SELECT @UserType = ApplicationUserTypeID,
				   @TCState = StateCode
			FROM   ApplicationSystemUser
			WHERE  ApplicationSystemUserID = @UserID

			declare @DataA varchar(50)
			set @DataA = replace(@IndividualIDs, ' ', '')

			declare @IntTableA TABLE ([ValueA] INT NULL)
			DECLARE @PtrA int, @LengthA int, @vA nchar, @vvA nvarchar(100)

			SELECT @LengthA = (DATALENGTH(@DataA)) + 1, @PtrA = 1

                                  
			WHILE (@PtrA < @LengthA)
			BEGIN
					SET @vA = SUBSTRING(@DataA, @PtrA, 1)                                         
					IF @vA = ','
						BEGIN
								INSERT INTO @IntTableA (ValueA) VALUES (CAST(@vvA AS int))
								SET @vvA = NULL
						END
					ELSE
						BEGIN
								SET @vvA = ISNULL(@vvA, '') + @vA                                             
						END
					SET @PtrA = @PtrA + 1
			END
			-- If the last number was not followed by a comma, add it to the result set
			IF @vvA IS NOT NULL
					INSERT INTO @IntTableA (ValueA) VALUES (CAST(@vvA AS int))


			------------------------------------------ single contact update here ------------------------------------------
			IF @AccountOperationIDs is null  --please note: @AccountOperationIDs and @AccountOperationID are different values
			begin   
				If @UserType = 12 OR  @UserType = 13 -- External user
				begin
				   if exists(SELECT [AccountOperationID]					   
							  FROM [vwOWTContact]  
							  WHERE (vwOWTContact.EffectiveDateTo IS NULL OR vwOWTContact.EffectiveDateTo >= GETDATE( )) 
							  AND [AccountOperationID] = @AccountOperationID  
							  AND IndividualID IN (select ValueA from @IntTableA)
							  AND vwOWTContact.AccountOperationID IN (SELECT AccountOperationID FROM vwOWTExternalUserAccountOperation
											WHERE  ApplicationSystemUserID = @UserID))
						begin
						    update AccountOperation set EmergencyContactPhoneNumber = @EmergencyPhone where [AccountOperationID] = @AccountOperationID

							update Individual set 
							TitleCode = @TitleCode,
							GivenName = @GivenName,
							Surname = @Surname,
							PhoneNumber = @PhoneNumber,
							MobileNumber= @MobileNumber,
							FaxNumber = @FaxNumber,
							EmailAddress = @Email,
							StreetAddress = @StreetAddress,
                            Suburb = @Suburb,
							Postcode = @Postcode,
							StateCode = @StateCode
							where IndividualID IN (select ValueA from @IntTableA) and AccountOperationID = @AccountOperationID
						end
				end

				If @UserType = 401  -- Interstate user
				begin
				   if exists(SELECT [AccountOperationID]					   
							  FROM [vwOWTContact]  
							  WHERE (vwOWTContact.EffectiveDateTo IS NULL OR vwOWTContact.EffectiveDateTo >= GETDATE( )) 
							  AND [AccountOperationID] = @AccountOperationID  --please note: @AccountOperationIDs and @AccountOperationID are different values
							  AND IndividualID IN (select ValueA from @IntTableA))							   
						begin
						    update AccountOperation set EmergencyContactPhoneNumber = @EmergencyPhone
							where [AccountOperationID] = @AccountOperationID

							update Individual set 
							TitleCode = @TitleCode,
							GivenName = @GivenName,
							Surname = @Surname,
							PhoneNumber = @PhoneNumber,
							MobileNumber= @MobileNumber,
							FaxNumber = @FaxNumber,
							EmailAddress = @Email,
							StreetAddress = @StreetAddress,
                            Suburb = @Suburb,
							Postcode = @Postcode,
							StateCode = @StateCode
							where IndividualID IN (select ValueA from @IntTableA) and AccountOperationID = @AccountOperationID
						end
				end
			end

			------------------------------------------ mutiple contact update here ------------------------------------------
			IF @AccountOperationIDs is not null And len(@AccountOperationIDs) > 0   --please note: @AccountOperationIDs and @AccountOperationID are different values
			begin	 
                    declare @Data varchar(50)
                    set @Data = replace(@AccountOperationIDs, ' ', '')

                    declare @IntTable TABLE ([Value] INT NULL)
                    DECLARE @Ptr int, @Length int, @v nchar, @vv nvarchar(100)

                    SELECT @Length = (DATALENGTH(@Data)) + 1, @Ptr = 1

                                  
                    WHILE (@Ptr < @Length)
                    BEGIN
                            SET @v = SUBSTRING(@Data, @Ptr, 1)                                         
                            IF @v = ','
                                BEGIN
                                        INSERT INTO @IntTable (Value) VALUES (CAST(@vv AS int))
                                        SET @vv = NULL
                                END
                            ELSE
                                BEGIN
                                        SET @vv = ISNULL(@vv, '') + @v                                             
                                END
                            SET @Ptr = @Ptr + 1
                    END
                    -- If the last number was not followed by a comma, add it to the result set
                    IF @vv IS NOT NULL
                            INSERT INTO @IntTable (Value) VALUES (CAST(@vv AS int))

				IF @UserType = 12 OR  @UserType = 13 -- External user
				BEGIN
				   if exists(SELECT [AccountOperationID]					   
							  FROM [vwOWTContact]  
							  WHERE (vwOWTContact.EffectiveDateTo IS NULL OR vwOWTContact.EffectiveDateTo >= GETDATE( )) 
							  --AND [AccountOperationID] = @AccountOperationID
							  AND IndividualID IN (select ValueA from @IntTableA)
							  AND vwOWTContact.AccountOperationID IN (select [Value] from @IntTable)
							  --AND vwOWTContact.AccountOperationID IN (SELECT AccountOperationID FROM vwOWTExternalUserAccountOperation
									--		WHERE  ApplicationSystemUserID = @UserID)
											)
						begin
						    update AccountOperation set EmergencyContactPhoneNumber = @EmergencyPhone 
							where AccountOperationID IN (select [Value] from @IntTable)
							--and AccountOperationID IN (SELECT AccountOperationID FROM vwOWTExternalUserAccountOperation
							--				WHERE  ApplicationSystemUserID = @UserID)

							update Individual set 
							TitleCode = @TitleCode,
							GivenName = @GivenName,
							Surname = @Surname,
							PhoneNumber = @PhoneNumber,
							MobileNumber= @MobileNumber,
							FaxNumber = @FaxNumber,
							EmailAddress = @Email,
							StreetAddress = @StreetAddress,
                            Suburb = @Suburb,
							Postcode = @Postcode,
							StateCode = @StateCode
							where IndividualID IN (select ValueA from @IntTableA) and AccountOperationID IN (select [Value] from @IntTable)
							--and AccountOperationID IN (SELECT AccountOperationID FROM vwOWTExternalUserAccountOperation
							--				WHERE  ApplicationSystemUserID = @UserID)
						end				   								
				END

				IF @UserType = 401  -- Interstate user
				BEGIN
				   	   if exists(SELECT [AccountOperationID]				   
							  FROM [vwOWTContact]  
							  WHERE (vwOWTContact.EffectiveDateTo IS NULL OR vwOWTContact.EffectiveDateTo >= GETDATE( )) 
							  AND [AccountOperationID] IN (select [Value] from @IntTable)
							  AND [CustomerID] = @CustomerID)							   
						begin
						    update AccountOperation set EmergencyContactPhoneNumber = @EmergencyPhone
							where AccountOperationID IN (select [Value] from @IntTable)

							update Individual set 
							TitleCode = @TitleCode,
							GivenName = @GivenName,
							Surname = @Surname,
							PhoneNumber = @PhoneNumber,
							MobileNumber= @MobileNumber,
							FaxNumber = @FaxNumber,
							EmailAddress = @Email,
							StreetAddress = @StreetAddress,
                            Suburb = @Suburb,
							Postcode = @Postcode,
							StateCode = @StateCode
							where IndividualID IN (select ValueA from @IntTableA) and AccountOperationID IN (select [Value] from @IntTable)
						end
				END

				delete @IntTable
            end
		  
	        select 1 as TEMP
	END TRY
	
	BEGIN CATCH
	    select 0 as TEMP
		DECLARE @ErrorMessage VARCHAR(2000)
		SET @ErrorMessage = dbo.ufn_GetErrorTextPALMS()
		RAISERROR (@ErrorMessage , 16, 1)
	
	END CATCH
END

