USE [PALMSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[dbo.ufn_HasActiveCorrectionTransporter]    Script Date: 19/12/2017 4:36:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[dbo.ufn_HasActiveCorrectionTransporter]
(
 @InstrumentID int
)
RETURNS BIT
AS
BEGIN
    
	DECLARE @HasActiveCorrection BIT
	DECLARE @InstrumentStatus INT
	DECLARE @NInstrumentID int
	DECLARE @NoticeStatus int
    DECLARE @Cnt int
	
	SELECT @HasActiveCorrection = 0
	
	SELECT @Cnt = 0
     
     SELECT @Cnt = COUNT(*) FROM tblTransporterLicence
     WHERE InstrumentID = @InstrumentID
     
     IF @Cnt = 0 
        SELECT @HasActiveCorrection = 0
     
    SELECT @InstrumentStatus = InstrumentStatusID FROM tblInstrument
    WHERE InstrumentID = @InstrumentID
	
	IF @InstrumentStatus <> 755 --Issued status for transporterlicence
	   SELECT @HasActiveCorrection = 0
	
	SELECT @NInstrumentID = 0 
	
	Select @NInstrumentID = MAX(N.InstrumentID) from tblNotice N
	JOIN tblInstrumentNotice INo ON INo.NoticeInstrumentID = N.InstrumentID
	where N.NoticeTemplateID=388 AND INo.InstrumentID = @InstrumentID
	
	SELECT @NInstrumentID = ISNULL(@NInstrumentID,0)

	IF @NInstrumentID <= 0
	   SELECT @HasActiveCorrection = 0
	   
	SELECT @NoticeStatus = 0
	   
	SELECT @NoticeStatus = InstrumentStatusID FROM tblInstrument
	WHERE InstrumentID = @NInstrumentID
	
	IF 	@NoticeStatus = 9 --Draft
		SELECT @HasActiveCorrection = 1
	ELSE 
        SELECT @HasActiveCorrection = 0
        
    RETURN @HasActiveCorrection
    
END