/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstrumentRadiationLocationID]
      ,[InstrumentID]
      ,[RadiationLocationID]
      ,[VariationPendingFlag]
      ,[NewInstrumentID]
      ,[Notes]
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[ROW_ID]
      ,[TerminationPendingFlag]
      ,[AddedUnlinkingFlag]
  FROM [PALMSDB].[dbo].[tblInstrumentRadiationLocation]
  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171, 10633)

  select * from tblRadiationLocationRRM where [RadiationLocationID] in (
	  SELECT  [RadiationLocationID]
		FROM [PALMSDB].[dbo].[tblInstrumentRadiationLocation]
	  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171, 10633)
  )

  select * from tblRadiationLicenceRRM where RadiationLicenceRRMID in (
	  select RadiationLicenceRRMID from tblRadiationLocationRRM where [RadiationLocationID] in (
		  SELECT  [RadiationLocationID]
			FROM [PALMSDB].[dbo].[tblInstrumentRadiationLocation]
		  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171, 10633)
	  )
  )

  select * from tblRadiationLicenceRRMComponent where RadiationLicenceRRMID in (
	  select RadiationLicenceRRMID from tblRadiationLocationRRM where [RadiationLocationID] in (
		  SELECT  [RadiationLocationID]
			FROM [PALMSDB].[dbo].[tblInstrumentRadiationLocation]
		  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171, 10633)
	  )
  )
  ------------------------------------------------------------------------------------------------------
select * from tblOnlineLicenceChangeApplication where InstrumentID = 5062802 and RadiationLicenceVariationID = 40604
update tblOnlineLicenceChangeApplication set ApplicationStatusID = 1701 where InstrumentID = 5062802 and RadiationLicenceVariationID = 40604 
--------------------------------------------------------------------------------------------------------
update tblRadiationLicenceVariation set VariationStatusID = 812, VariationCompletedFlag = 0 where InstrumentID = 5062802 and RadiationLicenceVariationID = 40604
--------------------------------------------------------------------------------------------------------
  delete from tblRadiationLicenceRRMComponent where RadiationLicenceRRMID in (
	  select RadiationLicenceRRMID from tblRadiationLocationRRM where [RadiationLocationID] in (
		  SELECT  [RadiationLocationID]
			FROM [PALMSDB].[dbo].[tblInstrumentRadiationLocation]
		  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171)
	  )
  )

 delete from tblRadiationLocationRRM where [RadiationLocationID] in (
	  SELECT  [RadiationLocationID]
		FROM [PALMSDB].[dbo].[tblInstrumentRadiationLocation]
	  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171)
  )

 delete from tblRadiationLicenceRRM where RadiationLicenceRRMID in (
	  select RadiationLicenceRRMID from tblRadiationLocationRRM where [RadiationLocationID] in (
		  SELECT  [RadiationLocationID]
			FROM [PALMSDB].[dbo].[tblInstrumentRadiationLocation]
		  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171)
	  )
  )

  delete from [tblInstrumentRadiationLocation]
  WHERE [InstrumentID] = 5062802 and NOT [RadiationLocationID] in (4171)
 ------------------------------------------------------------------------------------------------------