/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ID]
      ,[Code]
      ,[ShortName]
      ,[Description]
  FROM [ReportingDB].[dbo].[FaultType]
  WHERE [Description] like '%excess%'
