SELECT 
sum(ExcessDetailsLog.TotalExcessValue) as TotalExcessAmount, 
count(Flight.FlightNumber) as NumberOfExcess,
'QF'+ Flight.FlightNumber as FlightNumber, 
' ' + Flight.BoardPoint + ' - ' + Flight.OffPoint as FlightRoute

FROM BagWeightUpdate
JOIN AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID
INNER JOIN ExcessDetailsLog ON BagWeightUpdate.CustomerSessionID = ExcessDetailsLog.CustomerSessionID
LEFT OUTER JOIN CustomerSession on ExcessDetailsLog.CustomerSessionID = CustomerSession.ID
LEFT OUTER JOIN Flight on CustomerSession.FlightID = Flight.ID

WHERE BagWeightUpdate.LocalTime BETWEEN '2019/02/01' AND '2019/02/28'
group by 'QF'+ Flight.FlightNumber,  ' ' + Flight.BoardPoint + ' - ' + Flight.OffPoint
order by TotalExcessAmount desc

--SELECT 
--sum(ExcessDetailsLog.TotalExcessValue) as TotalFeb2019
 
--FROM BagWeightUpdate
--JOIN AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID
--INNER JOIN ExcessDetailsLog ON BagWeightUpdate.CustomerSessionID = ExcessDetailsLog.CustomerSessionID
--LEFT OUTER JOIN CustomerSession on ExcessDetailsLog.CustomerSessionID = CustomerSession.ID
--LEFT OUTER JOIN Flight on CustomerSession.FlightID = Flight.ID
--WHERE BagWeightUpdate.LocalTime BETWEEN '2019/02/01' AND '2019/02/28'
 