/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) a.[ID]
      ,[ABDStationID]
      ,[FaultTypeID]
      ,[UtcCreationTime]
      ,[LocalCreationTime]
	  ,b.Code
	  ,b.Description
	  ,b.ShortName
  FROM [BagDrop].[dbo].[ABDErrorLog] a inner join FaultType b on a.FaultTypeID = b.ID
  order by [LocalCreationTime] desc