USE [ReportingDB]
GO
/****** Object:  StoredProcedure [dbo].[TotalExcessCalculationError]    Script Date: 4/3/2019 11:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[TotalExcessCalculationError]
(
	@FromDateTime DateTime,
	@ToDateTime DateTime,
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10),
	@ABDStationIDs varchar(400),
	@ABDStationNames varchar(4000),
	@TotalBagAccepted int out
	)
		WITH RECOMPILE
AS
	SET @TotalBagAccepted = (SELECT COUNT(BagWeightUpdate.ID) 
								FROM BagWeightUpdate
								JOIN AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID
								WHERE BagWeightUpdate.LocalTime BETWEEN @FromDateTime AND @ToDateTime
									AND (AbdStation.Terminal LIKE @Terminal )
									AND (ISNULL(AbdStation.Area,'') LIKE @Area )
									AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
									AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0))

	SELECT 

	FaultType.ID AS FaultTypeID, 
	FaultType.ShortName, 
	COUNT(ABDErrorLog.ID) as NumberOfErrors, 	
	@ABDStationNames AS ABDStations	
		  
	FROM ABDErrorLog 
		JOIN FaultType ON ABDErrorLog.FaultTypeID = FaultType.ID 
		JOIN AbdStation ON ABDErrorLog.AbdStationID = AbdStation.ID
	WHERE        (ABDErrorLog.LocalCreationTime BETWEEN @FromDateTime AND @ToDateTime)
		AND (AbdStation.Terminal LIKE @Terminal )
		AND (ISNULL(AbdStation.Area,'') LIKE @Area )
		AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
		AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
		AND FaultType.ID IN (SELECT ID
								FROM FaultType
							WHERE lower([Description]) like '%excess%' and lower([Description]) <> 'excessbagdetected')

	GROUP BY FaultType.ID,FaultType.ShortName
	ORDER BY COUNT(ABDErrorLog.ID) DESC

--End SP creating


Print 'END PATCHING'

