declare @InstrumentID int = 5058260
declare @StableNullCount int
declare @StableCount int 
declare @TotalCount int

  --SELECT a.[InstrumentID],
  --    b.DGVehicleID,
	 -- c.RegistrationNumber,
	 -- c.StabilityControlFlag
  --FROM [dbo].[tblDGLicence] a 
  --left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
  --left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID

  --WHERE [DGLicenceTypeID] = 820 and a.InstrumentID = @InstrumentID 
  --and
  --c.IsVehicleManufacturedAfter01July2014Flag = 0
  --and 
  --c.StabilityControlFlag = 1
  ----------------------------------------------------
  SELECT @StableNullCount = count(*)  
  FROM [dbo].[tblDGLicence] a 
  left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
  left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID
  WHERE [DGLicenceTypeID] = 820 and a.InstrumentID = @InstrumentID 
  and
  c.IsVehicleManufacturedAfter01July2014Flag = 0
  and 
  c.StabilityControlFlag is null


  SELECT @StableCount = count(*)  
  FROM [dbo].[tblDGLicence] a 
  left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
  left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID
  WHERE [DGLicenceTypeID] = 820 and a.InstrumentID = @InstrumentID 
  and
  c.IsVehicleManufacturedAfter01July2014Flag = 0
  and 
  c.StabilityControlFlag = 1




  SELECT @TotalCount = count(*)  
  FROM [dbo].[tblDGLicence] a 
  left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
  left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID

  WHERE [DGLicenceTypeID] = 820 and a.InstrumentID = @InstrumentID 
  and
  c.IsVehicleManufacturedAfter01July2014Flag = 0
  
  print '@StableNullCount=' + cast(@StableNullCount as varchar)
  print '@StableCount=' + cast(@StableCount as varchar)
  print '@TotalCount=' + cast(@TotalCount as varchar)

  if @TotalCount > 0 and @StableCount > 0
  begin
    select   cast(round(cast(@StableCount as float) / cast(@TotalCount as float), 2)*100 as varchar) + '%' as StableRate
  end 

  if @TotalCount > 0 and @StableNullCount > 0
  begin
    select   cast(round(cast(@StableNullCount as float) / cast(@TotalCount as float), 2)*100 as varchar) + '%' as StableNullRate
  end 
  ----------------------------------------------------------------

