USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspRadiationLicenceReceiptReportData]    Script Date: 14/04/2015 4:25:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- Author:		Eric He
-- Create date: 26-02-2014
-- Description:	GET Radiation Licence Receipt Report DataSet Information
-- ==================================================
ALTER PROCEDURE [dbo].[uspRadiationLicenceReceiptReportData]
(
	@InstrumentID as INT,
	@RadiationLicenceInvoiceID as INT,
	@RadiationLicenceInvoiceAdjustmentID as INT
)
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
		  --we get instrument type id as this SP will be used to handle dangerous good and pesticide licence as well
		  DECLARE @InstrumentTypeID int -- 750: radiation licence; 817: Dangerous Goods Licence; 818: Pesticide Licence 
		  DECLARE @RadiationLicenceSubTypeID int -- 794: Accreditation; 795: Licence to use; 796: Management licence
		  declare @LicenceType varchar(200)
		  declare @LicenceTypeSub varchar(200)

		  select @InstrumentTypeID = InstrumentTypeID, 
		  @LicenceType = b.[description]
		  from tblInstrument a
		  inner join [tblClassification] b on a.InstrumentTypeID = b.ClassificationID
		  where InstrumentID = @InstrumentID

		   --750: radiation licence  817: Dangerous Goods Licence 818: Pesticide Licence
		  if @InstrumentTypeID = 750 --radiation licence
		  begin		      
		      select @RadiationLicenceSubTypeID = isnull(RadiationLicenceTypeID, 0),
			         @LicenceTypeSub = b.[description]
			  from tblRadiationLicence a inner join [tblClassification] b on a.RadiationLicenceTypeID = b.ClassificationID
			  where  InstrumentID = @InstrumentID
		  End
		   
		  if @RadiationLicenceInvoiceAdjustmentID = 0
		  BEGIN
				IF @RadiationLicenceInvoiceID > 0	 
				BEGIN
					SELECT DISTINCT
					@InstrumentID as InstrumentID,
					[dbo].[ufn_GetFirstAccountablePartyNameWithTitleOfInstrument] (@InstrumentID) as APName,
					(select CONVERT(VARCHAR(11), expiryDate, 106) from tblRadiationLicence where InstrumentID = @InstrumentID) as ExpiryDate,

					(select b.[FeeType]
							from tblRadiationLicenceInvoice a left outer join [tblRadiationLicenceFeeType] b on a.RadiationLicenceFeeTypeID = b.[RadiationLicenceFeeTypeID]
							where a.InvoiceBalance = 0.00    
							and a.InstrumentID = @InstrumentID and RadiationLicenceInvoiceID = @RadiationLicenceInvoiceID) as [FeeType],

					isnull(a.[InvoiceAmount], 0) + (select sum(isnull(AdjustmentAmount, 0)) from tblRadiationLicenceInvoiceAdjustment aa where aa.RadiationLicenceInvoiceID = @RadiationLicenceInvoiceID and aa.PaidWithInvoiceFlag = 1) as TotalAmount, 
					(case a.PaymentTypeID when 895 then (isnull(a.[InvoiceAmount], 0) + isnull(b.[AdjustmentAmount], 0))*0.004 else 0 end) as CardSurcharge,       
					isnull(a.[InvoiceAmount], 0) + (select sum(isnull(AdjustmentAmount, 0)) from tblRadiationLicenceInvoiceAdjustment aa where aa.RadiationLicenceInvoiceID = @RadiationLicenceInvoiceID and aa.PaidWithInvoiceFlag = 1) + (case a.PaymentTypeID when 895 then (isnull(a.[InvoiceAmount], 0) + (select sum(isnull(AdjustmentAmount, 0)) from tblRadiationLicenceInvoiceAdjustment aa where aa.RadiationLicenceInvoiceID = @RadiationLicenceInvoiceID and aa.PaidWithInvoiceFlag = 1))*0.004 else 0 end) as TotalPaidAmount,
					CONVERT(VARCHAR(11), getdate(), 106) as ReceiptDate,
					isnull(a.PaymentDate, b.PaymentDate) as PaymentDate,
					isnull(isnull(isnull(a.ReceiptNumber, b.ReceiptNumber), a.RadiationLicenceInvoiceID), b.RadiationLicenceInvoiceID) as ReceiptNumber,
					(select OldLicenceNumber from tblRadiationLicence where InstrumentID = @InstrumentID) as OldLicenceNumber,
					c.[Description] as PaymentType,
					(@LicenceType + (case @LicenceTypeSub when null then '' when '' then '' else ' - ' + @LicenceTypeSub end)) as LicenceType
					FROM [tblRadiationLicenceInvoice] a 
					left outer join [tblRadiationLicenceInvoiceAdjustment] b ON A.[RadiationLicenceInvoiceID] = B.[RadiationLicenceInvoiceID] AND B.PaidWithInvoiceFlag = 1 AND b.[AdjustmentBalance] = 0.0
					left outer join [tblClassification] c on a.PaymentTypeID = c.ClassificationID 
					WHERE a.[RadiationLicenceInvoiceID] = @RadiationLicenceInvoiceID and a.[InvoiceBalance] = 0.00
				END 
			END
			ELSE
			BEGIN			 
					SELECT DISTINCT
					@InstrumentID as InstrumentID,
					[dbo].[ufn_GetFirstAccountablePartyNameWithTitleOfInstrument] (@InstrumentID) as APName,
					(select CONVERT(VARCHAR(11), expiryDate, 106) from tblRadiationLicence where InstrumentID = @InstrumentID) as ExpiryDate,

					(select b.[FeeType]
							from tblRadiationLicenceInvoice a left outer join [tblRadiationLicenceFeeType] b on a.RadiationLicenceFeeTypeID = b.[RadiationLicenceFeeTypeID]
							where a.InvoiceBalance = 0.00    
							and a.InstrumentID = @InstrumentID and RadiationLicenceInvoiceID = @RadiationLicenceInvoiceID) as [FeeType],

					isnull(a.[AdjustmentAmount], 0) as TotalAmount, 
					(case a.PaymentTypeID when 895 then isnull(a.[AdjustmentAmount], 0)*0.004 else 0 end) as CardSurcharge,       
					(isnull(a.[AdjustmentAmount], 0) + (case a.PaymentTypeID when 895 then isnull(a.[AdjustmentAmount], 0)*0.004 else 0 end)) as TotalPaidAmount,
					CONVERT(VARCHAR(11), getdate(), 106) as ReceiptDate,
					isnull(a.PaymentDate, getdate()) as PaymentDate,
					isnull(a.ReceiptNumber, a.RadiationLicenceInvoiceID) as ReceiptNumber,
					(select OldLicenceNumber from tblRadiationLicence where InstrumentID = @InstrumentID) as OldLicenceNumber,
					c.[Description] as PaymentType,
					(@LicenceType + (case @LicenceTypeSub when null then '' when '' then '' else ' - ' + @LicenceTypeSub end)) as LicenceType
					FROM [tblRadiationLicenceInvoiceAdjustment] a  
					left outer join [tblClassification] c on a.PaymentTypeID = c.ClassificationID 
					WHERE a.RadiationLicenceInvoiceAdjustmentID = @RadiationLicenceInvoiceAdjustmentID 
					and a.AdjustmentBalance = 0.00
					and a.PaidWithInvoiceFlag = 0
		  END    
 
		  --========================start individually data fetch below=======================================
		  if @InstrumentTypeID = 750 --radiation licence
		  begin		      
		      select @RadiationLicenceSubTypeID = isnull(RadiationLicenceTypeID, 0) 
			  from tblRadiationLicence  
			  where  InstrumentID = @InstrumentID

			  if @RadiationLicenceSubTypeID = 794 -- radiation accreditation licence
			  begin
					select A.RadiationLicenceAccreditationTypeID as RadiationLicenceConditionID 
					,A.[InstrumentID] 
					, C.Description as [ConditionName]
					, B.Description as [Description]
					from tblRadiationLicenceAccreditationType A 
					LEFT OUTER JOIN tblRadiationConditionForDocument B ON A.AccreditationTypeID = B.AccreditationTypeID 
					INNER JOIN tblClassification C ON A.AccreditationTypeID = C.ClassificationID 
					where InstrumentID = @InstrumentID AND C.EffectiveDateFrom <= GETDATE() AND (C.EffectiveDateTo IS NULL OR C.EffectiveDateTo >= GETDATE())
			  end
			  else if @RadiationLicenceSubTypeID = 795 -- radiation licence to use
				  select   A.[RadiationLicenceConditionID]
						  ,A.[InstrumentID]
						  ,B.[ConditionName]
						  ,B.[Description]
						  ,(case isnull(C.[Description], '') when '' then B.[Description] else C.[Description] end)  as DescriptionFull
				  from [dbo].[tblRadiationLicenceCondition] A INNER JOIN tblRadiationCondition B ON A.RadiationConditionID = B.RadiationConditionID 
				  LEFT OUTER JOIN tblRadiationConditionForDocument C ON B.ConditionName = C.ConditionName
				  where A.InstrumentID = @InstrumentID  AND B.EffectiveDateFrom <= GETDATE() AND (B.EffectiveDateTo IS NULL OR B.EffectiveDateTo >= GETDATE())
			  else
			  begin                                    -- radiation management licence 
				  select   A.[RadiationLicenceConditionID]
						  ,A.[InstrumentID]
						  ,B.[ConditionName]
						  ,B.[Description]
				  from [dbo].[tblRadiationLicenceCondition] A INNER JOIN tblRadiationCondition B ON A.RadiationConditionID = B.RadiationConditionID 
				  where A.InstrumentID = @InstrumentID AND B.EffectiveDateFrom <= GETDATE() AND (B.EffectiveDateTo IS NULL OR B.EffectiveDateTo >= GETDATE())
			  end
		  end
		  
		  else if @InstrumentTypeID = 818 --pesticide licence
			  SELECT DISTINCT A.LicenceClassID as RadiationLicenceConditionID
					  ,[InstrumentID]
					  ,B.Description as ConditionName
					  ,[LicenceClassID]
					  ,B.Description 
					  ,B.Description as DescriptionFull
			  FROM [dbo].[tblPesticideLicenceClass] A INNER JOIN tblClassification B ON A.LicenceClassID = B.ClassificationID 
			  WHERE InstrumentID = @InstrumentID 		    
		  else 
		  begin
			  select   A.[RadiationLicenceConditionID]
					  ,A.[InstrumentID]
					  ,B.[ConditionName]
					  ,B.[Description]
			  from [dbo].[tblRadiationLicenceCondition] A INNER JOIN tblRadiationCondition B ON A.RadiationConditionID = B.RadiationConditionID 
			  where A.InstrumentID = @InstrumentID AND B.EffectiveDateFrom <= GETDATE() AND (B.EffectiveDateTo IS NULL OR B.EffectiveDateTo >= GETDATE())
		  end 
		  
  END TRY
  
  BEGIN CATCH

		DECLARE @ErrorMessage VARCHAR(2000)
		DECLARE @ErrorNo INT
		ROLLBACK TRAN
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		RAISERROR (@ErrorMessage , 16, 1)		
		print @ErrorMessage	
  END CATCH

END
