--/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT TOP 1000 [AnnualReturnAppID]
--      ,[AnnualReturnAppNumber]
--      ,[AccountablePartyID]
--      ,[InstrumentID]
--      ,[ReportingPeriodID]
--      ,[AppXML]
--      ,[ApplicationDocument]
--      ,[LBLFee]
--      ,[PaymentTypeID]
--      ,[ElectronicSignatureSubmittedFlag]
--      ,[SignatureUploadedFlag]
--      ,[SignatureUploadedFileName]
--      ,[DocumentUploadedFlag]
--      ,[ApplicationStatusID]
--      ,[DateStatusChanged]
--      ,[ReasonForStatusChanged]
--      ,[DateCreated]
--      ,[CreatedBySystemUserID]
--      ,[DateUpdated]
--      ,[UpdatedBySystemUserID]
--      ,[RowTimestamp]
--      ,[ARAnnualReturnID]
--  FROM [PALMSDB].[dbo].[tblOnlineAnnualReturnApplication]
--  WHERE [AnnualReturnAppID] = 3269

  select * from tblClassification where ClassificationDomainID in (126)
  select * from tblClassification where ClassificationDomainID in (118)
  select * from tblAccountableParty where AccountablePartyID = 1593

  --select * from vwProfile 
  --where email = 'ja@hotmail.com'


  --select * from tblClassification where ClassificationDomainID = 47