declare @LicenceNo INT
set @LicenceNo = 5058586

DECLARE @TotalVehicle int = 0	 
DECLARE @TodayDate DATE 
DECLARE @OneYearFee decimal(12,2)	
DECLARE @ThreeYearFee decimal(12,2) 
DECLARE @adminfee decimal(12,2)
	
SELECT @TodayDate = GETDATE()

---------------  PALMS v6.0     ------------------------
DECLARE @ExpiredDate DATE
SELECT @ExpiredDate = DATEADD(day, 1, ExpiryDate) FROM tblDGLicence WHERE InstrumentID = @LicenceNo

SELECT @TodayDate = @ExpiredDate	

print '@TodayDate=' + cast(@TodayDate as varchar)
--------------------------------------------------------

--Based on DG Vehicle licence number we loop each vehicle--
--1. we declare a temp table to hold all vehicle under this DG vehicle licence number
DECLARE @tblDGVehicleTemp TABLE
(	 	 
    SNo int IDENTITY(1,1), 
	[InstrumentID] [int] NULL,
	[DGVehicleID] [int] NULL,
	[VehicleTypeID] [int] NULL,
	[VehicleTransportTypeID] [int] NULL,
	[EffectiveDateFrom] smalldatetime NULL,
	[EffectiveDateTo] smalldatetime NULL
) 

insert into @tblDGVehicleTemp
select     
	a.InstrumentID, 
	b.DGVehicleID, 
	c.VehicleTypeID,
	a.TransportTypeID as VehicleTransportTypeID, 
	b.EffectiveDateFrom, 
	b.EffectiveDateTo 
from tblDGLicence a 
inner join [tblDGLicenceVehicle] b on a.InstrumentID = b.InstrumentID 
inner join [tblDGVehicle] c on b.DGVehicleID = c.DGVehicleID
where a.InstrumentID = @LicenceNo

select * from @tblDGVehicleTemp

DECLARE @RenewalLicenceFeeOneYear DECIMAL (12,2) = 0
DECLARE @RenewalLicenceFeeThreeYear DECIMAL (12,2) = 0

--End loop each vehcile 
 
declare @Cnt int
SELECT @Cnt = MIN(Sno) FROM @tblDGVehicleTemp
	
declare @TempInstrumentID           int
declare @TempDGVehicleID            int
declare @TempVehicleTypeID          int
declare @TempVehicleTransportTypeID int
declare @TempEffectiveDateFrom      smalldatetime
declare @TempEffectiveDateTo        smalldatetime
 
WHILE (1=1)
BEGIN   
	SELECT
		@TempInstrumentID = InstrumentID, 
		@TempDGVehicleID = DGVehicleID, 
		@TempVehicleTypeID = VehicleTypeID, 
		@TempVehicleTransportTypeID = VehicleTransportTypeID, 
		@TempEffectiveDateFrom = EffectiveDateFrom,
		@TempEffectiveDateTo = EffectiveDateTo
	FROM @tblDGVehicleTemp
	WHERE SNo = @Cnt	    
IF @@ROWCOUNT = 0
	BREAK

	--print '@@TempInstrumentID=' + cast(@TempInstrumentID as varchar)
	--print '@@TempDGVehicleID=' + cast(@TempDGVehicleID as varchar)

	if exists(SELECT * from tblDGLicenceVehicle where cast(InstrumentID as varchar) = cast(@TempInstrumentID as varchar) and cast(DGVehicleID as varchar) = cast(@TempDGVehicleID as varchar))
	begin		 		 
		 --here we loop each vehicle to calculate its one year and three years fees		 
		 declare @TempLicenceFeeOneYear DECIMAL (12,2) = 0 
		 declare @TempLicenceFeeThreeYear DECIMAL (12,2) = 0
		 ---------------------------------1 year---------------------------------------
		 select @TempLicenceFeeOneYear = isnull(Amount, 0) 
		 from tblDGWTLicenceFeeUnit 
		 where FeeAppliedTypeID = 803 
			and DGWTLicenceDurationID = 1408 -- 1 year fee --802: Application | 803: Renewal
			and VehicleTypeID = @TempVehicleTypeID
			and VehicleTransportTypeID = @TempVehicleTransportTypeID
	        --and @TodayDate >= EffectiveDateFrom   --@TodayDate here is actually is ExpiryDate plus one day to predict the next year renewal fee in total
	        --and (@TodayDate <= EffectiveDateTo OR EffectiveDateTo is null)

		 set @RenewalLicenceFeeOneYear = @RenewalLicenceFeeOneYear + @TempLicenceFeeOneYear
		 --print '@@TempLicenceFeeOneYear=' + cast(@TempLicenceFeeOneYear as varchar)
		 --print '@RenewalLicenceFeeOneYear=' + cast(@RenewalLicenceFeeOneYear as varchar)


		 ---------------------------------3 year---------------------------------------
		 select @TempLicenceFeeThreeYear = isnull(Amount, 0) 
		 from tblDGWTLicenceFeeUnit 
		 where FeeAppliedTypeID = 803 
			and DGWTLicenceDurationID = 1409 -- 3 year fee --802: Application | 803: Renewal
			and VehicleTypeID = @TempVehicleTypeID
			and VehicleTransportTypeID = @TempVehicleTransportTypeID
	        --and @TodayDate >= EffectiveDateFrom   --@TodayDate here is actually is ExpiryDate plus one day to predict the next year renewal fee in total
	        --and (@TodayDate <= EffectiveDateTo OR EffectiveDateTo is null)

		set @RenewalLicenceFeeThreeYear = @RenewalLicenceFeeThreeYear + @TempLicenceFeeThreeYear
		--print '@@TempLicenceFeeThreeYear=' + cast(@TempLicenceFeeThreeYear as varchar)
		--print '@@RenewalLicenceFeeThreeYear=' + cast(@RenewalLicenceFeeThreeYear as varchar)

		set @TotalVehicle = @TotalVehicle + 1
	end
 
SELECT @Cnt = @Cnt + 1
		
END

--Total remewal fee one year and three year
print '@RenewalLicenceFeeOneYear=' + cast(@RenewalLicenceFeeOneYear as varchar)
print '@@RenewalLicenceFeeThreeYear=' + cast(@RenewalLicenceFeeThreeYear as varchar)

-------------------------------------------------------------------------


DECLARE @tblDGWTLicenceFeeUnitFinal TABLE
(	 	 
	[LicencePeriod] varchar(200) NULL,
	[LicencePeriodId] int null,
	[ApplicationFee] money NULL,
	[RenewalAdminFee] decimal(12,2) NULL,
	[VehicleQuantity] [smallint] NULL,
	[SumofVehicleFees] decimal(12,2) NULL,
	[TotalFee] decimal(12,2) NULL	 
) 


------------------ start for both 1 year and 3 year data fetch process such as admin fee and renewal fee etc---------------------------------
------------------ 	Renewal fee = Renewal admin fee + Sum of individual vehicle fees ------------------	 	 
	DECLARE @RenewalAdminFeeOneYear DECIMAL (12,2)	 	 
	DECLARE @RenewalAdminFeeThreeYear DECIMAL (12,2)

	--get admin fee: one year
	SELECT @RenewalAdminFeeOneYear = Amount 
	FROM tblDGWTLicenceFeeUnit
	WHERE FeeTypeID = 800 and FeeAppliedTypeID = 803
	--AND @TodayDate >= EffectiveDateFrom 
	--AND (@TodayDate <= EffectiveDateTo OR EffectiveDateTo is null)

	set @RenewalAdminFeeThreeYear = @RenewalAdminFeeOneYear
------------------ end for both 1 year and 3 year ---------------------------------

	DECLARE @VehicleCountYearOne int
	DECLARE @SumVehicleFeeYearOne DECIMAL (12,2)

	DECLARE @VehicleCountYearThree int
	DECLARE @SumVehicleFeeYearThree DECIMAL (12,2)
---------------------------------1 year----------------------------------------
	
	select @VehicleCountYearOne = @TotalVehicle
	select @SumVehicleFeeYearOne = @RenewalLicenceFeeOneYear

	insert into @tblDGWTLicenceFeeUnitFinal
	(
	[LicencePeriod],
	[LicencePeriodId],
	[ApplicationFee],
	[RenewalAdminFee],
	[VehicleQuantity],
	[SumofVehicleFees],
	[TotalFee] 
	)
	select 
	'1 Year' as [Licence Period],
	1408,
	0,
	@RenewalAdminFeeOneYear,
	@VehicleCountYearOne,
	@SumVehicleFeeYearOne,
	sum(@RenewalAdminFeeOneYear + @SumVehicleFeeYearOne)
----------------------------------3 year---------------------------------------
	select @VehicleCountYearThree = @TotalVehicle
	select @SumVehicleFeeYearThree = @RenewalLicenceFeeThreeYear

	insert into @tblDGWTLicenceFeeUnitFinal
	(
		[LicencePeriod],
		[LicencePeriodId],
		[ApplicationFee],
		[RenewalAdminFee],
		[VehicleQuantity],
		[SumofVehicleFees],
		[TotalFee] 
	)
	select 
	'3 Years' as [Licence Period],
	1409,
	0,
	@RenewalAdminFeeThreeYear,
	@VehicleCountYearThree,
	@SumVehicleFeeYearThree,
	sum(@RenewalAdminFeeThreeYear + @SumVehicleFeeYearThree)

----------------------------------Finally---------------------------------------

select * from @tblDGWTLicenceFeeUnitFinal 