/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [EMAssessmentResultCategoryID]
      ,[InstrumentID]
      ,A.[EMAssessmentCategoryID]
      ,A.[CalculatedRiskScore]
      ,B.EMAssessmentCategory
FROM [tblEMAssessmentResultCategory] A INNER JOIN tblEMAssessmentCategory B 
ON A.EMAssessmentCategoryID = B.EMAssessmentCategoryID
WHERE InstrumentID = 4000011


			 --SELECT A.*              		 
			 ----@YearOneScore = SUM(case B.ScoreTypeID
			 ---- when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
			 ---- when 685 then isnull([EnteredValue], 0)
			 ---- end)  
			 --FROM [viewEMAssessmentResult] A
			 --INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentQuestionID = B.EMAssessmentQuestionID 
			 --WHERE InstrumentID = 4000011 
			 --and A.EMAssessmentCategoryID = 3
			  
			  
			 --SELECT 
			 --A.*,
			 --B.Score,
			 --B.ScoreTypeID,
			 --B.ScoreFactor,
			 --B.ScoreFlag,
    --         (case A.EMAssessmentQuestionID
			 -- when 16 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 20 end) 
			 -- when 17 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end) 			  
			 -- when 18 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end) 			  
			 -- when 19 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 2 end) 			  
			 -- when 20 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 1 end) 			  			  
			 -- when 21 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end)			  			  
			 -- when 22 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end) 			  
			 -- when 23 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 2 end) 			  
			 -- end) as CalculatedScore			               		 			 
			 --FROM [viewEMAssessmentResult] A
			 --INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID 
			 --WHERE InstrumentID = 4000005 
			 --and A.EMAssessmentCategoryID = 4	
			 
			 --select * from tblEMAssessmentAnswer		  
			  
	--SELECT [EMAssessmentCategoryID]
	--	  ,[EMAssessmentCategory]
	--	  ,[EMAssessmentSectionID]
	--	  ,[EMAssessmentSection]
	--	  ,A.[EMAssessmentQuestionID]
	--	  ,[EMAssessmentQuestion]
	--	  ,A.[EMAssessmentAnswerID]
	--	  ,A.[EMAssessmentAnswer]
	--	  ,A.[Score]
	--	  ,A.[AutoGeneratedFlag]
	--	  ,B.ScoreFactor
	--FROM [viewEMAssessmentQuestionAnswer] A INNER JOIN tblEMAssessmentAnswer B
	--ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID				  
			  
	--		 declare @CategoryThreeScore int
			  
			 --SELECT @CategoryThreeScore = SUM(case A.EnteredValue
			 -- when 0 then 0
			 -- when 1 then 5
			 -- when 2 then 5
			 -- when 3 then 10
			 -- when 4 then 10
			 -- when 5 then 10
			 -- when 6 then 10
			 -- else 
			 --      20			   
			 -- end)  
			 
			 SELECT A.*, B.ScoreFactor, (case B.ScoreTypeID
			  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
			  when 685 then isnull([EnteredValue], 0)
			  end) as CalculatedRiskScore 			 
			 FROM [viewEMAssessmentResult] A
			 INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentQuestionID = B.EMAssessmentQuestionID 
			 WHERE InstrumentID = 4000005 and A.EMAssessmentCategoryID = 1
			 
			 SELECT SUM(case B.ScoreTypeID
			  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
			  when 685 then isnull([EnteredValue], 0)
			  end) as CalculatedRiskScore 			 
			 FROM [viewEMAssessmentResult] A
			 INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentQuestionID = B.EMAssessmentQuestionID 
			 WHERE InstrumentID = 4000005 and A.EMAssessmentCategoryID = 2			 
  