USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspEMRiskAssessmentAnswerResultUpdate]    Script Date: 09/18/2013 16:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eric He
-- Create date: 10/09/2013 Tue
-- Description:	Update tblEMAssessmentResultAnswer namely the user input value or 
--              system define values
-- =============================================
ALTER PROCEDURE [dbo].[uspEMRiskAssessmentAnswerResultUpdate] 
   @DataRiskEMAssessment XML,
   @SystemUserId int
AS
BEGIN
   SET NOCOUNT ON;

   BEGIN TRY		
		BEGIN TRAN
		
		     Declare @t TABLE (EMAssessmentResultAnswerID int); 
		      -- Updating into tblARNonCompliance --
		     Declare 
				  @InstrumentID int, 
				  @EMAssessmentCategoryID int, 
				  @EMAssessmentSectionID int, 
				  @EMAssessmentSection varchar(500),
				  @EMAssessmentAnswerID int,
				  @EMAssessmentAnswer varchar(500),
				  @EnteredValue int,
				  @EMAssessmentQuestionID int;		     

			 Select		
			     @InstrumentID             = xmlVals.rowvals.value('InstrumentID[1]','int')				
			 From @DataRiskEMAssessment.nodes('//DataRiskEMAssessment/viewEMAssessmentResult') as xmlVals(rowvals)

             --if we can find the records in table: tblEMAssessmentResultAnswer
             --with EMAssessmentAnswerID equal to EMAssessmentAnswerID from XML dataset
             --we do update below
		     UPDATE A  
		        SET 
		        [EMAssessmentAnswerID] = (select EMAssessmentAnswerID from tblEMAssessmentAnswer 
		        where EMAssessmentQuestionID = xmlR.EMAssessmentQuestionID and EMAssessmentAnswer = xmlR.EMAssessmentAnswer),
				[EnteredValue] = (case xmlR.EnteredValue when -3 then null else xmlR.EnteredValue end),
				[DateUpdated] = GETDATE(),
				[UpdatedBySystemUserID] = @SystemUserId
   			 FROM tblEMAssessmentResultAnswer A 
   			 INNER JOIN
						(
							SELECT					
								xmlVals.rowvals.query('InstrumentID').value('.','int') InstrumentID, 					
								xmlVals.rowvals.query('EMAssessmentAnswerID').value('.', 'int') EMAssessmentAnswerID, 	
								xmlVals.rowvals.query('EMAssessmentQuestionID').value('.', 'int') EMAssessmentQuestionID, 
								xmlVals.rowvals.query('EMAssessmentAnswer').value('.', 'varchar(200)') EMAssessmentAnswer, 					 				
								xmlVals.rowvals.query('EnteredValue').value('.', 'int') EnteredValue								 
							From @DataRiskEMAssessment.nodes('//DataRiskEMAssessment/viewEMAssessmentResult') as xmlVals(rowvals)				
						) xmlR
   			 ON xmlR.InstrumentID = @InstrumentID AND 
			 A.EMAssessmentAnswerID = xmlR.EMAssessmentAnswerID	 
			 INNER JOIN tblEMAssessmentResultSection B
			 ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
			 INNER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
			 WHERE C.InstrumentID = @InstrumentID AND xmlR.EMAssessmentAnswerID <> -1  AND xmlR.EnteredValue <> -2 --Value -2 mean this question has no more results we need delete it from database
			 
			--Here we delete all those result which originally it has answer results then 
			--the user delete it this is for that 8 question on section 4 operator systems			 
			DECLARE @tblDeleteRow TABLE (
				Sno INT IDENTITY,
				InstrumentID                 INT NULL,
				EMAssessmentCategoryID       INT NULL,
				EMAssessmentSectionID        INT NULL,
				EMAssessmentSection          VARCHAR(255),
				EMAssessmentAnswerID         INT NULL,
				EMAssessmentAnswer           VARCHAR(255),
				EnteredValue                 INT NULL,
				EMAssessmentQuestionID       INT NULL
			)			 

			INSERT INTO @tblDeleteRow							     
			SELECT xmlR.* 		        
			FROM  
					(
						SELECT					
							xmlVals.rowvals.query('InstrumentID').value('.','int') InstrumentID, 
							xmlVals.rowvals.query('EMAssessmentCategoryID').value('.','int') EMAssessmentCategoryID, 	
							xmlVals.rowvals.query('EMAssessmentSectionID').value('.','int') EMAssessmentSectionID,	
							xmlVals.rowvals.query('EMAssessmentSection').value('.','varchar(255)') EMAssessmentSection,				
							xmlVals.rowvals.query('EMAssessmentAnswerID').value('.', 'int') EMAssessmentAnswerID, 	
							xmlVals.rowvals.query('EMAssessmentAnswer').value('.','varchar(255)') EMAssessmentAnswer,			   				 				
							xmlVals.rowvals.query('EnteredValue').value('.', 'int') EnteredValue,
							xmlVals.rowvals.query('EMAssessmentQuestionID').value('.','int') EMAssessmentQuestionID								 
						From @DataRiskEMAssessment.nodes('//DataRiskEMAssessment/viewEMAssessmentResult') as xmlVals(rowvals)				
					) xmlR
			WHERE xmlR.InstrumentID = @InstrumentID and xmlR.EnteredValue = -2

			 DECLARE @CntConMon1 int
			 DECLARE @Cnt1 int
			 SELECT @CntConMon1 = 0
			 SELECT @CntConMon1 = count(Sno) from @tblDeleteRow 
			 
			 	     
			 SET @Cnt1 = 1
			 WHILE @Cnt1 <= @CntConMon1
			 BEGIN 
					   SELECT  		          
									@InstrumentID             = InstrumentID, 
									@EMAssessmentCategoryID   = EMAssessmentCategoryID,
									@EMAssessmentSectionID    = EMAssessmentSectionID,
									@EMAssessmentSection      = EMAssessmentSection,
									@EMAssessmentAnswerID     = EMAssessmentAnswerID,
									@EMAssessmentAnswer       = EMAssessmentAnswer,
									@EnteredValue             = EnteredValue, 
									@EMAssessmentQuestionID   = EMAssessmentQuestionID 
					  FROM @tblDeleteRow WHERE Sno = @Cnt1			 
					  IF @EnteredValue = -2 --delete action below
					  BEGIN
						 declare @EMAssessmentResultSectionIDTemp1 int
					     
						 select  @EMAssessmentResultSectionIDTemp1 = A.EMAssessmentResultSectionID 
						 from tblEMAssessmentResultAnswer A 
						 INNER JOIN tblEMAssessmentResultSection B
						 ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
						 INNER JOIN tblEMAssessmentResultCategory C 
						 ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
						 WHERE C.InstrumentID = @InstrumentID and A.EMAssessmentAnswerID  = @EMAssessmentAnswerID 
						 
						 if  not @EMAssessmentResultSectionIDTemp1 is null and @EMAssessmentResultSectionIDTemp1 > 0 
						 begin
							delete from tblEMAssessmentResultAnswer where EMAssessmentResultSectionID = @EMAssessmentResultSectionIDTemp1
							and EMAssessmentAnswerID = @EMAssessmentAnswerID
							--we check this current EMAssessmentResultSectionID if no one record attached with it in table: tblEMAssessmentResultAnswer
							if not exists(select EMAssessmentResultSectionID from tblEMAssessmentResultAnswer where EMAssessmentResultSectionID = @EMAssessmentResultSectionIDTemp1)
								delete from tblEMAssessmentResultSection where EMAssessmentResultSectionID = @EMAssessmentResultSectionIDTemp1
						 end
					  END	 
					SELECT @Cnt1 = @Cnt1+1
			 End
			 delete @tblDeleteRow	
 			 
			 --here we do insert action if XML dataset has more rows than those ones from table: tblEMAssessmentResultAnswer 
		     --if we detect the xmlR.EMAssessmentAnswerID = -1  then we need insert new row into table: tblEMAssessmentResultAnswer
		     --in order to achieve this we have to loop through all new records

			DECLARE @tblInsertRow TABLE (
				Sno INT IDENTITY,
				InstrumentID                 INT NULL,
				EMAssessmentCategoryID       INT NULL,
				EMAssessmentSectionID        INT NULL,
				EMAssessmentSection          VARCHAR(255),
				EMAssessmentAnswerID         INT NULL,
				EMAssessmentAnswer           VARCHAR(255),
				EnteredValue                 INT NULL,
				EMAssessmentQuestionID       INT NULL
			)					
			INSERT INTO @tblInsertRow		
								     
			SELECT xmlR.* 		        
			FROM  
					(
						SELECT					
							xmlVals.rowvals.query('InstrumentID').value('.','int') InstrumentID, 
							xmlVals.rowvals.query('EMAssessmentCategoryID').value('.','int') EMAssessmentCategoryID, 	
							xmlVals.rowvals.query('EMAssessmentSectionID').value('.','int') EMAssessmentSectionID,	
							xmlVals.rowvals.query('EMAssessmentSection').value('.','varchar(255)') EMAssessmentSection,				
							xmlVals.rowvals.query('EMAssessmentAnswerID').value('.', 'int') EMAssessmentAnswerID, 	
							xmlVals.rowvals.query('EMAssessmentAnswer').value('.','varchar(255)') EMAssessmentAnswer,			   				 				
							xmlVals.rowvals.query('EnteredValue').value('.', 'int') EnteredValue,
							xmlVals.rowvals.query('EMAssessmentQuestionID').value('.','int') EMAssessmentQuestionID								 
						From @DataRiskEMAssessment.nodes('//DataRiskEMAssessment/viewEMAssessmentResult') as xmlVals(rowvals)				
					) xmlR
			WHERE xmlR.InstrumentID = @InstrumentID and xmlR.EMAssessmentAnswerID = -1 

			--select * from @tblInsertRow

			 DECLARE @CntConMon int
			 DECLARE @Cnt int
			 SELECT @CntConMon = 0
			 SELECT @CntConMon = count(Sno) from @tblInsertRow 
			 
			 	     
			 SET @Cnt = 1
			 WHILE @Cnt <= @CntConMon
			 BEGIN 
					   SELECT  		          
									@InstrumentID             = InstrumentID, 
									@EMAssessmentCategoryID   = EMAssessmentCategoryID,
									@EMAssessmentSectionID    = EMAssessmentSectionID,
									@EMAssessmentSection      = EMAssessmentSection,
									@EMAssessmentAnswerID     = EMAssessmentAnswerID,
									@EMAssessmentAnswer       = EMAssessmentAnswer,
									@EnteredValue             = EnteredValue, 
									@EMAssessmentQuestionID   = EMAssessmentQuestionID 
					  FROM @tblInsertRow WHERE Sno = @Cnt
				   
					  --here we check if this question already has a answer record or not
					  --if it does then we do not insert it anymore
					  if not exists(SELECT EMAssessmentResultAnswerID FROM tblEMAssessmentResultAnswer A 
					  INNER JOIN tblEMAssessmentResultSection B
					  ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
					  INNER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID 
					  INNER JOIN tblEMAssessmentAnswer D ON A.EMAssessmentAnswerID = D.EMAssessmentAnswerID
					  WHERE C.InstrumentID = @InstrumentID AND D.EMAssessmentQuestionID = @EMAssessmentQuestionID)
					  begin		   
						   
						   IF @EMAssessmentAnswerID = -1
						   BEGIN
							 --First we insert data into table: tblEMAssessmentResultCategory to get EMAssessmentResultCategoryID and insert instrumentID
						     
							 --we use this EMAssessmentResultSectionID to insert table: tblEMAssessmentResultAnswer
							 declare @EMAssessmentCategoryIDTemp int
						     
							 if not exists(select EMAssessmentResultCategoryID from tblEMAssessmentResultCategory 
							 where InstrumentID = @InstrumentID and EMAssessmentCategoryID = @EMAssessmentCategoryID)
								 begin					 	
									 insert into tblEMAssessmentResultCategory (InstrumentID, EMAssessmentCategoryID, DateCreated, CreatedBySystemUserID)
									 values(@InstrumentID, @EMAssessmentCategoryID, GETDATE(), @SystemUserId)
									 select @EMAssessmentCategoryIDTemp = @@IDENTITY
								 end
							 else
								   select @EMAssessmentCategoryIDTemp = EMAssessmentResultCategoryID from tblEMAssessmentResultCategory 
								   where InstrumentID = @InstrumentID and EMAssessmentCategoryID = @EMAssessmentCategoryID
						     
							  	
							 --then insert into table: tblEMAssessmentResultSection to get EMAssessmentResultSectionID
							 --first we get the EMAssessmentAnswerID
							 if (@EMAssessmentAnswerID = -1)
							 begin
								  SELECT @EMAssessmentAnswerID = [EMAssessmentAnswerID]
								  FROM [tblEMAssessmentAnswer]
								  WHERE [EMAssessmentQuestionID] = @EMAssessmentQuestionID and EMAssessmentAnswer = @EMAssessmentAnswer
								 
								  
								 
								  declare @EMAssessmentResultSectionIDTemp int
								  SELECT @EMAssessmentResultSectionIDTemp = ISNULL(A.EMAssessmentResultSectionID, 0) 
								  FROM tblEMAssessmentResultAnswer A 
								  INNER JOIN tblEMAssessmentResultSection B  ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
								  INNER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID 
								  WHERE C.InstrumentID = @InstrumentID and C.EMAssessmentResultCategoryID = @EMAssessmentCategoryIDTemp and A.EMAssessmentAnswerID = @EMAssessmentAnswerID	
								  
								  
								  if @EMAssessmentResultSectionIDTemp is null OR @EMAssessmentResultSectionIDTemp = 0
								  begin
									  
									 insert into tblEMAssessmentResultSection
									 (
									 EMAssessmentResultCategoryID,
									 EMAssessmentSectionID,
									 DateCreated,
									 CreatedBySystemUserID
									 )
									 values
									 (
									 @EMAssessmentCategoryIDTemp,
									 @EMAssessmentSectionID,
									 getdate(),
									 @SystemUserId
									 )
									 select @EMAssessmentResultSectionIDTemp = @@IDENTITY
									 		     	
								  end
								  
								  --finally we do insert action
									insert into tblEMAssessmentResultAnswer
									(
										EMAssessmentResultSectionID,
										EMAssessmentAnswerID,
										EnteredValue,
										--ReasonForChange,
										DateCreated,
										CreatedBySystemUserID		    
									) 
									values
									(
									  @EMAssessmentResultSectionIDTemp,
									  @EMAssessmentAnswerID,
									  case @EnteredValue when -1 then 0 else @EnteredValue end,
									  --null,
									  getdate(),
									  @SystemUserId
									)		 
							 end
						   END	   
					end	   
				   
					SELECT @Cnt = @Cnt+1
			 End
			 delete @tblInsertRow					 
			
			 -- A:
			 --The following lines will calculate the total score of each category
			 --every time the end user update data we do the score calculation
		     --Year one score calculation
             declare   @YearOneScore int,    
					   @YearTwoScore int,
					   @YearThreeScore int; 
 
			 SELECT @YearOneScore = SUM(case B.ScoreTypeID
			  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
			  when 685 then isnull([EnteredValue], 0)
			  end)  
			 FROM [viewEMAssessmentResult] A
			 INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentQuestionID = B.EMAssessmentQuestionID 
			 WHERE InstrumentID = @InstrumentID
			 and A.EMAssessmentAnswer like '%1 year%'
			  
			 SELECT @YearTwoScore = SUM(case B.ScoreTypeID
			  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
			  when 685 then isnull([EnteredValue], 0)
			  end)  
			 FROM [viewEMAssessmentResult] A
			 INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentQuestionID = B.EMAssessmentQuestionID 
			 WHERE InstrumentID = @InstrumentID
			 and A.EMAssessmentAnswer like '%2 year%'  
			  
			 SELECT @YearThreeScore = SUM(case B.ScoreTypeID
			  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
			  when 685 then isnull([EnteredValue], 0)
			  end)  
			 FROM [viewEMAssessmentResult] A
			 INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentQuestionID = B.EMAssessmentQuestionID 
			 WHERE InstrumentID = @InstrumentID
			 and A.EMAssessmentAnswer like '%3 year%'    
			 
             --here we update year 1-3 score into table: tblEMAssessmentResultSection    
			 update B 
			 set B.RiskScore = (
			                   case B.EMAssessmentSectionID 
							    when 13 then @YearOneScore
							    when 14 then @YearTwoScore
							    when 15 then @YearThreeScore
							   end
							   )
			 from tblEMAssessmentResultSection B 
			 LEFT OUTER JOIN tblEMAssessmentResultAnswer A ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
			 LEFT OUTER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
			 WHERE C.InstrumentID = @InstrumentID and B.EMAssessmentSectionID IN (13, 14, 15)    
			 
			 -- B:
			 --Here we calculate the Enforcement history & regulatory actions and tools score 
			 --According to the rule as following from function specs PAMLS 4.0 page 24:			
			 --IF Year 1 score = 0 AND Year 2 score = 0 AND Year 3 score > 0 THEN
			 --	Score for Enforcement history & regulatory actions and tools = 0
			 --IF Year 1 score = 0 AND Year 2 score > 0 AND Year 3 score = 0 THEN
			 --	Score for Enforcement history & regulatory actions and tools = 0
			 --IF Year 1 score > 0 AND Year 2 score = 0 AND Year 3 score > 0 THEN
			 --	Score for Enforcement history & regulatory actions and tools = Year 1 score
			 --ELSE
			 --	Score for Enforcement history & regulatory actions and tools = 
			 --Year 1 score + Year 2 score + Year 3 score	
			 declare @TotalHistoryActionsTools int 
			 set @TotalHistoryActionsTools = 0 --initialize it as 0 value
			 
			 if @YearOneScore = 0 and @YearTwoScore = 0 and @YearThreeScore > 0
			 		 set @TotalHistoryActionsTools = 0
			 else if @YearOneScore = 0 and @YearTwoScore > 0 and @YearThreeScore = 0 
			         set @TotalHistoryActionsTools = 0
			 else if @YearOneScore > 0 and @YearTwoScore = 0 and @YearThreeScore > 0 
			         set @TotalHistoryActionsTools = @YearOneScore
			 else
			         set @TotalHistoryActionsTools = @YearOneScore + @YearTwoScore + @YearThreeScore
			 --we update it into data table: tblEMAssessmentResultCategory on column: CalculatedRiskScore
			 update tblEMAssessmentResultCategory set  CalculatedRiskScore = @TotalHistoryActionsTools 
			 where InstrumentID = @InstrumentID and EMAssessmentCategoryID = 5
			 
			 -- C:
			 --Toal score for Category: Regulatory triggers – it is the total score taken from Regulatory triggers tab
			 declare @TotalCategoryThreeScore int 
			 select @TotalCategoryThreeScore = SUM(case A.EnteredValue
			  when 0 then 0
			  when 1 then 5
			  when 2 then 5
			  when 3 then 10
			  when 4 then 10
			  when 5 then 10
			  when 6 then 10
			  else 
			       20			   
			  end)  
			 FROM [viewEMAssessmentResult] A
			 INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID 
			 WHERE InstrumentID = @InstrumentID
			  and A.EMAssessmentCategoryID = 3			 
			 
			 update tblEMAssessmentResultCategory set  CalculatedRiskScore = @TotalCategoryThreeScore 
			 where InstrumentID = @InstrumentID and EMAssessmentCategoryID = 3			 
			 
			 -- D:
			 --Toal score for Category: Operator systems – it is the total score taken from Operator systems tab
			 declare @TotalCategoryFourScore int 
			 select @TotalCategoryFourScore = SUM(case A.EMAssessmentQuestionID
			  when 16 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 20 end) 
			  when 17 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end) 			  
			  when 18 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end) 			  
			  when 19 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 2 end) 			  
			  when 20 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 1 end) 			  			  
			  when 21 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end)			  			  
			  when 22 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 5 end) 			  
			  when 23 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then 2 end) 			  
			  end)			 
			 FROM [viewEMAssessmentResult] A
			 INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID 	 
			 where A.InstrumentID = @InstrumentID and A.EMAssessmentCategoryID = 4				 
			 
			 update tblEMAssessmentResultCategory set  CalculatedRiskScore = @TotalCategoryFourScore 
			 where InstrumentID = @InstrumentID and EMAssessmentCategoryID = 4			 
			 
			 -- E:
			 --here we update table: [tblRiskAssessment] with two values: [TotalRiskScore]    
             --[EnvironmentalManagementCategoryID] 
             declare @TotalRiskScoreTemp int             
             --Total score = Score for Enforcement history & regulatory actions and tools 
             -- plus (+) Score for Regulatory triggers minus(–) Score for Operator systems             
             set @TotalRiskScoreTemp = @TotalHistoryActionsTools + @TotalCategoryThreeScore - @TotalCategoryFourScore 
             
             declare @CategoryCode varchar(1)
             --According to PAMLS 4.0 function specs the category is defined as following:
				--Environmental Management Category	  Lower	  Upper
				--A										0	    5
				--B										6		60
				--C										61		180
				--D										181		330
				--E										331	 
             --comparing condition as following:
				--IF Total score < Category B Lower Threshold THEN
				--	Environmental Management Category = A
				--IF (Total score > Category A Upper Threshold) AND (Total score < Category C Lower Threshold) THEN
				--	Environmental Management Category = B
				--IF (Total score > Category B Upper Threshold) AND (Total score < Category D Lower Threshold) THEN
				--	Environmental Management Category = C
				--IF (Total score > Category C Upper Threshold) AND (Total score < Category E Lower Threshold) THEN
				--	Environmental Management Category = D
				--ELSE
				--	Environmental Management Category = E   
			 set @CategoryCode = ''
			 
			 if @TotalRiskScoreTemp < 6   	
				    set @CategoryCode = 'A'
			 else if @TotalRiskScoreTemp > 5 and @TotalRiskScoreTemp < 61
			        set @CategoryCode = 'B'
			 else if @TotalRiskScoreTemp > 60 and @TotalRiskScoreTemp < 181
			        set @CategoryCode = 'C'
			 else if @TotalRiskScoreTemp > 180 and @TotalRiskScoreTemp < 331
			        set @CategoryCode = 'D'		
			 else
			        set @CategoryCode = 'E'	 
			 
             declare @EnvironmentalManagementCategoryIDTemp int   
			 select @EnvironmentalManagementCategoryIDTemp = ISNULL(ClassificationID, 0) from tblClassification 
			 where ClassificationDomainID = 77 and [Description] = @CategoryCode             
                        
             if @EnvironmentalManagementCategoryIDTemp > 0 
				 update tblRiskAssessment set 
				 TotalRiskScore = @TotalRiskScoreTemp,
				 EnvironmentalManagementCategoryID = @EnvironmentalManagementCategoryIDTemp
				 where InstrumentID = @InstrumentID 
			             			 		     
		COMMIT TRAN
  END TRY
  BEGIN CATCH
  
		DECLARE @ErrorMessage VARCHAR(2000)
		ROLLBACK TRAN
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		Select 0
		RAISERROR (@ErrorMessage , 16, 1)
	
  END CATCH
  
  
END
--GRANT EXECUTE ON dbo.[dbo.uspEMRiskAssessmentAnswerResultUpdate] TO ReadWriteRole
