USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspRadiationUpdateStatus]    Script Date: 10/01/2018 3:54:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[uspRadiationUpdateStatus]
                 @InstrumentID Int,
                 @StatusID Int,
                 @UpdatingUser Int,
				 @ChangeReason varchar(255) = null,
				 @outPairedInstrumentID VARCHAR(50) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	BEGIN TRY
	
	declare @LicenceTypeText varchar(100)
	declare @EventIdTemp int --used for clock event identifier
	-------------------------------------------------------
	--we get instrument type id as this SP will be used to handle dangerous good and pesticide licence as well
	DECLARE @InstrumentTypeID int -- 750: radiation licence; 817: Dangerous Goods Licence; 818: Pesticide Licence 
	select @InstrumentTypeID = InstrumentTypeID from tblInstrument where InstrumentID = @InstrumentID


    if @InstrumentTypeID = 750      --radiation licence
	begin
            set @LicenceTypeText = 'Radiation licence'
			set @EventIdTemp = 15
	end
    else if @InstrumentTypeID = 817 --Dangerous Goods Licence
	begin
			set @LicenceTypeText = 'Dangerous Goods licence'
			set @EventIdTemp = 18
	end
	else if @InstrumentTypeID = 818 --Pesticide Licence
	begin
		    set @LicenceTypeText = 'Pesticide licence'
			set @EventIdTemp = 20
	end
	else if @InstrumentTypeID = 990 --DG Design Approval Licence
	begin
		    set @LicenceTypeText = 'DG Design Approval Licence'
			set @EventIdTemp = 21
	end
	else if @InstrumentTypeID = 1417 --Transporter Licence
	begin
		    set @LicenceTypeText = 'Transporter Licence'
			set @EventIdTemp = 22
	end
	--------------------------------------------------------
	
    DECLARE @RtnVal int
	DECLARE @Cnt int
	
	SELECT  @Cnt = 0	
	
    SELECT  @Cnt = COUNT(*) FROM tblInstrument
    WHERE InstrumentID = @InstrumentID
     
    IF @Cnt = 0
     BEGIN
		SELECT 0
		RETURN
	 END
	 
	Declare @oldStatusId int
	  
	 Select @oldStatusId = isNull(InstrumentStatusID,0)
	   From dbo.tblInstrument
      Where InstrumentID = @InstrumentID
	   
    BEGIN TRAN A
    
    --SB:31/05/2011:Following code is also implemented in uspSavePOEO because requirement is changed to create SAP customer when creating POEO Licence not when issued
    --and Invoice is generated when Issuing the licence
    
    --EXEC uspFinanceLicneceFee @InstrumentID, @UpdatingUser
    
    
    ------------ PALMS V4.0
	--UPDATE tblInstrument
	--SET InstrumentStatusID = @StatusID,
	--	DateIssued = GETDATE(),
	--	IssuedBySystemUserID  = @UpdatingUser,
	--	DateUpdated = GETDATE(),
	--	UpdatedBySystemUserID = @UpdatingUser
	--WHERE InstrumentID = @InstrumentID

	---Reference values added in 01-09-2015 by Eric He
	--ClsID	DomainID	Code	Name	Description
	-----------------------------------------------------------------
	--751	84	RLS1	Draft	Draft
	--752	84	RLS2	Submitted	Submitted
	--753	84	RLS3	Refused	Refused
	--754	84	RLS4	Withdrawn	Withdrawn
	--755	84	RLS5	Issued	Issued
	--756	84	RLS6	Application cancelled	Application cancelled
	--757	84	RLS7	Suspended	Suspended
	--758	84	RLS8	Surrendered	Surrendered
	--797	84	RLS9	Licence cancelled	Licence cancelled
	--815	84	RLS10	No longer in force	No longer in force
	--816	84	RLS11	Expired	Expired
	
	IF @StatusID = 755 --change the licence status to be issued 
	  BEGIN
	 
		declare @RadiationLicenceTypeID int
		declare @LicencetoUseDurationID int
		declare @ManagementLicenceActivityandDurationID int

		select @RadiationLicenceTypeID= RadiationLicenceTypeID,
				@LicencetoUseDurationID = LicencetoUseDurationID,
			    @ManagementLicenceActivityandDurationID = ManagementLicenceActivityandDurationID from tblRadiationLicence where InstrumentID = @InstrumentID
				   		
		------ PALMS V5.0 DON'T CHANGE EXPIRY DATE IF LIFT SUSPENSION
		If @oldStatusId = 757 
		BEGIN
			 
			UPDATE tblInstrument
			SET InstrumentStatusID = @StatusID,
				--DateIssued = GETDATE(),
				--IssuedBySystemUserID  = @UpdatingUser,
				DateUpdated = GETDATE(),
				UpdatedBySystemUserID = @UpdatingUser
			WHERE InstrumentID = @InstrumentID		 
		END
		ELSE
		BEGIN
			UPDATE tblInstrument
			SET InstrumentStatusID = @StatusID,
				DateUpdated = GETDATE(),
				DateIssued = GETDATE(),
				IssuedBySystemUserID  = @UpdatingUser,
				UpdatedBySystemUserID = @UpdatingUser
			WHERE InstrumentID = @InstrumentID
		    
			--752 submitted status
			if @InstrumentTypeID = 750 --radiation licence
			begin
				if @oldStatusId = 752  and exists(select InstrumentID from tblRadiationLicence where InstrumentID = @InstrumentID and isnull(ExpiryDate, '') = '')
				begin
					 update tblRadiationLicence set ExpiryDate = 
									  (case @RadiationLicenceTypeID 
									  when 794 then DATEADD(year, 1, GETDATE())    --Accreditation
									  when 795 then (case @LicencetoUseDurationID when 768 then  DATEADD(year, 1, GETDATE())
																				 when 769 then DATEADD(year, 3, GETDATE()) end
									  )    --Licence to use
									  when 796 then ( 
											case @ManagementLicenceActivityandDurationID when 765 then DATEADD(year, 1, GETDATE())
																						when 766 then DATEADD(year, 1, GETDATE())
																						when 767 then DATEADD(year, 3, GETDATE()) end
									  )    --Management licence
									  end),
									DateUpdated = GETDATE(),			 
									UpdatedBySystemUserID = @UpdatingUser				  
					 where  InstrumentID = @InstrumentID
				end 
			end

			if @InstrumentTypeID = 817 --Dangerous Goods Licence
			begin
				if @oldStatusId = 752  and exists(select InstrumentID from tblDGLicence where InstrumentID = @InstrumentID and isnull(ExpiryDate, '') = '')
				begin
					 DECLARE @DGLicenceTypeID INT
					 DECLARE @DDriverLicenceDurationID INT

					 SELECT @DGLicenceTypeID = DGLicenceTypeID, @DDriverLicenceDurationID = DriverLicenceDurationID FROM tblDGLicence WHERE InstrumentID = @InstrumentID 
					 
					 update tblDGLicence set ExpiryDate = 
									  (case @DGLicenceTypeID 
									  when 820 then DATEADD(year, 1, GETDATE())    --Dangerous Goods Vehicle Licence
									  when 819 then  (case @DDriverLicenceDurationID when 881 then  DATEADD(year, 1, GETDATE())   --Dangerous Goods Driver Licence
																				 when 882 then DATEADD(year, 2, GETDATE())  
																				 when 883 then DATEADD(year, 3, GETDATE()) 
																				 when 884 then DATEADD(year, 4, GETDATE()) 
																				 when 885 then DATEADD(year, 5, GETDATE()) 
												end)							  
									  end),                                    
									DateUpdated = GETDATE(),			 
									UpdatedBySystemUserID = @UpdatingUser				  
					 where  InstrumentID = @InstrumentID

					---------------------------------------------------------------------------------------------
					 --added the followin lines in 16-10-2015 by Eric He to map AP photo card printing
					 if @DGLicenceTypeID = 819 --we need set the PrintIDflag to be 1 in table: tblDGLicenceDriver
					    update tblDGLicenceDriver set PrintIDflag = 1 where InstrumentID = @InstrumentID
					---------------------------------------------------------------------------------------------
				end 
			end

			if @InstrumentTypeID = 1417 --Transporter Licence added on 04-07-2017
			begin
				
				if @oldStatusId = 752  and exists(select InstrumentID from tblTransporterLicence where InstrumentID = @InstrumentID and isnull(ExpiryDate, '') = '')
				begin
					 DECLARE @PairedLicenceIDTemp INT = 0
					 DECLARE @ToBePairedFlagTemp BIT = 0

					 DECLARE @PrimaryTransporterLicenceFlagTemp BIT = 1
					 DECLARE @DurationIDTemp INT

					 DECLARE @TransLicenceTypeIDTemp INT = 0
					 DECLARE @TransLicenceTypeIDFinal INT = 0

					 SELECT @PairedLicenceIDTemp = isnull(PairedInstrumentID, 0), @ToBePairedFlagTemp = isnull(ToBePairedFlag, 0),  @DurationIDTemp = LicenceDurationID, @TransLicenceTypeIDTemp = isnull(LicenceTypeID, 0)
					 FROM tblTransporterLicence 
					 WHERE InstrumentID = @InstrumentID 
					 --and PrimaryTransporterLicenceFlag = 1 

					 ---------- update licence status --------------------------------
					  update tblTransporterLicence set ExpiryDate = 
									   (case @DurationIDTemp when 1408 then  DATEADD(year, 1, GETDATE())       --Transporter Licence Primary																		    
															 when 1409 then DATEADD(year, 3, GETDATE()) 
																				 									 					  
									   end),                                    
									DateUpdated = GETDATE(),			 
									UpdatedBySystemUserID = @UpdatingUser				  
					 where  InstrumentID = @InstrumentID 


					 ---------------- paired with an existing licence	
					 if @ToBePairedFlagTemp = 1 and @PairedLicenceIDTemp > 0
					 begin
						update tblTransporterLicence set ExpiryDate = (select ExpiryDate from tblTransporterLicence where InstrumentID = @PairedLicenceIDTemp),
									DateUpdated = GETDATE(),			 
									UpdatedBySystemUserID = @UpdatingUser				  
						 where  InstrumentID = @InstrumentID 
					 end


					 ---------------- new paired licence ----------------
					  if @ToBePairedFlagTemp = 1 and @PairedLicenceIDTemp = 0
						 begin
							 declare @PairedLicenceIDTempSub varchar(50) = ''

						   --we need pair this transporter licence by calling SP: [uspTransporterLicenceTypeAndPairUpdate]

						   --start paired process call here -------------------------------------------------------------------------------------------------
							exec [dbo].[uspTransporterLicenceTypeAndPairUpdate] @InstrumentID, 1402, 1, @UpdatingUser, @PairedLicenceIDTempSub OUTPUT
						   --end paired process call here ---------------------------------------------------------------------------------------------------

							if len(@PairedLicenceIDTempSub) > 0
							begin
							  set @PairedLicenceIDTemp = cast(@PairedLicenceIDTempSub as int)	
							  select @outPairedInstrumentID = cast(@PairedLicenceIDTemp as varchar(50))   --we output the paired instrument id
							end		

							
							 --because we need call issue process two times for paired transporterlicences so we no need the following lines anymore 19-07-2017 Eric HE
							 if @PairedLicenceIDTemp > 0 and @ToBePairedFlagTemp = 1 
							 begin
								 --we issue the paried licence as well
								update tblTransporterLicence set ExpiryDate = 
												   (case @DurationIDTemp when 1408 then  DATEADD(year, 1, GETDATE())   --Transporter Licence Paired																		    
																		 when 1409 then DATEADD(year, 3, GETDATE()) 
																				 									 					  
												   end),                                    
												DateUpdated = GETDATE(),			 
												UpdatedBySystemUserID = @UpdatingUser				  
								 where  InstrumentID = @PairedLicenceIDTemp 

								UPDATE tblInstrument
								SET InstrumentStatusID = @StatusID,
									DateUpdated = GETDATE(),
									DateIssued = GETDATE(),
									IssuedBySystemUserID  = @UpdatingUser,
									UpdatedBySystemUserID = @UpdatingUser
								WHERE InstrumentID = @PairedLicenceIDTemp
							 end 

							 -------------------  create two fee for each licence of paired licence -----------------
							 if @PairedLicenceIDTemp > 0 and @ToBePairedFlagTemp = 1 
							 begin
								DECLARE @DGVFee MONEY =0 
								DECLARE @TWTFee MONEY =0
								DECLARE @FullInvoice MONEY =0
								DECLARE @FullAdjustment MONEY =0
								DECLARE @CalculatedAmount MONEY =0
								DECLARE @FeeTypeID INT  =0
								DECLARE @RadiationLicenceInvoiceID INT
						
									SELECT @FullInvoice = ISNULL(InvoiceAmount,0),
										@FeeTypeID = RadiationLicenceFeeTypeID,
										@RadiationLicenceInvoiceID = RadiationLicenceInvoiceID
									FROM tblRadiationLicenceInvoice
									WHERE InstrumentID = @InstrumentID and RadiationLicenceFeeTypeID = 10

								SELECT @FullAdjustment = ISNULL(SUM(AdjustmentAmount), 0) 
								FROM tblRadiationLicenceInvoiceAdjustment 
								WHERE RadiationLicenceInvoiceID IN
									(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @InstrumentID and RadiationLicenceFeeTypeID = 10 and SystemGeneratedFlag = 1)
							
									select @CalculatedAmount  = @FullInvoice + @FullAdjustment
									SELECT @DGVFee =  [dbo].[ufn_TransporterLicenceGetDGVNewLicenceFee](@PairedLicenceIDTemp)
									SELECT @TWTFee =  @CalculatedAmount - @DGVFee

									INSERT INTO tblTransporterLicenceFee
									(InstrumentID,RadiationLicenceInvoiceID, RadiationLicenceFeeTypeID, FeeAmount, DateCreated, CreatedBySystemUserID)
									SELECT @InstrumentID, @RadiationLicenceInvoiceID, @FeeTypeID, @TWTFee, GETDATE(), @UpdatingUser

									IF @DGVFee > 0
									BEGIN
										INSERT INTO tblTransporterLicenceFee
										(InstrumentID,RadiationLicenceInvoiceID, RadiationLicenceFeeTypeID, FeeAmount, DateCreated, CreatedBySystemUserID)
										SELECT @PairedLicenceIDTemp, @RadiationLicenceInvoiceID, @FeeTypeID,@DGVFee, GETDATE(), @UpdatingUser
									END

							 end


						 end
					
				



					/*
					
					 if @TransLicenceTypeIDTemp > 0 --we do not know licence type
					 begin
					-----------------------------
					     --we make the function call: [dbo].[ufn_TransporterLicenceCheckLicenceType] which it will return: 
						 --PayloadTypeID = 1404 DangerousGoodsVehicle -> map to DangerousGoodVehicleLicence 1401
						 --PayloadTypeID = 1405 TrackableWasteTransport -> map to TrackableWasteTransportLicence 1402
						 --PayloadTypeID = 1406 Both DGV and TWT type -> PrimaryLicence map to 1402 and its paired licence will be mapped to 1401 

						 --declare @PairedLicenceIDTempSub varchar(50) = ''
						 --declare @PayloadTypeIDTemp int = 0
						 --select @PayloadTypeIDTemp  = [dbo].[ufn_TransporterLicenceCheckLicenceType] (@InstrumentID)

						 --if @PayloadTypeIDTemp = 1404
						 --begin
						 --    set @TransLicenceTypeIDFinal = 1401
							-- --we have to update licence type of the primary transporter licence here
							-- if @TransLicenceTypeIDTemp = 0 and @TransLicenceTypeIDFinal > 0  -- single type transporter licence update
							--	update tblTransporterLicence set LicenceTypeID = @TransLicenceTypeIDFinal where InstrumentID = @InstrumentID
						 --end
						 --if @PayloadTypeIDTemp = 1405
						 --begin
						 --    set @TransLicenceTypeIDFinal = 1402
							-- --we have to update licence type of the primary transporter licence here
							-- if @TransLicenceTypeIDTemp = 0 and @TransLicenceTypeIDFinal > 0  -- single type transporter licence update
							--	update tblTransporterLicence set LicenceTypeID = @TransLicenceTypeIDFinal where InstrumentID = @InstrumentID
						 --end

						 declare @PairedLicenceIDTempSub varchar(50) = ''
						 if @ToBePairedFlagTemp = 1 and @PairedLicenceIDTemp = 0
						 begin
						   --we need pair this transporter licence by calling SP: [uspTransporterLicenceTypeAndPairUpdate]

						   --start paired process call here -------------------------------------------------------------------------------------------------
							exec [dbo].[uspTransporterLicenceTypeAndPairUpdate] @InstrumentID, 1402, 1, @UpdatingUser, @PairedLicenceIDTempSub OUTPUT
						   --end paired process call here ---------------------------------------------------------------------------------------------------

							if len(@PairedLicenceIDTempSub) > 0
							begin
							  set @PairedLicenceIDTemp = cast(@PairedLicenceIDTempSub as int)	
							  select @outPairedInstrumentID = cast(@PairedLicenceIDTemp as varchar(50))   --we output the paired instrument id
							end		
						 end
					  
					-----------------------------
					 end
					 

					 */







					 --if this licence is paired licence we also issue its paired licence 20-07-2017
					 --if @TransLicenceTypeIDTemp > 0 and @PairedLicenceIDTemp > 0 
					 --begin 
					 --  select @PrimaryTransporterLicenceFlagTemp =  isnull(PrimaryTransporterLicenceFlag, 1) from tblTransporterLicence WHERE InstrumentID = @PairedLicenceIDTemp					   
					 --  if @PrimaryTransporterLicenceFlagTemp = 0  --we only return @outPairedInstrumentID when it is a paired transporter licence
					 --   select @outPairedInstrumentID = cast(@PairedLicenceIDTemp as varchar(50))   --we output the paired instrument id in this way its paired licence will be issued at the same time
					 --end

					

					end 

				SELECT 0
			end
		


		

			if @InstrumentTypeID = 818 --Pesticide Licence
			begin
				if @oldStatusId = 752  and exists(select InstrumentID from tblPesticideLicence where InstrumentID = @InstrumentID and isnull(ExpiryDate, '') = '')
				begin
					 DECLARE @LicenceDuration INT

					 SELECT @LicenceDuration = 5
					 
					 update tblPesticideLicence 
					 set ExpiryDate = DATEADD(year, @LicenceDuration, GETDATE()),
						DateUpdated = GETDATE(),			 
						UpdatedBySystemUserID = @UpdatingUser,
						PrintIDflag = 1  			             --added the right side line in 16-10-2015 by Eric He to map AP photo card printing	  
					 where  InstrumentID = @InstrumentID
				end 
			end

			if @InstrumentTypeID = 990 --DG design approval Licence added by Eric He 01-09-2015
			begin
				if @oldStatusId = 752  and exists(select InstrumentID from tblDGDesignApproval where InstrumentID = @InstrumentID and isnull(ExpiryDate, '') = '')
				begin
					 DECLARE @DesignApprovalTypeID INT					 
					 SELECT @DesignApprovalTypeID = DesignApprovalTypeID FROM tblDGDesignApproval WHERE InstrumentID = @InstrumentID 
					 --the following line DGDesignApproval expiry date has been set through an independent modal popup process
					 --For approval General category namely: ID to be 994, 995, 996, 997 the SP name: [uspSaveDGDesignExpiryDate]
					 --so they won't be exectued for 994 - 997
					 --Eric He 17-11-2015 Tuesday
					 update tblDGDesignApproval set ExpiryDate = 
									  (case @DesignApprovalTypeID 
										  when 991 then null
										  when 992 then null  	
										  when 993 then null  		
									      else
										    ExpiryDate
									        --DATEADD(year, 10, GETDATE())    --DG design approval licence expiry date will be 10 years later					  
									   end),
									DateUpdated = GETDATE(),			 
									UpdatedBySystemUserID = @UpdatingUser				  
					 where  InstrumentID = @InstrumentID
				end 
			end
		END
		
		--sb:send notification
		DECLARE @ResponsibleSystemUserID INT
		
		SELECT @ResponsibleSystemUserID = ResponsibleSystemUserID
		FROM tblInstrument WHERE InstrumentID = @InstrumentID
		
		--Should I comment out the following line as radiation licence no need notification?
		EXEC @RtnVal = uspSaveNotification @InstrumentID, @EventIdTemp, @ResponsibleSystemUserID, @UpdatingUser
		
		--SB:Create Reporting period record
		--If @oldStatusId != 757 -- if licence was suspended, changing to issue it again does not require a new reporting period  
		--   Begin
		--		INSERT INTO tblReportingPeriod(InstrumentID,
		--									   StartDate,
		--									   LicenceAdminFee,
		--									   LBLFlag,
		--									   DateCreated,
		--									   CreatedBySystemUserID)
		--		VALUES(@InstrumentID,GETDATE(), dbo.ufn_GetPOEOAdminFee(@InstrumentID),@LBLFlag,GETDATE(),@UpdatingUser)
		--   End

		--Update tblInstrumentRadiationLocation Effective from date
		UPDATE tblInstrumentRadiationLocation 
		  SET	EffectiveDateFrom = GETDATE(),
				DateUpdated = GETDATE(),
				UpdatedBySystemUserID = @ResponsibleSystemUserID
			WHERE InstrumentID  = @InstrumentID

			--SET RRM Component status to active
		Update rrmc
			SET ComponentStatusID = 785
		FROM tblRRMComponent rrmc
		inner join tblRadiationLicenceRRMComponent licrrmc on rrmc.RRMComponentID = licrrmc.RRMComponentID
		inner join tblRadiationLicenceRRM rrm ON licrrmc.RadiationLicenceRRMID = rrm.RadiationLicenceRRMID
		inner join tblRadiationLocationRRM locrrm
		on rrm.RadiationLicenceRRMID = locrrm.RadiationLicenceRRMID
		inner join tblRadiationLocation loc on locrrm.RadiationLocationID = loc.RadiationLocationID
		inner join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
		where irl.InstrumentID = @InstrumentID AND ComponentStatusID = 784

		--SET Location RRM Status to active
		UPDATE rrm
			SET RRMStatusID = 785
			FROM tblRadiationLicenceRRM rrm inner join tblRadiationLocationRRM locrrm
			on rrm.RadiationLicenceRRMID = locrrm.RadiationLicenceRRMID
			inner join tblRadiationLocation loc on locrrm.RadiationLocationID = loc.RadiationLocationID
			inner join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
			where irl.InstrumentID = @InstrumentID AND RRMStatusID = 784	
			
			
		----------------- check whether any rrm has been linked to other licence, if yes set effective to date, FOR LICENCE FROM ECONNECT added on 10-01-2018--------------
		 if exists(select * from tblOnlineLicenceChangeApplication where InstrumentID = @InstrumentID and ApplicationStatusID = 1703)		--1703 here is submitted status
		 begin
		     --this licence is submitted from eConnect so we check if licence's RRM linked with other licence if it does then we set effectiveto to be today's date
			 --we have to find all RadiationLocationRRMIDs belong to current @InstrumentID also linked with other licences 
			 --when @InstrumentID is being issuing now we will set this RadiationLicenceRRMID which belonging to other licences to be stopped
			 --namely set its EffectiveDateTo to be today's date
			 if exists(select loc.RadiationLocationRRMID from tblRadiationLocationRRM loc 
						left outer join tblRadiationLicenceRRM b on loc.RadiationLicenceRRMID = b.RadiationLicenceRRMID
						left outer join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
						where irl.InstrumentID <> @InstrumentID and loc.RadiationLicenceRRMID in (select b.RadiationLicenceRRMID from tblRadiationLocationRRM loc 
						left outer join tblRadiationLicenceRRM b on loc.RadiationLicenceRRMID = b.RadiationLicenceRRMID
						left outer join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
						where irl.InstrumentID = @InstrumentID))
			 begin
			       UPDATE tblRadiationLocationRRM SET EffectiveDateTo = CONVERT(DATE, GETDATE()) WHERE RadiationLocationRRMID in
				   (
						select loc.RadiationLocationRRMID from tblRadiationLocationRRM loc 
						left outer join tblRadiationLicenceRRM b on loc.RadiationLicenceRRMID = b.RadiationLicenceRRMID
						left outer join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
						where irl.InstrumentID <> @InstrumentID and loc.RadiationLicenceRRMID in (select b.RadiationLicenceRRMID from tblRadiationLocationRRM loc 
						left outer join tblRadiationLicenceRRM b on loc.RadiationLicenceRRMID = b.RadiationLicenceRRMID
						left outer join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
						where irl.InstrumentID = @InstrumentID)
				   )
			 end
		 end
	  END
	ELSE
	  BEGIN
		UPDATE tblInstrument
		SET InstrumentStatusID = @StatusID,
			DateUpdated = GETDATE(),
			UpdatedBySystemUserID = @UpdatingUser
		WHERE InstrumentID = @InstrumentID
	  END  
	
	
	 
	--ReStart or Stop the clock based on the status
	DECLARE @ClockReason VARCHAR(50)
	IF @StatusID = 754 SELECT @ClockReason =@LicenceTypeText + ' app withdrawn clock stopped'
	IF @StatusID = 755 SELECT @ClockReason =@LicenceTypeText + ' Issued clock stopped'
	IF @StatusID = 753 SELECT @ClockReason =@LicenceTypeText + ' application refused'
	IF @StatusID = 752 SELECT @ClockReason =@LicenceTypeText + ' Submitted'	
	IF @StatusID = 757 SELECT @ClockReason =@LicenceTypeText + ' Suspended'	
	IF @StatusID = 751 SELECT @ClockReason =@LicenceTypeText + ' status changed to draft'
	IF @StatusID = 797 SELECT @ClockReason =@LicenceTypeText + ' cancelled clock stopped'
	IF @StatusID = 756 SELECT @ClockReason =@LicenceTypeText + ' cancelled clock stopped'
	IF @StatusID = 758 SELECT @ClockReason =@LicenceTypeText + ' surrendered clock stopped'

	IF isnull(@ClockReason, '') = ''
	   set @ClockReason = 'Radiation clock'

	--Add an entry in to Audit log table
	SELECT @RtnVal = 0
    
	--According to the Function Specification Documents we need record status change reasons for Application Cancel 756, Licence Cancel 797, Withdraw 754 and Refuse 753
	DECLARE @DescriptionOfAction VARCHAR(50)	
			
	IF @StatusID = 752 SELECT @DescriptionOfAction =@LicenceTypeText + ' Submitted'	
	IF @StatusID = 753 SELECT @DescriptionOfAction =@LicenceTypeText + ' refused'
	IF @StatusID = 754 SELECT @DescriptionOfAction =@LicenceTypeText + ' withdrawn'
	IF @StatusID = 755 SELECT @DescriptionOfAction =@LicenceTypeText + ' Issued'
	IF @StatusID = 756 SELECT @DescriptionOfAction =@LicenceTypeText + ' application cancelled'
	IF @StatusID = 757 SELECT @DescriptionOfAction =@LicenceTypeText + ' suspended'
	IF @StatusID = 758 SELECT @DescriptionOfAction =@LicenceTypeText + ' surrendered'	 
	IF @StatusID = 797 SELECT @DescriptionOfAction =@LicenceTypeText + ' cancelled'

	If @oldStatusId = 755 and @StatusID = 752  -- set audit log as unissue licence
	begin
	   SELECT @DescriptionOfAction =@LicenceTypeText + ' Unissued'	
	   SELECT @ClockReason =@LicenceTypeText + ' Unissued'	
	end

  	If (@StatusID = 756 or @StatusID = 797 or @StatusID = 754 or @StatusID = 753) and not @ChangeReason is null
    begin
	    EXEC @RtnVal = uspAuditLogInsert @InstrumentID, @DescriptionOfAction, @ChangeReason, @UpdatingUser, @UpdatingUser, 1
    end	 

  	If @oldStatusId = 757 and @StatusID = 755
       begin
	      EXEC @RtnVal = uspAuditLogInsert @InstrumentID,'Lift Suspension','Lift Suspension',@UpdatingUser,@UpdatingUser,1
       end 
	Else
	   begin
	     IF @StatusID <> 797 and @StatusID <> 758  and @StatusID <> 757 --don't write log if it is a cancel or surrender action as we already write one into system for this status change
	        EXEC @RtnVal = uspAuditLogInsert @InstrumentID, @ClockReason, @ClockReason, @UpdatingUser, @UpdatingUser, 1
		 ELSE
		    BEGIN
			    IF @StatusID = 757 or @StatusID = 758 
				   EXEC @RtnVal = uspAuditLogInsert @InstrumentID, @DescriptionOfAction, @ChangeReason, @UpdatingUser, @UpdatingUser, 1
			END
	   end
	   
	SELECT @RtnVal = 0

	--from issued to submitted we show it back to my record section
	If @oldStatusId = 755 and @StatusID = 752	
	   UPDATE tblInstrument SET DisplayFlag=1 WHERE InstrumentID=@InstrumentID

	IF @StatusID = 754 OR @StatusID = 755 OR @StatusID = 753 OR @StatusID = 756   --Stop the If Status is Withdrawn,Issued, Refused, ApplicationCancelled, Surrendered and LicenceCancelled
	BEGIN
			EXEC @RtnVal = uspInstrument_Clock_Stop @InstrumentID, @EventIdTemp, @UpdatingUser --/SB:Event ID 15 = @EventIdTemp is to stop clock in tblEvent  
			--Update the Display flag in Instrument table
			UPDATE tblInstrument SET DisplayFlag=0 WHERE InstrumentID=@InstrumentID
	END

		
	IF @StatusID = 751 -- If Status is changed to Draft mode re start clock
	BEGIN

			EXEC @RtnVal = uspInstrument_Clock_Restart @InstrumentID, @ClockReason, @UpdatingUser
			--Update the Display flag,Issuedate and Issued by columns in Instrument table
			UPDATE tblInstrument SET DisplayFlag=1,	DateIssued = NULL,
									 IssuedBySystemUserID  = NULL
            WHERE InstrumentID=@InstrumentID

			----Set AnniversaryDate and ReviewDueDate to null
			--UPDATE tblPOEOLicence SET AnniversaryDate = null,ReviewDueDate = null,AnnualAdminFee = null
			--WHERE InstrumentID = @InstrumentID
			----Delete Record from tblReportingPeriod
			--DELETE FROM tblReportingPeriod WHERE ReportingPeriodID = (SELECT MAX(ReportingPeriodID) FROM tblReportingPeriod
			--														  WHERE InstrumentID=@InstrumentID AND EndDate IS NULL)
	END
	 

	 if @InstrumentTypeID = 817
	 BEGIN
			IF @StatusID = 754 OR @StatusID = 753 OR @StatusID = 756 OR @StatusID = 758 OR @StatusID = 797
			BEGIN
				UPDATE tblDGLicenceVehicle
				SET EffectiveDateTo = GETDATE(), DateUpdated = GETDATE(), UpdatedBySystemUserID = @UpdatingUser
				WHERE EffectiveDateTo IS NULL AND InstrumentID = @InstrumentID
			END

	 END

	 
	 -------------------  PALMS V 6.0

	 If (@StatusID = 758 or @StatusID = 797 ) and not @ChangeReason is null
    begin
	    IF EXISTS (SELECT * FROM tblRadiationLicenceRenewal WHERE InstrumentID = @InstrumentID AND RenewalStatusID = 789)
		BEGIN
			UPDATE tblRadiationLicenceRenewal
			SET RenewalStatusID = 943
			WHERE InstrumentID = @InstrumentID 
		END
    end	 

	----------------- TRANSPORTER LICENCE --------------------------
	 if @InstrumentTypeID = 1417
	 BEGIN
			IF @StatusID = 754 OR @StatusID = 753 OR @StatusID = 756 OR @StatusID = 758 OR @StatusID = 797
			BEGIN
				UPDATE tblDGLicenceVehicle
				SET EffectiveDateTo = GETDATE(), DateUpdated = GETDATE(), UpdatedBySystemUserID = @UpdatingUser
				WHERE EffectiveDateTo IS NULL AND InstrumentID = @InstrumentID
			END

	 END

	 --Radiation Licence Status
     --   None = 0,       
	 --   Draft = 751,
	 --   Submitted = 752,
     --   Refused = 753,
     --   Withdrawn = 754,
     --   Issued = 755,
	 --   ApplicationCancelled = 756,
     --   Suspended = 757,
     --   Surrendered = 758,
     --   LicenceCancelled = 797

	COMMIT TRAN A
	
	SELECT 0
		
	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage VARCHAR(2000)
		
		ROLLBACK TRAN A
	
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		
		RAISERROR (@ErrorMessage , 16, 1)
	
	END CATCH
END


