/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RiskAssessmentWaterHazardPollutantID]
      ,A.[PollutantID]
      ,B.Name as PollutantName
      ,B.Description as PollutantDesc
      ,[Score]
      ,A.[EffectiveDateFrom]
      ,A.[EffectiveDateTo]
      ,A.[DateCreated]
      ,A.[CreatedBySystemUserID]
      ,A.[DateUpdated]
      ,A.[UpdatedBySystemUserID]
      ,(case when exists(select RiskAssessmentWaterHazardPollutantID from tblRiskAssessmentResultWaterHazardPollutant where RiskAssessmentWaterHazardPollutantID = A.[PollutantID]) then 0 else 1 end) as CanBeDeleted      
  FROM [tblRiskAssessmentWaterHazardPollutant] A INNER JOIN tblPollutant B
  ON A.PollutantID = B.PollutantID
  WHERE A.PollutantID = 860
  
  
  select A.[PollutantID], COUNT(A.[PollutantID])
  from  [tblRiskAssessmentAirPollutant] A
  group by A.[PollutantID]
  having COUNT(A.[PollutantID]) > 1
  
  select A.[PollutantID], COUNT(A.[PollutantID])
  from  [tblRiskAssessmentWaterPollutant] A
  group by A.[PollutantID]
  having COUNT(A.[PollutantID]) = 5  
  
  select A.[PollutantID], COUNT(A.[PollutantID])
  from  [tblRiskAssessmentWaterHazardPollutant] A
  group by A.[PollutantID]
  having COUNT(A.[PollutantID]) > 1