/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RiskAssessmentWaterPollutantID]
      ,[RiskAssessmentWaterTypeID]
      ,A.[PollutantID]
      ,B.Name as PollutantName
      ,B.Description as PollutantDesc
      ,[Score]
      ,C.Description as WaterType  
      ,A.[EffectiveDateFrom]
      ,A.[EffectiveDateTo]
      ,A.[DateCreated]
      ,A.[CreatedBySystemUserID]
      ,A.[DateUpdated]
      ,A.[UpdatedBySystemUserID]
      ,(case when exists(select RiskAssessmentWaterPollutantID from tblRiskAssessmentResultWaterPollutant where RiskAssessmentWaterPollutantID = A.[PollutantID]) or not A.[EffectiveDateTo] is null  then 0 else 1 end) as CanBeDeleted      
  FROM [PALMSDB].[dbo].[tblRiskAssessmentWaterPollutant] A INNER JOIN tblPollutant B
  ON A.PollutantID = B.PollutantID 
  INNER JOIN tblClassification C ON A.RiskAssessmentWaterTypeID = C.ClassificationID
  WHERE A.PollutantID = 119
  
  select * from tblClassification where ClassificationDomainID = 73