/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RiskAssessmentAirPollutantID]
      ,A.[PollutantID]
      ,B.Name as PollutantName
      ,B.Description as PollutantDesc
      ,[Score]
      ,A.[EffectiveDateFrom]
      ,A.[EffectiveDateTo]
      ,A.[DateCreated]
      ,A.[CreatedBySystemUserID]
      ,A.[DateUpdated]
      ,A.[UpdatedBySystemUserID]
      ,(case when exists(select RiskAssessmentAirPollutantID from tblRiskAssessmentResultAirPollutant where RiskAssessmentAirPollutantID = A.[PollutantID]) then 0 else 1 end) as CanBeDeleted      
  FROM [tblRiskAssessmentAirPollutant] A INNER JOIN tblPollutant B
  ON A.PollutantID = B.PollutantID