USE [BagDrop]
GO
/****** Object:  Trigger [dbo].[trigger_customersession_after_insert_PNR]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eric He
-- Create date: 10-11-2022
-- Description:	using trigger when inserting data into table
-- =============================================
CREATE TRIGGER [dbo].[trigger_customersession_after_insert_PNR]
   ON  [dbo].[CustomerSession]
   AFTER INSERT, UPDATE 
AS 
BEGIN
    DECLARE @Count  int
	SET @Count = @@ROWCOUNT

	IF @Count = 0
	   RETURN

	SET NOCOUNT ON

	BEGIN TRY
	    declare @customersession_id int = 0
        select @customersession_id = i.id from inserted i
		UPDATE [dbo].[CustomerSession] SET PNR = (case when len(isnull(PNR, '')) > 1 then substring(PNR, 1, 1) + '########' else PNR end) WHERE id = @customersession_id
	END TRY

	BEGIN CATCH
	    IF @@TRANCOUNT > 0
		BEGIN
		   ROLLBACK TRANSACTION
		END 

		--we may create a new table to hold sql query execution error shortly
		--EXECUTE [dbo].[uspLogServerError] @@error 
	END CATCH

END
