declare @FromDateTime datetime = N'2019/01/01 00:00:00'
declare @ToDateTime datetime = N'2019/02/01 23:59:59'
declare @Terminal varchar(50) = N'%'
declare @Area varchar(50) = N'%'
declare @SubArea varchar(50) = N'%'
declare @ABDStationIDs varchar(50) = N'0'
declare @ABDStationNames varchar(50) = N'%'
declare @TotalBagAccepted int = 0

SELECT CustomerSession.ID, CustomerSession.NumberOfTubs
FROM BagWeightUpdate
JOIN CustomerSession ON BagWeightUpdate.CustomerSessionID = CustomerSession.ID 
JOIN AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID 
WHERE BagWeightUpdate.LocalTime BETWEEN @FromDateTime AND @ToDateTime
AND isnull(NumberOfTubs, 0) > 0
AND (AbdStation.Terminal LIKE @Terminal )
AND (ISNULL(AbdStation.Area,'') LIKE @Area )
AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
GROUP by CustomerSession.ID, CustomerSession.NumberOfTubs

-----------------------------------------------------------------------------------------------------------------------------

DECLARE @TotalTubsUsed INT = 0
DECLARE @TotalTubsNotUsed INT = 0

DECLARE @Temp TABLE
(
  ID INT,
  NumberOfTubs INT
)

INSERT INTO @Temp
SELECT CustomerSession.ID, CustomerSession.NumberOfTubs
FROM BagWeightUpdate
JOIN CustomerSession ON BagWeightUpdate.CustomerSessionID = CustomerSession.ID 
JOIN AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID 
WHERE 
BagWeightUpdate.LocalTime BETWEEN @FromDateTime AND @ToDateTime
AND isnull(NumberOfTubs, 0) > 0
AND (AbdStation.Terminal LIKE @Terminal )
AND (ISNULL(AbdStation.Area,'') LIKE @Area )
AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
GROUP by CustomerSession.ID, CustomerSession.NumberOfTubs

select @TotalTubsUsed = sum(NumberOfTubs) from @Temp

-----------------------------------------------------------------------------------------------------------------------------
delete from @Temp
-----------------------------------------------------------------------------------------------------------------------------
INSERT INTO @Temp
SELECT CustomerSession.ID, CustomerSession.NumberOfTubs
FROM BagWeightUpdate
JOIN CustomerSession ON BagWeightUpdate.CustomerSessionID = CustomerSession.ID 
JOIN AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID 
WHERE 
BagWeightUpdate.LocalTime BETWEEN @FromDateTime AND @ToDateTime
AND isnull(NumberOfTubs, 0) = 0
AND (AbdStation.Terminal LIKE @Terminal )
AND (ISNULL(AbdStation.Area,'') LIKE @Area )
AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
GROUP by CustomerSession.ID, CustomerSession.NumberOfTubs

select @TotalTubsNotUsed = count(*) from @Temp

-----------------------------------------------------------------------------------------------------------------------------
SELECT  
230 AS RecordTypeID, 
'Total Tubs Used' as ShortName, 
cast(isnull(@TotalTubsUsed, 0) as int) as TotalTubsUsed, 
@ABDStationNames AS ABDStations	
UNION
SELECT  
231 AS RecordTypeID, 
'Total CustomerSessions No Tubs' as ShortName, 
cast(isnull(@TotalTubsNotUsed, 0) as int) as TotalCustomerSessionCountNoTubsUsed, 
@ABDStationNames AS ABDStations	
-----------------------------------------------------------------------------------------------------------------------------
SET @TotalBagAccepted = (
                        SELECT COUNT(BagWeightUpdate.ID) 
						FROM BagWeightUpdate
						JOIN CustomerSession ON BagWeightUpdate.CustomerSessionID = CustomerSession.ID 
						JOIN AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID						 
						WHERE BagWeightUpdate.LocalTime BETWEEN @FromDateTime AND @ToDateTime
						AND (AbdStation.Terminal LIKE @Terminal )
						AND (ISNULL(AbdStation.Area,'') LIKE @Area )
						AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
						AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
					    )
select @TotalBagAccepted as TotalBagAccepted, @TotalTubsUsed as TotalTubsUsed, @TotalTubsNotUsed as TotalTubsNotUsed 
-----------------------------------------------------------------------------------------------------------------------------