/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [EMAssessmentResultAnswerID]
      ,A.[EMAssessmentResultSectionID]
      ,[EMAssessmentAnswerID]
      ,[EnteredValue]
      ,[ReasonForChange]
      ,A.[DateCreated]
      ,A.[CreatedBySystemUserID]
      ,A.[DateUpdated]
      ,A.[UpdatedBySystemUserID]
      ,A.[RowTimestamp]
  FROM [PALMSDB].[dbo].[tblEMAssessmentResultAnswer] A INNER JOIN tblEMAssessmentResultSection B 
  ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID 
  INNER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID   
  WHERE C.InstrumentID = 4000105 and B.EMAssessmentSectionID = 9