/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [EMAssessmentResultAnswerID]
      ,[EMAssessmentResultSectionID]
      ,[EMAssessmentAnswerID]
      ,[EnteredValue]
      ,[ProvidedReasonID]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
  FROM [PALMSDB].[dbo].[tblEMAssessmentResultAnswer]
  
  INSERT INTO [tblEMAssessmentResultAnswer](
  [EMAssessmentResultSectionID],
  [EMAssessmentAnswerID],
  [EnteredValue],
  [DateCreated],
  [CreatedBySystemUserID]
  ) values
  (
  25763,
   40,
   0,
   getdate(),
   1
  )
  INSERT INTO [tblEMAssessmentResultAnswer](
  [EMAssessmentResultSectionID],
  [EMAssessmentAnswerID],
  [EnteredValue],
  [DateCreated],
  [CreatedBySystemUserID]
  ) values
  (
  25765,
   43,
   0,
   getdate(),
   1
  )
  
  INSERT INTO [tblEMAssessmentResultAnswer](
  [EMAssessmentResultSectionID],
  [EMAssessmentAnswerID],
  [EnteredValue],
  [DateCreated],
  [CreatedBySystemUserID])
  select   
   25765,
   43,
   0,
   getdate(),
   1
  select   
   25766,
   44,
   0,
   getdate(),
   1  
  select   
   25767,
   47,
   0,
   getdate(),
   1   
  select   
   25768,
   49,
   0,
   getdate(),
   1    
  select   
   25769,
   50,
   0,
   getdate(),
   1  
  select   
   25770,
   52,
   0,
   getdate(),
   1  
  select   
   25771,
   54,
   0,
   getdate(),
   1            
         