			select A.*, B.*, D.EMAssessmentQuestion
			FROM [viewEMAssessmentResult] A
			INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
			INNER JOIN tblEMAssessmentQuestion D ON B.EMAssessmentQuestionID = D.EMAssessmentQuestionID
			WHERE InstrumentID = 4000109   
			--and A.EMAssessmentCategoryID = 2  
			--and A.EMAssessmentSectionID = 9
			--and A.EMAssessmentAnswer like '%1 year%'
			--and A.EMAssessmentAnswerID IN (1, 4, 7, 10, 13, 16, 19, 22) 
			--and A.EMAssessmentAnswerID IN (2, 5, 8, 11, 14, 17, 20, 23) 
			and A.EMAssessmentAnswerID IN (3, 6, 9, 12, 15, 18, 21, 24) 
			order by A.EMAssessmentQuestionID, B.SequenceNumber
  
  
			SELECT  SUM(case B.ScoreTypeID
			  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
			  when 685 then isnull([EnteredValue], 0)
			  end) as TotalActionsAndToolsScore		 
			FROM [viewEMAssessmentResult] A
			INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
			
			WHERE InstrumentID = 4000109  and A.EMAssessmentCategoryID = 2  
			
		--select * from viewEMAssessmentResult where EMAssessmentCategoryID = 2 and EMAssessmentSectionID = 9
		----and InstrumentID = 4000109  
		--order by InstrumentID, EMAssessmentQuestionID 
		
		select * from tblEMAssessmentResultCategory A inner join tblEMAssessmentCategory B on A.EMAssessmentCategoryID = B.EMAssessmentCategoryID where InstrumentID = 4000109
		
		