USE ReportingDB
GO

DECLARE @PatchVersion nvarchar(25) = '12.1i2'

--------------------------- no need change below ---------------------------
--start keep the new patch version value into temp table
If(OBJECT_ID('tempdb..#tbPatchVersion') Is Not Null)
begin
    Drop Table #tbPatchVersion
end

create table #tbPatchVersion
(
	ID int IDENTITY PRIMARY KEY,
	PatchVersion Varchar(50) 
)
insert into #tbPatchVersion 
select @PatchVersion  
--end  

-- Pre-rollback version check
DECLARE @CurrentVersion nvarchar(25)
EXEC dbo.GetCurrentVersion @CurrentVersion Output

Print 'Current DB version is: ' + @CurrentVersion
Print ''

If @CurrentVersion <> @PatchVersion Begin
	Print 'Rollback aborted because current database version is not ' + @PatchVersion + '.'
	--Return
	Raiserror ('Rollback aborted.',20, 10) With Log
End
Print 'BEGIN ROLLBACK'
--------------------------- no need change above ---------------------------



IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TotalBagsPerFlight]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TotalBagsPerFlight]
GO
Print 'Drop SP TotalBagsPerFlight'
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsagePerABDPerCustomerSession]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UsagePerABDPerCustomerSession]
GO
Print 'Drop SP UsagePerABDPerCustomerSession'
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TotalPassengersPerFlight]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TotalPassengersPerFlight]
GO
Print 'Drop SP TotalPassengersPerFlight'
GO


------------------------------------------ no need change below ------------------------------------------
Print 'END ROLLBACK'
declare @RemovedVersion nvarchar(25)
select @RemovedVersion = PatchVersion from #tbPatchVersion --get the patch version number from temp table which the version need to be removed

-- Post-rollback removal of patch version deployment record
Exec dbo.RemoveVersionDeployment @RemovedVersion
Print 'Removed DB version deployment for: ' + @RemovedVersion
GO
------------------------------------------ no need change above ------------------------------------------