/****** Script for SelectTopNRows command from SSMS  ******/
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ROW_ID]
      ,[InstrumentTransporterLocationID]
      ,[InstrumentID]
      ,[TransporterLocationID]
  FROM [PALMSDB].[dbo].[OWT_tblInstrumentTransporterLocation]
  WHERE [InstrumentID] = 7537


SELECT TOP 1000 [ROW_ID]
      ,[TransporterLocationID]
      ,[LocationName]
      ,[AddressID]
      ,[AdditionalAddressInformation]
  FROM [PALMSDB].[dbo].[OWT_tblTransporterLocation]

  select * from  OWT_tblAddress where AddressID = 50077



select a.InstrumentID, a.transporterLocationID, b.LocationName 
from tblInstrumentTransporterLocation a inner join tblTransporterLocation b on a.TransporterLocationID = b.TransporterLocationID
where [InstrumentID] in (
SELECT [InstrumentID] FROM [PALMSDB].[dbo].[OWT_tblInstrumentTransporterLocation] ) 


select a.InstrumentID, a.transporterLocationID 
from tblInstrumentTransporterLocation a
where a.[InstrumentID] in (
SELECT [InstrumentID] FROM [PALMSDB].[dbo].[OWT_tblInstrumentTransporterLocation] ) 


select a.*, b.PALMSLocationID from [WDS].[dbo].[AccountOperation] a inner join [WDS].[dbo].[Site] b on a.SiteID = b.SiteID
where AccountOperationPermit in (select cast([InstrumentID] as varchar)FROM [PALMSDB].[dbo].[OWT_tblInstrumentTransporterLocation])
order by a.SiteID


DECLARE @MyTable3 TABLE
	(
	SNo int IDENTITY(1,1), 
	InstrumentID int,
	transporterLocationID int
	)    
INSERT INTO @MyTable3(InstrumentID, transporterLocationID)	    
select a.InstrumentID, a.transporterLocationID 
from tblInstrumentTransporterLocation a
where a.[InstrumentID] in (
SELECT [InstrumentID] FROM [PALMSDB].[dbo].[OWT_tblInstrumentTransporterLocation] ) 

select * from @MyTable3

declare @Cnt3 int
SELECT @Cnt3 = MIN(Sno) FROM @MyTable3
	
declare @TempInstrumentID int
declare @TempTransporterLocationID int

WHILE (1=1)
BEGIN
   
SELECT @TempInstrumentID = InstrumentID, @TempTransporterLocationID = isnull(transporterLocationID, 0) FROM @MyTable3
WHERE SNo = @Cnt3
 
IF @@ROWCOUNT = 0
	BREAK

	if @TempTransporterLocationID > 0 and exists(	 
		select b.PALMSLocationID from [WDS].[dbo].[AccountOperation] a inner join [WDS].[dbo].[Site] b on a.SiteID = b.SiteID
	    where AccountOperationPermit = cast(@TempInstrumentID as varchar) and b.PALMSLocationID is null
	)
	begin
	    declare @TempSiteID int
		select @TempSiteID = a.SiteID from [WDS].[dbo].[AccountOperation] a where a.AccountOperationPermit = cast(@TempInstrumentID as varchar)
		
		--print '@@TempInstrumentID =' + cast(@TempInstrumentID as varchar)
		--print '@@TempTransporterLocationID =' + cast(@TempTransporterLocationID as varchar)
		--print '@@TempSiteID =' + cast(@TempSiteID as varchar)
		--print '---------------------------------------------'
	    
		--if @TempInstrumentID = 7537  --AccountOperationPermit is '7537'
		   Update [WDS].[dbo].[Site] set PALMSLocationID = @TempTransporterLocationID where cast(SiteID as varchar) = cast(@TempSiteID as varchar)  
	end 
SELECT @Cnt3 = @Cnt3 + 1
		
END