

select a.InstrumentID
,a.NoticeInstrumentID 
,x.DGClassID
,x.DGUNNumberID
from tblInstrumentNotice a 
inner join tblNotice b on a.NoticeInstrumentID = b.InstrumentID 
inner join tblInstrument c on b.InstrumentID = c.InstrumentID
inner join tblDGDesignApprovalClassUN x on a.InstrumentID = x.InstrumentID