/****** Script for SelectTopNRows command from SSMS  ******/
 SELECT 
     a.[InstrumentID]
      ,[NSWDesignApprovalID]
      ,[DesignApprovalNumber]
      ,[DesignApprovalTypeID]       
      ,[DesignApprovalState]
      ,[TankerTypeID]   
	  ,C.[Description]  as TankerType    
      ,B.DateIssued
	  ,datepart(year, b.DateIssued) as IssuedYear
	  ,[ExpiryDate]
	  ,datepart(year, a.ExpiryDate) as ExpiryYear
  FROM [PALMSDB].[dbo].[tblDGDesignApproval] a inner join tblInstrument b on a.InstrumentID = b.InstrumentID
                                               inner join tblClassification c on a.TankerTypeID = c.ClassificationID
  WHERE b.DateIssued is not null and a.ExpiryDate is not null and datepart(year, b.DateIssued) < datepart(year, a.ExpiryDate)
  and datepart(year, b.DateIssued) < 2016 and [TankerTypeID] = 866 and [DesignApprovalState] = 'NT'

  UNION 

  SELECT 
     a.[InstrumentID]
      ,[NSWDesignApprovalID]
      ,[DesignApprovalNumber]
      ,[DesignApprovalTypeID]       
      ,[DesignApprovalState]
      ,[TankerTypeID]  
	  ,C.[Description]  as TankerType       
      ,B.DateIssued
	  ,datepart(year, b.DateIssued) as IssuedYear
	  ,[ExpiryDate]
	  ,datepart(year, a.ExpiryDate) as ExpiryYear
  FROM [PALMSDB].[dbo].[tblDGDesignApproval] a inner join tblInstrument b on a.InstrumentID = b.InstrumentID
                                               inner join tblClassification c on a.TankerTypeID = c.ClassificationID
  WHERE b.DateIssued is not null and a.ExpiryDate is null  
  and datepart(year, b.DateIssued) < 2016 and [TankerTypeID] = 866 and [DesignApprovalState] = 'NT'