USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspSaveDGDesignApproval]    Script Date: 19/08/2015 12:18:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Eric He
-- Create date: <07/08/2015>
-- Description:	<Save/Edit DGDesignApproval>
-- =============================================
CREATE PROCEDURE [dbo].[uspSaveDGDesignApproval]
				@theXmlData xml
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON
	BEGIN TRY


	DECLARE @tblDGVehicle tblDGVehicleType
	DECLARE @tblDGVehicleClass tblDGVEhicleClassType
	declare @DGVehicleID int

	declare @RegoNo varchar(10)
	declare @VinNo varchar(20)
	declare @VehicleTypeID int

	declare @CreatedBySystemUserID int
	declare @UpdatedBySystemUserID int
	declare @Cnt int
	declare @INSERT bit
	declare @RtnVal int

   INSERT INTO @tblDGVehicle(
							  [DGVehicleID]
							  ,[VehicleTypeID]
							  ,[RegistrationNumber]
							  ,[VINNumber]
							  ,[RegistrationState]
							  ,[VehicleMake]
							  ,[VehicleYear]
							  ,[FleetNumber]
							  ,[TransportWasteFlag]
							  ,[VacuumTankerFlag]
							  ,[CoveredInsuranceFlag]
							  ,[PhotograghAttachedFlag]
							  ,[TankerTypeID]
							  ,[Capacity]
							  ,[TankMake]
							  ,[TankYear]
							  ,[TankSerialNumber]
							  ,[DesignApprovalNo]
							  ,[DateLastHydraulicTest]
							  ,[UNNumber]
							  ,[StabilityControlFlag]
							  ,[Comments]
							  ,[IsVehicleManufacturedAfter01July2014Flag]
							  ,[ProhibitedVehiclesFlag]
							  ,[DateCreated]
							  ,[CreatedBySystemUserID]
							  ,[DateUpdated]
							  ,[UpdatedBySystemUserID]
							  ,[DGVehicleMakeID]
							  ,[DGTankMakeID]
							)
	SELECT RN.S.value('DGVehicleID[1]','int') AS DGVehicleID,
			 RN.S.value('VehicleTypeID[1]','int') AS VehicleTypeID,
			 RN.S.value('RegistrationNumber[1]','varchar(10)') AS RegistrationNumber,
			 RN.S.value('VINNumber[1]','varchar(20)') AS VINNumber,	
			 RN.S.value('RegistrationState[1]','varchar(3)') AS RegistrationState,
			 RN.S.value('VehicleMake[1]','varchar(50)') AS VehicleMake,
			 RN.S.value('VehicleYear[1]','varchar(4)') AS VehicleYear,
			 RN.S.value('FleetNumber[1]','varchar(20)') AS FleetNumber,	
			 RN.S.value('TransportWasteFlag[1]','bit')  AS TransportWasteFlag,
			 RN.S.value('VacuumTankerFlag[1]','bit') AS VacuumTankerFlag,
			 RN.S.value('CoveredInsuranceFlag[1]','bit') AS CoveredInsuranceFlag,
			 RN.S.value('PhotograghAttachedFlag[1]','bit') AS PhotograghAttachedFlag,
			 RN.S.value('TankerTypeID[1]','smallint') AS TankerTypeID,
			 RN.S.value('Capacity[1]','int') AS Capacity,
			 RN.S.value('TankMake[1]','varchar(50)') AS TankMake,
			 RN.S.value('TankYear[1]','varchar(4)') AS TankYear,
			 RN.S.value('TankSerialNumber[1]','varchar(50)') AS TankSerialNumber,
			 RN.S.value('DesignApprovalNo[1]','varchar(50)') AS DesignApprovalNo,
			 RN.S.value('DateLastHydraulicTest[1]','datetime') AS DateLastHydraulicTest,
			 RN.S.value('UNNumber[1]','varchar(50)') AS UNNumber,
			 RN.S.value('StabilityControlFlag[1]','bit') AS StabilityControlFlag,
			 RN.S.value('Comments[1]','varchar(600)') AS Comments,
			 RN.S.value('IsVehicleManufacturedAfter01July2014Flag[1]','bit') AS IsVehicleManufacturedAfter01July2014Flag,
			 RN.S.value('ProhibitedVehiclesFlag[1]','bit') AS ProhibitedVehiclesFlag,
			 GETDATE(),
			 RN.S.value('CreatedBySystemUserID[1]','int') AS CreatedBySystemUserID,
			 GETDATE(),
			 RN.S.value('UpdatedBySystemUserID[1]','int') AS UpdatedBySystemUserID,
		     RN.S.value('DGVehicleMakeID[1]','int') AS DGVehicleMakeID,
			 RN.S.value('DGTankMakeID[1]','int') AS DGTankMakeID
   FROM @theXmlData.nodes('/NewDataSet/DGVehicle') AS RN(S)

   INSERT INTO @tblDGVehicleClass(
							[DGVehicleClassID],
							[DGVehicleID],
							[VehicleClassID],
							[DateCreated],
							[CreatedBySystemUserID],
							[DateUpdated],
							[UpdatedBySystemUserID],
							[UNNumber] ,
							[Action] 
								)
	SELECT 
			RN.S.value('DGVehicleClassID[1]','int') AS DGVehicleClassID,
			RN.S.value('DGVehicleID[1]','int') AS DGVehicleID,
			RN.S.value('VehicleClassID[1]','int') AS VehicleClassID,
			GETDATE(),
			RN.S.value('CreatedBySystemUserID[1]','int') AS CreatedBySystemUserID,
			GETDATE(),
			RN.S.value('UpdatedBySystemUserID[1]','int') AS UpdatedBySystemUserID,
			RN.S.value('UNNumber[1]','varchar(50)') AS UNNumber,
			RN.S.value('Action[1]','varchar(10)') AS UpdatedBySystemUserID
   FROM @theXmlData.nodes('/NewDataSet/DGVehicleClass') AS RN(S)

  

	SELECT  @DGVehicleID = DGVehicleID,
			@VehicleTypeID = VehicleTypeID,
			@RegoNo=RegistrationNumber,
			@VinNo=VINNumber,
			@CreatedBySystemUserID = CreatedBySystemUserID,
		    @UpdatedBySystemUserID = UpdatedBySystemUserID
	FROM @tblDGVehicle

	
	--check RegistrationNumber exists in system
	set @Cnt=0
	--select @Cnt=count(*) from tblDGVehicle 
	--	where (@DGVehicleID=-1 or DGVehicleID!=@DGVehicleID)
	--	and RegistrationNumber=@RegoNo


	select @Cnt=count(*) from tblDGVehicle A INNER JOIN tblDGLicenceVehicle B ON A.DGVehicleID = B.DGVehicleID
		where (@DGVehicleID=-1 or A.DGVehicleID!=@DGVehicleID) AND (B.EffectiveDateTo IS NULL)
		and RegistrationNumber=@RegoNo

	
	if @Cnt>0
		begin
			select -1 -- for duplicate Rego No
			return
		end

	
	--if (@VehicleTypeID=862 or (@VehicleTypeID = 863 and @VinNo is not null and  @VinNo != ''))--not check Vin no if Non tanker and no vin
	--	begin
	--		check VIN Number exists in system
	--		set @Cnt=0
	--		select @Cnt=count(*) from tblDGVehicle
	--			where (@DGVehicleID=-1 or DGVehicleID!=@DGVehicleID)
	--			and VINNumber=@VinNo
	
	--		if @Cnt>0
	--			begin
	--				select -2 -- for duplicate VIN No
	--				return
	--			end
	--	end

	SELECT @Cnt = count(*) From tblDGVehicle Where DGVehicleID = @DGVehicleID
	
	IF @DGVehicleID>0 AND @Cnt=1  
	   SELECT @INSERT = 0
	ELSE  
	   SELECT @INSERT = 1



	BEGIN TRAN A
	
    IF @INSERT=1
	  BEGIN
		    INSERT INTO tblDGVehicle(
						[VehicleTypeID]
						,[RegistrationNumber]
						,[VINNumber]
						,[RegistrationState]
						,[VehicleMake]
						,[VehicleYear]
						,[FleetNumber]
						,[TransportWasteFlag]
						,[VacuumTankerFlag]
						,[CoveredInsuranceFlag]
						,[PhotograghAttachedFlag]
						,[TankerTypeID]
						,[Capacity]
						,[TankMake]
						,[TankYear]
						,[TankSerialNumber]
						,[DesignApprovalNo]
						,[DateLastHydraulicTest]
						,[UNNumber]
						,[StabilityControlFlag]
						,[Comments]
						,[IsVehicleManufacturedAfter01July2014Flag]
						,[ProhibitedVehiclesFlag]
						,[DateCreated]
						,[CreatedBySystemUserID]
						,[DateUpdated]
						,[UpdatedBySystemUserID]
						,[DGVehicleMakeID]
						,[DGTankMakeID]
						)
			Select		  [VehicleTypeID]
						  ,[RegistrationNumber]
						  ,[VINNumber]
						  ,[RegistrationState]
						  ,[VehicleMake]
						  ,[VehicleYear]
						  ,[FleetNumber]
						  ,[TransportWasteFlag]
						  ,[VacuumTankerFlag]
						  ,[CoveredInsuranceFlag]
						  ,[PhotograghAttachedFlag]
						  ,[TankerTypeID]
						  ,[Capacity]
						  ,[TankMake]
						  ,[TankYear]
						  ,[TankSerialNumber]
						  ,[DesignApprovalNo]
						  ,DATEADD(day,1,[DateLastHydraulicTest])
						  ,[UNNumber]
						  ,[StabilityControlFlag]
						  ,[Comments]
						  ,[IsVehicleManufacturedAfter01July2014Flag]
						  ,[ProhibitedVehiclesFlag]
						  ,[DateCreated]
						  ,[CreatedBySystemUserID]
						  ,[DateUpdated]
						  ,[UpdatedBySystemUserID]
						  ,[DGVehicleMakeID]
						  ,[DGTankMakeID]
			From @tblDGVehicle
			
			Select @RtnVal = SCOPE_IDENTITY()
			
	  END
	ELSE
	  BEGIN  
			UPDATE tblDGVehicle 
			SET  [RegistrationNumber]=b.[RegistrationNumber],
			  [VINNumber]=b.[VINNumber],
			  [RegistrationState]=b.[RegistrationState],
			  [VehicleMake]=b.[VehicleMake],
			  [VehicleYear]=b.[VehicleYear],
			  [FleetNumber]=b.[FleetNumber],
			  [TransportWasteFlag]=b.[TransportWasteFlag],
			  [VacuumTankerFlag]=b.[VacuumTankerFlag],
			  [CoveredInsuranceFlag]=b.[CoveredInsuranceFlag],
			  [PhotograghAttachedFlag]=b.[PhotograghAttachedFlag],
			  [TankerTypeID]=b.[TankerTypeID],
			  [Capacity]=b.[Capacity],
			  [TankMake]=b.[TankMake],
			  [TankYear]=b.[TankYear],
			  [TankSerialNumber]=b.[TankSerialNumber],
			  [DesignApprovalNo]=b.[DesignApprovalNo],
			  [DateLastHydraulicTest]=DATEADD(day,1,b.[DateLastHydraulicTest]),
			  [UNNumber]=b.[UNNumber],
			  [StabilityControlFlag]=b.[StabilityControlFlag],
			  [Comments]=b.[Comments],
			  [IsVehicleManufacturedAfter01July2014Flag]=b.[IsVehicleManufacturedAfter01July2014Flag],
			  [ProhibitedVehiclesFlag]=b.[ProhibitedVehiclesFlag],
			  [DateUpdated]=b.[DateUpdated],
			  [UpdatedBySystemUserID]=b.  [UpdatedBySystemUserID],
			  [VehicleTypeID] = b.[VehicleTypeID],
			  [DGVehicleMakeID] =b.[DGVehicleMakeID],
			  [DGTankMakeID] = b.[DGTankMakeID]
			FROM tblDGVehicle AS A JOIN @tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID   
			
			select @RtnVal=@DGVehicleID     			 
	  END
	

	
	COMMIT TRAN A
	
	print 'reach here'

	--Insert/Update Contact records
	Declare @spRtnVal int
	Exec @spRtnVal = uspSaveDGVehicleClass @tblDGVehicleClass, @RtnVal
	print @spRtnVal
	IF @spRtnVal <> 0 RAISERROR ('Problem saving uspSaveDGVehicleClass' , 16, 1) 

	select @RtnVal
	    
	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage VARCHAR(2000)
		
		ROLLBACK TRAN A
	
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		
		RAISERROR (@ErrorMessage , 16, 1)
	
	END CATCH
END

