--select a.*, b.InstrumentStatusID from tblRiskAssessment a
--inner join tblInstrument b on a.InstrumentID = b.InstrumentID
--where a.POEOLicenceIntrumentID = 1852 and a.RiskAssessmentTypeID = 694 and b.InstrumentStatusID = 699

	DECLARE @PrimaryInstrumentID INT
	SET @PrimaryInstrumentID = 1852

	DECLARE @MyTable TABLE
	(
	SNo int IDENTITY(1,1), 
	InstrumentID int
	)    
	INSERT INTO @MyTable(InstrumentID)	    
	select a.InstrumentID from tblRiskAssessment a
    inner join tblInstrument b on a.InstrumentID = b.InstrumentID
    where a.POEOLicenceIntrumentID = @PrimaryInstrumentID and a.RiskAssessmentTypeID = 694 and b.InstrumentStatusID = 699

	DECLARE @TempInstrumentID INT	 
    DECLARE @Cnt INT
	SELECT @Cnt = MIN(Sno) FROM @MyTable
	
	WHILE (1=1)
	BEGIN
   
	SELECT @TempInstrumentID = InstrumentID FROM @MyTable
	WHERE SNo = @Cnt
	    
	IF @@ROWCOUNT = 0
		BREAK

		if @TempInstrumentID > 0
		begin
          --we delete all its RiskAssessment records one by one
		  --if @TempInstrumentID = 4000101
		     exec [dbo].[uspRiskAssessmentDeleteByInstrumentID] @TempInstrumentID

		  print '@TempInstrumentID=' + cast(@TempInstrumentID as varchar)
		end
	SELECT @Cnt = @Cnt + 1		
	END 