/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstrumentID]
      ,[InstrumentTypeID]
      ,[InstrumentStatusID]
      ,[ResponsibleSystemUserID]
      ,[DECCWSectionID]
      ,[IssuedBySystemUserID]
      ,[DateIssued]
      ,[DisplayFlag]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[ROW_ID]
  FROM [PALMSDB].[dbo].[tblInstrument]
  WHERE [InstrumentID] in ('20362', '1526943')

  select * from tblClassification where ClassificationID in (8, 9, 538)
  select * from tblClassification where ClassificationDomainID = 2
  
  select * from tblNotice where [InstrumentID]  = '1526943' 
  select * from tblNoticeTemplate where NoticeTemplateID = 391

  SELECT        TOP (200) InstrumentID, InstrumentTypeID, InstrumentStatusID, ResponsibleSystemUserID, DECCWSectionID, IssuedBySystemUserID, DateIssued, DisplayFlag, 
                         DateCreated, CreatedBySystemUserID, DateUpdated, UpdatedBySystemUserID, RowTimestamp, ROW_ID
FROM            tblInstrument
WHERE        (InstrumentID = '1526943')