            select  a.instrumentid, count(*)
		    from
			dbo.tblInstrumentAccountableParty  a left outer join tblAccountableParty b on a.AccountablePartyID= b.AccountablePartyID
			left outer join tblInstrument c on a.InstrumentID = c.InstrumentID 
			where c.InstrumentTypeID = 493
			group by a.instrumentid
			having count(*) > 1
			order by count(*) desc

		  select top 100
		  b.[AccountablePartyID],
		  b.[CompanyFlag],
		  b.[OrganisationName],
		  b.[TradingName],
		  b.[ABN],
		  b.[CompanyWebsite],
		  b.[ContactRoleFlag],
		  b.[TitleID],
		  b.[Surname],
		  b.[Middlename],
		  b.[GivenName],
		  b.[Position],
		  b.[AddressID],
		  b.[Phone],
		  b.[Mobile],
		  b.[AfterHoursNumber],
		  b.[Fax],
		  b.[Email],
		  b.[Pager],
		  b.[EffectiveDateFrom],
		  b.[EffectiveDateTo],
		  b.[DateCreated],
		  b.[CreatedBySystemUserID],
		  b.[DateUpdated],
		  b.[UpdatedBySystemUserID],
		  b.[RowTimestamp],
		  b.[ACN],
		  b.[DateOfBirth],
		  a.InstrumentID,
		  e.LocationName,
		  e.LocationID  
          from
		  dbo.tblInstrumentAccountableParty  a 
		  left outer join tblAccountableParty b on a.AccountablePartyID= b.AccountablePartyID
		  left outer join tblInstrument c on a.InstrumentID = c.InstrumentID 
		  left outer join tblInstrumentLocation d on c.InstrumentID = d.InstrumentID and d.LocationID = (select max(LocationID) from tblInstrumentLocation where InstrumentID = d.InstrumentID)
		  inner join tblLocation e on d.LocationID = (select min(LocationID) from tblLocation where LocationID = e.LocationID)
		  where c.InstrumentTypeID = 493 
		  and c.InstrumentStatusID = 3
		  and e.PremisesFlag = 1 
		  and a.InstrumentID = 13081
 