 

	     select top 200
		  b.[AccountablePartyID],
		  b.[CompanyFlag],
		  b.[OrganisationName],
		  b.[TradingName],
		  b.[ABN],
		  b.[CompanyWebsite],
		  b.[ContactRoleFlag],
		  b.[TitleID],
		  b.[Surname],
		  b.[Middlename],
		  b.[GivenName],
		  b.[Position],
		  b.[AddressID],
		  b.[Phone],
		  b.[Mobile],
		  b.[AfterHoursNumber],
		  b.[Fax],
		  b.[Email],
		  b.[Pager],
		  b.[EffectiveDateFrom],
		  b.[EffectiveDateTo],
		  b.[DateCreated],
		  b.[CreatedBySystemUserID],
		  b.[DateUpdated],
		  b.[UpdatedBySystemUserID],
		  b.[RowTimestamp],
		  b.[ACN],
		  b.[DateOfBirth],
		  a.InstrumentID
          from
		  dbo.tblInstrumentAccountableParty  a left outer join tblAccountableParty b on a.AccountablePartyID= b.AccountablePartyID
		  where a.InstrumentID = 144743

select * from tblAccountableParty where [AccountablePartyID] = 2560
select * from tblClassification where ClassificationDomainID = 1
select * from tblInstrument where InstrumentTypeID = 493