USE [PALMSMigrationDB]
GO
/****** Object:  StoredProcedure [dbo].[uspAccountablePartyGetBySearchRESTFul]    Script Date: 20/11/2014 2:54:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eric He
-- Create date: 20-11-2014
-- Description:	Get accountable party looked up by AccountablePartyID
-- =============================================
ALTER PROCEDURE [dbo].[uspAccountablePartyGetBySearchRESTFul] 
@AccountablePartyID INT,
@AccountablePartyName varchar(200),
@ABN varchar(50),
@TradingName varchar(200)
AS	

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	BEGIN TRY
		--BEGIN TRAN
		  SELECT DISTINCT
			  b.[AccountablePartyID],		  
			  b.[CompanyFlag],
			  b.[OrganisationName],
			  b.[TradingName],
			  b.[ABN],
			  b.[CompanyWebsite],
			  b.[ContactRoleFlag],
			  b.[TitleID],
			  b.[Surname],
			  b.[Middlename],
			  b.[GivenName],
			  b.[Position],
			  b.[AddressID],
			  b.[Phone],
			  b.[Mobile],
			  b.[AfterHoursNumber],
			  b.[Fax],
			  b.[Email],
			  b.[Pager],
			  b.[EffectiveDateFrom],
			  b.[EffectiveDateTo],
			  b.[DateCreated],
			  b.[CreatedBySystemUserID],
			  b.[DateUpdated],
			  b.[UpdatedBySystemUserID],
			  b.[RowTimestamp],
			  b.[ACN],
			  b.[DateOfBirth]			  
          from
		  dbo.tblInstrumentAccountableParty  a 
		  left outer join tblAccountableParty b on a.AccountablePartyID= b.AccountablePartyID
		  left outer join tblInstrument c on a.InstrumentID = c.InstrumentID 		 
		  inner join tblPOEOLicenceFeeBasedActivity AS FeeBasedActivity ON c.InstrumentID = FeeBasedActivity.InstrumentID
		  inner join tblFeeBasedActivity FBA ON FBA.FeeBasedActivityID = FeeBasedActivity.FeeBasedActivityID
		  inner join tblFeeBasedActivityScale FeeScale ON FBA.FeeBasedActivityID = FeeScale.FeeBasedActivityID AND FeeBasedActivity.FeeBasedActivityScaleID = FeeScale.FeeBasedActivityScaleID
	where     c.InstrumentTypeID = 493        --poeo licence type only
	and c.InstrumentStatusID = 3    --issued
	and FBA.PremisesFlag = 1        --premise flaghas to be true
	and b.AccountablePartyID = (case @AccountablePartyID when 0 then b.AccountablePartyID else @AccountablePartyID end)
	and isnull(b.[ABN], '') like (case @ABN when '' then isnull(b.[ABN], '') else '%' + @ABN + '%' end)
	and isnull(b.[TradingName], '') like (case @TradingName when '' then isnull(b.[TradingName], '') else '%' + @TradingName + '%' end)
	and ((b.OrganisationName like '%' + @AccountablePartyName + '%') OR
	(Rtrim(Ltrim(isnull(b.GivenName, '') + ' ' + (case isnull(b.Middlename, '') when '' then '' else b.Middlename + ' ' end) + isnull(b.Surname, '')))) like '%' + @AccountablePartyName + '%')

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage VARCHAR(2000)
		
		--ROLLBACK TRAN
	
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		
		RAISERROR (@ErrorMessage , 16, 1)
	
	END CATCH
END

