/****** Script for SelectTopNRows command from SSMS  ******/
 SELECT TOP 1000 [BatchLogID]
      ,[BatchJobID]
      ,[DateCreated]
      ,[LogDescription]
      ,[CompletedFlag]
	  ,CONVERT(VARCHAR(5), [DateCreated], 108) as TimeHourAndMinute
	  ,DATEPART(HOUR,[DateCreated]) as HourValue
 FROM [PALMSDB].[dbo].[tblBatchLog]
 WHERE 
   datepart(year, [DateCreated]) = '2016' 
   and 
   datepart(month, [DateCreated]) = '1' 
   and
   datepart(day, [DateCreated]) = '8'  
   and 
   DATEPART(HOUR,[DateCreated]) >= 10 
   and 
   DATEPART(MINUTE,[DateCreated]) > 0  
 
 order by [DateCreated] desc