/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstrumentID]
      ,[InstrumentTypeID]
      ,[InstrumentStatusID]
      ,[ResponsibleSystemUserID]
      ,[DECCWSectionID]
      ,[IssuedBySystemUserID]
      ,[DateIssued]
      ,[DisplayFlag]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
  FROM [PALMSDB].[dbo].[tblInstrument]
  WHERE InstrumentID = 5000081

  select * from tblClassification where ClassificationID in (817, 750)

			Select isNull(PALMSNewNumber,0) as StartNumber,
				   isNull(EndNumber,0) as EndNumber   
			  From dbo.tblInstrumentNumber WITH (TABLOCKX)
			 Where InstrumentTypeID = 750
			   and EffectiveDateTo is null


					Declare @InstrumentList Table
					(	 
						InstrumentID int null				 						 
					)
					insert into @InstrumentList
					select 123
					insert into @InstrumentList
					select 3
					insert into @InstrumentList
					select 345

					declare @MaxInstrumentID int
					select @MaxInstrumentID = max(InstrumentID) from @InstrumentList
                    print '@MaxInstrumentID=' + cast(@MaxInstrumentID as varchar)					  
					delete @InstrumentList

Select isNull(MAX(InstrumentID), 50000000 - 1) as CurrentMaxNumber3
											From dbo.tblPesticideLicence 

declare @StartNumber int
declare @EndNumber int
set @StartNumber = 5000000
set @EndNumber = 5999999
Select isNull(MAX(InstrumentID),@StartNumber - 1) as CurrentMaxNumber
From dbo.tblInstrument 
Where 
(InstrumentTypeID=750 or InstrumentTypeID= 817 or InstrumentTypeID= 818) 
and InstrumentID Between @StartNumber and @EndNumber 

select * from tblInstrument
Where 
(InstrumentTypeID=750 or InstrumentTypeID= 817 or InstrumentTypeID= 818) 

select * from tblInstrumentNumber


										  Declare @InstrumentList Table
										  (	 
												InstrumentID int null				 						 
										  )
									      Declare @CurrentMaxNumber1    int
										  Declare @CurrentMaxNumber2    int
										  Declare @CurrentMaxNumber3    int

										  --Modified 02-05-2014 Eric He to remove duplicated instrument ID from generating by system
										  --we need check two tables tblRadiationLicence and tblDGLicence to find the maximum InstrumentID
										  Select @CurrentMaxNumber1 = isNull(MAX(InstrumentID), @StartNumber - 1) 
										   From dbo.tblRadiationLicence 
										  Where InstrumentID Between @StartNumber and @EndNumber 

										  Select @CurrentMaxNumber2 = isNull(MAX(InstrumentID), @StartNumber - 1) 
											From dbo.tblDGLicence 
										  Where InstrumentID Between @StartNumber and @EndNumber 

										  Select @CurrentMaxNumber3 = isNull(MAX(InstrumentID), @StartNumber - 1) 
											From dbo.tblPesticideLicence 
										  Where InstrumentID Between @StartNumber and @EndNumber 

										  insert into @InstrumentList
										  select @CurrentMaxNumber1
										  insert into @InstrumentList
										  select @CurrentMaxNumber2
										  insert into @InstrumentList
										  select @CurrentMaxNumber3

                                          select @CurrentNumber = max(InstrumentID) from @InstrumentList
                                          delete @InstrumentList



			   