 
DECLARE @MyTableFinal TABLE
(  
InstrumentID int,
RegistrationNumber varchar(5000) 
) 
--1) define a table variable to hold all data row we need
DECLARE @RegistrationNumberFull VARCHAR(MAX)
SET @RegistrationNumberFull = ''

DECLARE @MyTable TABLE
(
SNo int IDENTITY(1,1), 
InstrumentID int 
) 
	
INSERT INTO @MyTable(InstrumentID)	    
select TOP 100 A.InstrumentID from tblDGLicence A  
where A.DGLicenceTypeID = 820
	
DECLARE @InstrumentID INT

DECLARE @Cnt INT  	
SELECT @Cnt = MIN(Sno) FROM @MyTable	
WHILE (1=1)
BEGIN
   
	SELECT @InstrumentID = InstrumentID FROM @MyTable
	WHERE SNo = @Cnt
	    
	IF @@ROWCOUNT = 0
		BREAK
	 
	--start nested looping here	        
			DECLARE @RegistrationNumberTemp VARCHAR(50)

			DECLARE @MyTableTemp TABLE
				(
				SNo int IDENTITY(1,1), 
				DGVehicleID int
				)    
			INSERT INTO @MyTableTemp(DGVehicleID)	    
			select B.[DGVehicleID] from tblDGLicence A 
			left outer join tblDGLicenceVehicle B ON A.InstrumentID = B.InstrumentID 
			left outer join [tblDGVehicle] C ON B.[DGVehicleID] = C.[DGVehicleID]
			where A.DGLicenceTypeID = 820 and B.InstrumentID = @InstrumentID
	 
	  

	        DECLARE @CntTemp INT
			SELECT @CntTemp = MIN(Sno) FROM @MyTableTemp
	
	        DECLARE @DGVehicleID INT

			WHILE (1=1)
			BEGIN
            
			SET @RegistrationNumberTemp = ''

			SELECT @DGVehicleID = DGVehicleID FROM @MyTableTemp
			WHERE SNo = @CntTemp
	    
			IF @@ROWCOUNT = 0
				BREAK

			SELECT @RegistrationNumberTemp = RegistrationNumber
			FROM tblDGVehicle 				 
			WHERE DGVehicleID = @DGVehicleID

			

		    IF LEN(@RegistrationNumberTemp) > 0
			BEGIN
			 
				IF isnull(@RegistrationNumberFull, '') = ''
					 SET @RegistrationNumberFull = @RegistrationNumberTemp
				ELSE
					 SET @RegistrationNumberFull = isnull(@RegistrationNumberFull, '') + ' ; '+ @RegistrationNumberTemp
            END

			SELECT @CntTemp = @CntTemp + 1		
			END	
					 
			delete @MyTableTemp
	--end nested looping here	        
	SELECT @Cnt = @Cnt + 1

 

	IF NOT EXISTS(select * from @MyTableFinal where InstrumentID = @InstrumentID)
	BEGIN
	   INSERT INTO @MyTableFinal(InstrumentID, RegistrationNumber) VALUES( @InstrumentID, @RegistrationNumberFull) 
	   SET @RegistrationNumberFull = ''  
	END
		
END	 

SELECT * FROM @MyTableFinal

delete @MyTable
delete @MyTableFinal
 