USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspAccountablePartySearchWithExternalUsers]    Script Date: 8/11/2016 10:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- Author:		Eric He  
-- Create date: 07-11-2016
-- Description:	Search External Users and Linked Accountable Party in PALMS
-- =====================================================
ALTER PROCEDURE [dbo].[uspAccountablePartySearchWithExternalUsers] 
(	
	@xmlSearchCriteria XML,
	@NoOfRecordsRequired int,
	@MaxRecordsExport int,
	@ToExport BIT = 0,
	@pageSize int,
	@pageNum int		
)
AS
BEGIN
	BEGIN TRY

        DECLARE 
		@AccountablePartyNo AS INT,
		@EmailAddress AS VARCHAR(100),		 
		@FirstName AS VARCHAR(60), 
		@LastName AS VARCHAR(60),
		@RecordNo as INT, 
		@TradingName AS VARCHAR(128),
		@OrganisationName AS VARCHAR(128),
		@UserPrifile AS VARCHAR(200),		
		@ABN AS VARCHAR(14), 				
		@ACN AS VARCHAR(20),
		@RecordType as INT 

		SET @AccountablePartyNo = (SELECT xmlVals.rowvals.query('AccountablePartyNo').value('.','INT') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @EmailAddress = (SELECT xmlVals.rowvals.query('Email').value('.','VARCHAR(100)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @FirstName = (SELECT xmlVals.rowvals.query('FirstName').value('.','VARCHAR(60)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @LastName = (SELECT xmlVals.rowvals.query('LastName').value('.','VARCHAR(60)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @RecordType = (SELECT xmlVals.rowvals.query('PrimaryRecordType').value('.','INT') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @RecordNo = (SELECT xmlVals.rowvals.query('PrimaryRecordNo').value('.','INT') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @TradingName = (SELECT xmlVals.rowvals.query('TradingName').value('.','VARCHAR(128)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @OrganisationName = (SELECT xmlVals.rowvals.query('OrganisationName').value('.','VARCHAR(128)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		SET @UserPrifile = (SELECT xmlVals.rowvals.query('UserProfile').value('.','VARCHAR(128)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))		 
		SET @ABN = (SELECT xmlVals.rowvals.query('ABN').value('.','VARCHAR(14)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))		 
		SET @ACN = (SELECT xmlVals.rowvals.query('ACN').value('.','VARCHAR(20)') From @xmlSearchCriteria.nodes('//DataAccountableParty/SearchCriteria') as xmlVals(rowvals))
		
		SET @AccountablePartyNo = ISNULL(@AccountablePartyNo, 0);	
		SET @RecordNo = ISNULL(@RecordNo, 0)
		SET @RecordType = ISNULL(@RecordType, 0)

		SET @FirstName = ISNULL(@FirstName, '');		 
		SET @LastName = ISNULL(@LastName, '');		 			
		SET @EmailAddress = ISNULL(@EmailAddress, '');	 
		SET @TradingName = ISNULL(@TradingName, '');
		 
		SET @UserPrifile = ISNULL(@UserPrifile, '');
		if len(@UserPrifile) > 0
		begin
		     if @UserPrifile = 'superuser'
		      SET @UserPrifile = rtrim(ltrim('PALMSOnline-Superuser'))
		     if @UserPrifile = 'editor'
		      SET @UserPrifile = rtrim(ltrim('PALMSOnline-Editor')) 
		end
				 
		SET @ABN = ISNULL(@ABN, '');
		SET @ACN = ISNULL(@ACN, '');
		
 
		Declare @ResultRowsFinal Table
		(	
		SNo int IDENTITY(1,1),  
		APNo int null,
		APName Varchar(200),
		Email Varchar(100), 
		ABN Varchar(14),
		ACN Varchar(20),
		FirstName Varchar(100),
		LastName Varchar(100),
		Recordno int null,
		UserProfile Varchar(200),
		Organisationname Varchar(500),
		TradingName Varchar(500),
		RecordType Varchar(255),  					 									 				 
		RowCountTotal int null 													
		)
						    
		DECLARE @strSearchCriteria nvarchar(MAX)
		SELECT @strSearchCriteria =N'		
		select  
				b.AccountablePartyID as APNo,
				c.OrganisationName as APName,
				a.Email as Email, 
				c.ABN,
				c.ACN,
				a.FirstName,
				a.LastName,
				d.InstrumentID as Recordno,
				a.ApplicationRoles as UserProfile,
				c.Organisationname,
				c.TradingName, 	
				f.Name as RecordType,				 									 				 
				0 as RowCountTotal				
		from vwProfile a 
		left outer join tblOnlineUserAccess b on a.ProfileID = b.ProfileID
		left outer join tblAccountableParty c on b.AccountablePartyID = c.AccountablePartyID 
		left outer join tblInstrumentAccountableParty d on c.AccountablePartyID = d.AccountablePartyID
		left outer join tblInstrument e on d.InstrumentID = e.InstrumentID
		left outer join tblClassification f ON f.ClassificationID = e.InstrumentTypeID
		where not b.AccountablePartyID is null '

		DECLARE @whereClause0 AS nvarchar(MAX)                        
		SET  @whereClause0 = N''

		IF @AccountablePartyNo > 0
		BEGIN
			SET @whereClause0 = @whereClause0 +  ' AND b.AccountablePartyID = ' + convert(varchar, @AccountablePartyNo)
		END 

		IF @RecordType > 0
		BEGIN
			SET @whereClause0 = @whereClause0 +  ' AND e.InstrumentTypeID = ' + convert(varchar, @RecordType)
		END 
		ELSE
		BEGIN
		    SET @whereClause0 = @whereClause0 +  ' AND e.InstrumentTypeID = ' + convert(varchar, 493)
		END

		IF @Recordno > 0
		BEGIN
			SET @whereClause0 = @whereClause0 +  ' AND d.InstrumentID = ' + convert(varchar, @Recordno)
		END 

		IF @EmailAddress IS NOT NULL and Len(@EmailAddress) > 0
		BEGIN
				SET @whereClause0 = @whereClause0 +  ' AND a.Email like ''%' + convert(varchar, @EmailAddress) + '%'' '
		END

		IF @FirstName IS NOT NULL and Len(@FirstName) > 0
		BEGIN
				SET @whereClause0 = @whereClause0 +  ' AND a.FirstName like ''%' + convert(varchar, @FirstName) + '%'' '
		END
					
		IF @LastName IS NOT NULL and LEN(@LastName) > 0
		BEGIN
			SET @whereClause0 = @whereClause0 +  ' AND a.LastName like ''%' + convert(varchar, @LastName) + '%'' '
		END				
			
		IF @OrganisationName IS NOT NULL and LEN(@OrganisationName) > 0  
		BEGIN
				SET @whereClause0 = @whereClause0 +  ' AND c.OrganisationName  like ''%' + convert(varchar, @OrganisationName) + '%'' ' 
		END					
					
		IF @TradingName IS NOT NULL and LEN(@TradingName) > 0  
		BEGIN
				SET @whereClause0 = @whereClause0 +  ' AND c.TradingName  like ''%' + convert(varchar, @TradingName) + '%'' ' 
		END						 

		IF @UserPrifile IS NOT NULL and LEN(@UserPrifile) > 0  
		BEGIN
				SET @whereClause0 = @whereClause0 +  ' AND a.ApplicationRoles like ''%' + convert(varchar, @UserPrifile) + '%'' '  
		END	

		IF @ABN IS NOT NULL and LEN(@ABN) > 0  
		BEGIN
				SET @whereClause0 = @whereClause0 +  ' AND c.ABN like ''%' + convert(varchar, @ABN) + '%'' '  
		END	

		IF @ACN IS NOT NULL and LEN(@ACN) > 0  
		BEGIN
				SET @whereClause0 = @whereClause0 +  ' AND c.ACN like ''%' + convert(varchar, @ACN) + '%'' '  
		END	

		set @strSearchCriteria = @strSearchCriteria + @whereClause0 

        --print '@strSearchCriteria =' + @strSearchCriteria
		
		Insert Into @ResultRowsFinal 
		(
			APNo,
			APName,
			Email, 
			ABN,
			ACN,
			FirstName,
			LastName,
			Recordno,
			UserProfile,
			Organisationname,
			TradingName, 
			RecordType,					 									 				 
			RowCountTotal			
		)			
		EXEC sp_executesql @strSearchCriteria;	
	 
		DECLARE @NoOfRecords as int	
		SELECT @NoOfRecords=isnull(COUNT(APNo), 0) from @ResultRowsFinal	
		Update 	@ResultRowsFinal set RowCountTotal = @NoOfRecords
 
		IF(@ToExport = 1)
		BEGIN
				SELECT DISTINCT TOP (@MaxRecordsExport)
							APNo,
							APName,
							Email, 
							ABN,
							ACN,
							FirstName,
							LastName,
							Recordno,
							UserProfile,
							Organisationname,
							TradingName, 
							RecordType,					 									 				 
							RowCountTotal											  
						FROM @ResultRowsFinal  
						ORDER BY APNo	
		END
		ELSE			
			IF (@NoOfRecords <= @NoOfRecordsRequired)
			  BEGIN
			     
				SELECT TOP (@pageSize) *  FROM @ResultRowsFinal 
				WHERE SNo NOT IN  
				( SELECT TOP ((@pageNum - 1) * (@pageSize)) SNo FROM @ResultRowsFinal order by SNo )	
				order by SNo						
			  END		
			ELSE	
				SELECT 
					'0' as [APno], 
					'0' as [APname],
					'0' as [Postaladdress],
					'0' as [Recordno],
					'0' as [Recordtype], 
					'0' as [Section], 					 
					'0' as [Streetname],
					'0' as [Suburb]				
	END TRY

	BEGIN CATCH

		DECLARE @ErrorMessage VARCHAR(2000)
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		RAISERROR (@ErrorMessage , 16, 1)

	END CATCH
END
--GRANT EXECUTE ON dbo.[uspAccountablePartySearchWithExternalUsers] TO ReadWriteRole

