/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1 [tblLicenceDocument].* FROM [tblLicenceDocument]
WHERE [LicenceDocumentID] IN (
SELECT TOP 1 [LicenceDocumentID]
FROM [PALMSDocDB].[dbo].[tblLicenceDocument]
order by LicenceDocumentID
)
ORDER BY [LicenceDocumentID] DESC

SELECT TOP 1 [tblLicenceDocument].* FROM [tblLicenceDocument]
WHERE [LicenceDocumentID] IN (
SELECT TOP 2 [LicenceDocumentID]
FROM [PALMSDocDB].[dbo].[tblLicenceDocument]
order by LicenceDocumentID
)
ORDER BY [LicenceDocumentID] DESC

SELECT TOP 1 [tblLicenceDocument].* FROM [tblLicenceDocument]
WHERE [LicenceDocumentID] IN (
SELECT TOP 3 [LicenceDocumentID]
FROM [PALMSDocDB].[dbo].[tblLicenceDocument]
order by LicenceDocumentID
)
ORDER BY [LicenceDocumentID] DESC

SELECT TOP 1 [tblLicenceDocument].* FROM [tblLicenceDocument]
WHERE [LicenceDocumentID] IN (
SELECT TOP 4 [LicenceDocumentID]
FROM [PALMSDocDB].[dbo].[tblLicenceDocument]
order by LicenceDocumentID
)
ORDER BY [LicenceDocumentID] DESC
