select EffectiveDateFrom, convert(smalldatetime,convert(varchar(8), EffectiveDateFrom, 112)), * from AccountOperation

select DateUpdated, convert(smalldatetime,convert(varchar(8), DateUpdated, 112)), * from AccountOperation

update AccountOperation set EffectiveDateFrom = convert(smalldatetime,convert(varchar(8), EffectiveDateFrom, 112))

select convert(smalldatetime, convert(varchar(8), getdate(), 112)) as Temp
SELECT replace(CONVERT(varchar, getdate(), 103), '/', '-')

GRANT EXECUTE ON [dbo].uspRadationUpdateCREAssessmentHistory TO ReadWriteRole

select * from tblRadiationlicenceAccreditationType where instrumentid =5069477

		SELECT LicenceXML, * 
		FROM tblOnlineRADApplication 
		WHERE OnlineRADApplicationID = 2596 
--------------------------------=========================

			DateApplicationCompleted = convert(smalldatetime, convert(varchar(8), B.DateApplicationCompleted, 112)),
			DateApplicationReceived = convert(smalldatetime, convert(varchar(8), B.DateApplicationReceived, 112)), 