/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstrumentID]
      ,[NoticeTemplateID]
      ,[ReasonForNotice]
      ,[FollowupDays]
      ,[FeeAmount]
      ,[ProrataAdminFee]
      ,[ApplicationAppliedFlag]
      ,[InspectionDate]
      ,[DateCompleted]
      ,[CompletedBySystemUserID]
      ,[FollowupAlertSentFlag]
      ,[NoticeDocument]
      ,[BatchPrintFlag]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[ParentNoticeInstrumentID]
      ,[AuditTypeID]
      ,[VariationReportAttachedFlag]
      ,[VNInstigatedByEPAFlag]
      ,[VNPublicAdvertisedFlag]
      ,[VNAdminConditionVariedFlag]
      ,[VNLocationPointVariedFlag]
      ,[VNLimitConditionVariedFlag]
      ,[VNOperatingConditionVariedFlag]
      ,[VNMonitoringConditionVariedFlag]
      ,[VNReportingConditionVariedFlag]
      ,[VNGeneralConditionVariedFlag]
      ,[VNPRPVariedFlag]
      ,[VNSpecialConditionVariedFlag]
      ,[ExemptionGrantedDate]
      ,[ExemptionExpiryDate]
      ,[InspectionReportTypeID]
      ,[InspectionArrivalTime]
      ,[InspectionDepartureTime]
      ,[ProcessedForOWT]
  FROM [PALMSDB].[dbo].[tblNotice]
  WHERE InstrumentID = 1536568 

  select * from tblInstrumentNotice where InstrumentID = 1027
  select * from tblInstrumentAuditLog where InstrumentID = 1536568 
  select * from tblInstrumentAuditLog where DescriptionOfAction like '%eConnect%'

  select * from tblNoticeTemplate where TemplateName like '%surrender%'

  -----------------------------------------------------------------------------------------------------------
  declare @LicenceNo int = 0
  select @LicenceNo = InstrumentID from tblInstrumentNotice where NoticeInstrumentID = 1536568
  select top 1 * from [tblOnlineLicenceChangeApplication] 
  where InstrumentID = @LicenceNo and ApplicationStatusID = 1703
  order by DateCreated desc

  declare @theXmlData xml = ''
  select top 1 @theXmlData = AppXML from [tblOnlineLicenceChangeApplication] 
  where InstrumentID = @LicenceNo and ApplicationStatusID = 1703
  order by DateCreated desc
  -----------------------------------------------------------------------------------------------------------

  declare @TitleId int
  declare @TitleText varchar(50)

  declare @GivenName varchar(50)
  declare @Surname varchar(50)
  declare @MiddleName varchar(50)
  declare @OrganizationName varchar(200)
  declare @Phone varchar(20) 
  declare @Mobile varchar(20) 
  declare @Email varchar(100) 


  	if Datalength(@theXmlData) > 0
	begin
			select 
				@TitleId = xmlVals.rowvals.value('(TitleId)[1]','INT'),
				@GivenName = xmlVals.rowvals.value('(GivenName)[1]','VARCHAR(50)'),			 
				@Surname = xmlVals.rowvals.value('(Surname)[1]','VARCHAR(50)'),			 
				@MiddleName = xmlVals.rowvals.value('(MiddleName)[1]','VARCHAR(50)'),	
				@OrganizationName = xmlVals.rowvals.value('(OrganizationName)[1]','VARCHAR(200)'),	
				@Phone = xmlVals.rowvals.value('(Phone)[1]','VARCHAR(20)'),	
				@Mobile = xmlVals.rowvals.value('(Mobile)[1]','VARCHAR(20)'),	
				@Email = xmlVals.rowvals.value('(Email)[1]','VARCHAR(100)')	 				 
			from @theXmlData.nodes('//SurrenderDTO/PrimaryContact') as xmlVals(rowvals)

			select @TitleText = isnull([description], '') from tblClassification where ClassificationID = @TitleId
	end

print '@TitleText =' + cast( @TitleText as varchar)
print '@TitleId =' + cast( @TitleId as varchar)
print '@GivenName =' + cast( @GivenName as varchar)
print '@Surname =' + cast( @Surname as varchar)
print '@MiddleName =' + cast( @MiddleName as varchar)
print '@OrganizationName =' + cast( @OrganizationName as varchar)

print '@Phone =' + cast(@Phone as varchar)
print '@Mobile =' + cast(@Mobile as varchar)
print '@Email =' + cast(@Email as varchar)