USE [BagDropDB_QF_BNE]
GO
/****** Object:  Table [dbo].[FaultType]    Script Date: 4/2/2019 2:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaultType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_FaultType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FaultType] ON 

INSERT [dbo].[FaultType] ([ID], [Code], [ShortName], [Description]) VALUES (1, 66, N'BagWithStraps', N'BagWithStraps')
INSERT [dbo].[FaultType] ([ID], [Code], [ShortName], [Description]) VALUES (2, 110, N'ConveyorHasFaultedWhileMovingBag', N'ConveyorHasFaultedWhileMovingBag')
INSERT [dbo].[FaultType] ([ID], [Code], [ShortName], [Description]) VALUES (3, 86, N'MultiBagScan', N'MultiBagScan')
SET IDENTITY_INSERT [dbo].[FaultType] OFF
