USE [master]
GO
/****** Object:  Database [BagDropDB_QF_BNE]    Script Date: 4/2/2019 1:36:11 PM ******/
CREATE DATABASE [BagDropDB_QF_BNE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BagDropDB_QF_BNE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\BagDropDB_QF_BNE.mdf' , SIZE = 503872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BagDropDB_QF_BNE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\BagDropDB_QF_BNE_log.ldf' , SIZE = 10176KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BagDropDB_QF_BNE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BagDropDB_QF_BNE]
GO
/****** Object:  User [ICMAdmin]    Script Date: 4/2/2019 1:36:11 PM ******/
CREATE USER [ICMAdmin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ICMAdmin]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateSecondsInState]    Script Date: 4/2/2019 1:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[CalculateSecondsInState] 
(
	@AbdStationID int,
	@State varchar(50),
	@FromTime datetime,
	@ToTime datetime
)
RETURNS float
AS
BEGIN
	
	DECLARE @LastStateIDBeforeFromTime bigint
	DECLARE @LastStateBeforeFromTime varchar(50)
	
	DECLARE @LastStateIDBeforeToTime bigint
	DECLARE @LastStateBeforeToTime varchar(50)
	
	--Get the last state before @FromTime
	SELECT TOP 1 @LastStateIDBeforeFromTime = ID, @LastStateBeforeFromTime = State
	FROM AbdStateHistory
	WHERE AbdStationID = @AbdStationID AND LocalTime <= @FromTime
	ORDER BY ID DESC
	
	--Get the last state before @ToTime
	SELECT TOP 1 @LastStateIDBeforeToTime = ID, @LastStateBeforeToTime = State
	FROM AbdStateHistory
	WHERE AbdStationID = @AbdStationID AND LocalTime <= @ToTime
	ORDER BY ID DESC
	
	DECLARE @SecondsInState FLOAT
	
	SELECT @SecondsInState = ISNULL(SUM(DATEDIFF(SECOND, PrevStates.LocalTime, NextStates.LocalTime)),0.0)
	FROM
		(SELECT DENSE_RANK() OVER (ORDER BY LocalTime) AS Rank, *
			FROM
			(
				SELECT @LastStateIDBeforeFromTime	AS ID, @LastStateBeforeFromTime AS State,	@FromTime AS LocalTime
				UNION
				SELECT ID, State, LocalTime
				FROM AbdStateHistory
				WHERE AbdStationID = @AbdStationID AND LocalTime >= @FromTime AND LocalTime < @ToTime
				UNION
				SELECT @LastStateIDBeforeToTime	AS ID, @LastStateBeforeToTime AS State,	@ToTime AS LocalTime
			) a 
		) PrevStates
		JOIN (SELECT DENSE_RANK() OVER (ORDER BY LocalTime) AS Rank, *
			FROM
			(
				SELECT @LastStateIDBeforeFromTime	AS ID, @LastStateBeforeFromTime AS State,	@FromTime AS LocalTime
				UNION
				SELECT ID, State, LocalTime
				FROM AbdStateHistory
				WHERE AbdStationID = @AbdStationID AND LocalTime >= @FromTime AND LocalTime < @ToTime
				UNION
				SELECT @LastStateIDBeforeToTime	AS ID, @LastStateBeforeToTime AS State,	@ToTime AS LocalTime
			) a
		) NextStates
		ON PrevStates.Rank = NextStates.Rank - 1 AND PrevStates.ID IS NOT NULL AND NextStates.ID IS NOT NULL
	WHERE PrevStates.State = @State
	
	RETURN @SecondsInState
END





GO
/****** Object:  UserDefinedFunction [dbo].[GetAbdName]    Script Date: 4/2/2019 1:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetAbdName]
(
	-- Add the parameters for the function here
	@PortCode nvarchar(10), 
	@Identifier nvarchar(10),
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10)
)
RETURNS nvarchar(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result nvarchar(50)

	-- Add the T-SQL statements to compute the return value here
	SET @Result = (SELECT CASE WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') <> ''
							THEN @PortCode + '_' + @Terminal + '_' + @Area + '_' + @SubArea + '_' + @Identifier
						WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') = ''
							THEN @PortCode + '_' + @Terminal + '_' + @Area + '_' + @Identifier
						ELSE @PortCode + '_' + @Terminal + '_' + @Identifier END)

	-- Return the result of the function
	RETURN @Result

END


GO
/****** Object:  UserDefinedFunction [dbo].[GetABDStatesFromString]    Script Date: 4/2/2019 1:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[GetABDStatesFromString]
(
	@AbdStatesString varchar(4000)
)
RETURNS 
@ABDStates TABLE 
(
	ID int,
	State varchar(50)
)
AS
BEGIN

	DECLARE @record varchar(100)
	DECLARE @SemicolonIndex int
	DECLARE @ColonIndex int
	DECLARE @ABDStateID int
	DECLARE @ABDState varchar(50)

	SET @SemicolonIndex = CHARINDEX(';',@AbdStatesString)

	WHILE @SemicolonIndex <> 0
	BEGIN
		SET @record = SUBSTRING(@AbdStatesString, 1, @SemicolonIndex - 1)
		SET @ColonIndex = CHARINDEX(',',@record)
		SET @ABDStateID = CAST(SUBSTRING(@record,1,@ColonIndex - 1) AS int)
		SET @ABDState = SUBSTRING(@record,@ColonIndex + 1, LEN(@record) - @ColonIndex) 
		
		INSERT INTO @ABDStates
		VALUES (@ABDStateID, @ABDState)
		
		SET @AbdStatesString = SUBSTRING(@AbdStatesString, @SemicolonIndex + 1, LEN(@AbdStatesString) - @SemicolonIndex)
		SET @SemicolonIndex = CHARINDEX(';',@AbdStatesString)
	END

	IF @AbdStatesString <> ''
	BEGIN
		SET @ColonIndex = CHARINDEX(',',@AbdStatesString)
		SET @ABDStateID = CAST(SUBSTRING(@AbdStatesString,1,@ColonIndex - 1) AS int)
		SET @ABDState = SUBSTRING(@AbdStatesString,@ColonIndex + 1, LEN(@AbdStatesString) - @ColonIndex) 
		
		INSERT INTO @ABDStates
		VALUES (@ABDStateID, @ABDState)
	END
	
	RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetStateTimeSlotsFromString]    Script Date: 4/2/2019 1:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[GetStateTimeSlotsFromString]
(
	@StateTimeSlotsString varchar(4000)
)
RETURNS 
@StateTimeSlots TABLE 
(
	ID int,
	TimeSlotHouryID int
)
AS
BEGIN

	DECLARE @record varchar(100)
	DECLARE @SemicolonIndex int
	DECLARE @ColonIndex int
	DECLARE @StateTimeSlotID int
	DECLARE @TimeSlotHouryID int

	SET @SemicolonIndex = CHARINDEX(';',@StateTimeSlotsString)

	WHILE @SemicolonIndex <> 0
	BEGIN
		SET @record = SUBSTRING(@StateTimeSlotsString, 1, @SemicolonIndex - 1)
		SET @ColonIndex = CHARINDEX(',',@record)
		SET @StateTimeSlotID = CAST(SUBSTRING(@record,1,@ColonIndex - 1) AS int)
		SET @TimeSlotHouryID = SUBSTRING(@record,@ColonIndex + 1, LEN(@record) - @ColonIndex) 
		
		INSERT INTO @StateTimeSlots
		VALUES (@StateTimeSlotID, @TimeSlotHouryID)
		
		SET @StateTimeSlotsString = SUBSTRING(@StateTimeSlotsString, @SemicolonIndex + 1, LEN(@StateTimeSlotsString) - @SemicolonIndex)
		SET @SemicolonIndex = CHARINDEX(';',@StateTimeSlotsString)
	END

	IF @StateTimeSlotsString <> ''
	BEGIN
		SET @ColonIndex = CHARINDEX(',',@StateTimeSlotsString)
		SET @StateTimeSlotID = CAST(SUBSTRING(@StateTimeSlotsString,1,@ColonIndex - 1) AS int)
		SET @TimeSlotHouryID = SUBSTRING(@StateTimeSlotsString,@ColonIndex + 1, LEN(@StateTimeSlotsString) - @ColonIndex) 
		
		INSERT INTO @StateTimeSlots
		VALUES (@StateTimeSlotID, @TimeSlotHouryID)
	END
	
	RETURN 
END
GO
/****** Object:  Table [dbo].[ABDErrorLog]    Script Date: 4/2/2019 1:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABDErrorLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ABDStationID] [int] NOT NULL,
	[FaultTypeID] [int] NOT NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[LocalCreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ABDErrorLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdStateHistory]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdStateHistory](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[UtcTime] [datetime] NOT NULL,
	[LocalTime] [datetime] NULL,
 CONSTRAINT [PK_AbdStateHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdStation]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdStation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PortCode] [nvarchar](10) NOT NULL,
	[Identifier] [nvarchar](10) NOT NULL,
	[AbdType] [nvarchar](10) NOT NULL,
	[Terminal] [nvarchar](10) NOT NULL,
	[Zone] [nvarchar](10) NULL,
	[Area] [nvarchar](10) NULL,
	[SubArea] [nvarchar](10) NULL,
 CONSTRAINT [PK_AbdStation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdWorkflowStep]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[StepName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](450) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AbdWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_AbdWorkflowStep_StepName] UNIQUE NONCLUSTERED 
(
	[StepName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bag]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bag](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BaggageGroupID] [bigint] NOT NULL,
	[UBI] [nvarchar](50) NOT NULL,
	[BagTagType] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Bag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaggageGroup]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaggageGroup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BaggageReference] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BaggageGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagWeightUpdate]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagWeightUpdate](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BagID] [bigint] NOT NULL,
	[Weight] [decimal](18, 0) NOT NULL,
	[UtcTime] [datetime] NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[LocalTime] [datetime] NULL,
 CONSTRAINT [PK_BagWeightUpdate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClvScannerType]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClvScannerType](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ClvScannerType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_ClvScannerType_ShortName] UNIQUE NONCLUSTERED 
(
	[ShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMOperationHistory]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMOperationHistory](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ABDStationID] [int] NULL,
	[MessageType] [varchar](100) NULL,
	[MessageSent] [datetime] NULL,
	[MessageTime] [int] NULL,
	[SessionID] [varchar](50) NULL,
	[Result] [varchar](100) NULL,
	[MessageSize] [float] NULL,
	[AirlineCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_CMOperationHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UCI] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](25) NULL,
	[GivenName] [nvarchar](255) NULL,
	[Surname] [nvarchar](255) NULL,
	[Gender] [nvarchar](25) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Customer_UCI] UNIQUE NONCLUSTERED 
(
	[UCI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSession]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSession](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerLookupType] [nvarchar](25) NOT NULL,
	[PNR] [nvarchar](50) NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[FlightID] [bigint] NULL,
	[UtcCompletionTime] [datetime] NULL,
	[LocalCreationTime] [datetime] NULL,
	[LocalCompletionTime] [datetime] NULL,
	[MachineTime] [float] NULL,
	[PaxTime] [float] NULL,
	[DcsTime] [float] NULL,
	[BhsTime] [float] NULL,
	[CsaTime] [float] NULL,
 CONSTRAINT [PK_CustomerSession] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSessionTimeOnEachScreen]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSessionTimeOnEachScreen](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[PageTypeID] [int] NOT NULL,
	[StepNo] [int] NULL,
	[Duration] [float] NOT NULL,
	[PaxActionID] [int] NULL,
	[OrdinalNo] [int] NULL,
	[MachineTime] [float] NULL,
	[PaxTime] [float] NULL,
	[DcsTime] [float] NULL,
	[BhsTime] [float] NULL,
	[CsaTime] [float] NULL,
 CONSTRAINT [PK_CustomerSessionTimeOnEachScreen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcessDetailsLog]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcessDetailsLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[TotalExcessValue] [money] NOT NULL,
	[IsExcessByWeight] [bit] NOT NULL,
	[NumberOfExcessWeight] [int] NOT NULL,
	[ExcessByWeightChargeRate] [money] NOT NULL,
	[ExcessByWeightChargeCurrency] [varchar](5) NULL,
	[IsExcessByPieces] [bit] NOT NULL,
	[NumberOfExcessPieces] [int] NOT NULL,
	[ExcessByPiecesChargeRate] [money] NOT NULL,
	[ExcessByPiecesChargeCurrency] [varchar](5) NULL,
	[IsExcessByOtherType] [bit] NOT NULL,
	[NumberOfExcessByOtherType] [int] NOT NULL,
	[ExcessByOtherTypeChargeRate] [money] NOT NULL,
	[ExcessByOtherTypeChargeCurrency] [varchar](5) NULL,
	[IsHeavyCharge] [bit] NOT NULL,
	[NumberOfHeavyChargeItems] [int] NOT NULL,
	[ExcessByHeavyChargeRate] [money] NOT NULL,
	[ExcessByHeavyChargeCurrency] [varchar](5) NULL,
	[IsOtherHeavyChargeType] [bit] NOT NULL,
	[NumberOfOtherHeavyChargeItems] [int] NOT NULL,
	[ExcessByOtherHeavyChargeRate] [money] NOT NULL,
	[ExcessByOtherHeavyChargeCurrency] [varchar](5) NULL,
	[WaiverCode] [nvarchar](20) NULL,
	[ExcessWeightToWaiver] [decimal](10, 2) NULL,
	[WaiverAmount] [money] NULL,
	[ExcessAlreadyPaid] [money] NULL,
	[ExcessAlreadyInvoiced] [money] NULL,
	[ExcessAgreedToPayThisTransaction] [money] NULL,
	[ExcessWaivedThisTransaction] [money] NULL,
	[ExcessOverrideStaffCardNumber] [nvarchar](20) NULL,
	[ExcessOverrideStaffSurname] [nvarchar](20) NULL,
	[ExcessOverrideStaffGivenName] [nvarchar](20) NULL,
	[ExcessTransactionCompleted] [bit] NOT NULL,
	[ExcessTransactionAborted] [bit] NOT NULL,
 CONSTRAINT [PK_ExcessDetailsLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcessTierLog]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcessTierLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[ChargeRateMoney] [money] NOT NULL,
	[ChargeValueMoney] [money] NOT NULL,
	[ChargeCurrency] [varchar](5) NULL,
	[Origin] [varchar](3) NULL,
	[Destination] [varchar](3) NULL,
	[Company] [varchar](5) NULL,
	[Flightnumber] [int] NOT NULL,
	[IsExcessByWeight] [bit] NOT NULL,
	[NumberOfExcessWeight] [int] NOT NULL,
	[ExcessByWeightChargeRate] [money] NOT NULL,
	[ExcessByWeightChargeCurrency] [varchar](5) NULL,
	[IsExcessByPieces] [bit] NOT NULL,
	[NumberOfExcessPieces] [int] NOT NULL,
	[ExcessByPiecesChargeRate] [money] NOT NULL,
	[ExcessByPiecesChargeCurrency] [varchar](5) NULL,
	[IsExcessByOtherType] [bit] NOT NULL,
	[NumberOfExcessByOtherType] [int] NOT NULL,
	[ExcessByOtherTypeChargeRate] [money] NOT NULL,
	[ExcessByOtherTypeChargeCurrency] [varchar](5) NULL,
	[IsHeavyCharge] [bit] NOT NULL,
	[NumberOfHeavyChargeItems] [int] NOT NULL,
	[ExcessByHeavyChargeRate] [money] NOT NULL,
	[ExcessByHeavyChargeCurrency] [varchar](5) NULL,
	[IsOtherHeavyChargeType] [bit] NOT NULL,
	[NumberOfOtherHeavyChargeItems] [int] NOT NULL,
	[ExcessByOtherHeavyChargeRate] [money] NOT NULL,
	[ExcessByOtherHeavyChargeCurrency] [varchar](5) NULL,
 CONSTRAINT [PK_ExcessTierLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaultType]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaultType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_FaultType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MarketingCarrier] [nvarchar](25) NOT NULL,
	[FlightNumber] [nvarchar](25) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[BoardPoint] [nvarchar](25) NULL,
	[OffPoint] [nvarchar](25) NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Flight_MarketingCarrier_FlightNumber_DepartureDate] UNIQUE NONCLUSTERED 
(
	[MarketingCarrier] ASC,
	[FlightNumber] ASC,
	[DepartureDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrequentFlyer]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrequentFlyer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[Carrier] [nvarchar](50) NULL,
	[Number] [nvarchar](50) NULL,
	[CmTierCode] [char](4) NULL,
	[AirlinePriority] [smallint] NULL,
	[Description] [nvarchar](50) NULL,
	[DoNotPrintInReceipt] [bit] NULL,
 CONSTRAINT [PK_FrequentFlyer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagInjectionLog]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagInjectionLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[HeavyTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeavyTagInjectionLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagPrintLog]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagPrintLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[HeavyTagPrintScreenTypeID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HeavyTagPrintLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagPrintScreenType]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagPrintScreenType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HeavyTagPrintScreenType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_HeavyTagPrintScreenType_ShortName] UNIQUE NONCLUSTERED 
(
	[ShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadAntenna]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadAntenna](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadLog]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadStep]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_HeavyTagReadStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadSuccessData]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[HeavyTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeavyTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_HeavyTagReadSuccessData_HeavyTagReadLogID] UNIQUE NONCLUSTERED 
(
	[HeavyTagReadLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadWorkflowStep]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageType]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_PageType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperBoardPassLookup]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperBoardPassLookup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[BoardPoint] [nvarchar](25) NOT NULL,
	[OffPoint] [nvarchar](25) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[OperatingCarrier] [nvarchar](25) NOT NULL,
	[FlightNumber] [nvarchar](25) NOT NULL,
	[SequenceNumber] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_PaperBoardPassLookup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_PaperBoardPassLookup_CustomerSessionID] UNIQUE NONCLUSTERED 
(
	[CustomerSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadLog]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_PaperTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadScanner]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadScanner](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[ClvScannerTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_PaperTagReadScanner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadStep]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_PaperTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_PaperTagReadStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadSuccessData]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[LicensePlate] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaperTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_PaperTagReadSuccessData_PaperTagReadLogID] UNIQUE NONCLUSTERED 
(
	[PaperTagReadLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadWorkflowStep]    Script Date: 4/2/2019 1:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_PaperTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassportInfo]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassportInfo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[DocumentNumber] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [date] NULL,
	[Expiry] [date] NULL,
	[Issuer] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[IsPassportPhotoRetrieved] [bit] NULL,
	[IsRFIDPhoto] [bit] NULL,
	[IsVerifiedSucessfully] [bit] NULL,
	[LocalCreationTime] [datetime] NULL,
 CONSTRAINT [PK_PassportInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadAntenna]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadAntenna](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_QBagTagReadAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadLog]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_QBagTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadStep]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_QBagTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagReadStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadSuccessData]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[QBagTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_QBagTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagReadSuccessData_QBagTagReadLogID] UNIQUE NONCLUSTERED 
(
	[QBagTagReadLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadWorkflowStep]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_QBagTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteAntenna]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteAntenna](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteLog]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasWriteSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteStep]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagWriteStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteSuccessData]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[QBagTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_QBagTagWriteSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagWriteSuccessData_QBagTagWriteLogID] UNIQUE NONCLUSTERED 
(
	[QBagTagWriteLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteWorkflowStep]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QCardLookup]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QCardLookup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[FrequentFlyerCarrier] [nvarchar](25) NOT NULL,
	[FrequentFlyerNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QCardLookup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QCardLookup_CustomerSessionID] UNIQUE NONCLUSTERED 
(
	[CustomerSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RfidAntennaType]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RfidAntennaType](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RfidAntennaType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_RfidAntennaType_ShortName] UNIQUE NONCLUSTERED 
(
	[ShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreenActionType]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreenActionType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[ShortName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_ScreenAction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VersionCode] [nvarchar](25) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcDeploymentDate] [datetime] NOT NULL,
	[LocalDeploymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Version] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Version_VersionCode] UNIQUE NONCLUSTERED 
(
	[VersionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AbdStateHistory_AbdStationID]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AbdStateHistory_AbdStationID] ON [dbo].[AbdStateHistory]
(
	[AbdStationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AbdStateHistory_UtcTime]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AbdStateHistory_UtcTime] ON [dbo].[AbdStateHistory]
(
	[UtcTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bag_BaggageGroupID]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bag_BaggageGroupID] ON [dbo].[Bag]
(
	[BaggageGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bag_UBI]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bag_UBI] ON [dbo].[Bag]
(
	[UBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BaggageGroup_BaggageReference]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_BaggageGroup_BaggageReference] ON [dbo].[BaggageGroup]
(
	[BaggageReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BagWeightUpdate_BagID]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_BagWeightUpdate_BagID] ON [dbo].[BagWeightUpdate]
(
	[BagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BagWeightUpdate_CustomerSessionID]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_BagWeightUpdate_CustomerSessionID] ON [dbo].[BagWeightUpdate]
(
	[CustomerSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BagWeightUpdate_Weight]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_BagWeightUpdate_Weight] ON [dbo].[BagWeightUpdate]
(
	[Weight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerSession_AbdStationID]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerSession_AbdStationID] ON [dbo].[CustomerSession]
(
	[AbdStationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerSession_CustomerID]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerSession_CustomerID] ON [dbo].[CustomerSession]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BagDrop_CustomerSessionID]    Script Date: 4/2/2019 1:36:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_BagDrop_CustomerSessionID] ON [dbo].[CustomerSessionTimeOnEachScreen]
(
	[CustomerSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_Zone]  DEFAULT (N'') FOR [Zone]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_Area]  DEFAULT (N'') FOR [Area]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_SubArea]  DEFAULT (N'') FOR [SubArea]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_MachineTime]  DEFAULT ((0)) FOR [MachineTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_PaxTime]  DEFAULT ((0)) FOR [PaxTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_DcsTime]  DEFAULT ((0)) FOR [DcsTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_BhsTime]  DEFAULT ((0)) FOR [BhsTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_CsaTime]  DEFAULT ((0)) FOR [CsaTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_MachineTime]  DEFAULT ((0)) FOR [MachineTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_PaxTime]  DEFAULT ((0)) FOR [PaxTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_DcsTime]  DEFAULT ((0)) FOR [DcsTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_BhsTime]  DEFAULT ((0)) FOR [BhsTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_CsaTime]  DEFAULT ((0)) FOR [CsaTime]
GO
ALTER TABLE [dbo].[ExcessDetailsLog] ADD  DEFAULT ((0)) FOR [ExcessTransactionCompleted]
GO
ALTER TABLE [dbo].[ExcessDetailsLog] ADD  DEFAULT ((0)) FOR [ExcessTransactionAborted]
GO
ALTER TABLE [dbo].[ABDErrorLog]  WITH CHECK ADD  CONSTRAINT [FK_ABDErrorLog_ABDStation] FOREIGN KEY([ABDStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[ABDErrorLog] CHECK CONSTRAINT [FK_ABDErrorLog_ABDStation]
GO
ALTER TABLE [dbo].[ABDErrorLog]  WITH CHECK ADD  CONSTRAINT [FK_ABDErrorLog_FaultType] FOREIGN KEY([FaultTypeID])
REFERENCES [dbo].[FaultType] ([ID])
GO
ALTER TABLE [dbo].[ABDErrorLog] CHECK CONSTRAINT [FK_ABDErrorLog_FaultType]
GO
ALTER TABLE [dbo].[AbdStateHistory]  WITH CHECK ADD  CONSTRAINT [FK_AbdStateHistory_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[AbdStateHistory] CHECK CONSTRAINT [FK_AbdStateHistory_AbdStationID]
GO
ALTER TABLE [dbo].[Bag]  WITH CHECK ADD  CONSTRAINT [FK_Bag_BaggageGroupID] FOREIGN KEY([BaggageGroupID])
REFERENCES [dbo].[BaggageGroup] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bag] CHECK CONSTRAINT [FK_Bag_BaggageGroupID]
GO
ALTER TABLE [dbo].[BagWeightUpdate]  WITH CHECK ADD  CONSTRAINT [FK_BagWeightUpdate_BagID] FOREIGN KEY([BagID])
REFERENCES [dbo].[Bag] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BagWeightUpdate] CHECK CONSTRAINT [FK_BagWeightUpdate_BagID]
GO
ALTER TABLE [dbo].[BagWeightUpdate]  WITH CHECK ADD  CONSTRAINT [FK_BagWeightUpdate_CustomerSessionID] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[BagWeightUpdate] CHECK CONSTRAINT [FK_BagWeightUpdate_CustomerSessionID]
GO
ALTER TABLE [dbo].[CMOperationHistory]  WITH CHECK ADD  CONSTRAINT [FK_CMOperationHistory_AbdStation] FOREIGN KEY([ABDStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[CMOperationHistory] CHECK CONSTRAINT [FK_CMOperationHistory_AbdStation]
GO
ALTER TABLE [dbo].[CustomerSession]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSession_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[CustomerSession] CHECK CONSTRAINT [FK_CustomerSession_AbdStationID]
GO
ALTER TABLE [dbo].[CustomerSession]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSession_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[CustomerSession] CHECK CONSTRAINT [FK_CustomerSession_CustomerID]
GO
ALTER TABLE [dbo].[CustomerSession]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSession_FlightID] FOREIGN KEY([FlightID])
REFERENCES [dbo].[Flight] ([ID])
GO
ALTER TABLE [dbo].[CustomerSession] CHECK CONSTRAINT [FK_CustomerSession_FlightID]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_CustomerSession] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] CHECK CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_CustomerSession]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_PageType] FOREIGN KEY([PageTypeID])
REFERENCES [dbo].[PageType] ([ID])
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] CHECK CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_PageType]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_ScreenActionType] FOREIGN KEY([PaxActionID])
REFERENCES [dbo].[ScreenActionType] ([ID])
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] CHECK CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_ScreenActionType]
GO
ALTER TABLE [dbo].[HeavyTagInjectionLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagInjectionLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagInjectionLog] CHECK CONSTRAINT [FK_HeavyTagInjectionLog_AbdStationID]
GO
ALTER TABLE [dbo].[HeavyTagPrintLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagPrintLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagPrintLog] CHECK CONSTRAINT [FK_HeavyTagPrintLog_AbdStationID]
GO
ALTER TABLE [dbo].[HeavyTagPrintLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagPrintLog_HeavyTagPrintScreenTypeID] FOREIGN KEY([HeavyTagPrintScreenTypeID])
REFERENCES [dbo].[HeavyTagPrintScreenType] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagPrintLog] CHECK CONSTRAINT [FK_HeavyTagPrintLog_HeavyTagPrintScreenTypeID]
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadAntenna_HeavyTagReadLogID] FOREIGN KEY([HeavyTagReadLogID])
REFERENCES [dbo].[HeavyTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna] CHECK CONSTRAINT [FK_HeavyTagReadAntenna_HeavyTagReadLogID]
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadAntenna_RfidAntennaTypeID] FOREIGN KEY([RfidAntennaTypeID])
REFERENCES [dbo].[RfidAntennaType] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna] CHECK CONSTRAINT [FK_HeavyTagReadAntenna_RfidAntennaTypeID]
GO
ALTER TABLE [dbo].[HeavyTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadLog] CHECK CONSTRAINT [FK_HeavyTagReadLog_AbdStationID]
GO
ALTER TABLE [dbo].[HeavyTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadLog_HeavyTagReadStepID] FOREIGN KEY([HeavyTagReadStepID])
REFERENCES [dbo].[HeavyTagReadStep] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadLog] CHECK CONSTRAINT [FK_HeavyTagReadLog_HeavyTagReadStepID]
GO
ALTER TABLE [dbo].[HeavyTagReadSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadSuccessData_HeavyTagReadLogID] FOREIGN KEY([HeavyTagReadLogID])
REFERENCES [dbo].[HeavyTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeavyTagReadSuccessData] CHECK CONSTRAINT [FK_HeavyTagReadSuccessData_HeavyTagReadLogID]
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep] CHECK CONSTRAINT [FK_HeavyTagReadWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadWorkflowStep_HeavyTagReadLogID] FOREIGN KEY([HeavyTagReadLogID])
REFERENCES [dbo].[HeavyTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep] CHECK CONSTRAINT [FK_HeavyTagReadWorkflowStep_HeavyTagReadLogID]
GO
ALTER TABLE [dbo].[PaperBoardPassLookup]  WITH CHECK ADD  CONSTRAINT [FK_PaperBoardPassLookup_CustomerSessionID] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[PaperBoardPassLookup] CHECK CONSTRAINT [FK_PaperBoardPassLookup_CustomerSessionID]
GO
ALTER TABLE [dbo].[PaperTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadLog] CHECK CONSTRAINT [FK_PaperTagReadLog_AbdStationID]
GO
ALTER TABLE [dbo].[PaperTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadLog_PaperTagReadStepID] FOREIGN KEY([PaperTagReadStepID])
REFERENCES [dbo].[PaperTagReadStep] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadLog] CHECK CONSTRAINT [FK_PaperTagReadLog_PaperTagReadStepID]
GO
ALTER TABLE [dbo].[PaperTagReadScanner]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadScanner_ClvScannerTypeID] FOREIGN KEY([ClvScannerTypeID])
REFERENCES [dbo].[ClvScannerType] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadScanner] CHECK CONSTRAINT [FK_PaperTagReadScanner_ClvScannerTypeID]
GO
ALTER TABLE [dbo].[PaperTagReadScanner]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadScanner_PaperTagReadLogID] FOREIGN KEY([PaperTagReadLogID])
REFERENCES [dbo].[PaperTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaperTagReadScanner] CHECK CONSTRAINT [FK_PaperTagReadScanner_PaperTagReadLogID]
GO
ALTER TABLE [dbo].[PaperTagReadSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadSuccessData_PaperTagReadLogID] FOREIGN KEY([PaperTagReadLogID])
REFERENCES [dbo].[PaperTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaperTagReadSuccessData] CHECK CONSTRAINT [FK_PaperTagReadSuccessData_PaperTagReadLogID]
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep] CHECK CONSTRAINT [FK_PaperTagReadWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadWorkflowStep_PaperTagReadLogID] FOREIGN KEY([PaperTagReadLogID])
REFERENCES [dbo].[PaperTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep] CHECK CONSTRAINT [FK_PaperTagReadWorkflowStep_PaperTagReadLogID]
GO
ALTER TABLE [dbo].[PassportInfo]  WITH CHECK ADD  CONSTRAINT [FK_PassportInfo_AbdStation] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[PassportInfo] CHECK CONSTRAINT [FK_PassportInfo_AbdStation]
GO
ALTER TABLE [dbo].[PassportInfo]  WITH CHECK ADD  CONSTRAINT [FK_PassportInfo_CustomerSession] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[PassportInfo] CHECK CONSTRAINT [FK_PassportInfo_CustomerSession]
GO
ALTER TABLE [dbo].[QBagTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadAntenna_QBagTagReadLogID] FOREIGN KEY([QBagTagReadLogID])
REFERENCES [dbo].[QBagTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagReadAntenna] CHECK CONSTRAINT [FK_QBagTagReadAntenna_QBagTagReadLogID]
GO
ALTER TABLE [dbo].[QBagTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadAntenna_RfidAntennaTypeID] FOREIGN KEY([RfidAntennaTypeID])
REFERENCES [dbo].[RfidAntennaType] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadAntenna] CHECK CONSTRAINT [FK_QBagTagReadAntenna_RfidAntennaTypeID]
GO
ALTER TABLE [dbo].[QBagTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadLog] CHECK CONSTRAINT [FK_QBagTagReadLog_AbdStationID]
GO
ALTER TABLE [dbo].[QBagTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadLog_QBagTagReadStepID] FOREIGN KEY([QBagTagReadStepID])
REFERENCES [dbo].[QBagTagReadStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadLog] CHECK CONSTRAINT [FK_QBagTagReadLog_QBagTagReadStepID]
GO
ALTER TABLE [dbo].[QBagTagReadSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadSuccessData_QBagTagReadLogID] FOREIGN KEY([QBagTagReadLogID])
REFERENCES [dbo].[QBagTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagReadSuccessData] CHECK CONSTRAINT [FK_QBagTagReadSuccessData_QBagTagReadLogID]
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep] CHECK CONSTRAINT [FK_QBagTagReadWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadWorkflowStep_QBagTagReadLogID] FOREIGN KEY([QBagTagReadLogID])
REFERENCES [dbo].[QBagTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep] CHECK CONSTRAINT [FK_QBagTagReadWorkflowStep_QBagTagReadLogID]
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteAntenna_QBagTagWriteLogID] FOREIGN KEY([QBagTagWriteLogID])
REFERENCES [dbo].[QBagTagWriteLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna] CHECK CONSTRAINT [FK_QBagTagWriteAntenna_QBagTagWriteLogID]
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteAntenna_RfidAntennaTypeID] FOREIGN KEY([RfidAntennaTypeID])
REFERENCES [dbo].[RfidAntennaType] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna] CHECK CONSTRAINT [FK_QBagTagWriteAntenna_RfidAntennaTypeID]
GO
ALTER TABLE [dbo].[QBagTagWriteLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteLog] CHECK CONSTRAINT [FK_QBagTagWriteLog_AbdStationID]
GO
ALTER TABLE [dbo].[QBagTagWriteLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteLog_QBagTagWriteStepID] FOREIGN KEY([QBagTagWriteStepID])
REFERENCES [dbo].[QBagTagWriteStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteLog] CHECK CONSTRAINT [FK_QBagTagWriteLog_QBagTagWriteStepID]
GO
ALTER TABLE [dbo].[QBagTagWriteSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteSuccessData_QBagTagWriteLogID] FOREIGN KEY([QBagTagWriteLogID])
REFERENCES [dbo].[QBagTagWriteLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagWriteSuccessData] CHECK CONSTRAINT [FK_QBagTagWriteSuccessData_QBagTagWriteLogID]
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep] CHECK CONSTRAINT [FK_QBagTagWriteWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteWorkflowStep_QBagTagWriteLogID] FOREIGN KEY([QBagTagWriteLogID])
REFERENCES [dbo].[QBagTagWriteLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep] CHECK CONSTRAINT [FK_QBagTagWriteWorkflowStep_QBagTagWriteLogID]
GO
ALTER TABLE [dbo].[QCardLookup]  WITH CHECK ADD  CONSTRAINT [FK_QCardLookup_CustomerSessionID] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[QCardLookup] CHECK CONSTRAINT [FK_QCardLookup_CustomerSessionID]
GO
/****** Object:  StoredProcedure [dbo].[GetAirlines]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[GetAirlines]
AS
BEGIN
	Select  
		Distinct MarketingCarrier as Airline  
	from Flight
END
GO
/****** Object:  StoredProcedure [dbo].[GetAvailabilityData]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetAvailabilityData]
	@FromTime datetime,
	@ToTime datetime,
	@AbdStationID int,
	@AbdStatesString varchar(4000),
	@StateTimeSlotsString varchar(4000)

AS
 
--DateTimeRange
;WITH DateTimeRange AS 
(
	SELECT @FromTime AS Date, 
		@FromTime AS FromTime,
		DATEADD(HOUR, 1, @FromTime) AS ToTime,
		DATEPART(HOUR, @FromTime) + 1 AS TimeSlotHourlyID
	UNION ALL
	SELECT DATEADD(DAY, 0, DATEDIFF(DAY, 0, DATEADD(HOUR, 1, FromTime))),
		DATEADD(HOUR, 1, FromTime),
		DATEADD(HOUR, 1, ToTime),
		DATEPART(HOUR, DATEADD(HOUR, 1, FromTime)) + 1
	FROM DateTimeRange
	WHERE ToTime < @ToTime
)

SELECT CONVERT(DATE,Date) AS Date, @AbdStationID AS ABDStationID, StateTimeSlots.ID AS StateTimeSlotID,
	AbdStates.ID AS ABDStateID, AbdStates.State AS ABDState,
	dbo.CalculateSecondsInState (@AbdStationID, AbdStates.State, DateTimeRange.FromTime, DateTimeRange.ToTime) / 60.0 AS MinutesInState
FROM DateTimeRange
JOIN dbo.GetStateTimeSlotsFromString(@StateTimeSlotsString) AS StateTimeSlots ON DateTimeRange.TimeSlotHourlyID = StateTimeSlots.TimeSlotHouryID
CROSS JOIN dbo.GetABDStatesFromString(@AbdStatesString) AS AbdStates
ORDER BY Date, StateTimeSlots.ID, AbdStates.ID
OPTION (MAXRECURSION 0)	

GO
/****** Object:  StoredProcedure [dbo].[GetCurrentVersion]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[GetCurrentVersion]
	@CurrentVersion nvarchar(25) Output
As
Begin
	Set @CurrentVersion = (Select Top 1 [VersionCode] From dbo.[Version] Order By [ID] Desc)
End
GO
/****** Object:  StoredProcedure [dbo].[LoadCMOperationLog]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LoadCMOperationLog]
	@NumberOfLastMinutes smallint
AS
	SELECT CMOperationHistory.MessageType, CMOperationHistory.MessageSent, CMOperationHistory.MessageTime, 
		CMOperationHistory.MessageSize, CMOperationHistory.SessionID, CMOperationHistory.Result, 
		dbo.GetAbdName(ABDStation.PortCode, ABDStation.Identifier, ABDStation.Terminal, ABDStation.Area, ABDStation.SubArea)  AS ABDStation
	FROM CMOperationHistory
	JOIN ABDStation 
	ON CMOperationHistory.ABDStationID = ABDStation.ID
	WHERE DATEDIFF(MINUTE,MessageSent,GETDATE()) <= @NumberOfLastMinutes
	ORDER BY CMOperationHistory.ID DESC
	



GO
/****** Object:  StoredProcedure [dbo].[LoadCMOperationLogWithAirline]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[LoadCMOperationLogWithAirline]
       @NumberOfLastMinutes smallint,
       @Airline nvarchar(20)
AS
BEGIN
              IF @Airline = '0'
              BEGIN
                     SELECT CMOperationHistory.MessageType, CMOperationHistory.MessageSent, CMOperationHistory.MessageTime, 
                           CMOperationHistory.MessageSize, CMOperationHistory.SessionID, CMOperationHistory.Result, 
                           dbo.GetAbdName(ABDStation.PortCode, ABDStation.Identifier, ABDStation.Terminal, ABDStation.Area, ABDStation.SubArea)  AS ABDStation,
                           CMOperationHistory.AirlineCode as Airline
                     FROM CMOperationHistory
                     JOIN ABDStation 
                     ON CMOperationHistory.ABDStationID = ABDStation.ID
                     WHERE DATEDIFF(MINUTE,MessageSent,GETDATE()) <= @NumberOfLastMinutes
                     ORDER BY CMOperationHistory.ID DESC
              END
              ELSE
              BEGIN
                     SELECT CMOperationHistory.MessageType, CMOperationHistory.MessageSent, CMOperationHistory.MessageTime, 
                           CMOperationHistory.MessageSize, CMOperationHistory.SessionID, CMOperationHistory.Result, 
                           dbo.GetAbdName(ABDStation.PortCode, ABDStation.Identifier, ABDStation.Terminal, ABDStation.Area, ABDStation.SubArea)  AS ABDStation,
                           CMOperationHistory.AirlineCode as Airline
                     FROM CMOperationHistory
                     JOIN ABDStation 
                     ON CMOperationHistory.ABDStationID = ABDStation.ID
                     WHERE DATEDIFF(MINUTE,MessageSent,GETDATE()) <= @NumberOfLastMinutes
                     AND AirlineCode = @Airline
                     ORDER BY CMOperationHistory.ID DESC
              END
END
 
GO
/****** Object:  StoredProcedure [dbo].[RecordVersionDeployment]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[RecordVersionDeployment]
	@VersionCode nvarchar(25),
	@Description nvarchar(255) = '',
	@UtcDeploymentDate datetime = NULL,
	@LocalDeploymentDate datetime = NULL
As
Begin
	If (@UtcDeploymentDate Is NULL) Begin
		Set @UtcDeploymentDate = GetUtcDate()
	End
	If (@LocalDeploymentDate Is NULL) Begin
		Set @LocalDeploymentDate = GetDate()
	End

	-- get last version id
	Declare @LastVersionId int
	Select Top 1 @LastVersionId = Max(ID) From dbo.[Version]

	-- get last version code
	Declare @LastVersionCode nvarchar(25)
	Select Top 1 @LastVersionCode = VersionCode From dbo.[Version] Where ID = @LastVersionId

	-- check if last version code is the same
	If (@VersionCode = @LastVersionCode) Begin
		-- update existing version entry
		Update dbo.[Version] Set
			[Description] = @Description,
			UtcDeploymentDate = @UtcDeploymentDate,
			LocalDeploymentDate = @LocalDeploymentDate
		Where
			ID = @LastVersionId
	End
	Else Begin
		-- insert new version entry
		Insert Into dbo.[Version] (VersionCode, [Description], UtcDeploymentDate, LocalDeploymentDate)
		Values (@VersionCode, @Description, @UtcDeploymentDate, @LocalDeploymentDate)
	End
End
GO
/****** Object:  StoredProcedure [dbo].[RemoveVersionDeployment]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[RemoveVersionDeployment]
	@VersionCode nvarchar(25)
As
Begin
	Delete From dbo.[Version] Where VersionCode = @VersionCode
End
GO
/****** Object:  StoredProcedure [dbo].[WaitingTimeEachScreenInSession]    Script Date: 4/2/2019 1:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[WaitingTimeEachScreenInSession]
	@CustomerSessionID bigint
AS

	Select *  INTO #CustomerSessionTimeOnEachScreen
	FROm CustomerSessionTimeOnEachScreen C
	WHERE c.CustomerSessionID = @CustomerSessionID

	SELECT c.ID, p.Code AS PageTypeCode,p.ShortName AS PageTypeName, c.StepNo, c.Duration, s.Code AS PaxActionCode, s.ShortName AS PaxActionName, c.OrdinalNo
	FROM #CustomerSessionTimeOnEachScreen c
	JOIN PageType p
	ON c.PageTypeID = p.ID
	JOIN ScreenActionType s
	ON c.PaxActionID = s.ID
	WHERE c.CustomerSessionID = @CustomerSessionID
GO
USE [master]
GO
