 select * from tblInstrument where instrumentid = 6229 

 declare @EMAInstrumentID int
 select top 1 * from tblPOEOLicenceEnvironmentalRiskLevel where InstrumentID  = 6229 
 order by DateCreated desc

 select top 1 @EMAInstrumentID = EMAInstrumentID from tblPOEOLicenceEnvironmentalRiskLevel where InstrumentID  = 6229 
 order by DateCreated desc

 select * from tblriskassessment where instrumentid = @EMAInstrumentID

 declare @EnvironmentalManagementCategoryID int 
 select @EnvironmentalManagementCategoryID = EnvironmentalManagementCategoryID from tblriskassessment where instrumentid = 4003123

 select * from tblEMAssessmentThreshold 
 where EnvironmentalManagementCategoryID = @EnvironmentalManagementCategoryID

 select * from tblClassification where ClassificationDomainID = 77