/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [OnlinePOEOApplicationID]
      ,[POEOApplicationNumber]
	   ,b.[ApplicationCode]
      ,a.[OnlineApplicationCodeID]
      ,[ApplicationStatusID]
      ,[LicenceXML]
      ,[ApplicationDocument]
      ,[UploadedSignatureDocument]
      ,[DateStatusChnaged]
      ,[ReasonForStatusChanged]
      ,[AdminFee]
      ,[PaymentTypeID]
      ,[CreditCardPaymentDate]
      ,[CreditCardPaymentReceiptNo]
      ,[CreditCardPaymentConfirmedFlag]
      ,[ElectronicSignatureSubmittedFlag]
      ,[InstrumentID]
      ,[DocumentUploadedFlag]
 
	 
  FROM [PALMSDB].[dbo].[tblOnlinePOEOApplication] a inner join [tblOnlineApplicationCode] b on a.[OnlineApplicationCodeID] = b.[OnlineApplicationCodeID]
  WHERE a.[POEOApplicationNumber] = 'POEOA4148'