USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspSaveLandTitleEPAPortal]    Script Date: 13/11/2015 1:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--The purpose we build this one is for EPA Business Portal stored procedure: uspSubmitPOEOApplication
--We have to save LandTitle two times and this original SP: uspSaveLandTitle will call delete old records under current location
--This is not correct we need keep those old ones
--Commented by Eric He 30-10-2015 Friday

ALTER PROCEDURE [dbo].[uspSaveLandTitleEPAPortal]
	@LocationId int,
	@tblLandTitle tblLandTitleType READONLY,
	@tblLandTitleLGA tblLandTitleLGAType READONLY,
	@tblLandTitleElectorate tblLandTitleElectorateType READONLY,
	@tblLandTitleCatchment tblLandTitleCatchmentType READONLY,
	@tblLandTitleSubCatchment tblLandTitleSubCatchmentType READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @INSERT bit		
	DECLARE @LandTitleID int
	DECLARE @NewLandTitleID int

	DECLARE @Cnt int
	DECLARE @CntKey int

	DECLARE @LandTitleCnt int
	DECLARE @RecordCnt int
	DECLARE @RtnVal int
	--DECLARE @tblLandTitleTemp tblLandTitleType
	DECLARE @DeletedRecordCnt int
	DECLARE @DeletedLandTitleId int
	DECLARE @tblLandTitleSub tblLandTitleType
	DECLARE @tblLandTitleLGASub tblLandTitleLGAType
	DECLARE @tblLandTitleElectorateSub tblLandTitleElectorateType
	DECLARE @tblLandTitleCatchmentSub tblLandTitleCatchmentType
	DECLARE @tblLandTitleSubCatchmentSub tblLandTitleSubCatchmentType
	
 
	--If there is no record in dataset do not proceed
	SELECT @LandTitleCnt = COUNT(*) FROM @tblLandTitle
	IF @LandTitleCnt <= 0
		RETURN 0
		
	-- loop through Land title records
	select @CntKey = SNo from @tblLandTitle

	SET @Cnt = 1
	WHILE @Cnt <= @LandTitleCnt
		BEGIN
			
			SELECT @LandTitleID = LandTitleID FROM @tblLandTitle 
			WHERE Sno =  @CntKey

			--Check if record already exists in tblLandSite Table
			--SELECT @RecordCnt = COUNT(*) FROM tblLandTitle
			--WHERE LandTitleID = @LandTitleID
			
			--IF @RecordCnt = 0
			--	SELECT @INSERT = 1
			--ELSE
			--	SELECT @INSERT = 0
			--Add tblLandSite record
		    
			SELECT @INSERT = 1

			IF 	@INSERT = 1 
				BEGIN

					INSERT INTO tblLandTitle(LocationID
											,IdentifiedByLotDPFlag
											,SpatialInfoAvailable
											,LotNumber
											,DPNumber
											,SectionNumber
											,Easting
											,Northing
											,ZoneNumber
											,DateCreated
											,CreatedBySystemUserID,
											LotGeometry,
											LotGeometryBlob,
											LotObjectID,
											PointLatitude,
											PointLongitude,											 
											PartLotFlag)
					SELECT 	@LocationID
							,IdentifiedByLotDPFlag
							,SpatialInfoAvailable
							,LotNumber
							,DPNumber
							,SectionNumber
							,Easting
							,Northing
							,ZoneNumber
							,GetDate()
							,CreatedBySystemUserID,
							LotGeometry,
							LotGeometryBlob,
							LotObjectID,
							PointLatitude,
							PointLongitude,						 
							PartLotFlag
					FROM @tblLandTitle Where Sno = @CntKey
					
					Set @NewLandTitleID = (SELECT @@IDENTITY) 
					
					IF((SELECT IdentifiedByLotDPFlag FROM tblLandTitle WHERE LandTitleID = @NewLandTitleID) = 0)
						BEGIN
							UPDATE tblLandTitle 
							SET LotGeometryBlob = dbo.ufn_ConvertPointToPoly(PointLatitude, PointLongitude)
							WHERE LandTitleID = @NewLandTitleID AND PointLatitude IS NOT NULL
						END
					--IF((SELECT IdentifiedByLotDPFlag FROM @tblLandTitle Where Sno = @Cnt) = 0)
					--	BEGIN
					--		INSERT INTO tblLandTitlePoint
					--		(LandTitleID, PointGeometryBlob, DateCreated, CreatedBySystemUserID )
					--		SELECT  @NewLandTitleID, dbo.ufn_GetPointGeometry(PointLatitude , PointLongitude), GETDATE(),1
					--		FROM @tblLandTitle Where Sno = @Cnt
					--	END
				END 
			ELSE ----Update tblLandSite record
				BEGIN
				    
					UPDATE tblLandTitle SET LocationID = @LocationID
											,IdentifiedByLotDPFlag = Temp.IdentifiedByLotDPFlag
											,SpatialInfoAvailable = Temp.SpatialInfoAvailable
											,LotNumber = Temp.LotNumber
											,DPNumber = Temp.DPNumber
											,SectionNumber = Temp.SectionNumber
											,Easting = Temp.Easting
											,Northing = Temp.Northing
											,ZoneNumber = Temp.ZoneNumber
											,DateUpdated = GetDate()
											,UpdatedBySystemUserID = Temp.UpdatedBySystemUserID
											,LotGeometry = temp.LotGeometry
											,LotGeometryBlob = temp.LotGeometryBlob
											,LotObjectID = temp.LotObjectID
											,PointLatitude = temp.PointLatitude
											,PointLongitude = temp.PointLongitude
											,PartLotFlag = temp.PartLotFlag
					FROM tblLandTitle LT
					JOIN @tblLandTitle Temp ON LT.LandTitleID = Temp.LandTitleID
					WHERE LT.LandTitleID = @LandTitleID
					
					Set @NewLandTitleID = @LandTitleID
					
					IF((SELECT IdentifiedByLotDPFlag FROM tblLandTitle WHERE LandTitleID = @NewLandTitleID) = 0)
						BEGIN
							UPDATE tblLandTitle 
							SET LotGeometryBlob = dbo.ufn_ConvertPointToPoly(PointLatitude, PointLongitude)
							WHERE LandTitleID = @NewLandTitleID AND PointLatitude IS NOT NULL
						END
						
					--IF((SELECT IdentifiedByLotDPFlag FROM @tblLandTitle WHERE LandTitleID = @LandTitleID) = 0)
					--	BEGIN
					--		IF(EXISTS(SELECT * FROM tblLandTitlePoint WHERE LandTitleID = @LandTitleID))
					--			BEGIN
					--				UPDATE tblLandTitlePoint SET 
					--					PointGeometryBlob = dbo.ufn_GetPointGeometry(LTTEMP.PointLatitude , LTTEMP.PointLongitude),
					--					DateUpdated = GETDATE(),
					--					UpdatedBySystemUserID = 1									
					--				FROM tblLandTitlePoint LTP
					--					JOIN @tblLandTitle LTTEMP ON LTP.LandTitleID = LTTEMP.LandTitleID
					--				WHERE LTP.LandTitleID = @LandTitleID
					--			END
					--		ELSE
					--			BEGIN
					--				INSERT INTO tblLandTitlePoint
					--				(LandTitleID, PointGeometryBlob, DateCreated, CreatedBySystemUserID )
					--				SELECT  @LandTitleID, dbo.ufn_GetPointGeometry(PointLatitude , PointLongitude), GETDATE(),1
					--				FROM @tblLandTitle Where LandTitleID = @LandTitleID
					--			END							
					--	END
					--ELSE
					--	BEGIN
					--		DELETE FROM tblLandTitlePoint WHERE LandTitleID = @LandTitleID
					--	END
				END
				
			--Insert/Update LandTitleLGA record
			    DELETE FROM @tblLandTitleLGASub
				INSERT INTO @tblLandTitleLGASub(LandTitleLGAID
								,LandTitleID
								,LGAID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp)
				SELECT LandTitleLGAID
								,@NewLandTitleID
								,LGAID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp FROM @tblLandTitleLGA WHERE LandTitleID = @LandTitleID
							
				SET @RtnVal = 0
				--print 'newland' + cast(@NewLandTitleID as varchar(500))
				
				Exec @RtnVal = uspSaveLandTitleLGA @NewLandTitleID,@tblLandTitleLGASub
					IF @RtnVal < 0 RAISERROR ('Problem saving uspSaveLandTitleLGA' , 16, 1) 
						
				DELETE FROM @tblLandTitleElectorateSub
				INSERT INTO @tblLandTitleElectorateSub(LandTitleElectorateID
								,LandTitleID
								,ElectorateID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp)
				SELECT LandTitleElectorateID
								,@NewLandTitleID
								,ElectorateID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp FROM @tblLandTitleElectorate WHERE LandTitleID = @LandTitleID
								
				SET @RtnVal = 0	
				--Insert/Update LandTitleElectorate record
				Exec @RtnVal = uspSaveLandTitleElectorate @NewLandTitleID,@tblLandTitleElectorateSub
					IF @RtnVal < 0 RAISERROR ('Problem saving uspSaveLandTitleElectorate' , 16, 1)
					
				DELETE FROM @tblLandTitleCatchmentSub	 
				INSERT INTO @tblLandTitleCatchmentSub(LandTitleCatchmentID
								,LandTitleID
								,CatchmentID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp)
				SELECT LandTitleCatchmentID
								,@NewLandTitleID
								,CatchmentID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp FROM @tblLandTitleCatchment WHERE LandTitleID = @LandTitleID

				SET @RtnVal = 0
				--Insert/Update LandTitleCatchment record
				Exec @RtnVal = uspSaveLandTitleCatchment @NewLandTitleID,@tblLandTitleCatchmentSub
					IF @RtnVal < 0 RAISERROR ('Problem saving uspSaveLandTitleCatchment' , 16, 1) 	
				
				DELETE FROM @tblLandTitleSubCatchmentSub	 
				INSERT INTO @tblLandTitleSubCatchmentSub(LandTitleSubCatchmentID
								,LandTitleID
								,SubCatchmentID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp)
				SELECT LandTitleSubCatchmentID
								,@NewLandTitleID
								,SubCatchmentID
								,CreatedBySystemUserID
								,UpdatedBySystemUserID
								,RowTimestamp FROM @tblLandTitleSubCatchment WHERE LandTitleID = @LandTitleID
									
				SET @RtnVal = 0
				--Insert/Update LandTitleSubcatchment record
				Exec @RtnVal = uspSaveLandTitleSubCatchment @NewLandTitleID,@tblLandTitleSubCatchmentSub
					IF @RtnVal < 0 RAISERROR ('Problem saving uspSaveLandTitleSubCatchment' , 16, 1) 
					
			SET @Cnt = @Cnt + 1	
		END -- End of loop
			
	RETURN 0
	
	END TRY
  BEGIN CATCH
        
		DECLARE @ErrorMessage VARCHAR(2000)
			
		SET @ErrorMessage = dbo.ufn_GetErrorText()
						
		RAISERROR (@ErrorMessage , 16, 1)
		--RETURN -1
  END CATCH
END


