USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspOWTNewPremisesLicencesDataForBatchProcess]    Script Date: 6/01/2016 11:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
-- =======================================================================================
-- Author:		Eric He
-- Create date: 14/12/2015
-- Description:	Get POEO NEW PREMISES LIENCE data: AccountableParty, Location and AccountOperation for OWT integration process
-- =======================================================================================
ALTER PROCEDURE [dbo].[uspOWTNewPremisesLicencesDataForBatchProcess]
@InstrumentID INT
AS

BEGIN
		 
	    --SET NOCOUNT ON
	  BEGIN TRY
	    --1. AccountableParty Data ---------------------------------------------------------------------------------
		SELECT 	  
				OWTAccountableParty.[InstrumentID]
				,OWTAccountableParty.[AccountablePartyID] 
				,(CASE WHEN b.CompanyFlag = 1 THEN b.OrganisationName ELSE b.GivenName + case b.Middlename when null then '' when '' then '' else b.Middlename + ' ' end + b.Surname END) as TradingName
				,isnull(ltrim(rtrim(case ACN when null then (case ABN when null then '' when '' then '' else ABN end) when '' then (case ABN when null then '' when '' then '' else ABN end) else ACN end)), '') as ACN_ARBN
				,(case isnull(b.[EffectiveDateTo], '') when '' then 1 else 0 end) as ActiveFlag
				,isnull((select [Address] from tblAddress where AddressID = CASE WHEN b.CompanyFlag = 1 THEN d.AddressID ELSE b.AddressID END), '') as StreetAddress
				,isnull((select isnull([Suburb], '') from tblAddress where AddressID = CASE WHEN b.CompanyFlag = 1 THEN d.AddressID ELSE b.AddressID END), '') as Suburb
				,isnull((select isnull([Postcode], '') from tblAddress where AddressID = CASE WHEN b.CompanyFlag = 1 THEN d.AddressID ELSE b.AddressID END), '') as Postcode
				,isnull((select isnull([StateCode], '') from tblAddress where AddressID = CASE WHEN b.CompanyFlag = 1 THEN d.AddressID ELSE b.AddressID END), '') as StateCode
		FROM [dbo].[tblInstrumentAccountableParty] as OWTAccountableParty
		inner join tblAccountableParty b on OWTAccountableParty.AccountablePartyID = b.AccountablePartyID
		left outer join tblInstrumentContact c on OWTAccountableParty.InstrumentID = c.InstrumentID
		left outer join tblContact d on c.ContactID = d.ContactID
		WHERE OWTAccountableParty.InstrumentID = @InstrumentID and c.PostalContactFlag = 1

	    --2. Site Data ---------------------------------------------------------------------------------
		select
			OWTLocation.InstrumentID,
			OWTLocation.LocationID,
			(case isnull(b.LocationName, '') when '' then dbo.ufn_GetNameByAccountablePartyId(d.AccountablePartyID) + (case isnull(c.Suburb, '') when '' then '' else ' ' + c.Suburb end) else b.LocationName end) as SiteName,
			c.[Address]  as StreetAddress,
			c.[Suburb]  as Suburb,
			c.[Postcode]  as PostCode,
			c.[StateCode]  as StateCode
		from tblInstrumentLocation OWTLocation 
		inner join tblLocation b on OWTLocation.LocationID = b.LocationID 
		left outer join tblAddress c on b.AddressID = c.AddressID 
		left outer join tblInstrumentAccountableParty d on OWTLocation.InstrumentID = (select top 1 d.InstrumentID from tblInstrumentAccountableParty where InstrumentID = OWTLocation.InstrumentID)
		where OWTLocation.InstrumentID  = @InstrumentID and b.PremisesFlag = 1

	    --3. AccountOperation Data ---------------------------------------------------------------------------------
		select top 1 
			   b.[ContactID]
			  ,(case b.[TitleID] 
				when null then 0
				when 548 then 7
				when 551 then 8
				when 549 then 9
				when 550 then 10
				when 552 then 11
				when 890 then 12
				when 891 then 13
				when 0 then 0
			   end)
			  as TitleCodeID
			  ,b.[Surname]
			  ,b.[Middlename]
			  ,b.[GivenName]
			  ,b.[OrganisationName]        
			  ,b.[Phone]
			  ,b.[Mobile]
			  ,b.[AfterHoursNumber]
			  ,b.[Fax]
			  ,b.[Email]
			  ,b.[AddressID]
			  ,c.[Address] as StreetAddress
			  ,c.[Suburb] as Suburb
			  ,c.[Postcode] as PostCode
			  ,c.[StateCode] as StateCode
		 from tblInstrumentContact OWTContact
		inner join tblContact b on OWTContact.ContactID = b.ContactID
		left outer join tblAddress c on b.AddressID = c.AddressID
		where OWTContact.InstrumentID = @InstrumentID and 
		(isnull(b.phone, '') <> '' or (b.Surname is not null and b.GivenName is not null))
				
	    --4. For OWT Allowable waste codes Data Integration ---------------------------------------------------------------------------------
		select InstrumentID, WasteCode from vwPALMSOWTPOEOLicenceWaste as OWTPOEOLicenceWaste
		where InstrumentID = @InstrumentID
								 
	  END TRY

	  BEGIN CATCH

			DECLARE @ErrorMessage VARCHAR(2000)
			SET @ErrorMessage = dbo.ufn_GetErrorText()
			RAISERROR (@ErrorMessage , 16, 1)

	  END CATCH

END

