USE [WDS]
GO
/****** Object:  StoredProcedure [dbo].[uspPALMSAccountOperationCreateUpdate]    Script Date: 5/01/2016 10:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspPALMSAccountOperationCreateUpdate] 
(	
    @InstrumentID            int,
	@CustomerID              int,
	@SiteID                  int,
	@ContactID               int,
	@TitleCodeID             int,

	@Surname                 varchar(50), 
	@Middlename              varchar(50),
	@GivenName               varchar(50),
	@OrganisationName        varchar(128),
	@Phone                   varchar(20),
	@Mobile                  varchar(20),
	@AfterHoursNumber        varchar(20),
	@Fax			         varchar(20),
	@Email                   varchar(128),
	@AddressID               int,
	 
	@StreetAddress           varchar(100),
	@Suburb                  varchar(50),
	@PostCode                char(4),
	@StateCode               varchar(4),
	@ProcessTypeID           int,	 
	@ReturnAccountOperationID INT OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	    --@ProcessTypeID map to:
        --[DescriptionAttribute("New licence - premises")]
        --NewPremises = 1,

        --[DescriptionAttribute("New licence - transporter")]
        --NewTransporter = 2,

        --[DescriptionAttribute("Vary licence - premises")]
        --VaryPremises = 3,

        --[DescriptionAttribute("Vary licence - transporter")]
        --VaryTransporter = 4,

        --[DescriptionAttribute("Revoke licence -  premises")]
        --RevokePremises = 5,

        --[DescriptionAttribute("Revoke licence - transporter")]
        --RevokeTransporter = 6,

        --[DescriptionAttribute("Lift suspension - premises")]
        --SuspensionPremises = 7,

        --[DescriptionAttribute("Lift suspension - transporter")]
        --SuspensionTransporter = 8,

        --[DescriptionAttribute("Transfer licence - premises")]
        --TransferPremises = 9,

        --[DescriptionAttribute("Transfer licence - transporter")]
        --TransferTransporter = 10	

	BEGIN TRY
		 	DECLARE @CreatedBySystemUserID int = 1 
			DECLARE @ResponsibleSystemUserID int
			DECLARE @ReturnIndividualID int 
			DECLARE @AccountOperationRoleTypeID int
			DECLARE @TitleCode varchar(20)

			BEGIN TRANSACTION

			select @TitleCode = isnull([Name], 'MR')       
			from [Classification]
			where ClassificationDomainID = 4 and [ClassificationID] = @TitleCodeID

			declare @StreetAddressSite varchar(100)
			declare @SuburbSite varchar(50)
			declare @PostcodeSite char(4)
			declare @StateCodeSite varchar(4)

			select  @StreetAddressSite = isnull(StreetAddress, ''),
				    @SuburbSite = isnull(Suburb, ''),
					@PostcodeSite = isnull(Postcode, ''),
					@StateCodeSite = isnull(StateCode, '')
			from [Site] where SiteID = @SiteID 

			if @ProcessTypeID = 1 -- New licence - premises
			BEGIN
				declare @RecordType1 bit
				select  @RecordType1 = [dbo].[ufn_PALMSConsignorRecordExist](@CustomerID, @SiteID) 
				if @RecordType1 = 0 -- Create consignor record in AccountOperation AccountOperationRoleTypeID=288
				begin
				  --insert action
				  --1. Insert into AccountOperation: Consignor----------------------------
					  SET @AccountOperationRoleTypeID = 288
					  INSERT INTO
					  dbo.AccountOperation
					  (
						CustomerID,
						SiteID,
						AccountOperationPermit,
						AccountOperationRoleTypeID,
						RegionCode,
						MaximumWasteTonnesPerYear,
						EmergencyContactPhoneNumber,
						ConsignmentAuthorisationCreateFlag,
						EffectiveDateFrom,
						EffectiveDateTo,
						DateCreated,
						CreatedBySystemUserID,
						CreatedIPAddress,
						DateUpdated,
						UpdatedBySystemUserID,
						UpdatedIPAddress,
						NSWLicenceFlag,
						ApprovalMultipleWasteCAFlag
					  )
					  select 
						@CustomerID as CustomerID,
						@SiteID as SiteID,
						cast(@InstrumentID as varchar) as AccountOperationPermit,
						@AccountOperationRoleTypeID as AccountOperationRoleTypeID,
						null as RegionCode,
						null as MaximumWasteTonnesPerYear,
						(case isnull(@AfterHoursNumber,  '') when '' then (case isnull(@Phone, '') when '' then (case isnull(@Mobile, '') when '' then '(00) 0000 0000' else @Mobile end) else @Phone end) else @AfterHoursNumber end) as EmergencyContactPhoneNumber,
						0 as ConsignmentAuthorisationCreateFlag,
						getdate() as EffectiveDateFrom,
						null as EffectiveDateTo,
						getdate() as DateCreated,
						@CreatedBySystemUserID as CreatedBySystemUserID,
						'' as CreatedIPAddress,
						getdate() as DateUpdated,
						1 as UpdatedBySystemUserID,
						'' as UpdatedIPAddress,
						1 as NSWLicenceFlag,
						0 as ApprovalMultipleWasteCAFlag

					  select @ReturnAccountOperationID = @@IDENTITY
			 
				  --2. Insert into Individual: Consignor----------------------------------		
				  IF NOT EXISTS(SELECT IndividualID from Individual where AccountOperationID = @ReturnAccountOperationID)
				  BEGIN		  				  
					  INSERT INTO
					  dbo.Individual
					  (
						AccountOperationID,
						TitleCode,
						GivenName,
						Surname,
						PhoneNumber,
						MobileNumber,
						FaxNumber,
						EmailAddress,
						StreetAddress,
						Suburb,
						Postcode,
						StateCode,
						DateCreated,
						CreatedBySystemUserID,
						CreatedIPAddress,
						DateUpdated,
						UpdatedBySystemUserID,
						UpdatedIPAddress
					  )
					 select 
						@ReturnAccountOperationID as AccountOperationID,
						@TitleCode as TitleCode,
						(case @GivenName when null then '-' when '' then '-' else @GivenName end) as GivenName,
						(case @Surname when null then 'not provided' when '' then 'not provided' else @Surname end) as Surname,
						(case isnull(@Phone, '') when '' then (case isnull(@Mobile, '') when '' then '(00) 0000 0000' else @Mobile end) else @Phone end) as PhoneNumber,
						(case isnull(@Mobile,  '') when '' then null else @Mobile end) as MobileNumber,
						(case isnull(@Fax,  '') when '' then null else @Fax end) as FaxNumber,
						(case isnull(@Email,  '') when '' then null else @Email end) as EmailAddress,
						(case isnull(@StreetAddress,  '') when '' then @StreetAddressSite else @StreetAddress end) as StreetAddress,
						(case isnull(@Suburb,  '') when '' then @SuburbSite else @Suburb end) as Suburb,
						(case isnull(@PostCode,  '') when '' then @PostCodeSite else @PostCode end) as PostCode,
						(case isnull(@StateCode,  '') when '' then @StateCodeSite else @StateCode end) as StateCode,
						getdate(),
						1,
						'',
						getdate() as DateUpdated,
						1 as UpdatedBySystemUserID,
						''
					  select @ReturnIndividualID = @@IDENTITY
				  END
				end
				else
				begin
				  --update action
				  update AccountOperation set AccountOperationPermit = cast(@InstrumentID as varchar), NSWLicenceFlag = 1
				  where AccountOperationRoleTypeID = 288 and SiteID = @SiteID and CustomerID = @CustomerID  
				end
			END --end of: if @ProcessTypeID = 1

			if @ProcessTypeID = 2 -- New licence - transporter
			BEGIN
				declare @RecordType2 bit
				select  @RecordType2 = [dbo].[ufn_PALMSTransporterRecordExist](@CustomerID, @SiteID)  
				if @RecordType2 = 0 -- Create transporter record in AccountOperation
				begin
				  --insert action
					  --1. Insert into AccountOperation: Transporter----------------------------
					  set @AccountOperationRoleTypeID = 290
					  INSERT INTO
					  dbo.AccountOperation
					  (
						CustomerID,
						SiteID,
						AccountOperationPermit,
						AccountOperationRoleTypeID,
						RegionCode,
						MaximumWasteTonnesPerYear,
						EmergencyContactPhoneNumber,
						ConsignmentAuthorisationCreateFlag,
						EffectiveDateFrom,
						EffectiveDateTo,
						DateCreated,
						CreatedBySystemUserID,
						CreatedIPAddress,
						DateUpdated,
						UpdatedBySystemUserID,
						UpdatedIPAddress,
						NSWLicenceFlag,
						ApprovalMultipleWasteCAFlag
					  )
					  select 
						@CustomerID as CustomerID,
						@SiteID as SiteID,
						cast(@InstrumentID as varchar) as AccountOperationPermit,
						@AccountOperationRoleTypeID as AccountOperationRoleTypeID,
						null as RegionCode,
						null as MaximumWasteTonnesPerYear,
						(case isnull(@AfterHoursNumber,  '') when '' then (case isnull(@Phone, '') when '' then (case isnull(@Mobile, '') when '' then '(00) 0000 0000' else @Mobile end) else @Phone end) else @AfterHoursNumber end) as EmergencyContactPhoneNumber,
						0 as ConsignmentAuthorisationCreateFlag,
						getdate() as EffectiveDateFrom,
						null as EffectiveDateTo,
						getdate() as DateCreated,
						@CreatedBySystemUserID as CreatedBySystemUserID,
						'' as CreatedIPAddress,
						getdate() as DateUpdated,
						1 as UpdatedBySystemUserID,
						'' as UpdatedIPAddress,
						1 as NSWLicenceFlag,
						0 as ApprovalMultipleWasteCAFlag
					  select ReturnAccountOperationID = @@IDENTITY

					  --2. Insert into Individual: Transporter----------------------------------
					  IF NOT EXISTS(SELECT IndividualID from Individual where AccountOperationID = @ReturnAccountOperationID)
					  BEGIN				  				  				  
						  INSERT INTO
						  dbo.Individual
						  (
							AccountOperationID,
							TitleCode,
							GivenName,
							Surname,
							PhoneNumber,
							MobileNumber,
							FaxNumber,
							EmailAddress,
							StreetAddress,
							Suburb,
							Postcode,
							StateCode,
							DateCreated,
							CreatedBySystemUserID,
							CreatedIPAddress,
							DateUpdated,
							UpdatedBySystemUserID,
							UpdatedIPAddress
						  )
						 select 
							@ReturnAccountOperationID as AccountOperationID,
							@TitleCode as TitleCode,
							(case @GivenName when null then '-' when '' then '-' else @GivenName end) as GivenName,
							(case @Surname when null then 'not provided' when '' then 'not provided' else @Surname end) as Surname,
							(case isnull(@Phone, '') when '' then (case isnull(@Mobile, '') when '' then '(00) 0000 0000' else @Mobile end) else @Phone end) as PhoneNumber,
							(case isnull(@Mobile,  '') when '' then null else @Mobile end) as MobileNumber,
							(case isnull(@Fax,  '') when '' then null else @Fax end) as FaxNumber,
							(case isnull(@Email,  '') when '' then null else @Email end) as EmailAddress,
							(case isnull(@StreetAddress,  '') when '' then @StreetAddressSite else @StreetAddress end) as StreetAddress,
							(case isnull(@Suburb,  '') when '' then @SuburbSite else @Suburb end) as Suburb,
							(case isnull(@PostCode,  '') when '' then @PostCodeSite else @PostCode end) as PostCode,
							(case isnull(@StateCode,  '') when '' then @StateCodeSite else @StateCode end) as StateCode,
							getdate(),
							1,
							'',
							getdate() as DateUpdated,
							1 as UpdatedBySystemUserID,
							''
						  select @ReturnIndividualID = @@IDENTITY
					  END
				end
				else
				begin
				  --update action
				  update AccountOperation set AccountOperationPermit = cast(@InstrumentID as varchar), NSWLicenceFlag = 1
				  where AccountOperationRoleTypeID = 290 and SiteID = @SiteID and CustomerID = @CustomerID  
				end
			END --end of: if @ProcessTypeID = 2

			if @ProcessTypeID = 1 -- New licence - premises
			BEGIN
				declare @RecordType3 bit
				select  @RecordType3 = [dbo].[ufn_PALMSReceiverRecordExist](@CustomerID, @SiteID)  
				if @RecordType3 = 0 -- Create receiver record in AccountOperation
				begin
				  --insert action
					  --1. Insert into AccountOperation: Receiver----------------------------
					  set @AccountOperationRoleTypeID = 289
					  INSERT INTO
					  dbo.AccountOperation
					  (
						CustomerID,
						SiteID,
						AccountOperationPermit,
						AccountOperationRoleTypeID,
						RegionCode,
						MaximumWasteTonnesPerYear,
						EmergencyContactPhoneNumber,
						ConsignmentAuthorisationCreateFlag,
						EffectiveDateFrom,
						EffectiveDateTo,
						DateCreated,
						CreatedBySystemUserID,
						CreatedIPAddress,
						DateUpdated,
						UpdatedBySystemUserID,
						UpdatedIPAddress,
						NSWLicenceFlag,
						ApprovalMultipleWasteCAFlag
					  )
					  select 
						@CustomerID as CustomerID,
						@SiteID as SiteID,
						cast(@InstrumentID as varchar) as AccountOperationPermit,
						@AccountOperationRoleTypeID as AccountOperationRoleTypeID,
						null as RegionCode,
						null as MaximumWasteTonnesPerYear,
						(case isnull(@AfterHoursNumber,  '') when '' then (case isnull(@Phone, '') when '' then (case isnull(@Mobile, '') when '' then '(00) 0000 0000' else @Mobile end) else @Phone end) else @AfterHoursNumber end) as EmergencyContactPhoneNumber,
						0 as ConsignmentAuthorisationCreateFlag,
						getdate() as EffectiveDateFrom,
						null as EffectiveDateTo,
						getdate() as DateCreated,
						@CreatedBySystemUserID as CreatedBySystemUserID,
						'' as CreatedIPAddress,
						getdate() as DateUpdated,
						1 as UpdatedBySystemUserID,
						'' as UpdatedIPAddress,
						1 as NSWLicenceFlag,
						0 as ApprovalMultipleWasteCAFlag
					  select ReturnAccountOperationID = @@IDENTITY

					  --2. Insert into Individual: Receiver----------------------------------	
					  IF NOT EXISTS(SELECT IndividualID from Individual where AccountOperationID = @ReturnAccountOperationID)
					  BEGIN				  			  				  
						  INSERT INTO
						  dbo.Individual
						  (
							AccountOperationID,
							TitleCode,
							GivenName,
							Surname,
							PhoneNumber,
							MobileNumber,
							FaxNumber,
							EmailAddress,
							StreetAddress,
							Suburb,
							Postcode,
							StateCode,
							DateCreated,
							CreatedBySystemUserID,
							CreatedIPAddress,
							DateUpdated,
							UpdatedBySystemUserID,
							UpdatedIPAddress
						  )
						 select 
							@ReturnAccountOperationID as AccountOperationID,
							@TitleCode as TitleCode,
							(case @GivenName when null then '-' when '' then '-' else @GivenName end) as GivenName,
							(case @Surname when null then 'not provided' when '' then 'not provided' else @Surname end) as Surname,
							(case isnull(@Phone, '') when '' then (case isnull(@Mobile, '') when '' then '(00) 0000 0000' else @Mobile end) else @Phone end) as PhoneNumber,
							(case isnull(@Mobile,  '') when '' then null else @Mobile end) as MobileNumber,
							(case isnull(@Fax,  '') when '' then null else @Fax end) as FaxNumber,
							(case isnull(@Email,  '') when '' then null else @Email end) as EmailAddress,
							(case isnull(@StreetAddress,  '') when '' then @StreetAddressSite else @StreetAddress end) as StreetAddress,
							(case isnull(@Suburb,  '') when '' then @SuburbSite else @Suburb end) as Suburb,
							(case isnull(@PostCode,  '') when '' then @PostCodeSite else @PostCode end) as PostCode,
							(case isnull(@StateCode,  '') when '' then @StateCodeSite else @StateCode end) as StateCode,
							getdate(),
							1,
							'',
							getdate() as DateUpdated,
							1 as UpdatedBySystemUserID,
							''
						  select @ReturnIndividualID = @@IDENTITY
					  END
				end
				else
				begin
				  --update action
				  update AccountOperation set AccountOperationPermit = cast(@InstrumentID as varchar), NSWLicenceFlag = 1
				  where AccountOperationRoleTypeID = 289 and SiteID = @SiteID and CustomerID = @CustomerID  
				end	
			END		 			 
			COMMIT TRANSACTION 
	END TRY
	
	BEGIN CATCH
			DECLARE @ErrorMessage VARCHAR(2000)
			SET @ErrorMessage = dbo.ufn_GetErrorTextPALMS()
			RAISERROR (@ErrorMessage , 16, 1)
			ROLLBACK TRANSACTION 

	END CATCH
END
--GRANT EXECUTE ON dbo.[uspPALMSSiteCreateUpdate] TO ReadWriteRole
