USE [WDS]
GO
/****** Object:  StoredProcedure [dbo].[uspPALMSCustomerCreateUpdate]    Script Date: 5/01/2016 10:31:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspPALMSCustomerCreateUpdate] 
(	
	@InstrumentID            int,
	@TradingName             varchar(255),
	@ACN_ARBN                char(15),
	@ActiveFlag              bit,
	@StreetAddress           varchar(100),
	@Suburb                  varchar(50),
	@Postcode                char(4),
	@StateCode               varchar(4),
	@PALMSAccountablePartyID int,
	@ProcessTypeID           int,	 
	@ReturnCustomerID INT OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	    --@ProcessTypeID map to:
        --[DescriptionAttribute("New licence - premises")]
        --NewPremises = 1,

        --[DescriptionAttribute("New licence - transporter")]
        --NewTransporter = 2,

        --[DescriptionAttribute("Vary licence - premises")]
        --VaryPremises = 3,

        --[DescriptionAttribute("Vary licence - transporter")]
        --VaryTransporter = 4,

        --[DescriptionAttribute("Revoke licence -  premises")]
        --RevokePremises = 5,

        --[DescriptionAttribute("Revoke licence - transporter")]
        --RevokeTransporter = 6,

        --[DescriptionAttribute("Lift suspension - premises")]
        --SuspensionPremises = 7,

        --[DescriptionAttribute("Lift suspension - transporter")]
        --SuspensionTransporter = 8,

        --[DescriptionAttribute("Transfer licence - premises")]
        --TransferPremises = 9,

        --[DescriptionAttribute("Transfer licence - transporter")]
        --TransferTransporter = 10	

	BEGIN TRY
		 	declare @CreatedBySystemUserID int = 1 
			DECLARE @ResponsibleSystemUserID INT
			 
			BEGIN TRANSACTION
			
			--New licence - premises AND New licence - transporter
			if @ProcessTypeID = 1 OR @ProcessTypeID = 2
			begin
				if exists(select CustomerID from Customer where PALMSAccountablePartyID = @PALMSAccountablePartyID)
				BEGIN
					--Updating
					update Customer set 
						   TradingName = @TradingName, 
						   ACN_ARBN = isnull(@ACN_ARBN, ''),
						   StreetAddress = @StreetAddress,
						   Suburb = @Suburb,
						   Postcode = @Postcode,
						   StateCode = @StateCode
					where PALMSAccountablePartyID = @PALMSAccountablePartyID
					select @ReturnCustomerID = @PALMSAccountablePartyID
				END
				ELSE
				BEGIN
					--Inserting
					  INSERT INTO
					  dbo.Customer
					  (
						TradingName,
						ACN_ARBN,
						ActiveFlag,
						Balance,
						StreetAddress,
						Suburb,
						Postcode,
						StateCode,
						DateCreated,
						CreatedBySystemUserID,
						CreatedIPAddress,
						DateUpdated,
						UpdatedBySystemUserID,
						UpdatedIPAddress,
						PALMSAccountablePartyID
					  )
					  SELECT
	    				@TradingName,
	    				isnull(@ACN_ARBN, '') as ACN_ARBN,
						@ActiveFlag,
	    				0,
						@StreetAddress,
						@Suburb,
						@Postcode,
						@StateCode,
						getdate(),
						@CreatedBySystemUserID,
						'',
						getdate(),
						1 as UpdatedBySystemUserID,
						'',
						@PALMSAccountablePartyID

					  select @ReturnCustomerID = @@IDENTITY
				END
			end -- end of: if @ProcessTypeID = 1 OR @ProcessTypeID = 2
			 
			--Vary licence - premises AND Vary licence - transporter	 
		    if @ProcessTypeID = 3 OR @ProcessTypeID = 4
			begin
					--Updating
					update Customer set 
						   TradingName = @TradingName, 
						   ACN_ARBN = isnull(@ACN_ARBN, ''),
						   StreetAddress = @StreetAddress,
						   Suburb = @Suburb,
						   Postcode = @Postcode,
						   StateCode = @StateCode
					where PALMSAccountablePartyID = @PALMSAccountablePartyID
					select @ReturnCustomerID = @PALMSAccountablePartyID			
			end -- end of: if @ProcessTypeID = 3 OR @ProcessTypeID = 4
						 
			COMMIT TRANSACTION 
	END TRY
	
	BEGIN CATCH
			DECLARE @ErrorMessage VARCHAR(2000)
			SET @ErrorMessage = dbo.ufn_GetErrorTextPALMS()
			RAISERROR (@ErrorMessage , 16, 1)
			ROLLBACK TRANSACTION 
	END CATCH
END
--GRANT EXECUTE ON dbo.[uspFinanceLicneceFee] TO ReadWriteRole
