USE [WDS]
GO
/****** Object:  StoredProcedure [dbo].[uspPALMSSiteCreateUpdate]    Script Date: 5/01/2016 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspPALMSSiteCreateUpdate] 
(	
    @InstrumentID            int,
	@LocationID              int,
	@SiteName                varchar(255), 
	@StreetAddress           varchar(100),
	@Suburb                  varchar(50),
	@Postcode                char(4),
	@StateCode               varchar(4),	
	@ProcessTypeID           int,	  
	@ReturnSiteID            INT OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	    --@ProcessTypeID map to:
        --[DescriptionAttribute("New licence - premises")]
        --NewPremises = 1,

        --[DescriptionAttribute("New licence - transporter")]
        --NewTransporter = 2,

        --[DescriptionAttribute("Vary licence - premises")]
        --VaryPremises = 3,

        --[DescriptionAttribute("Vary licence - transporter")]
        --VaryTransporter = 4,

        --[DescriptionAttribute("Revoke licence -  premises")]
        --RevokePremises = 5,

        --[DescriptionAttribute("Revoke licence - transporter")]
        --RevokeTransporter = 6,

        --[DescriptionAttribute("Lift suspension - premises")]
        --SuspensionPremises = 7,

        --[DescriptionAttribute("Lift suspension - transporter")]
        --SuspensionTransporter = 8,

        --[DescriptionAttribute("Transfer licence - premises")]
        --TransferPremises = 9,

        --[DescriptionAttribute("Transfer licence - transporter")]
        --TransferTransporter = 10	

	BEGIN TRY
		 	declare @CreatedBySystemUserID int = 1 
			DECLARE @ResponsibleSystemUserID INT
			 
			BEGIN TRANSACTION
			
			if @ProcessTypeID = 1 -- New licence - premises
			begin
				IF exists(select SiteID from Site where PALMSLocationID = @LocationID)
				BEGIN
						--Updating
						update [Site] set 
							   SiteName = @SiteName, 						 
							   StreetAddress = @StreetAddress,
							   Suburb = @Suburb,
							   Postcode = @Postcode,
							   StateCode = @StateCode
						where PALMSLocationID = @LocationID
						select @ReturnSiteID = @LocationID
				END
				ELSE
				BEGIN
					  --Inserting		 
					  INSERT INTO Site
					  (
						SiteName,
						SiteAliasName,
						LgaCodeID,
						OWTElectorateID,
						OWTAnzsicCodeID,
						ActiveFlag,
						StreetAddress,
						Suburb,
						Postcode,
						StateCode,
						DateCreated,
						CreatedBySystemUserID,
						CreatedIPAddress,
						DateUpdated,
						UpdatedBySystemUserID,
						UpdatedIPAddress,
						PALMSLocationID
					  )
					  SELECT
	    				@SiteName,
	    				'',
						null,
	    				null,
						1,  --foreign key on table OWTAnzsic, we use 1 here to instead 
						1,
						@StreetAddress,
						@Suburb,
						@Postcode,
						@StateCode,
						getdate(),
						@CreatedBySystemUserID,
						'',
						getdate() as DateUpdated,
						1 as UpdatedBySystemUserID,
						'',
						@LocationID

					select @ReturnSiteID = @@IDENTITY
				END
			end	--end of: if @ProcessTypeID = 1
			
			if @ProcessTypeID = 2 -- New licence - transporter
			begin
			  if not exists(select SiteID from Site where SiteName = @SiteName and StreetAddress = @StreetAddress and Suburb = @Suburb and Postcode = @Postcode and StateCode = @StateCode)
			  begin
					  --Inserting		 
					  INSERT INTO Site
					  (
						SiteName,
						SiteAliasName,
						LgaCodeID,
						OWTElectorateID,
						OWTAnzsicCodeID,
						ActiveFlag,
						StreetAddress,
						Suburb,
						Postcode,
						StateCode,
						DateCreated,
						CreatedBySystemUserID,
						CreatedIPAddress,
						DateUpdated,
						UpdatedBySystemUserID,
						UpdatedIPAddress,
						PALMSLocationID
					  )
					  SELECT
	    				@SiteName,
	    				'',
						null,
	    				null,
						1,  --foreign key on table OWTAnzsic, we use 1 here to instead 
						1,
						@StreetAddress,
						@Suburb,
						@Postcode,
						@StateCode,
						getdate(),
						@CreatedBySystemUserID,
						'',
						getdate() as DateUpdated,
						1 as UpdatedBySystemUserID,
						'',
						@LocationID

					select @ReturnSiteID = @@IDENTITY
			  end 
			  else
			  begin
			           declare @SiteIDTemp int = 0
					   select @SiteIDTemp = SiteID from Site where SiteName = @SiteName and StreetAddress = @StreetAddress and Suburb = @Suburb and Postcode = @Postcode and StateCode = @StateCode
						--Updating
						update [Site] set 
							   SiteName = @SiteName, 						 
							   StreetAddress = @StreetAddress,
							   Suburb = @Suburb,
							   Postcode = @Postcode,
							   StateCode = @StateCode
						where SiteID = @SiteIDTemp
						select @ReturnSiteID = @LocationID
			  end
			end	--end of: if @ProcessTypeID = 2

			--Vary licence - premises AND Vary licence - transporter
		    if @ProcessTypeID = 3 OR @ProcessTypeID = 4 
			begin
						update [Site] set 
							   SiteName = @SiteName, 						 
							   StreetAddress = @StreetAddress,
							   Suburb = @Suburb,
							   Postcode = @Postcode,
							   StateCode = @StateCode
						where PALMSLocationID = @LocationID
						select @ReturnSiteID = @LocationID			   
			end --end of: if @ProcessTypeID = 3 OR @ProcessTypeID = 4 
							 
			COMMIT TRANSACTION 
	END TRY
	
	BEGIN CATCH
			DECLARE @ErrorMessage VARCHAR(2000)
			SET @ErrorMessage = dbo.ufn_GetErrorTextPALMS()
			RAISERROR (@ErrorMessage , 16, 1)
			ROLLBACK TRANSACTION 

	END CATCH
END
--GRANT EXECUTE ON dbo.[uspPALMSSiteCreateUpdate] TO ReadWriteRole
