USE [PALMSDB]
GO

DECLARE	@return_value int,
		@InstrumentStatusID int,
		@LicenceTypeID int

SELECT	@InstrumentStatusID = 3

EXEC	@return_value = [dbo].[uspOWTGetSimpleLicenceInforWDSProcess]
		@InstrumentID = 20979,
		@InstrumentStatusID = @InstrumentStatusID OUTPUT,
		@LicenceTypeID = @LicenceTypeID OUTPUT

SELECT	@InstrumentStatusID as N'@InstrumentStatusID',
		@LicenceTypeID as N'@LicenceTypeID'

SELECT	'Return Value' = @return_value

GO

select * from tblInstrument where instrumentID = 20979
select * from tblClassification where ClassificationID = 2


