USE [PALMSDB]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[uspOWTGeneralSingleLicenceDataForIntegrationProcess]
		@InstrumentID = 20976,
		@ProcessTypeID = 10

SELECT	'Return Value' = @return_value

GO


select * from tblNotice where InstrumentID = 1534000
select * from tblInstrumentNotice where NoticeInstrumentID = 1534000
select * from tblInstrument where InstrumentID = 1534000
select * from tblClassification where ClassificationID in (566) 