USE [WDS]
GO

DECLARE	@return_value int,
		@ProcessTypeID int

EXEC	@return_value = [dbo].[uspPALMSGetOWSProcessTypeID]
		@InstrumentID = 803,
		@InstrumentStatusID = 3,
		@LicenceTypeID = 1,
		@ProcessTypeID = @ProcessTypeID OUTPUT

SELECT	@ProcessTypeID as N'@ProcessTypeID'

SELECT	'Return Value' = @return_value

GO


select AccountOperationID, * from AccountOperation where AccountOperationPermit = cast(803 as varchar)


 