/****** Script for SelectTopNRows command from SSMS  ******/

--The following query was taking over 59 seconds to run, crazy hahaha...
SELECT TOP (1000) [ID]
      ,[PaperTagReadStepID]
      ,[AbdStationID]
      ,[UtcLogTime]
      ,[LocalLogTime]
      ,[WasReadSuccessful]
FROM [ReportingDB].[dbo].[PaperTagReadLog]
order by [LocalLogTime] desc

select count(*) from [PaperTagReadLog]  --total over 900K records

  
DROP INDEX ix_PaperTagReadLog_LocalLogTime ON PaperTagReadLog;

-- after applied index on field LocalLogTime it takes less than one second
CREATE INDEX ix_PaperTagReadLog_LocalLogTime
ON PaperTagReadLog(LocalLogTime)