/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct [ID] 
FROM [BagDrop].[dbo].[AbdStation]
WHERE [ID] NOT in (select distinct ABDStationID from [ReportingDB].[dbo].[ABDAvailability])