/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [OnlineRADLicenceRenewalID]
      ,[LicenceNumber]
      ,[RenewalNumber]
      ,[ApplicationStatusID]
      ,[LicenseeEmailAddress]
      ,[LicencetoUseDurationID]
      ,[RenewalXML]
      ,[RenewalFee]
      ,[PaymentTypeID]
      ,[CreditCardPaymentDate]
      ,[CreditCardPaymentReceiptNo]
      ,[CreditCardPaymentConfirmedFlag]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[CreditCardPaymentSuccessfulFlag]
      ,[LicenceDataXML]
      ,[DocumentUploadedFlag]
  FROM [PALMSDB].[dbo].[tblOnlineRADLicenceRenewal]
  order by [DateUpdated] desc