USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspOnlineUpdateEPLVDocumentsUploadedFlag]    Script Date: 1/06/2017 5:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================
-- Author:		Li Lei
-- Create date: 2017-05-02
-- Description:	Update the flags once the pending
--              documents have been uploaded for
--              submitted POEO variation applications
-- ====================================================
ALTER PROCEDURE [dbo].[uspOnlineUpdateEPLVDocumentsUploadedFlag] 
	@InstrumentId INT
AS
BEGIN
	SET NOCOUNT ON;

	declare @summary varbinary(max);
	declare @name varchar(100)
	select @summary=ApplicationDocument, @name= CAST(InstrumentID as varchar(20))+'.pdf'
	from tblOnlineLicenceChangeApplication
	where NoticeInstrumentID=@InstrumentId

	exec uspOnlineUploadDocumentToPALMS @InstrumentId, 1113, 'Environment protection licence variation application summary', @name, @summary, 'Application summary'		

    update tblOnlineLicenceChangeApplication
	SET DocumentUploadedFlag = 1 WHERE NoticeInstrumentID = @InstrumentId

	select 1
END
