	SELECT
	    B.ContactID as Id,	
		0 as ContactType,
		B.TitleID as TitleId, 		
	    B.GivenName, 
		B.Surname,
		B.Middlename as MiddleName,
		B.GivenName + ' ' + B.Surname as FullName, 
		B.OrganisationName as OrganizationName,
		B.Position,
		'' as CompanyWeb,
		A.PostalContactFlag as IsPostalAddressDifferent,
		A.EmailContactFlag as IsAddressValidationRequred,
		c.PrefixAddress as Prefix,
		f.Name as Title, 			
		B.Phone,
		C.OverseasAddressFlag as IsOverseasAddr, 
		C.PrefixAddress as BusinessName, 
		C.[Address] as Address, 
		'' as Unit,
		'' as StreetNo,
		'' as StreetName,
		C.Suburb,
		C.Postcode, 
		C.StateCode as [State],
		B.AfterHoursNumber,
		B.Mobile,
		B.Email as Email,
		B.Fax,
		B.Pager,
		C.Country, 		
		A.InstrumentID
	FROM tblInstrumentContact A INNER JOIN tblContact B
		ON A.ContactID = B.ContactID INNER JOIN tblAddress C
		ON B.AddressID = C.AddressID 
		left outer join tblClassification f on B.TitleID=f.ClassificationID 
	WHERE InstrumentID = 5680 --AND  A.PostalContactFlag = 1


	--SELECT	InstrumentID, count(*) as CountNo
	--FROM tblInstrumentContact A INNER JOIN tblContact B
	--	ON A.ContactID = B.ContactID INNER JOIN tblAddress C
	--	ON B.AddressID = C.AddressID 
	--	left outer join tblClassification f on B.TitleID=f.ClassificationID
	--group by InstrumentID
	--having count(*) > 3