/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstrumentID]
      ,[DriversLicenceNo]
      ,[DriversLicenceClass]
      ,[LicenceIssuedState]
      ,[HeldDriversLicenceForFiveYearsFlag]
      ,[StateTerritoryOfIssue]
      ,[LicenceDisqualifiedFlag]
      ,[DGLicenceRTOID]
      ,[CourseConductedBy]
      ,[DateOfCourse]
      ,[CourseHeldAt]
      ,[MedicalAssessmentID]
      ,[MedicalPractitionerName]
      ,[MedicalPractitionerTelephone]
      ,[DateMedicalExamination]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[ROW_ID]
      ,[DGLicenceCourseConductedByID]
      ,[TrainingRequiredFlag]
      ,[MFARequiredFlag]
      ,[PrintIDflag]
      ,[TrainerVerifiedFlag]
  FROM [PALMSDB].[dbo].[tblDGLicenceDriver]
  WHERE InstrumentID = 5056022




update [tblDGLicenceDriver]
set
DriversLicenceNo = '8656BD',	
DriversLicenceClass ='MC',		
LicenceIssuedState = 'NSW',		
HeldDriversLicenceForFiveYearsFlag = NULL,
StateTerritoryOfIssue = NULL,	
LicenceDisqualifiedFlag = 0,
DGLicenceRTOID = 19,	
CourseConductedBy = 8,	
DateOfCourse = '2016-09-09 00:00:00',	
CourseHeldAt = 'NSW',	
MedicalAssessmentID = 888,	
MedicalPractitionerName = 'James',	
MedicalPractitionerTelephone = '02 9889 9999',	
DateMedicalExamination = '2015-08-08 10:32:00',	
DateCreated = '2011-12-08 10:32:00',		
CreatedBySystemUserID = 1355,	
DateUpdated = '2017-03-01 09:38:00',	
UpdatedBySystemUserID = 1063,		
ROW_ID = '1-LP8JNY',
DGLicenceCourseConductedByID = 21,	
TrainingRequiredFlag = 0,	
MFARequiredFlag = 0,	
PrintIDflag = 0,	
TrainerVerifiedFlag = 0
WHERE InstrumentID = 5056022