USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspOnlineDGDLGetLicenceDetailsFromPALMS]    Script Date: 9/05/2017 8:40:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[uspOnlineDGDLGetLicenceDetailsFromPALMS]
				@LicenceNo INT

AS

BEGIN
		
	DECLARE @MedicalRequired BIT = 0
	DECLARE @TrainingRequired BIT = 0
	DECLARE @DriverRecordRequired BIT = 0
	DECLARE @MedicalAssessmentID INT = 0

	
	SELECT DriversLicenceNo AS LicenceNo,
		   DriversLicenceClass AS LicenceClass,
		   LicenceIssuedState AS IssuingState,
		   DGLicenceRTOID AS RTO,
		   DGLicenceCourseConductedByID AS CourseConductedBy,
		   DateOfCourse AS DateCourseCompleted,
		   CourseHeldAt AS CourseHeldAt,
		   MedicalPractitionerName AS MedicalPractitionerName,
		   Replace(Replace(MedicalPractitionerTelephone,'(',''), ')','') AS Phone,
		   DateMedicalExamination AS DateMedicalExamination
	FROM tblDGLicenceDriver
	WHERE InstrumentID = @LicenceNo

	


END


