USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspEMAAdd]    Script Date: 09/26/2013 15:19:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[uspEMAAdd]
    @PrimaryInstrumentID int
   
AS
BEGIN
  BEGIN TRY		
     	SET NOCOUNT ON;	
		
		Declare @NoticeTemplateID smallint
		Select @NoticeTemplateID = -1 --Initialize
			  
		Declare  @BulkVariationReason    varchar(255),
				 @InstrumentID           int,
				 @InstrumentTypeID        smallint,
				 @InstrumentStatusID      smallint,
				 @ResponsibleSystemUserID int,
				 @ResponsibleSystemUser   Varchar(120),
				 @DECCWSectionID          smallint,
				 @IssuedBySystemUserID    int,
				 @DateIssued              smalldatetime,
				 @DisplayFlag             bit,
				 @DateCreated             smalldatetime,
				 @CreatedBySystemUserID   int,
				 @DateUpdated             smalldatetime,
				 @UpdatedBySystemUserID   int, 
				 @RiskAssessmentTypeID	  int   

		 	 
		 Declare @tblData Table 
			(
				SNo int IDENTITY(1,1), 
				EMAssessmentCategoryID INT					
			)
		
		  Declare @tblData1 Table 
				(
					SNo int IDENTITY(1,1), 
					EMAssessmentSectionID INT					
				)
				
				
		 Declare @tblData2 Table 
			(
				SNo int IDENTITY(1,1), 
				EMAssessmentCategoryID INT,		
				EMAssessmentSectionID INT,
				EMAssessmentQuestionID INT	,
				EMAssessmentAnswerID INT,
				Score INT,
				AutoGeneratedFlag BIT				
			)		
		
		 Declare @tblData3 Table 
			(
				SNo int IDENTITY(1,1), 
				EMAssessmentCategoryID INT,		
				EMAssessmentSectionID INT,
				EMAssessmentQuestionID INT,
				Score INT				
			)		
      
      
 		BEGIN TRAN	
 		
 		
 		
 		----------- Environmental management assessment -------------
 		
 		Declare @InsertedInstrument as tblInstrumentType
 		
 		SELECT @InstrumentID = -1 
 		SELECT @InstrumentTypeID = 	679
 		SELECT @InstrumentStatusID = 699	
 		SELECT @RiskAssessmentTypeID = 695
 		
 		SELECT @ResponsibleSystemUserID = ResponsibleSystemUserID 
 		FROM tblInstrument 
 		WHERE InstrumentID = @PrimaryInstrumentID
 		
 		Select @DECCWSectionID	= DECCWSectionID, @ResponsibleSystemUser = Login 
				From tblSystemUser 
			Where SystemUserID = @ResponsibleSystemUserID
 		
 		SELECT @CreatedBySystemUserID = 1
 		
		Insert Into @InsertedInstrument
					  ([InstrumentID]
					  ,[InstrumentTypeID]
					  ,[InstrumentStatusID]
					  ,[ResponsibleSystemUserID]
					  ,[ResponsibleUserLogin]
					  ,[DECCWSectionID]
					  ,[IssuedBySystemUserID]
					  ,[DateIssued]
					  ,[DisplayFlag]
					  ,[DateCreated]
					  ,[CreatedBySystemUserID]
					  ,[DateUpdated]
					  ,[UpdatedBySystemUserID])
				 VALUES
					   (
						@InstrumentID,
						@InstrumentTypeID
					   ,@InstrumentStatusID  --- Draft
					   ,@ResponsibleSystemUserID
					   ,@ResponsibleSystemUser
					   ,@DECCWSectionID
					   ,NULL
					   ,NULL
					   ,1
					   ,GETDATE() 
					   ,@CreatedBySystemUserID
					   ,NULL 
					   ,NULL 			
					   ) 
		          
        -- Create/Update an Instrument    
		Exec @InstrumentID = [dbo].uspSaveInstrument @InsertedInstrument,0,@NoticeTemplateID
				
 	    -- Add EMA
 	    --DECLARE @ReportingPeriodID INT
 	    
 	   -- SELECT @ReportingPeriodID = MAX(ReportingPeriodID)  FROM tblReportingPeriod
 	   -- WHERE InstrumentID = @PrimaryInstrumentID AND
 				--EndDate IS NOT NULL
 			
 	    
 	    INSERT INTO tblRiskAssessment 
 			(InstrumentID,
 			POEOLicenceIntrumentID,
 			RiskAssessmentTypeID,
 			DateCreated,
 			CreatedBySystemUserID)
 		SELECT 	@InstrumentID,
 				@PrimaryInstrumentID,
 				@RiskAssessmentTypeID,
 				GETDATE(),
 				@CreatedBySystemUserID
 				
 				
 		---------- Create assessment period --------------------------------
 	    
 	 --   INSERT INTO tblEMAssessmentPeriod
			--	(StartDate, EndDate, InstrumentID, DateCreated, CreatedBySystemUserID)

			--SELECT TOP 3 StartDate, EndDate, @InstrumentID, GETDATE(), 1
			--FROM tblReportingPeriod
			--WHERE EndDate IS NOT NULL AND InstrumentID = @PrimaryInstrumentID
			--ORDER BY ReportingPeriodID DESC		
			
		EXEC dbo.uspEMACreateAssessmentPeriod @InstrumentID,@PrimaryInstrumentID
 	    
 	   
		---------- Create EMA category, section, answer --------------------------------
		INSERT INTO @tblData2
			EXEC DBO.uspEMAGetAnswer @PrimaryInstrumentID,@InstrumentID
		
		INSERT INTO @tblData 
			(EMAssessmentCategoryID)
		SELECT EMAssessmentCategoryID FROM tblEMAssessmentCategory
		
		 	
 	    DECLARE @Cnt1 INT
 	    DECLARE @EMAssessmentCategoryID INT
 	    DECLARE @EMAssessmentResultCategory INT
 	    
 	    SELECT @Cnt1 = 1
		
		WHILE (1=1)
		BEGIN
			SELECT @EMAssessmentCategoryID = EMAssessmentCategoryID 
			FROM @tblData WHERE SNo = @Cnt1
			
			IF @@ROWCOUNT = 0
			BREAK
			
			INSERT INTO tblEMAssessmentResultCategory
 				(InstrumentID,
 				EMAssessmentCategoryID,
 				DateCreated,
 				CreatedBySystemUserID)
 			SELECT 	@InstrumentID, @EMAssessmentCategoryID, GETDATE(),1
			
			SELECT @EMAssessmentResultCategory = @@IDENTITY
			
			
			
				DELETE FROM @tblData1
				
				INSERT INTO @tblData1 
					(EMAssessmentSectionID)
				SELECT EMAssessmentSectionID 
				FROM tblEMAssessmentSection 
				WHERE EMAssessmentCategoryID = @EMAssessmentCategoryID
				
				 DECLARE @Cnt8 INT
				 DECLARE @EMAssessmentSectionID INT = 0
				 DECLARE @EMAssessmentResultSectionID INT = 0
				 SELECT @Cnt8 = MIN(SNo) FROM @tblData1
				
				declare @test int
				select @test = count(*)  from @tblData1
				
				--print cast(@test as varchar(10))
					
				WHILE (1=1)
				BEGIN
					SELECT @EMAssessmentSectionID = EMAssessmentSectionID 
					FROM @tblData1 WHERE SNo = @Cnt8
					
					IF @@ROWCOUNT = 0
					BREAK
					
					INSERT INTO tblEMAssessmentResultSection
						(EMAssessmentResultCategoryID,EMAssessmentSectionID,DateCreated,CreatedBySystemUserID)
					SELECT 	@EMAssessmentResultCategory, @EMAssessmentSectionID, GETDATE(),1
					
					SELECT @EMAssessmentResultSectionID = @@IDENTITY
					
					INSERT INTO tblEMAssessmentResultAnswer
						(EMAssessmentResultSectionID,EMAssessmentAnswerID,DateCreated,CreatedBySystemUserID)
					SELECT 	@EMAssessmentResultSectionID, EMAssessmentAnswerID, GETDATE(),1
					FROM tblEMAssessmentAnswer WHERE EMAssessmentQuestionID IN
					(SELECT EMAssessmentQuestionID FROM tblEMAssessmentQuestion 
						WHERE EMAssessmentSectionID = @EMAssessmentSectionID AND QuestionTypeID IN (683,684))
					
					
					 UPDATE tblEMAssessmentResultAnswer
					 SET EnteredValue = B.Score
					 FROM tblEMAssessmentResultAnswer A, @tblData2 B
					 WHERE A.EMAssessmentAnswerID = B.EMAssessmentAnswerID AND
							A.EMAssessmentResultSectionID = @EMAssessmentResultSectionID AND
							B.AutoGeneratedFlag = 1
					 
					
					
										
					SELECT @Cnt8 = @Cnt8 +1
				END
			
			SELECT @Cnt1 = @Cnt1 +1
		END 
 	    
  	    
  	    -------------  UPDATE PRP and Inspection reports if there is no any ---------
  	    DECLARE @EMAssessmentQuestionID INT
  	    DECLARE @Score INT
  	    
  	    INSERT INTO @tblData3
  			EXEC dbo.uspEMAGetSystemGeneratedAnswer @InstrumentID
  	    
  	     SELECT @Cnt1 = 1
		
		WHILE (1=1)
		BEGIN
			SELECT @EMAssessmentQuestionID = EMAssessmentQuestionID,
					@Score = Score
			FROM @tblData3 WHERE SNo = @Cnt1
			
			IF @@ROWCOUNT = 0
			BREAK
			
			IF @Score = 0
			BEGIN
				UPDATE tblEMAssessmentResultAnswer
				SET EnteredValue = 0
				WHERE EMAssessmentAnswerID IN
				(SELECT EMAssessmentAnswerID FROM tblEMAssessmentAnswer 
					WHERE EMAssessmentQuestionID = @EMAssessmentQuestionID)
			
			END
			
			SELECT @Cnt1 = @Cnt1 +1
		END	
  	    
  	    ------  Starts Clock for all notice including variation is as follow --------
  	  
        Exec [dbo].uspInstrument_Clock_Create @InstrumentID,12,@NoticeTemplateID,@CreatedBySystemUserID
  	  
  	       
  	    -- Add AuditLog   
   
   	    Exec [dbo].uspAuditLogInsert @InstrumentID, 'Create','Create Environmental management assessment',@CreatedBySystemUserID,@CreatedBySystemUserID  
			
		   
		
		   
		   
		COMMIT TRAN
		
		
		
  END TRY
  BEGIN CATCH
		DECLARE @ErrorMessage VARCHAR(2000)
		ROLLBACK TRAN
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		RAISERROR (@ErrorMessage , 16, 1)	
  END CATCH
    
END
