	Select	
		n.UserNotificationID,
		n.InstrumentID RecordNo,
		(Select dbo.ufn_GetInstrumentType(n.InstrumentId)) RecordType,
		n.NotificationText [Message],
		(Select dbo.ufn_SystemUserFullName(n.SentBySystemUserID)) [From],
		n.DateCreated [Date],
		'Notification',
		i.InstrumentTypeID,
		ar.ReportingPeriodID,
		c.Name
	From 
		dbo.tblUserNotification n
		Inner Join tblInstrument i ON n.InstrumentID = i.InstrumentID 
		Left Outer Join tblAnnualReturn ar ON n.InstrumentID = ar.InstrumentID
		Left Outer Join tblClassification c ON i.InstrumentStatusID = c.ClassificationID
	Where n.SystemUserID = 1266
	
	select * 
	from tblRiskAssessment where InstrumentID = 4000008