	    DECLARE @MyTable TABLE
		(
		SNo int IDENTITY(1,1), 
		POEOLicencenNo int,
		AccountablePartyName varchar(500),
		AssessmentStatus varchar(50),
		AssessmentNumber int,
		TypeText varchar(500)
		)  
    
	   insert into @MyTable
	   SELECT AccountableParty.InstrumentID as POEOLicencenNo,		 
			 dbo.ufn_GetNameByAccountablePartyId(AccountableParty.AccountablePartyID) AS AccountablePartyName,
			 (select  	    
	   c.Name as AssessmentStatus	   	   	   
	   from tblInstrument a 
	   left outer join tblClassification c on c.ClassificationID = a.InstrumentStatusID
	   inner join tblRiskAssessment d on a.InstrumentID = d.InstrumentID
	   inner join tblClassification e ON d.RiskAssessmentTypeID = e.ClassificationID
	   where a.InstrumentID = 4000018) as AssessmentStatus,

	  (select  	    	    
	   a.InstrumentID as AssessmentNumber  
	   from tblInstrument a 
	   left outer join tblClassification c on c.ClassificationID = a.InstrumentStatusID
	   inner join tblRiskAssessment d on a.InstrumentID = d.InstrumentID
	   inner join tblClassification e ON d.RiskAssessmentTypeID = e.ClassificationID
	   where a.InstrumentID = 4000018) as AssessmentNumber,
	   
	   (select isnull(e.[Description], '') + ' ' + cast(a.InstrumentID as varchar)  from tblInstrument a 
	   left outer join tblClassification c on c.ClassificationID = a.InstrumentStatusID
	   inner join tblRiskAssessment d on a.InstrumentID = d.InstrumentID
	   inner join tblClassification e ON d.RiskAssessmentTypeID = e.ClassificationID
	   where a.InstrumentID = 4000018) as TypeText 	
	   	 
	   FROM tblInstrumentAccountableParty AS AccountableParty
	   WHERE AccountableParty.InstrumentID = (SELECT TOP 1 POEOLicenceIntrumentID from tblRiskAssessment WHERE InstrumentID = 4000018)
	   ORDER BY InstrumentAccountablePartyID  

       select POEOLicencenNo, AccountablePartyName, AssessmentStatus, AssessmentNumber, TypeText from @MyTable
       delete @MyTable

