--define the final RadiationLicenceFeeList table variable which containing 5 financial year fee data 
declare @NumberOfYear int
set @NumberOfYear = 5

Declare @RadiationLicenceFeeListFull Table
(
  RadiationLicenceFeeListID [int] IDENTITY(1,1) NOT NULL,	
  RadiationLicenceTypeID int null,		
  FeeDescription varchar(255) null,
  FeeType varchar(255) null,
  SequenceOrder int null,
  RangeYear1 varchar(50) null,
  Amount1 decimal(12, 2) null,	  	
  RangeYear2 varchar(50) null,
  Amount2 decimal(12, 2) null,	  	
  RangeYear3 varchar(50) null,
  Amount3 decimal(12, 2) null,		
  RangeYear4 varchar(50) null,
  Amount4 decimal(12, 2) null,	  	
  RangeYear5 varchar(50) null,
  Amount5 decimal(12, 2) null	          	
)

Declare @YearRange Table
(	 
    RowId [int] IDENTITY(1,1) NOT NULL,		
	FinancialYear varchar(50) null,
	SequenceNo int null				 
)
insert into @YearRange(FinancialYear, SequenceNo)
select distinct FinancialYear, cast(substring(FinancialYear, len(FinancialYear)-1, 2) as int) as SequenceNo                
from tblRadiationLicenceFeeList order by cast(substring(FinancialYear, len(FinancialYear)-1, 2) as int) desc
 
if (select count(FinancialYear) from @YearRange) >= @NumberOfYear 
begin
        
		DECLARE @Cnt INT
		DECLARE @LoopCnt INT
		DECLARE @FinancialYearTemp varchar(50)

		DECLARE @MyTable TABLE
		(
			  SNo int IDENTITY(1,1), 
			  FinancialYear varchar(50)
		)    
		INSERT INTO @MyTable(FinancialYear)	    
		select top (@NumberOfYear) FinancialYear from @YearRange order by RowId asc
	 
		SELECT @Cnt = MIN(Sno) FROM @MyTable
	    set @LoopCnt = 0
		WHILE (1=1)
		BEGIN
            set @LoopCnt = @LoopCnt + 1
			SELECT @FinancialYearTemp = FinancialYear FROM @MyTable
			WHERE SNo = @Cnt
	    
		    IF @@ROWCOUNT = 0
			BREAK
			
			--when it is first time loop we insert full data into table:@RadiationLicenceFeeListFull
			if @LoopCnt = 1
			begin
			   insert into @RadiationLicenceFeeListFull
			   (  
					  RadiationLicenceTypeID,		
					  FeeDescription,
					  FeeType,
					  SequenceOrder,
					  RangeYear1,
					  Amount1,	  	
					  RangeYear2,
					  Amount2,	  	
					  RangeYear3,
					  Amount3,		
					  RangeYear4,
					  Amount4,	  	
					  RangeYear5,
					  Amount5	    			      
			   )
			   select 
					  RadiationLicenceTypeID,		
					  FeeDescription,
					  FeeType,
					  SequenceOrder,
					  null as RangeYear1,
					  null as Amount1,	  	
					  null as RangeYear2,
					  null as Amount2,	  	
					  null as RangeYear3,
					  null as Amount3,		
					  null as RangeYear4,
					  null as Amount4,	  	
					  @FinancialYearTemp as RangeYear5,
					  Amount as Amount5
			   from tblRadiationLicenceFeeList where FinancialYear = @FinancialYearTemp order by SequenceOrder asc	
			   
			end
			else
			begin
			   --all update actions will be here we need loop through all row of table: @RadiationLicenceFeeListFull
			    DECLARE @CnTemp INT
				DECLARE @LoopCntTemp INT
				DECLARE @FeeDescriptionTemp varchar(255)
				DECLARE @FeeTypeTemp varchar(255)

				DECLARE @Temp TABLE
				(
					  SeqNo int IDENTITY(1,1), 
					  FeeDescription varchar(255),
					  FeeType varchar(255)
				)      
				INSERT INTO @Temp(FeeDescription,  FeeType)	    
				select FeeDescription, FeeType from @RadiationLicenceFeeListFull 
				set @LoopCntTemp = 0

				SELECT @CnTemp = MIN(SeqNo) FROM @Temp
				WHILE (1=1)
				BEGIN
					set @LoopCntTemp = @LoopCntTemp + 1
					SELECT @FeeDescriptionTemp = FeeDescription, @FeeTypeTemp=FeeType FROM @Temp
					WHERE SeqNo = @CnTemp
	    
					IF @@ROWCOUNT = 0
					BREAK				
					   
					if @LoopCnt = 2  --year range 04
					    update @RadiationLicenceFeeListFull set RangeYear4 = @FinancialYearTemp, Amount4 = (select Amount from tblRadiationLicenceFeeList where FeeDescription = @FeeDescriptionTemp and FinancialYear = @FinancialYearTemp and FeeType = @FeeTypeTemp)
						where FeeDescription = @FeeDescriptionTemp and FeeType = @FeeTypeTemp
					if @LoopCnt = 3  --year range 03
					    update @RadiationLicenceFeeListFull set RangeYear3 = @FinancialYearTemp, Amount3 = (select Amount from tblRadiationLicenceFeeList where FeeDescription = @FeeDescriptionTemp and FinancialYear = @FinancialYearTemp and FeeType = @FeeTypeTemp)
						where FeeDescription = @FeeDescriptionTemp and FeeType = @FeeTypeTemp
					if @LoopCnt = 4  --year range 02
					    update @RadiationLicenceFeeListFull set RangeYear2 = @FinancialYearTemp, Amount2 = (select Amount from tblRadiationLicenceFeeList where FeeDescription = @FeeDescriptionTemp and FinancialYear = @FinancialYearTemp and FeeType = @FeeTypeTemp)
						where FeeDescription = @FeeDescriptionTemp and FeeType = @FeeTypeTemp
					if @LoopCnt = 5  --year range 01
					    update @RadiationLicenceFeeListFull set RangeYear1 = @FinancialYearTemp, Amount1 = (select Amount from tblRadiationLicenceFeeList where FeeDescription = @FeeDescriptionTemp and FinancialYear = @FinancialYearTemp and FeeType = @FeeTypeTemp)
						where FeeDescription = @FeeDescriptionTemp and FeeType = @FeeTypeTemp		
						 				                        
					SELECT @CnTemp = @CnTemp + 1
				END			           
			end
		 
		  SELECT @Cnt = @Cnt + 1		
		END

		select * from @RadiationLicenceFeeListFull
end
 

 