/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RiskAssessmentAnswerJustificationID]
      ,[JustificationClassID]
      ,[Justification]
      ,A.[SequenceOrder]
      ,A.[EffectiveDateFrom]
      ,A.[EffectiveDateTo]
      ,A.[DateCreated]
      ,A.[CreatedBySystemUserID]
      ,A.[DateUpdated]
      ,A.[UpdatedBySystemUserID]
      ,B.[Description] AS JustificationClass
      ,(
		CASE 
		 WHEN exists(SELECT [ProvidedReasonID]
						FROM [tblRiskAssessmentResultAnswer] AA
						WHERE AA.ProvidedReasonID = A.RiskAssessmentAnswerJustificationID) THEN 0
		 ELSE 1
		END      
      ) as CanBeDeleted    
FROM [tblRiskAssessmentAnswerJustification] A INNER JOIN tblClassification B
ON A.JustificationClassID = B.ClassificationID
WHERE B.EffectiveDateFrom <= GETDATE() AND (B.EffectiveDateTo IS NULL OR B.EffectiveDateTo >= GETDATE())
AND A.Justification like A.Justification

--GRANT EXECUTE ON [dbo].[uspReference_admin_RiskAssessmentAnswerJustification_delete] TO ReadWriteRole

