 			

			--delete all records from table:tblRadiationLicenceRRMComponent 
			--DELETE LRRMC FROM tblRadiationLicenceRRMComponent LRRMC
			--JOIN tblRadiationLicenceRRM LIRRM ON LRRMC.RadiationLicenceRRMID = LIRRM.RadiationLicenceRRMID
			--JOIN tblRadiationLocationRRM LORRM ON LIRRM.RadiationLicenceRRMID = LORRM.RadiationLicenceRRMID
			--JOIN tblRadiationLocation RLO ON LORRM.RadiationLocationID = RLO.RadiationLocationID
			--JOIN tblInstrumentRadiationLocation IRL ON RLO.RadiationLocationID = IRL.RadiationLocationID
			--WHERE IRL.InstrumentID = 5000067 AND LRRMC.EffectiveDateTo IS NULL

			--DELETE FROM tblRRMComponent 		
			--WHERE RRMComponentID in(			SELECT RRMC.RRMComponentID FROM tblRRMComponent RRMC
			--JOIN tblRadiationLicenceRRMComponent LRRMC ON RRMC.RRMComponentID = LRRMC.RRMComponentID
			--JOIN tblRadiationLicenceRRM LIRRM ON LRRMC.RadiationLicenceRRMID = LIRRM.RadiationLicenceRRMID
			--JOIN tblRadiationLocationRRM LORRM ON LIRRM.RadiationLicenceRRMID = LORRM.RadiationLicenceRRMID
			--JOIN tblRadiationLocation RLO ON LORRM.RadiationLocationID = RLO.RadiationLocationID
			--JOIN tblInstrumentRadiationLocation IRL ON RLO.RadiationLocationID = IRL.RadiationLocationID
			--WHERE IRL.InstrumentID = 5000067 AND LRRMC.EffectiveDateTo IS NULL	)
 	

			--delete LORRM FROM tblRadiationLocationRRM LORRM
			--				JOIN tblRadiationLocation RLO ON LORRM.RadiationLocationID = RLO.RadiationLocationID
			--				JOIN tblInstrumentRadiationLocation IRL ON RLO.RadiationLocationID = IRL.RadiationLocationID
			--				WHERE IRL.InstrumentID = 5000067 AND LORRM.EffectiveDateTo IS NULL		

			--delete FROM tblRadiationLicenceRRM 
			--				WHERE RadiationLicenceRRMID IN (198, 199)

select rrmc.* 
FROM tblRRMComponent rrmc
inner join tblRadiationLicenceRRMComponent licrrmc on rrmc.RRMComponentID = licrrmc.RRMComponentID
inner join tblRadiationLicenceRRM rrm ON licrrmc.RadiationLicenceRRMID = rrm.RadiationLicenceRRMID
inner join tblRadiationLocationRRM locrrm
on rrm.RadiationLicenceRRMID = locrrm.RadiationLicenceRRMID
inner join tblRadiationLocation loc on locrrm.RadiationLocationID = loc.RadiationLocationID
inner join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
where irl.InstrumentID = 5000067 AND ComponentStatusID = 784

select rrm.*  
FROM tblRadiationLicenceRRM rrm inner join tblRadiationLocationRRM locrrm
on rrm.RadiationLicenceRRMID = locrrm.RadiationLicenceRRMID
inner join tblRadiationLocation loc on locrrm.RadiationLocationID = loc.RadiationLocationID
inner join tblInstrumentRadiationLocation irl on irl.RadiationLocationID = loc.RadiationLocationID
where irl.InstrumentID = 5000067 AND RRMStatusID = 784
 

