declare @InstrumentID int
set @InstrumentID = 5000067

----current data 
select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from tblInstrumentRadiationLocation where InstrumentID = @InstrumentID)      

select A.*, B.Description, B.ClassificationDomainID from tblRadiationLicenceRRM A INNER JOIN tblClassification B ON A.RRMStatusID = B.ClassificationID 
where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from tblInstrumentRadiationLocation where InstrumentID = @InstrumentID))

select A.*, B.SerialNumber, C.Description, C.ClassificationDomainID from tblRadiationLicenceRRMComponent A INNER JOIN tblRRMComponent B ON A.RRMComponentID = B.RRMComponentID
INNER JOIN tblClassification C ON B.ComponentStatusID = C.ClassificationID  
where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from tblInstrumentRadiationLocation where InstrumentID = @InstrumentID))
 
--backup data
select RadiationLicenceRRMID from tblBURadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from tblBUInstrumentRadiationLocation where InstrumentID = @InstrumentID)      
select * from tblBURadiationLicenceRRM where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblBURadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from tblBUInstrumentRadiationLocation where InstrumentID = @InstrumentID))
select * from tblBURadiationLicenceRRMComponent where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblBURadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from tblBUInstrumentRadiationLocation where InstrumentID = @InstrumentID))


	 