 
  SELECT [RadiationLicenceFeeUnitID]
      ,[RadiationLicenceTypeID]
	  ,AA.Description as RadiationLicenceType
      ,[FeeDescription]
      ,[Amount]
      ,[FeeTypeID]
	  ,B.[Description] as FeeType
      ,[FeeAppliedTypeID]
	  ,BB.Description as FeeAppliedType
      ,[ReferToRACFlag]
      ,[ManagementLicenceActivityandDurationID]
	  ,C.[Description] as ManagementLicenceActivityandDuration
      ,[RRMFeeGroupID]
	  ,D.Description as RRMFeeGroup
      ,[LicencetoUseDurationID]
	  ,E.Description as LicencetoUseDuration
      ,[LicencetoUseFeeGroupID]
	  ,F.Description as LicencetoUseFeeGroup
	  ,A.EffectiveDateFrom 
	  ,A.EffectiveDateTo       
  FROM [dbo].[tblRadiationLicenceFeeUnit] A 
  INNER JOIN tblClassification AA ON A.RadiationLicenceTypeID = AA.ClassificationID
  INNER JOIN tblClassification B ON A.FeeTypeID = B.ClassificationID
  INNER JOIN tblClassification BB ON A.FeeAppliedTypeID = BB.ClassificationID
  LEFT OUTER JOIN tblClassification C ON A.ManagementLicenceActivityandDurationID = C.ClassificationID
  LEFT OUTER JOIN tblClassification D ON A.RRMFeeGroupID = D.ClassificationID
  LEFT OUTER JOIN tblClassification E ON A.LicencetoUseDurationID = E.ClassificationID
  LEFT OUTER JOIN tblClassification F ON A.LicencetoUseFeeGroupID = F.ClassificationID

  --GRANT EXECUTE ON [dbo].[uspReference_admin_radiation_fee_list_search] TO ReadWriteRole

  select RRMComponentID from [dbo].[tblRadiationLicenceRRMComponent] where RadiationLicenceRRMID = 2129 and EffectiveDateTo is null
  select * from tblRRMComponent 
  where RRMComponentID in (select RRMComponentID from [dbo].[tblRadiationLicenceRRMComponent] where RadiationLicenceRRMID = 2129 and EffectiveDateTo is null)