/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RadiationLicenceFeeListID]
      ,[RadiationLicenceTypeID]
	  ,AA.Description as RadiationLicenceType
      ,[FeeDescription]
      ,[Amount]
      ,[FeeType]
      ,A.[SequenceOrder]
      ,A.[EffectiveDateFrom]
      ,A.[EffectiveDateTo]
      ,[FinancialYear]      
  FROM [dbo].[tblRadiationLicenceFeeList] A INNER JOIN tblClassification AA ON A.RadiationLicenceTypeID = AA.ClassificationID