--delcare a temp table table to hold all Australian State Codes
--because the tblContact address line could have all those state code as part of their current street address
DECLARE @MyStateTable TABLE
	(
	RowID int IDENTITY(1,1), 	 
	StateCode varchar(10)
	)  
INSERT INTO @MyStateTable(StateCode) VALUES('ACT')
INSERT INTO @MyStateTable(StateCode) VALUES('NSW')
INSERT INTO @MyStateTable(StateCode) VALUES('NT')
 
--SELECT * FROM @MyStateTable

--here is the testing table to hold all changed address information for testing purpose
			DECLARE @MyTableFinal TABLE
			(
				SNo int IDENTITY(1,1), 
				AddressID int,
				AddressOriginal varchar(100),
				AddressFinal varchar(100),
				Suburb varchar(50),
				Postcode varchar(10),
				StateCode varchar(20)
			)
----------------------------------------------------------
DECLARE @CurrentStateCode VARCHAR(10)

DECLARE @Cnt INT
SELECT @Cnt = MIN(RowID) FROM @MyStateTable
	
WHILE (1=1)
BEGIN
   
SELECT @CurrentStateCode = StateCode FROM @MyStateTable
WHERE RowID = @Cnt
	    
IF @@ROWCOUNT = 0
	BREAK
	--initialize variables here	 
	--print '@CurrentStateCode=' + cast(@CurrentStateCode as varchar)

	  --1. declare a address table variable to hold all rows from tblAddress based on current state code
		DECLARE @MyTable TABLE
		(
		SNo int IDENTITY(1,1), 
		AddressID int,
		[Address] varchar(100),
		Suburb varchar(50),
		Postcode varchar(10),
		StateCode varchar(20)
		)    
	    INSERT INTO @MyTable(AddressID, [Address], Suburb, Postcode, StateCode)	 
		SELECT A.[AddressID], A.[Address], A.[Suburb], A.[Postcode], A.[StateCode] 
		from tblAddress A 
		where AddressID 
		in 
		(
			SELECT  A.[AddressID]	  
			  FROM [tblAddress] A 
			  LEFT OUTER JOIN tblContact B ON A.AddressID = B.AddressID 
			  LEFT OUTER JOIN tblInstrumentContact C ON B.ContactID = C.ContactID
			  LEFT OUTER JOIN tblInstrument D ON C.InstrumentID = D.InstrumentID 			 
			WHERE 		 
			A.[Address] like '%' + @CurrentStateCode + ' ' + Postcode + '%'
			and A.StateCode = @CurrentStateCode
		)

	    --select * from @MyTable
		--here we start address info looping

		    DECLARE @AddressTextOriginal VARCHAR(100)
			DECLARE @AddressTextTemp VARCHAR(100)
			DECLARE @SuburbTextTemp VARCHAR(50)
			DECLARE @PostcodeTemp VARCHAR(10)
			DECLARE @StateCodeTemop VARCHAR(10)

			DECLARE @MyTableTemp TABLE
			(
				SNo int IDENTITY(1,1), 
				AddressID int,
				[Address] varchar(100),
				Suburb varchar(50),
				Postcode varchar(10),
				StateCode varchar(20)
			)    
			INSERT INTO @MyTableTemp(AddressID, [Address], Suburb, Postcode, StateCode)	    
			select AddressID, [Address], Suburb, Postcode, StateCode from @MyTable A 
			 	 	  
	        DECLARE @CntTemp INT
			SELECT @CntTemp = MIN(Sno) FROM @MyTableTemp
	
	        DECLARE @AddressID INT

			WHILE (1=1)
			BEGIN
            
			SET @AddressTextTemp = ''

			SELECT @AddressID = AddressID, @AddressTextOriginal = [Address], @SuburbTextTemp = Suburb, @PostcodeTemp = Postcode, @StateCodeTemop = StateCode  FROM @MyTableTemp
			WHERE SNo = @CntTemp
	    
			IF @@ROWCOUNT = 0
				BREAK
 
		    IF LEN(@AddressTextOriginal) > 0
			BEGIN			 	

				     IF patindex('%' + @CurrentStateCode + '%', @AddressTextOriginal) >= 2
						SET @AddressTextTemp = Replace(SUBSTRING(@AddressTextOriginal, 1, patindex('%' + @CurrentStateCode + '%', @AddressTextOriginal)-2), @SuburbTextTemp, '')	
					 ELSE
						IF patindex('%' + @CurrentStateCode + '%', @AddressTextOriginal) >= 1
							SET @AddressTextTemp = Replace(SUBSTRING(@AddressTextOriginal, 1, patindex('%' + @CurrentStateCode + '%', @AddressTextOriginal)-1), @SuburbTextTemp, '')
						ELSE
						    IF patindex('%' + @CurrentStateCode + '%', @AddressTextOriginal) >= 0			 
					           SET @AddressTextTemp = Replace(SUBSTRING(@AddressTextOriginal, 1, patindex('%' + @CurrentStateCode + '%', @AddressTextOriginal)), @SuburbTextTemp, '')	
			 			    
                     SET @AddressTextTemp = Ltrim(Rtrim(Replace(@AddressTextTemp, ',' , '')))

					 --here we update back to the tblAddress table
					 --Update tblAddress set Address = @AddressTextTemp where AddressID = @AddressID	
					 insert into @MyTableFinal(AddressID, AddressOriginal, AddressFinal, Suburb, Postcode, StateCode)  
					             values(@AddressID, @AddressTextOriginal, @AddressTextTemp, @SuburbTextTemp, @PostcodeTemp, @StateCodeTemop)
            END

			SELECT @CntTemp = @CntTemp + 1		
			END	
					 
			delete @MyTableTemp

        --here we end address info looping 
	  DELETE @MyTable
	 
SELECT @Cnt = @Cnt + 1
		
END

SELECT * FROM @MyTableFinal
DELETE @MyTableFinal 
DELETE @MyStateTable

 
