USE [CUSSReportingDB_STR]
GO
/****** Object:  StoredProcedure [dbo].[AvailabilityStatesPerDay]    Script Date: 6/29/2021 9:50:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[AvailabilityStatesPerDay]
(
    @FromDateTime DateTime,
	@ToDateTime DateTime,
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10),
	@ABDStationIDs varchar(400),
	@ABDStationNames varchar(4000)
	)
		WITH RECOMPILE
AS
declare @IsSearchDateAfterApr bit = 1
if not (DatePart(year, @FromDateTime) = 2021 and DatePart(month, @FromDateTime) >= 4)
	select @IsSearchDateAfterApr = 0

if @IsSearchDateAfterApr = 0  
begin
	SELECT     ABDAvailability.Date,@ABDStationNames AS ABDStations, ABDStates.ID AS AbdStateID,  ABDStates.State, SUM(ABDAvailability.MinutesInState) as MinutesInState
	FROM         ABDAvailability INNER JOIN
						  ABDStates ON ABDAvailability.ABDStateID = ABDStates.ID INNER JOIN
						  StateTimeSlots ON ABDAvailability.StateTimeSlotID = StateTimeSlots.ID INNER JOIN
						  TimeSlotHourly ON StateTimeSlots.TimeSlotHouryID = TimeSlotHourly.ID INNER JOIN
						  ABDStation ON ABDStation.ID = ABDAvailability.ABDStationID
	WHERE        (ABDAvailability.Date BETWEEN @FromDateTime AND @ToDateTime)
		AND (AbdStation.Terminal LIKE @Terminal)
		AND (ISNULL(AbdStation.Area,'') LIKE @Area )
		AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
		AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
		AND ABDAvailability.ABDStationID <= 30
	GROUP BY ABDAvailability.Date, ABDStates.ID, ABDStates.State
	ORDER BY ABDAvailability.Date, ABDStates.State
end

if @IsSearchDateAfterApr = 1  
begin
	SELECT     ABDAvailability.Date,@ABDStationNames AS ABDStations, ABDStates.ID AS AbdStateID,  ABDStates.State, SUM(ABDAvailability.MinutesInState) as MinutesInState
	FROM         ABDAvailability INNER JOIN
						  ABDStates ON ABDAvailability.ABDStateID = ABDStates.ID INNER JOIN
						  StateTimeSlots ON ABDAvailability.StateTimeSlotID = StateTimeSlots.ID INNER JOIN
						  TimeSlotHourly ON StateTimeSlots.TimeSlotHouryID = TimeSlotHourly.ID INNER JOIN
						  ABDStation ON ABDStation.ID = ABDAvailability.ABDStationID
	WHERE        (ABDAvailability.Date BETWEEN @FromDateTime AND @ToDateTime)
		AND (AbdStation.Terminal LIKE @Terminal)
		AND (ISNULL(AbdStation.Area,'') LIKE @Area )
		AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
		AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
		AND ABDAvailability.ABDStationID >= 30 
	GROUP BY ABDAvailability.Date, ABDStates.ID, ABDStates.State
	ORDER BY ABDAvailability.Date, ABDStates.State
end

RETURN
