USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspReference_admin_radiation_qualification_search]    Script Date: 7/11/2016 11:38:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eric He
-- Create date: 29-APRIL-2014
-- Description:	This procedure will search radiation qualification data based on table: tblQualification
-- =============================================
ALTER PROCEDURE [dbo].[uspReference_admin_radiation_qualification_search] 
	-- Add the parameters for the stored procedure here
	
@QualificationID INT,
@Name  VARCHAR(255),
@Description VARCHAR(255),
@Provider  VARCHAR(255),
@RadiationConditionID INT, 
@AccreditationTypeID INT,
@IsActive   BIT,
@CourseCurrentlyAvailableFlag BIT = null,
@RACApprovedCourseFlag BIT = null,
@StateCode VARCHAR(20) = null,
@CourseContactPerson VARCHAR(256) = null,
@ContactDetails VARCHAR(256) = null 
AS
BEGIN
	SET NOCOUNT ON
		 	   
	BEGIN TRY
	    --RETURN ALL DATAROWS
	    IF @QualificationID = 0 AND @Name = '' AND @Description='' AND @IsActive = 0
	    BEGIN
					select 
					A.[QualificationID]
					,A.[Name]
					,A.[Description]
					,A.[Provider]
					,A.[RadiationConditionID]
					,B.[ConditionName]
					,B.[Description] as ConditionDesc
					,A.[AccreditationTypeID]
					,C.Description as AccreditationType
					,A.[EffectiveDateFrom]
					,A.[EffectiveDateTo]
					,A.[DateCreated]
					,A.[CreatedBySystemUserID]
					,A.[DateUpdated]
					,A.[UpdatedBySystemUserID]
					,(CASE WHEN ([dbo].[ufn_AllowDeleteRadiationQualification] (A.QualificationID)) = 0 THEN 1
					ELSE 0 END)	AS CanBeDeleted
					  ,[CourseCurrentlyAvailableFlag]
					  ,[RACApprovedCourseFlag]
					  ,[StateCode]
					  ,[CourseContactPerson]
					  ,[ContactDetails]	
					from tblQualification A 
					LEFT OUTER JOIN tblRadiationCondition B ON A.RadiationConditionID = B.RadiationConditionID 
					LEFT OUTER JOIN tblClassification C ON A.AccreditationTypeID = C.ClassificationID 
					WHERE A.EffectiveDateTo IS NOT NULL
					ORDER BY QualificationID       
	                
	                RETURN
	    END
	
        IF @QualificationID > 0 
				BEGIN			 			   
					SELECT 
						 A.[QualificationID]
						,A.[Name]
						,A.[Description]
						,A.[Provider]
						,A.[RadiationConditionID]
						,B.[ConditionName]
						,B.[Description] as ConditionDesc
						,A.[AccreditationTypeID]
						,C.Description as AccreditationType
						,A.[EffectiveDateFrom]
						,A.[EffectiveDateTo]
						,A.[DateCreated]
						,A.[CreatedBySystemUserID]
						,A.[DateUpdated]
						,A.[UpdatedBySystemUserID]
						,(CASE WHEN ([dbo].[ufn_AllowDeleteRadiationQualification] (A.QualificationID)) = 0 THEN 1
						ELSE 0 END)	AS CanBeDeleted
					  ,[CourseCurrentlyAvailableFlag]
					  ,[RACApprovedCourseFlag]
					  ,[StateCode]
					  ,[CourseContactPerson]
					  ,[ContactDetails]										  
					FROM tblQualification A 
						LEFT OUTER JOIN tblRadiationCondition B ON A.RadiationConditionID = B.RadiationConditionID 
						LEFT OUTER JOIN tblClassification C ON A.AccreditationTypeID = C.ClassificationID 
					WHERE QualificationID = @QualificationID					 			 	 
				END
	    ELSE
				IF @QualificationID = 0
				BEGIN
					Declare @RadiationQualificationResultRowsFinal Table
					(	 
						QualificationID int null,				 
						Name varchar(255) null,	
						Description varchar(255) null,	
						Provider varchar(255) null,									
						RadiationConditionID int null,	
						ConditionName varchar(255) null,	
						ConditionDesc varchar(255) null,
						AccreditationTypeID int null,	
						AccreditationType varchar(255) null,		 
						EffectiveDateFrom DateTime null,
						EffectiveDateTo DateTime null,
						DateCreated DateTime null,
						CreatedBySystemUserID int null,
						DateUpdated DateTime null,	
						UpdatedBySystemUserID int null,
						CourseCurrentlyAvailableFlag BIT null, 
						RACApprovedCourseFlag BIT null,
						StateCode VARCHAR(20) null,
						CourseContactPerson VARCHAR(256) null,
						ContactDetails VARCHAR(256) null													
					)
						    
					DECLARE @strSearchCriteria nvarchar(MAX)
					SELECT @strSearchCriteria =N'		
					SELECT A.QualificationID
						,A.Name
						,A.Description
						,A.Provider
						,A.RadiationConditionID
						,B.ConditionName
						,B.Description as ConditionDesc
						,A.AccreditationTypeID
						,C.Description as AccreditationType
						,A.EffectiveDateFrom
						,A.EffectiveDateTo
						,A.DateCreated
						,A.CreatedBySystemUserID
						,A.DateUpdated
						,A.UpdatedBySystemUserID
						,A.[CourseCurrentlyAvailableFlag]
						,A.[RACApprovedCourseFlag]
						,A.[StateCode]
						,A.[CourseContactPerson]
						,A.[ContactDetails]	
					FROM tblQualification A 
						LEFT OUTER JOIN tblRadiationCondition B ON A.RadiationConditionID = B.RadiationConditionID 
						LEFT OUTER JOIN tblClassification C ON A.AccreditationTypeID = C.ClassificationID 
					WHERE QualificationID > 0 '

					DECLARE @whereClause0 AS nvarchar(MAX)                        
					SET  @whereClause0 = N''
					
					IF @QualificationID > 0
					BEGIN
					  SET @whereClause0 = @whereClause0 +  ' AND A.QualificationID = ' + convert(varchar, @QualificationID)
					END 

					IF @Name IS NOT NULL and Len(@Name) > 0
					BEGIN
						  SET @whereClause0 = @whereClause0 +  ' AND A.Name like ''%' + convert(varchar, @Name) + '%'' '
					END

					IF @Description IS NOT NULL and Len(@Description) > 0
					BEGIN
						  SET @whereClause0 = @whereClause0 +  ' AND A.Description like ''%' + convert(varchar, @Description) + '%'' '
					END
					
					IF @Provider IS NOT NULL and LEN(@Provider) > 0
					BEGIN
					   SET @whereClause0 = @whereClause0 +  ' AND A.Provider like ''%' + convert(varchar, @Provider) + '%'' '
					END				 

					IF @RadiationConditionID IS NOT NULL and @RadiationConditionID > 0
					BEGIN
					   SET @whereClause0 = @whereClause0 +  ' AND A.RadiationConditionID = ' + convert(varchar, @RadiationConditionID)
					END	
					IF @AccreditationTypeID IS NOT NULL and @AccreditationTypeID > 0
					BEGIN
					   SET @whereClause0 = @whereClause0 +  ' AND A.AccreditationTypeID = ' + convert(varchar, @AccreditationTypeID) 
					END	

					IF @IsActive IS NOT NULL and @IsActive = 1
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND (A.EffectiveDateTo IS NULL OR A.EffectiveDateTo >= GETDATE()) '
					END
					
					IF @IsActive IS NOT NULL and @IsActive = 0
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.EffectiveDateTo IS NOT NULL '
					END		

					IF @CourseCurrentlyAvailableFlag IS NOT NULL and @CourseCurrentlyAvailableFlag = 0
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.CourseCurrentlyAvailableFlag = 0' 
					END	
					IF @CourseCurrentlyAvailableFlag IS NOT NULL and @CourseCurrentlyAvailableFlag = 1
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.CourseCurrentlyAvailableFlag = 1' 
					END	

					IF @RACApprovedCourseFlag IS NOT NULL and @RACApprovedCourseFlag = 0
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.RACApprovedCourseFlag = 0'
					END	
					IF @RACApprovedCourseFlag IS NOT NULL and @RACApprovedCourseFlag = 1
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.RACApprovedCourseFlag = 1'
					END	
					
					IF @StateCode IS NOT NULL and LEN(@StateCode) > 0  
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.StateCode  like ''%' + convert(varchar, @StateCode) + '%'' ' 
					END	

					IF @CourseContactPerson IS NOT NULL and LEN(@CourseContactPerson) > 0  
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.CourseContactPerson like ''%' + convert(varchar, @CourseContactPerson) + '%'' '  
					END	

					IF @ContactDetails IS NOT NULL and LEN(@ContactDetails) > 0
					BEGIN
						 SET @whereClause0 = @whereClause0 +  ' AND A.ContactDetails like ''%' + convert(varchar, @ContactDetails) + '%'' '   
					END	

					set @strSearchCriteria = @strSearchCriteria + @whereClause0 	
					
					
					
					Insert Into @RadiationQualificationResultRowsFinal 
					(
						QualificationID, 				 
						Name, 	
						Description, 	
						Provider, 									
						RadiationConditionID, 	
						ConditionName, 	
						ConditionDesc, 
						AccreditationTypeID, 	
						AccreditationType, 		 
						EffectiveDateFrom, 
						EffectiveDateTo, 
						DateCreated, 
						CreatedBySystemUserID, 
						DateUpdated, 	
						UpdatedBySystemUserID
					   ,[CourseCurrentlyAvailableFlag]
					   ,[RACApprovedCourseFlag]
					   ,[StateCode]
					   ,[CourseContactPerson]
					   ,[ContactDetails]	
					)			
					EXEC sp_executesql @strSearchCriteria;	
					
					SELECT 						
					    P.QualificationID, 				 
						P.Name, 	
						P.Description, 	
						P.Provider, 									
						isnull(P.RadiationConditionID, null) as RadiationConditionID, 	
						P.ConditionName, 	
						P.ConditionDesc, 
						isnull(P.AccreditationTypeID, null) as AccreditationTypeID,	
						P.AccreditationType, 		 
						P.EffectiveDateFrom, 
						P.EffectiveDateTo, 
						P.DateCreated, 
						P.CreatedBySystemUserID, 
						P.DateUpdated, 	
						P.UpdatedBySystemUserID
						  ,(CASE WHEN ([dbo].[ufn_AllowDeleteRadiationQualification] (P.QualificationID)) = 0 THEN 1
					        ELSE 0 END)	AS CanBeDeleted
					   ,[CourseCurrentlyAvailableFlag]
					   ,[RACApprovedCourseFlag]
					   ,[StateCode]
					   ,[CourseContactPerson]
					   ,[ContactDetails]														  
					FROM @RadiationQualificationResultRowsFinal P  
					ORDER BY P.QualificationID				
			   END
	END TRY
	
	BEGIN CATCH
		DECLARE @ErrorMessage VARCHAR(2000)
		
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		
		RAISERROR (@ErrorMessage , 16, 1)
	END CATCH
END
