USE [PALMSDB]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[uspGetEmailInvoiceDocumentField]
		@InvoiceID = 390009939

SELECT	'Return Value' = @return_value

GO




		DECLARE @InstrumentID INT

		SELECT InstrumentID FROM tblInstrumentInvoice WHERE InstrumentInvoiceID = 390114696

		select * from tblPOEOLicence where InstrumentID = 87709
		select * from tblInstrument where InstrumentID = 87709 
		select * from tblClassification where ClassificationID = 553

		select * from tblInstrumentInvoice where DateECProcessed > '2018-03-05' and InstrumentInvoiceID in (390115139, 390115140, 390115141)



		-------------------------------------------------------------------
		select 
		a.InstrumentInvoiceID,
		a.InstrumentID,
		b.FeeTypeID 
		from tblInstrumentInvoice 
		a inner join tblFeeType b on a.FeeTypeID = b.FeeTypeID
		where b.EmailCommunicationFlag = 1 and a.DateECProcessed is null
		--------------------------------------------------------------------
		update   tblInstrumentInvoice set                        
		    DateECProcessed = null, 
			DateEmailSent = null     
        WHERE (InstrumentInvoiceID IN (390115139, 390115140, 390115141))
		--------------------------------------------------------------------

		exec [dbo].[uspGetEmailInvoiceDocumentField] 390115139
		exec [dbo].[uspGetEmailInvoiceDocumentField] 390115140
		exec [dbo].[uspGetEmailInvoiceDocumentField] 390115141