select * from viewEMAssessmentResult where InstrumentID = 4000073  

select A.*, A.EnteredValue, D.EMAssessmentAnswer, E.EMAssessmentSection 
from tblEMAssessmentResultAnswer A INNER JOIN tblEMAssessmentResultSection B
			 ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
			 INNER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
			 INNER JOIN tblEMAssessmentAnswer D ON A.EMAssessmentAnswerID = D.EMAssessmentAnswerID
			 INNER JOIN tblEMAssessmentSection E ON B.EMAssessmentSectionID = E.EMAssessmentSectionID
			 WHERE C.InstrumentID = 4000073 
			 
--select SUM(case A.EMAssessmentQuestionID 		   
--when 25 then (case A.EMAssessmentAnswer when 'No' then 0 when 'Yes' then -70 end) 		  
--end) as TotalCategoryFourScoreA			 
--FROM [viewEMAssessmentResult] A
--INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID	 
--where A.InstrumentID = 4000073 and A.EMAssessmentCategoryID = 4 and A.EMAssessmentSectionID = 16	

	
SELECT 
   RiskAssessmentResultSectionScore.[EMAssessmentResultSectionID]
  ,RiskAssessmentResultSectionScore.[EMAssessmentResultCategoryID]
  ,RiskAssessmentResultSectionScore.[EMAssessmentSectionID]
  ,RiskAssessmentResultSectionScore.[RiskScore]		   
FROM tblEMAssessmentResultSection as RiskAssessmentResultSectionScore 		 
LEFT OUTER JOIN tblEMAssessmentResultCategory C ON RiskAssessmentResultSectionScore.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
WHERE C.InstrumentID = 4000144 	