 

 select 
   NSWDesignApprovalID
 , DesignApprovalNumber
 , [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)  
 , convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber))
 from tblDGDesignApproval 
 where datepart(day, DateCreated) = 22 and datepart(month, DateCreated) = 10 and datepart(year, DateCreated) = 2015
 and DesignApprovalState = 'NSW'
 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) <= 2000

 select 
   NSWDesignApprovalID
 , DesignApprovalNumber
 , [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber) 
 , case  
       when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 4 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) <= 2000 then [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 4 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) > 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 5 and Convert(int, substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))) <= 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 5 and Convert(int, substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))) > 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 3, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) > 5 and len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) < 8 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 4, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
   end as Trimmed
 , substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber))) as ThreeAfter
 , convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) as DesignApprovalNumberINT
 , convert(int, (
 case  
       when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 4 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) <= 2000 then [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 4 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) > 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 5 and Convert(int, substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))) <= 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 5 and Convert(int, substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))) > 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 3, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) > 5 and len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) < 8 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 4, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
   end
 )) as Final
 from tblDGDesignApproval 
 where datepart(day, DateCreated) = 22 and datepart(month, DateCreated) = 10 and datepart(year, DateCreated) = 2015
 and DesignApprovalState = 'NSW'
 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) > 2000
 --and (case  
 --      when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 4 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) <= 2000 then [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)
	--   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 4 and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) > 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	--   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 5 and Convert(int, substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))) <= 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	--   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) = 5 and Convert(int, substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 2, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))) > 2000 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 3, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
	--   when len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) > 5 and len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) < 8 then substring([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber), 4, len([dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)))
 --  end
 --) in (select [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)
 --from tblDGDesignApproval 
 --where datepart(day, DateCreated) = 22 and datepart(month, DateCreated) = 10 and datepart(year, DateCreated) = 2015
 --and DesignApprovalState = 'NSW'
 --and convert(int, [dbo].[ufn_RemoveNonNumericCharacters](DesignApprovalNumber)) <= 2000)
 