USE [PALMSDB]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[uspRadiationLicenceReportData]
		@InstrumentID = 5068555  

SELECT	'Return Value' = @return_value

GO

select InstrumentTypeID from tblInstrument where InstrumentID = 5068555

select *, PairedInstrumentID, PrimaryTransporterLicenceFlag, ToBePairedFlag, LicenceTypeID  
from tblTransporterLicence 
where PairedInstrumentID > 0 and PrimaryTransporterLicenceFlag = 0

select * from tblClassification where ClassificationDomainID = 137
select TrackableWasteTransportTypeID from tblTransporterLicence where InstrumentID = (select PairedInstrumentID from tblTransporterLicence where InstrumentID = 5068555)

select *, PairedInstrumentID, PrimaryTransporterLicenceFlag, ToBePairedFlag, LicenceTypeID  
from tblTransporterLicence a inner join tblInstrument b on a.InstrumentID = b.InstrumentID 
where PairedInstrumentID is null and b.InstrumentStatusID = 755

                  SELECT c.*   
				  FROM [dbo].[tblTransporterLicence] a 
				  left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
				  left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID
				  WHERE a.InstrumentID = 5068661  and b.EffectiveDateTo IS NULL and c.VehicleTypeID = 862 --Tanker vehicle

SELECT c.*   
FROM [dbo].[tblTransporterLicence] a 
left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID
WHERE a.InstrumentID = 5068661  and b.EffectiveDateTo IS NULL 
and c.VehicleTypeID = 863 --Non Tanker vehicle

------------------------------------------------------------------------------------------------------------
SELECT c.*   
FROM [dbo].[tblTransporterLicence] a 
left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID
WHERE a.InstrumentID = 5068661  and b.EffectiveDateTo IS NULL 
and c.VehicleTypeID = 862 --Tanker vehicle
and c.PayloadTypeID = 1406 -- Dual Payload 

SELECT c.*   
FROM [dbo].[tblTransporterLicence] a 
left outer join tblDGLicenceVehicle b on a.[InstrumentID] = b.[InstrumentID]
left outer join tblDGVehicle c on b.DGVehicleID = c.DGVehicleID
WHERE a.InstrumentID = 5068661  and b.EffectiveDateTo IS NULL 
and c.VehicleTypeID = 863 --Non Tanker vehicle
and c.PayloadTypeID = 1406 -- Dual Payload 
------------------------------------------------------------------------------------------------------------

select * from tblClassification where ClassificationDomainID = 131
select * from tblClassification where ClassificationDomainID = 106
select * from tblClassification where ClassificationDomainID = 137

select isnull(count(A.[DGLicenceVehicleID]), 0) 
FROM [tblDGLicenceVehicle] A 
LEFT OUTER JOIN tblDGVehicle B ON A.DGLicenceVehicleID = B.DGVehicleID 
LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID  
WHERE InstrumentID = 5068662 AND 
A.EffectiveDateFrom <= GETDATE() AND (A.EffectiveDateTo IS NULL OR A.EffectiveDateTo >= GETDATE())

------------------------------------------------------------------------------------------------------------

SELECT A.[DGLicenceVehicleID]
	,A.[InstrumentID]
	,A.[DGVehicleID]        
	,B.RegistrationNumber
	,B.FleetNumber
	,B.VehicleTypeID
	,C.Description as VehicleTypeText
	,dbo.ufn_GetVehicleClassByDGVehicleID(B.DGVehicleID) as DGClasses
	,dbo.ufn_GetVehicleUNNumberByDGVehicleID(B.DGVehicleID) as UNNo
FROM [tblDGLicenceVehicle] A 
LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID  
WHERE InstrumentID = 5068662 AND 
A.EffectiveDateFrom <= GETDATE() AND (A.EffectiveDateTo IS NULL OR A.EffectiveDateTo >= GETDATE())

------------------------------------------------------------------------------------------------------------
--[uspRadiationLicenceReportData]

--TERENCE HOGAN   23 ALMOND LANE, COROWA NSW 2646 <br> ANTQIP HOLDINGS PTY LIMITED   23A PACIFIC STREET, WAMBERAL NSW 2260 <br> dfd   HURSTVILLE NSW 2220