/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT TOP 1000 [POEOLicenceEnvironmentalRiskLevelID]
--      ,[InstrumentID]
--      ,[CompleteDate]
--      ,[ERAInstrumentID]
--      ,[EMAInstrumentID]
--      ,[EnvironmentalRiskLevelID]
--      ,[ChangedReasonID]
--      ,[Remarks]
--      ,[DateCreated]
--      ,[CreatedBySystemUserID]
--      ,[DateUpdated]
--      ,[UpdatedBySystemUserID]
--      ,[RowTimestamp]
--      ,[NoticeInstrumentID]
--  FROM [PALMSDB].[dbo].[tblPOEOLicenceEnvironmentalRiskLevel]
--  where [EnvironmentalRiskLevelID] IN  (713, 714, 715)

--  select * from tblClassification where ClassificationDomainID = 2

--  select * from tblClassification where ClassificationDomainID = 76


declare @EMCOverDueDays int		 
select @EMCOverDueDays = value from tblSystemVariable where SystemVariableID = 29

DECLARE @MyTableTemp TABLE (          
	InstrumentID int,
	MaxEndDate Datetime
)
insert into @MyTableTemp
select a.InstrumentID, max(a.EndDate) as MaxEndDate				 
from tblEMAssessmentPeriod a inner join tblInstrument b on a.InstrumentID = b.InstrumentID
where b.InstrumentStatusID = 1032          -----699	draft	;   1032 pending			   	 	  
group by a.InstrumentID 		  

DECLARE @MyTable TABLE 
(          
	InstrumentID int,
	MaxEndDate Datetime
)
insert into @MyTable
select InstrumentID, MaxEndDate 
from @MyTableTemp			 
where 
	DATEDIFF(day, MaxEndDate, getdate()) > @EMCOverDueDays 
			 
SELECT 
a.[InstrumentID] as [InstrumentID]
,[POEOLicenceIntrumentID] as InstrumentAlertID
,g.[ResponsibleSystemUserID] as ResponsibleUserID
,dd.EmailNotificationFlag AS EmailNotificationFlag
,dd.Email AS SectionEmail
,(SELECT MAX(aa.InstrumentID)
	FROM tblRiskAssessment aa INNER JOIN tblInstrument bb ON aa.InstrumentID = bb.InstrumentID
	WHERE aa.RiskAssessmentTypeID = 695 AND bb.InstrumentStatusID = 700 AND aa.POEOLicenceIntrumentID = a.POEOLicenceIntrumentID) as EMAID 			  				 
FROM [tblRiskAssessment] a                   
	inner join @MyTable h on a.InstrumentID = h.InstrumentID                   
	inner join tblReportingPeriod c on a.POEOLicenceIntrumentID = c.InstrumentID and  c.EndDate = h.MaxEndDate                    
    left outer join tblInstrument f on a.InstrumentID = f.InstrumentID 
    left outer join tblInstrument g on a.POEOLicenceIntrumentID = g.InstrumentID
	left outer join tblDECCWSection dd ON f.DECCWSectionID = dd.DECCWSectionID					 
WHERE [RiskAssessmentTypeID] = 695 			 			  
and c.ARReceivedFlag = 0		   	  
and not ((SELECT MAX(aa.InstrumentID)
	FROM tblRiskAssessment aa INNER JOIN tblInstrument bb ON aa.InstrumentID = bb.InstrumentID
	WHERE aa.RiskAssessmentTypeID = 695 AND bb.InstrumentStatusID = 700 AND aa.POEOLicenceIntrumentID = a.POEOLicenceIntrumentID)) is null
			  
order by [POEOLicenceIntrumentID] 			 
delete @MyTableTemp
delete @MyTable

--select * from tblInstrument where InstrumentID = 4002970 
--select * from tblPOEOLicenceEnvironmentalRiskLevel where ERAInstrumentID = 4002970 OR EMAInstrumentID = 4002970
--select * from tblClassification where ClassificationID = 679
--select * from tblClassification where ClassificationDomainID = 2