-----------------------------------------------------------------------------------------------------------------------------------
select *
from tblOnlineRADLicenceRenewal 
where LicenceNumber=5062656 and RenewalNumber=58156
-----------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------
--delete from tblOnlineRADLicenceRenewal where LicenceNumber=5062656 and RenewalNumber=58156
-----------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------
select *
from tblOnlineRADLicenceRenewal 
where LicenceNumber=5064175  and RenewalNumber=58077
-----------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------
--delete from tblOnlineRADLicenceRenewal where LicenceNumber=5064175 and RenewalNumber=58077
-----------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------
select * from tblOnlineRADLicenceRenewal 
where LicenceNumber=5000485 and RenewalNumber=57972
-----------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------
--delete from tblOnlineRADLicenceRenewal where LicenceNumber=5000485 and RenewalNumber=57972
-----------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------
select *, RadiationLicenceRenewalID from tblRadiationLicenceRenewal where InstrumentID = 5062656 and RenewalStatusID = 789
select * from tblClassification where ClassificationID = 1128
-----------------------------------------------------------------------------------------------------------------------------------
exec [dbo].[uspOnlineGetPOEOLicencesByCompanyId] 1871
exec [dbo].[uspOnlineGetCustomerLicenceRenewal] 23763  
-----------------------------------------------------------------------------------------------------------------------------------
	select OnlineRADLicenceRenewalID as Id,
	       LicenceNumber as LicenceNo,
           RenewalNumber as RenewalNo,
           cast(RenewalXML as varchar(max)) as RenewalXML,
           cast(RenewalFee as decimal) as RenewalFee,
           PaymentTypeID as PaymentTypeId ,
		   LicencetoUseDurationID as LicenceDurationId,
           LicenseeEmailAddress as EmailAddress,
           CreditCardPaymentReceiptNo,
           ApplicationStatusID as ApplicationStatusId
	from  tblOnlineRADLicenceRenewal 
	where LicenceNumber=5062656 and RenewalNumber=58156  

	--find renewal management licences
	select * from tblRadiationLicenceRenewal a inner join tblInstrument b on a.InstrumentID = b.InstrumentID 
	inner join tblRadiationLicence c on b.InstrumentID = c.InstrumentID
	where b.InstrumentTypeID = 750 and c.RadiationLicenceTypeID = 796 and c.InstrumentID not in (
	select LicenceNumber
	from  tblOnlineRADLicenceRenewal )
------------------------------------------------------------------------------------------------------------------------------------
USE [PALMSDB]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[uspOnlineRMLGetRenewalFee]
		@LicenceNo = 5062656

SELECT	'Return Value' = @return_value

GO
------------------------------------------------------------------------------------------------------------------------------------