 

-------------------------------------------------------------------------------------------------------
declare @InstrumentID int = 5068711

select * from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID
select * from tblRadiationLocation where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID)
select * from tblAddress where AddressID in (select AddressID from tblRadiationLocation where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID))
select * from tblRadiationDepartment where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID)


select * from tblRadiationLicenceRRM where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID 
      in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID))

select * from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID) 

select * from tblRadiationLicenceRRMComponent where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID 
      in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID))
select * from tblRRMComponent where RRMComponentID in (select RRMComponentID from tblRadiationLicenceRRMComponent where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID 
      in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentID)))
-------------------------------------------------------------------------------------------------------
declare @InstrumentIDdelete int = 5068711

delete from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete
delete from tblRadiationDepartment where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete)
delete from [tblRadiationLicenceRRM] where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID 
                                      in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete))
delete from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete) 

delete from tblRadiationLocation where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete)
delete from tblAddress where AddressID in (select AddressID from tblRadiationLocation where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete))

delete from tblRadiationLicenceRRMComponent where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID 
      in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete))

delete from tblRRMComponent where RRMComponentID in (select RRMComponentID from tblRadiationLicenceRRMComponent where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID 
      in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = @InstrumentIDdelete)))
-------------------------------------------------------------------------------------------------------

select * from tblRadiationDepartment where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = 5068696)
select top 20 * from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = 5068696) 

select  top 10 * from [tblRadiationLicenceRRM] where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = 5068696) )
select  top 10 * from [tblRadiationLicenceRRM] where RRMDepartmentID in (select RadiationDepartmentID from tblRadiationDepartment where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = 5068696))

select  top 10 * from [tblRadiationLicenceRRM] order by DateCreated desc


select  top 20 * from [tblRadiationLicenceRRM] where RadiationLicenceRRMID in (select RadiationLicenceRRMID from tblRadiationLocationRRM where RadiationLocationID in (select RadiationLocationID from [tblInstrumentRadiationLocation] where [InstrumentID] = 5068696))
--------------------------------------------------------------------------------------------------------
 select * from tblRadiationDepartment where RadiationDepartmentID = 552 


--select a.RadiationLicenceRRMID, c.RadiationDepartmentID, *
--from [tblRadiationLicenceRRM] a 
--INNER JOIN tblRadiationLocationRRM b on a.RadiationLicenceRRMID = b.RadiationLicenceRRMID
--INNER JOIN tblRadiationDepartment c on b.RadiationLocationID = c.RadiationLocationID
--where a.RadiationLicenceRRMID = 11623

select * from tblRadiationLocationRRM a inner join tblRadiationDepartment b on a.RadiationLocationID= b.RadiationLocationID
where RadiationLicenceRRMID = 11623
-------------------------------------------------------------------------------------------------------
declare @RadiationLocationID int = 10280

		SELECT DISTINCT LI.[RadiationLicenceRRMID]
		  ,[RRMStatusID]
		  ,ST.Name [RRMStatus]
		  ,LI.[RRMTypeID]		  
		  ,RRMT.RRMType
		  ,LI.[RRMPurposeID]
		  ,RRMP.RRMPurpose
		  ,LI.[RRMID]
		  ,RRM.RegulatedMaterial [RRM]
		  ,[WorkArea]
		  ,[RRMSecurityClassificationID]
		  ,[LaboratoryClassificationID]
		  ,LI.[DateCreated]
		  ,LI.[CreatedBySystemUserID]
		  ,LI.[DateUpdated]
		  ,LI.[UpdatedBySystemUserID]
		  ,LI.[RowTimestamp]
		  ,'R' [RecordMode]
		  ,(CASE WHEN LI.RRMStatusID = 788 THEN 1 ELSE 0 END) IsRelocated
		  ,dbo.ufn_GetRelocatedRRMLocationID(LI.RadiationLicenceRRMID) RelocatedLocationID
		  ,dbo.ufn_GetRelocatedRRMLocationDetails(LI.RadiationLicenceRRMID) RelocatedLocationDetails
		  ,LI.RRMDepartmentID
		  ,X.DepartmentName as RRMDepartment
	  FROM [dbo].[tblRadiationLicenceRRM] LI
	  JOIN tblRadiationLocationRRM LO ON LI.RadiationLicenceRRMID = LO.RadiationLicenceRRMID
	  LEFT JOIN tblRRMType RRMT ON LI.[RRMTypeID] = RRMT.[RRMTypeID]
	  LEFT JOIN tblRRMPurpose RRMP ON LI.RRMPurposeID = RRMP.RRMPurposeID
	  LEFT JOIN tblRRM RRM ON LI.RRMID = RRM.RRMID
	  LEFT JOIN tblClassification ST ON LI.RRMStatusID = ST.ClassificationID	 
	  LEFT OUTER JOIN tblRadiationDepartment X ON LI.RRMDepartmentID = X.RadiationDepartmentID
	  WHERE LO.RadiationLocationID = @RadiationLocationID AND (LO.EffectiveDateTo IS NULL OR LI.RRMStatusID IN(786,810))