USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspSearchDGVechicle]    Script Date: 6/07/2017 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--drop PROCEDURE [dbo].[uspSearchDGVechicle]
--go



-- =======================================================================================
-- Author:		Anish 
-- Create date: 08/05/2014
-- Description:	Search For dangerouse goods
-- =======================================================================================
ALTER PROCEDURE [dbo].[uspSearchDGVechicle]
	 (
		 @theXMLData xml,
		 @MaxAllowed INT =0,
		@MaxExport INT = 0,
		@DataUsage INT =0,--0 for display,1 for Export
		@OverLimit bit =0 OUTPUT,
		@pageSize int,
		@pageNum int
	)
AS

BEGIN
	declare @dgVehicleID int=0
	declare @vehicleTypeID int=0
	declare @regoNo varchar(10)=null
	declare @registrationState varchar(3)=null
	declare @vinNumber varchar(20)=null

	 DECLARE @my_count as int		

	 begin try
		SELECT
			 @dgVehicleID = RN.S.value('DGVehicleID[1]','int'),
			 @vehicleTypeID = RN.S.value('VehicleTypeID[1]','int'),
			 @regoNo = RN.S.value('RegistrationNumber[1]','varchar(10)') ,
			 @vinNumber= RN.S.value('VINNumber[1]','varchar(20)'),
			 @registrationState = RN.S.value('RegistrationState[1]','varchar(20)') 
   FROM @theXmlData.nodes('/NewDataSet/DGVehicleSearch') AS RN(S)

   	--select  @dgVehicleID , @vehicleTypeID, @regoNo,@registrationState ,@vinNumber
		Select  @my_count = Count(*)
				from tblDGVehicle
				where	(@dgVehicleID=0 or DGVehicleID=@dgVehicleID)
					and VehicleTypeID= (case @vehicleTypeID when 0 then VehicleTypeID else @vehicleTypeID end)
					and (@regoNo ='' or RegistrationNumber=@regoNo)
					and (@registrationState ='' or RegistrationState=@registrationState)
					and (@vinNumber ='' or VINNumber=@vinNumber)
					and ProhibitedVehiclesFlag=0

		declare @tblSearchResult table
		(
			RowID INT IDENTITY,
			[DGVehicleID] [int] NOT NULL,
			[VehicleTypeID] [smallint] NOT NULL,
			[RegistrationNumber] [varchar](10) NOT NULL,
			[VINNumber] [varchar](20) NOT NULL,
			[RegistrationState] [varchar](3) NOT NULL,
			[FleetNumber] varchar(150) null,
			[Capacity] int null,
			RowCountTotal int null,
			PayloadTypeID int null,
			PayloadType varchar(150) null
		)

		--if search goes here we count the number of return rows greater than @NoOfRecordsRequired we need stop search
		if @my_count <= @MaxAllowed OR @DataUsage =1
			begin
			    IF @dgVehicleID is null OR @dgVehicleID = 0
				begin
				INSERT INTO @tblSearchResult
					(
						[DGVehicleID],
						[VehicleTypeID],
						[RegistrationNumber],
						[VINNumber],
						[RegistrationState],
						[FleetNumber],
						[Capacity],
						[PayloadTypeID],
						[PayloadType]
				   )
				   Select  [DGVehicleID],
							[VehicleTypeID],
							[RegistrationNumber],
							[VINNumber],
							[RegistrationState],
							[FleetNumber],
							[Capacity],
							PayloadTypeID,
							b.[Description] as PayloadType
						from tblDGVehicle left outer join tblClassification b on tblDGVehicle.PayloadTypeID = b.ClassificationID
						where	(@dgVehicleID=0 or DGVehicleID=@dgVehicleID)
							and @vehicleTypeID= (case @vehicleTypeID when 0 then VehicleTypeID else @vehicleTypeID end)
							and (@regoNo ='' or RegistrationNumber=@regoNo)
							and (@registrationState ='' or RegistrationState=@registrationState)
							and (@vinNumber ='' or VINNumber=@vinNumber)
							and ProhibitedVehiclesFlag=0
                end
				else
				begin
				   INSERT INTO @tblSearchResult
					(
						[DGVehicleID],
						[VehicleTypeID],
						[RegistrationNumber],
						[VINNumber],
						[RegistrationState],
						[FleetNumber],
						[Capacity],
						[PayloadTypeID],
						[PayloadType]
				   )
				   Select  [DGVehicleID],
							[VehicleTypeID],
							[RegistrationNumber],
							[VINNumber],
							[RegistrationState],
							[FleetNumber],
							[Capacity],
							PayloadTypeID,
							b.[Description] as PayloadType
						from tblDGVehicle left outer join tblClassification b on tblDGVehicle.PayloadTypeID = b.ClassificationID
						where	DGVehicleID = @dgVehicleID
							and ProhibitedVehiclesFlag=0
				end

				DECLARE @ActualCount INT
				SELECT @ActualCount = COUNT(DGVehicleID) from @tblSearchResult			
				UPDATE @tblSearchResult SET RowCountTotal = @ActualCount	
		
			END

		IF(@DataUsage = 1)
			BEGIN
				Select TOP(@MaxExport) * from @tblSearchResult order by DGVehicleID
				SET @OverLimit = 0	
			END
		Else	
			if(@my_count <@MaxAllowed)				
			BEGIN	
			
				SELECT TOP (@pageSize) 
									[DGVehicleID],
									[VehicleTypeID],
									[RegistrationNumber],
									[VINNumber],
									[RegistrationState],
									[dbo].[ufn_GetIntrumentIDByDGVehicleID](DGVehicleID) as [InstrumentID],
									c.Name as VehicleTypeName,
									FleetNumber,
									[dbo].[ufn_GetVehicleClassByDGVehicleID](DGVehicleID) as [LicenceClass],
									[Capacity],
									RowCountTotal,
									[PayloadTypeID],
									[PayloadType]
								FROM @tblSearchResult r 
										inner join tblClassification c on r.VehicleTypeID=c.ClassificationID
								WHERE RowID NOT IN  
								( SELECT TOP ((@pageNum - 1) * (@pageSize)) RowID FROM @tblSearchResult order by RowID )	
								order by RowID	
		
				    
				SET @OverLimit = 0	
			END
			ELSE
			BEGIN			    
				SET @OverLimit = 1  
			END
	  END TRY

	  BEGIN CATCH

			DECLARE @ErrorMessage VARCHAR(2000)
			SET @ErrorMessage = dbo.ufn_GetErrorText()
			RAISERROR (@ErrorMessage , 16, 1)

	  END CATCH

END
