USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspTransporterCompleteVariationVehicleTransfer]    Script Date: 10/08/2017 10:09:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eric He
-- Create date: 09-08-2017 WED
-- Description: complete transporter variation issue by transferrring vehicles to target licence 
-- =============================================
ALTER PROCEDURE [dbo].[uspTransporterCompleteVariationVehicleTransfer]
	-- Add the parameters for the stored procedure here
@inTransferLicenceVariationID INT,  
@inStatusID INT,
@inUpdatingUser INT,
@outErrorMsg VARCHAR(5000) OUTPUT 
AS
BEGIN
	--SET NOCOUNT ON added to prevent extra result sets from
	--In order to complete variation we need do:
	--============================================
	--1 Set the complete date to today’s date
	--2 Add one audit log to licence to indicate when/who complete the variation
	declare @RtnVal int
	SELECT @RtnVal = 0

	DECLARE @VarInID AS INT
	DECLARE @VarID AS INT

	DECLARE @MinID AS INT 
	DECLARE @MaxID AS INT

	DECLARE @ErrorMessage VARCHAR(2000)
	set @ErrorMessage = ''
	 
	SET NOCOUNT ON;
    
    BEGIN TRY

		DECLARE @Temp VARCHAR(5000)
		SET @Temp = ''

		Declare @inInstrumentID int
		Declare @oldStatusId int
	  
		select @oldStatusId = InstrumentStatusID --9 means Draft, 11 means issue
		from dbo.tblInstrument
		where InstrumentID = @inTransferLicenceVariationID

        select @inInstrumentID = InstrumentID from tblInstrumentNotice where NoticeInstrumentID = @inTransferLicenceVariationID 
		--Here we need get the instrument type based on @inInstrumentID
		-------------------------------------------------------
		--we get instrument type id as this SP will be used to handle dangerous good and pesticide licence as well
		DECLARE @InstrumentTypeID int -- 1417 Transporter Licence 
		select @InstrumentTypeID = InstrumentTypeID from tblInstrument where InstrumentID = @inInstrumentID
		

		declare @LicenceTypeText varchar(100)  
		if @InstrumentTypeID = 1417 --Dangerous Goods Licence
		begin
				set @LicenceTypeText = 'Transporter DGV licence'			
		end		 
		--------------------------------------------------------

		Declare @OldStatusText varchar(50)
		select @OldStatusText = [Description] from tblClassification where ClassificationID = @oldStatusId

		Declare @CurrentStatusText varchar(50)
		select @CurrentStatusText = [Description] from tblClassification where ClassificationID = @inStatusID

		DECLARE @DescriptionOfAction VARCHAR(50)

		if (@OldStatusText <> @CurrentStatusText)
		  SELECT @DescriptionOfAction ='Variation status changed:' + @OldStatusText + ' to ' + @CurrentStatusText


		BEGIN TRAN A

		--IF @inStatusID = 812 --possible we need reverse the variation status to pending
		--begin
		--  if not exists(select * from [dbo].[tblRadiationLicenceVariation] where RadiationLicenceVariationID = @inTransferLicenceVariationID)
		--   set @Temp = @Temp + '<br>' + 'No this variation record'
		--  else
		--	begin
		--	   --here we back up all existing licence data in case this variation has been terminated then we can restore them back
		--	   exec dbo.uspBackUpRadiationLicenceData @inInstrumentID

		--	   update [tblRadiationLicenceVariation] set 
		--	   VariationStatusID = @inStatusID,
		--	   VariationCompletedFlag = 0, 
		--	   VariationCompleteDate = null,
		--	   UpdatedBySystemUserID = @inUpdatingUser,
		--	   DateUpdated = getdate()		    
		--	   where RadiationLicenceVariationID = @inTransferLicenceVariationID
		--	end 
		--end

		--IF @inStatusID = 813  --terminated
		--begin
		--  if not exists(select * from [dbo].[tblRadiationLicenceVariation] where RadiationLicenceVariationID = @inTransferLicenceVariationID)
		--   set @Temp = @Temp + '<br>' + 'No this variation record'
		--  else
		--	begin
		--	   --here we restore all back up licence data to its original licence data
		--	   exec dbo.uspRestoreRadiationLicenceData @inInstrumentID

		--	   update [tblRadiationLicenceVariation] set 
		--	   VariationStatusID = @inStatusID,
		--	   VariationCompletedFlag = 0, 
		--	   VariationCompleteDate = null,
		--	   VariationCompletedBySystemUserID = null,
		--	   UpdatedBySystemUserID = @inUpdatingUser,
		--	   DateUpdated = getdate()		    
		--	   where RadiationLicenceVariationID = @inTransferLicenceVariationID
		--	end 
		--end
 
		IF @inStatusID = 11 --we need set the transporter licence's variation status to 11: Issued
		begin
		  if not exists(select * from [dbo].[tblInstrument] where InstrumentID = @inTransferLicenceVariationID)
		   set @Temp = @Temp + '<br>' + 'No this variation record'
		  else
		   begin                   --radiation licence       
		    
			if @InstrumentTypeID = 1417
			begin
			   --handle transporter licence variation issue
			   --here we delete all back up licence data as it is completed
			   --exec dbo.uspDeleteBackUpRadiationLicenceData @inInstrumentID

			   --update [tblRadiationLicenceVariation] set 
			   --VariationStatusID = @inStatusID,
			   --VariationCompletedFlag = 1, 
			   --VariationCompleteDate = getdate(),
			   --VariationCompletedBySystemUserID = @inUpdatingUser, 
			   --UpdatedBySystemUserID = @inUpdatingUser,
			   --DateUpdated = getdate()
			   --where RadiationLicenceVariationID = @inTransferLicenceVariationID
			  
			   
			   declare @outNewNoticeInstrumentID varchar(50) = ''

			   --Creates Draft Variations
			   DECLARE @tblInstrumentVariationsTemp AS TABLE 
			   (
				  InstrumentID INT, 
				  DraftCreated BIT DEFAULT(0), 
				  IssueCreated BIT DEFAULT(0)
			   )
 
               --Current licence record insert

               --New licence instrument id insert
			   INSERT INTO @tblInstrumentVariationsTemp(InstrumentID)
			   SELECT DISTINCT IRL.NewDGLicenceID FROM tblDGLicenceVehicle IRL			
					WHERE InstrumentID = @inInstrumentID AND IRL.VariationPendingFlag = 1 AND NewDGLicenceID IS NOT NULL
					AND IRL.NewDGLicenceID NOT IN (SELECT InstrumentID FROM @tblInstrumentVariationsTemp) --Distinct instrument ids
			
			    --Here create variation record on target licence
				IF(SELECT Count(*) FROM @tblInstrumentVariationsTemp) > 0
				BEGIN
					WHILE (1=1)
						BEGIN
							DECLARE @VarInIDtemp AS INT

							IF (SELECT Count(*) FROM @tblInstrumentVariationsTemp WHERE DraftCreated = 0) = 0
							BEGIN
								Break;
							END
							
							SELECT TOP 1 @VarInIDtemp = isnull(InstrumentID, 0) FROM @tblInstrumentVariationsTemp WHERE DraftCreated = 0 --here @VarInIDtemp is target licence number

							--commented out the following line as it could cause the dead lock 																 
							IF(@VarInIDtemp > 0 and (@VarInIDtemp <> @inInstrumentID))
							BEGIN
							    --print 'Need to do to create variation record on target licence with No: ' + cast(@VarInIDtemp as varchar)
							 
								declare @NoticeReasons varchar(500) = 'Licence variation for vehicle transfer from source licence no ' + cast(@inInstrumentID as varchar)
								EXEC dbo.uspTransporterCreateNoticeOnTargetLicenceVehicleTransfer @VarInIDtemp, @inTransferLicenceVariationID, 
								@NoticeReasons, 0, 403, 9, @outNewNoticeInstrumentID output --here @outNewNoticeInstrumentID is varchar; 403 transporter variation template ID value; 9 is Draft notice status
							END

							--Eric He 09-05-2014 I moved the following lines frm BEGIN -- END section to it outside as it could cause deadlock
							UPDATE @tblInstrumentVariationsTemp
							SET DraftCreated = 1
							WHERE InstrumentID = @VarInIDtemp
						END
				END
			   --End Creates Draft Variations on target licence


				---start vehcile licence transfer process
				SET @MinID = 0
				SET @MaxID = 0

				SELECT @MinID = MIN(DGLicenceVehicleID) FROM tblDGLicenceVehicle IRL
				WHERE InstrumentID = @inInstrumentID AND IRL.VariationPendingFlag = 1 AND NewDGLicenceID IS NOT NULL

				SELECT @MaxID = MAX(DGLicenceVehicleID) FROM tblDGLicenceVehicle IRL
				WHERE InstrumentID = @inInstrumentID AND IRL.VariationPendingFlag = 1 AND NewDGLicenceID IS NOT NULL

				SET @MaxID = ISNULL(@MaxID, 0) 

				IF(@MinID > 0)
					BEGIN
						WHILE(1=1)
						BEGIN
							IF EXISTS(SELECT 1 FROM tblDGLicenceVehicle IRL
								WHERE InstrumentID = @inInstrumentID AND IRL.VariationPendingFlag = 1 AND NewDGLicenceID IS NOT NULL
								AND DGLicenceVehicleID = @MinID)
								BEGIN
									INSERT INTO [dbo].[tblDGLicenceVehicle]
										([InstrumentID]
										,[DGVehicleID]
										,[VariationPendingFlag]
										,[EffectiveDateFrom]								   
										,[DateCreated]
										,[CreatedBySystemUserID])
									SELECT 
										IRL.NewDGLicenceID,
										IRL.DGVehicleID,
										0,
										GETDATE(),
										GETDATE(),
										@inUpdatingUser			
									FROM tblDGLicenceVehicle IRL
									WHERE InstrumentID = @inInstrumentID AND IRL.VariationPendingFlag = 1 AND DGVehicleID IS NOT NULL
									AND DGLicenceVehicleID = @MinID

									UPDATE IRL
										SET VariationPendingFlag = 0,
											EffectiveDateTo = GETDATE(),
											UpdatedBySystemUserID = @inUpdatingUser,
											DateUpdated = GETDATE()
									FROM tblDGLicenceVehicle IRL
									WHERE InstrumentID = @inInstrumentID AND IRL.VariationPendingFlag = 1 AND DGVehicleID IS NOT NULL
									AND DGLicenceVehicleID = @MinID					
								END

							SET @MinID = @MinID + 1

							IF(@MinID > @MaxID)
								BEGIN
									BREAK;
								END
						END
				END
				---end vehcile licence transfer process


				--Complete created variations
				IF(SELECT Count(*) FROM @tblInstrumentVariationsTemp) > 0
				BEGIN
						WHILE (1=1)
							BEGIN							
								IF (SELECT Count(*) FROM @tblInstrumentVariationsTemp WHERE IssueCreated = 0) = 0
								BEGIN
									Break;
								END
								
								SELECT TOP 1 @VarInID = isnull(InstrumentID, 0) FROM @tblInstrumentVariationsTemp WHERE IssueCreated = 0 --here @VarInID is target licence number

								IF(@VarInID > 0)
									BEGIN
										--DECLARE @VarIDtemp AS INT
										--SELECT @VarIDtemp = RadiationLicenceVariationID FROM tblRadiationLicenceVariation
										--WHERE InstrumentID = @VarInID AND VariationStatusID = 812

										-----------------  PALMS V6.0
										--IF @VarID >0 
										--BEGIN
										--	EXEC dbo.uspRadiationUpdateVariationStatus @VarID, 814, @inUpdatingUser,''  --815: complete and 812: pending
										--END
										 
										UPDATE @tblInstrumentVariationsTemp
										SET IssueCreated = 1
										WHERE InstrumentID = @VarInID
									END
								ELSE
										UPDATE @tblInstrumentVariationsTemp
										SET IssueCreated = 1
										WHERE InstrumentID = @VarInID								    
							END
				END
				--End Complete created variations

				--here we update table: tblDGLicenceVehicle to make EffectiveDateTo to be today's date
				update tblDGLicenceVehicle set VariationPendingFlag = 0,  EffectiveDateTo = getdate()
				where InstrumentID = @inInstrumentID and VariationPendingFlag = 1 and NewDGLicenceID is null

			end -- end of if @InstrumentTypeID = 1417
		   end
		end

		declare @VariationExtraInfo VARCHAR(50) --Radiation Licence VariationID
		set @VariationExtraInfo =  @LicenceTypeText + ' VariationID: ' + cast(@inTransferLicenceVariationID as varchar(50))
		
		if @inInstrumentID != null
		   EXEC @RtnVal = uspAuditLogInsert @inInstrumentID, @DescriptionOfAction, @VariationExtraInfo, @inUpdatingUser, @inUpdatingUser, 1

		COMMIT TRAN A



		--FINALLY WE RETURN
		--here we clean up the prefix <br> which is not necessary
		if len(@Temp) > 4
		begin		 
			set @outErrorMsg= substring(@Temp, 5, len(@Temp) - 3)    
		end
		else
			set @outErrorMsg = @Temp  
		   
		SELECT @outErrorMsg as TEMP	

    END TRY

    BEGIN CATCH                
		SET @ErrorMessage = dbo.ufn_GetErrorText()
		RAISERROR (@ErrorMessage , 16, 1)
		if len(@ErrorMessage) > 0
		    set @Temp = @Temp + '<br>' + @ErrorMessage

		--FINALLY WE RETURN
		--here we clean up the prefix <br> which is not necessary
		if len(@Temp) > 4
		begin		 
			set @outErrorMsg= substring(@Temp, 5, len(@Temp) - 3)    
		end
		else
			set @outErrorMsg = @Temp  
		   
		SELECT @outErrorMsg as TEMP	

		Return 0		
    END CATCH 

END

--GRANT EXECUTE ON dbo.[uspRadiationLicneceIssueCheck] TO ReadWriteRole
