USE [PALMSDB]
GO

DECLARE	@return_value int,
		@InstrumentStatusID int,
		@LicenceTypeID int

SELECT	@InstrumentStatusID = 8

EXEC	@return_value = [dbo].[uspOWTGetSimpleLicenceInforWDSProcess]
		@InstrumentID = 20810          ,
		@InstrumentStatusID = @InstrumentStatusID OUTPUT,
		@LicenceTypeID = @LicenceTypeID OUTPUT

SELECT	@InstrumentStatusID as N'@InstrumentStatusID',
		@LicenceTypeID as N'@LicenceTypeID'

SELECT	'Return Value' = @return_value

GO

----------------------------------------------------------------------------------------------
select * from tblInstrument where instrumentID = 20810    
----------------------------------------------------------------------------------------------

select * from tblClassification where ClassificationID = 8
--select * from tblPOEOLicence where instrumentID = 4412

