USE [PALMSDB]
GO

DECLARE	@return_value int,
		@InstrumentStatusID int,
		@LicenceTypeID int

EXEC	@return_value = [dbo].[uspOWTGetSimpleLicenceInforWDSProcess]
		@InstrumentID = 20999,
		@InstrumentStatusID = @InstrumentStatusID OUTPUT,
		@LicenceTypeID = @LicenceTypeID OUTPUT

SELECT	@InstrumentStatusID as N'@InstrumentStatusID',
		@LicenceTypeID as N'@LicenceTypeID'

SELECT	'Return Value' = @return_value

GO

select * from tblInstrument where InstrumentID = 20999

GRANT EXECUTE ON [dbo].[uspAdminProfileOnlineUserRemoveOnAccountableParty] TO ReadWriteRole