USE [WDS]
GO

DECLARE	@return_value int,
		@ProcessTypeID int

EXEC	@return_value = [dbo].[uspPALMSGetOWSProcessTypeID]
		@InstrumentID = 20810 ,
		@InstrumentStatusID = 5,
		@LicenceTypeID = 2,
		@ProcessTypeID = @ProcessTypeID OUTPUT

SELECT	@ProcessTypeID as N'@ProcessTypeID'

SELECT	'Return Value' = @return_value

GO


select AccountOperationID, * from AccountOperation where AccountOperationPermit = cast(21005 as varchar)


 