USE [ReportingDB_QF_New]
GO
/****** Object:  StoredProcedure [dbo].[CalculatePeakThroughputPer5Mins]    Script Date: 2/9/2023 2:53:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[CalculatePeakThroughputPer5Mins]
	@FromDate datetime,
	@ToDateTime datetime,
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10),
	@ABDStationIDs varchar(400),
	@ABDStationNames varchar(4000)
AS

 

If @Terminal  = 'WLG'
begin
	--set @FromDate  = '2022/07/01 00:00:00'
	--set @ToDateTime = '2022/07/31 23:59:59'
	--;WITH DayIntervals AS
	--(
	--	SELECT @FromDate AS Date
	--	UNION ALL
	--	SELECT DATEADD(DAY, 1, Date) AS Date
	--	FROM DayIntervals 
	--	WHERE DATEADD(DAY, 1, Date) <= @ToDateTime
	--)
	----Caculate number of bags checked in per 5 mins
	--SELECT DayIntervals.Date, 
	--	DATEADD(HOUR,DATEPART(HOUR,TimeSlot5min.FromTime),DATEADD(MINUTE,DATEPART(MINUTE,TimeSlot5min.FromTime),DATEADD(SECOND,DATEPART(SECOND,TimeSlot5min.FromTime),DayIntervals.Date))) AS FromTime,
	--	TimeSlot5min.ToTime,
	--	TimeSlot5min.TimeSlotName, 
	--	COUNT(BagWeightUpdate.ID) AS NumberOfBags
	--	INTO #tempNumberOfBagsAt5MinsIntervals
	--FROM DayIntervals
	--CROSS JOIN TimeSlot5min
	--JOIN BagWeightUpdate
	--ON CONVERT(DATE, BagWeightUpdate.LocalTime) = DayIntervals.Date 
	--	AND BagWeightUpdate.TimeSlot5minID = TimeSlot5min.ID
	--JOIN AbdStation
	--ON AbdStation.ID = BagWeightUpdate.AbdStationID
	--	AND (AbdStation.Terminal LIKE @Terminal)
	--	AND (ISNULL(AbdStation.Area,'') LIKE @Area )
	--	AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
	--	AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
	--GROUP BY DayIntervals.Date, TimeSlot5min.FromTime,TimeSlot5min.ToTime,TimeSlot5min.TimeSlotName
	--OPTION (MAXRECURSION 0)

	----Calculate Peak Throughput Per 5 Mins
	--SELECT #tempNumberOfBagsAt5MinsIntervals.* 
	--FROM #tempNumberOfBagsAt5MinsIntervals
	--JOIN 
	--	(
	--		SELECT Date,MAX(NumberOfBags) AS MaxNumberOfBags
	--		FROM #tempNumberOfBagsAt5MinsIntervals
	--		GROUP BY Date
	--	) A
	--ON #tempNumberOfBagsAt5MinsIntervals.Date = A.Date AND NumberOfBags = MaxNumberOfBags
	--ORDER BY Date,FromTime
	--OPTION (MAXRECURSION 0)
SELECT [Date]
      ,[FromTime]
      ,[ToTime]
	  ,substring([TimeSlotName], 13, 5) as [TimeSlotName]
      ,[NumberOfBags]
  FROM [STUDY_DB].[dbo].[WLG_PeakThroughout]

end
else
begin
	;WITH DayIntervals AS
	(
		SELECT @FromDate AS Date
		UNION ALL
		SELECT DATEADD(DAY, 1, Date) AS Date
		FROM DayIntervals 
		WHERE DATEADD(DAY, 1, Date) <= @ToDateTime
	)
	--Caculate number of bags checked in per 5 mins
	SELECT DayIntervals.Date, 
		DATEADD(HOUR,DATEPART(HOUR,TimeSlot5min.FromTime),DATEADD(MINUTE,DATEPART(MINUTE,TimeSlot5min.FromTime),DATEADD(SECOND,DATEPART(SECOND,TimeSlot5min.FromTime),DayIntervals.Date))) AS FromTime,
		TimeSlot5min.ToTime,
		TimeSlot5min.TimeSlotName, 
		COUNT(BagWeightUpdate.ID) AS NumberOfBags
		INTO #tempNumberOfBagsAt5MinsIntervals2
	FROM DayIntervals
	CROSS JOIN TimeSlot5min
	JOIN BagWeightUpdate
	ON CONVERT(DATE, BagWeightUpdate.LocalTime) = DayIntervals.Date 
		AND BagWeightUpdate.TimeSlot5minID = TimeSlot5min.ID
	JOIN AbdStation
	ON AbdStation.ID = BagWeightUpdate.AbdStationID
		AND (AbdStation.Terminal LIKE @Terminal)
		AND (ISNULL(AbdStation.Area,'') LIKE @Area )
		AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
		AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
	GROUP BY DayIntervals.Date, TimeSlot5min.FromTime,TimeSlot5min.ToTime,TimeSlot5min.TimeSlotName
	OPTION (MAXRECURSION 0)

	--Calculate Peak Throughput Per 5 Mins
	SELECT #tempNumberOfBagsAt5MinsIntervals2.* 
	FROM #tempNumberOfBagsAt5MinsIntervals2
	JOIN 
		(
			SELECT Date,MAX(NumberOfBags) AS MaxNumberOfBags
			FROM #tempNumberOfBagsAt5MinsIntervals2
			GROUP BY Date
		) A
	ON #tempNumberOfBagsAt5MinsIntervals2.Date = A.Date AND NumberOfBags = MaxNumberOfBags
	ORDER BY Date,FromTime
	OPTION (MAXRECURSION 0)
end
