/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) a.[ID],
b.FlightNumber,
b.BoardPoint,
b.OffPoint
      ,[CustomerID]
      ,[AbdStationID]
      ,[CustomerLookupType]
      ,[PNR]
      ,[UtcCreationTime]
      ,[FlightID]
      ,[UtcCompletionTime]
      ,[LocalCreationTime]
      ,[LocalCompletionTime]
      ,[MachineTime]
      ,[PaxTime]
      ,[DcsTime]
      ,[BhsTime]
      ,[CsaTime]
  FROM [BagDrop].[dbo].[CustomerSession] a LEFT OUTER JOIN Flight b ON a.FlightID = b.ID
  where PNR = 'M8WYG9'
  order by [UtcCompletionTime] desc