USE [ReportingDB_CDG]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAbdName]    Script Date: 11/7/2022 1:31:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetAbdNameNew]
(
	-- Add the parameters for the function here
	@Identifier nvarchar(10),
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10)
)
RETURNS nvarchar(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result nvarchar(50)
	Declare @CountTerminal INT
	DECLARE @length INT
	DECLARE @TerPrefix nvarchar(2)

	IF ( LEN(@Terminal) > 1 )
		SET @TerPrefix = 'T'
	ELSE
		SET @TerPrefix = 'T0'

	SET @TerPrefix = (case when LEN(@Terminal) > 1 then 'T' else 'T0' end)

	Select @CountTerminal = Count(*) From abdstation Where  ABDType ='ABD' and Terminal <> @Terminal

	-- Add the T-SQL statements to compute the return value here
	SET @Result = (SELECT CASE WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') <> ''
							THEN (case when LEN(@Terminal) > 1 then 'T' else 'T0' end) + @Terminal + '_' + @Area + '_' + @SubArea + '_' + @Identifier
						WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') = ''
							THEN (case when LEN(@Terminal) > 1 then 'T' else 'T0' end) + @Terminal + '_' + @Area + '_' + @Identifier
						WHEN ISNULL(@Terminal,'') <> '' And (select Count(*) From abdstation Where  ABDType ='ABD' and Terminal <> @Terminal) > 0
							THEN (case when LEN(@Terminal) > 1 then 'T' else 'T0' end) + @Terminal + '_'  + @Identifier + '  '
						WHEN ISNULL(@Terminal,'') ='' AND  ISNULL(@Area,'') <> ''
							THEN @Area+ '_'  + @Identifier
						ELSE @Identifier END)

	-- Return the result of the function
	RETURN @Result

END

