USE [CUSSReportingDB_NRT]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAbdName]    Script Date: 12/23/2022 2:56:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[GetAbdName]
(
	@Identifier nvarchar(10),
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10),
	@type nvarchar(50)= NULL
)
RETURNS nvarchar(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result nvarchar(50)
	IF CHARINDEX('T',@Terminal) > 0
	  SET @Terminal = @Terminal
	ELSE
	SET @Terminal = 'T'+ @Terminal

	-- Add the T-SQL statements to compute the return value here
	--SET @Result = (SELECT CASE WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@type,'') <> ''
	--						THEN @Terminal + '_' + @Area + '_' + @type + '_' + @Identifier
	--					WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') = ''
	--						THEN @Terminal + '_' + @Area + '_' + @Identifier
	--					WHEN ISNULL(@Terminal,'') ='' AND  ISNULL(@Area,'') <> ''
	--						THEN @Area + '_' + @Identifier
	--					ELSE @Identifier END)

	SET @Result = (SELECT CASE WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@type,'') <> '' AND ISNULL(@SubArea,'') <> ''
							THEN @Terminal + '_' + @Area + '_' + @SubArea + '_' + @type + '_' + @Identifier
						WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@type,'') <> ''
							THEN @Terminal + '_' + @Area + '_' + @type + '_' + @Identifier
						WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') = ''
							THEN @Terminal + '_' + @Area + '_' + @Identifier
						WHEN ISNULL(@Terminal,'') ='' AND  ISNULL(@Area,'') <> ''
							THEN @Area + '_' + @Identifier
						ELSE @Identifier END)

	-- Return the result of the function
	RETURN @Result

END
