/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ID]
      ,[CustomerSessionID]
      ,[TotalExcessValue]
      ,[IsExcessByWeight]
      ,[NumberOfExcessWeight]
      ,[ExcessByWeightChargeRate]
      ,[ExcessByWeightChargeCurrency]
      ,[IsExcessByPieces]
      ,[NumberOfExcessPieces]
      ,[ExcessByPiecesChargeRate]
      ,[ExcessByPiecesChargeCurrency]
      ,[IsExcessByOtherType]
      ,[NumberOfExcessByOtherType]
      ,[ExcessByOtherTypeChargeRate]
      ,[ExcessByOtherTypeChargeCurrency]
      ,[IsHeavyCharge]
      ,[NumberOfHeavyChargeItems]
      ,[ExcessByHeavyChargeRate]
      ,[ExcessByHeavyChargeCurrency]
      ,[IsOtherHeavyChargeType]
      ,[NumberOfOtherHeavyChargeItems]
      ,[ExcessByOtherHeavyChargeRate]
      ,[ExcessByOtherHeavyChargeCurrency]
  FROM [ReportingDB].[dbo].[ExcessDetailsLog]
  order by [CustomerSessionID] desc
  