USE [CUSSReportingDB_NRT]
GO
/****** Object:  StoredProcedure [dbo].[PaperTagReadsPerABD]    Script Date: 11/17/2021 5:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PaperTagReadsPerABD] 
(
	@FromDateTime DateTime,
	@ToDateTime DateTime,
    @CLVShortName nvarchar(50),
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10),
	@ABDStationIDs varchar(400),
	@ABDStationNames varchar(4000)
	)
AS

BEGIN
--SELECT     PaperTagReadLog.PaperTagReadStepID, COUNT(PaperTagReadLog.ID) AS PaperTagReads,
--		dbo.GetAbdName(AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType) AS AbdStationName,
--		PaperTagReadStep.Heading, PaperTagReadStep.Description
--FROM        PaperTagReadLog
--INNER JOIN AbdStation ON PaperTagReadLog.AbdStationID = AbdStation.ID 
--INNER JOIN PaperTagReadStep ON PaperTagReadLog.PaperTagReadStepID = PaperTagReadStep.ID AND PaperTagReadLog.WasReadSuccessful = 1
--LEFT JOIN PaperTagReadScanner ON PaperTagReadScanner.PaperTagReadLogID = PaperTagReadLog.ID
--LEFT JOIN ClvScannerType ON ClvScannerType.ID = PaperTagReadScanner.ClvScannerTypeID
						  
--WHERE     (PaperTagReadLog.LocalLogTime BETWEEN @FromDateTime AND @ToDateTime)
--	AND (ClvScannerType.ShortName LIKE @CLVShortName)
--	AND (AbdStation.Terminal LIKE @Terminal )
--	 AND (ISNULL(AbdStation.Area,'') LIKE @Area )
--	 AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
--	 AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
--GROUP BY AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType, PaperTagReadLog.PaperTagReadStepID,  PaperTagReadStep.Heading,PaperTagReadStep.Description
--ORDER BY dbo.GetAbdName(AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType),PaperTagReadStep.Heading

DECLARE @MyTable TABLE
	(
	PaperTagReadStepID bigint, 
	PaperTagReads int,
	AbdStationName nvarchar(50),
	Heading nvarchar(50),
	Description nvarchar(100)
	)  

insert into @MyTable
SELECT     PaperTagReadLog.PaperTagReadStepID, COUNT(PaperTagReadLog.ID) AS PaperTagReads,
		dbo.GetAbdName(AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType) AS AbdStationName,
		PaperTagReadStep.Heading, PaperTagReadStep.Description 
FROM        PaperTagReadLog
INNER JOIN AbdStation ON PaperTagReadLog.AbdStationID = AbdStation.ID 
INNER JOIN PaperTagReadStep ON PaperTagReadLog.PaperTagReadStepID = PaperTagReadStep.ID AND PaperTagReadLog.WasReadSuccessful = 1
LEFT JOIN PaperTagReadScanner ON PaperTagReadScanner.PaperTagReadLogID = PaperTagReadLog.ID
LEFT JOIN ClvScannerType ON ClvScannerType.ID = PaperTagReadScanner.ClvScannerTypeID				  
WHERE     (PaperTagReadLog.LocalLogTime BETWEEN @FromDateTime AND @ToDateTime)
	AND (ClvScannerType.ShortName LIKE @CLVShortName)
	AND (AbdStation.Terminal LIKE @Terminal )
	 AND (ISNULL(AbdStation.Area,'') LIKE @Area )
	 AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
	 AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
GROUP BY AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType, PaperTagReadLog.PaperTagReadStepID,  PaperTagReadStep.Heading,PaperTagReadStep.Description
ORDER BY dbo.GetAbdName(AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType),PaperTagReadStep.Heading

select 
	PaperTagReadStepID, 
	sum(PaperTagReads) as PaperTagReads,
	AbdStationName,
	Heading,
	Description 
from @MyTable
group by PaperTagReadStepID, AbdStationName, Heading, Description 

END

