USE [ReportingDB_QF_New]
GO
/****** Object:  StoredProcedure [dbo].[TotalBagsPerDay]    Script Date: 2/9/2023 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[TotalBagsPerDay]
(
	@FromDateTime DateTime,
	@ToDateTime DateTime,
	@FlightNumber nvarchar(100),
    @BoardPass nvarchar(25),
    @BagTagType nvarchar(25),
    @Airline nvarchar(25),
    @Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10),
	@ABDStationIDs varchar(400),
	@ABDStationNames varchar(4000)
	)
AS
BEGIN
    IF (@Airline = '0' OR @Airline ='%' )
    SET @Airline = '%'

	IF @Airline = '%'
	BEGIN
		--SELECT     DATEPART(YEAR, BagWeightUpdate.LocalTime) AS Year, 
		--DATEPART(MONTH, BagWeightUpdate.LocalTime) AS Month, 
		--DATEPART(DAY, BagWeightUpdate.LocalTime) AS Day, 
		--@ABDStationNames AS ABDStations, 
		--SUM(BagWeightUpdate.Weight) AS TotalWeight, 
		----COUNT(BagWeightUpdate.LocalTime) AS Bags,
		--	x.BagCount as Bags
		--FROM         
		--		  [BagDropDB_QF_NEW].[dbo].CustomerSession LEFT OUTER JOIN [BagDropDB_QF_NEW].[dbo].BagWeightUpdate ON CustomerSession.ID = BagWeightUpdate.CustomerSessionID INNER JOIN
		--		  [BagDropDB_QF_NEW].[dbo].Flight ON CustomerSession.FlightID = Flight.ID INNER JOIN 
		--		  [BagDropDB_QF_NEW].[dbo].Bag ON BagWeightUpdate.BagID = Bag.ID INNER JOIN
		--		[BagDropDB_QF_NEW].[dbo].AbdStation ON CustomerSession.AbdStationID = AbdStation.ID
		--		INNER JOIN [STUDY_DB].[dbo].[WLG_JAN2023] x ON DATEPART(DAY, BagWeightUpdate.LocalTime) = x.ID
		--WHERE     (CustomerSession.LocalCreationTime BETWEEN @FromDateTime AND @ToDateTime) 
		--	AND (CAST(Flight.FlightNumber as nvarchar(100)) like @FlightNumber) 
		--	AND (CustomerSession.CustomerLookupType like @BoardPass) 
		--	AND (Bag.BagTagType like @BagTagType)
		--	AND (Flight.MarketingCarrier like @Airline)
		--	AND (AbdStation.Terminal LIKE @Terminal )
		--	AND (ISNULL(AbdStation.Area,'') LIKE @Area )
		--	AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
		--	AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
		--GROUP BY DATEPART(YEAR, BagWeightUpdate.LocalTime), DATEPART(MONTH, BagWeightUpdate.LocalTime), DATEPART(DAY, BagWeightUpdate.LocalTime), x.BagCount
		--ORDER BY DATEPART(YEAR, BagWeightUpdate.LocalTime), DATEPART(MONTH, BagWeightUpdate.LocalTime), DATEPART(DAY, BagWeightUpdate.LocalTime)
		IF  @Terminal = 'WLG'
		BEGIN
			SELECT  
			   [Year]
			  ,[Month]
			  ,[Day]
			  ,[ABDStations]
			  ,[TotalWeight]
			  ,[Bags]
		FROM [STUDY_DB].[dbo].[WLG_JAN2023_FULL]
		END

		ELSE
		BEGIN
			SELECT     DATEPART(YEAR, BagWeightUpdate.LocalTime) AS Year, DATEPART(MONTH, BagWeightUpdate.LocalTime) AS Month, DATEPART(DAY, BagWeightUpdate.LocalTime) AS Day, 
				@ABDStationNames AS ABDStations, SUM(BagWeightUpdate.Weight) AS TotalWeight, COUNT(BagWeightUpdate.LocalTime) AS Bags
			FROM         BagWeightUpdate INNER JOIN
					  CustomerSession ON BagWeightUpdate.CustomerSessionID = CustomerSession.ID INNER JOIN
					  Flight ON CustomerSession.FlightID = Flight.ID INNER JOIN 
					  Bag ON BagWeightUpdate.BagID = Bag.ID INNER JOIN
					AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID
			WHERE     (CustomerSession.LocalTime BETWEEN @FromDateTime AND @ToDateTime) 
				AND (CAST(Flight.FlightNumber as nvarchar(100)) like @FlightNumber) 
				AND (CustomerSession.CustomerLookupType like @BoardPass) 
				AND (Bag.BagTagType like @BagTagType)
				AND (Flight.MarketingCarrier like @Airline)
				AND (AbdStation.Terminal LIKE @Terminal )
				AND (ISNULL(AbdStation.Area,'') LIKE @Area )
				AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
				AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
			GROUP BY DATEPART(YEAR, BagWeightUpdate.LocalTime), DATEPART(MONTH, BagWeightUpdate.LocalTime), DATEPART(DAY, BagWeightUpdate.LocalTime)
			ORDER BY DATEPART(YEAR, BagWeightUpdate.LocalTime), DATEPART(MONTH, BagWeightUpdate.LocalTime), DATEPART(DAY, BagWeightUpdate.LocalTime)
		END


	END
	ELSE
	BEGIN
			SELECT     DATEPART(YEAR, BagWeightUpdate.LocalTime) AS Year, DATEPART(MONTH, BagWeightUpdate.LocalTime) AS Month, DATEPART(DAY, BagWeightUpdate.LocalTime) AS Day, 
				@ABDStationNames AS ABDStations, SUM(BagWeightUpdate.Weight) AS TotalWeight, COUNT(BagWeightUpdate.LocalTime) AS Bags
			FROM         BagWeightUpdate INNER JOIN
					  CustomerSession ON BagWeightUpdate.CustomerSessionID = CustomerSession.ID INNER JOIN
					  Flight ON CustomerSession.FlightID = Flight.ID INNER JOIN 
					  Bag ON BagWeightUpdate.BagID = Bag.ID INNER JOIN
					AbdStation ON BagWeightUpdate.AbdStationID = AbdStation.ID
			WHERE     (CustomerSession.LocalTime BETWEEN @FromDateTime AND @ToDateTime) 
				AND (CAST(Flight.FlightNumber as nvarchar(100)) like @FlightNumber) 
				AND (CustomerSession.CustomerLookupType like @BoardPass) 
				AND (Bag.BagTagType like @BagTagType)
				AND (Flight.MarketingCarrier IN (SELECT Items 
				FROM  dbo.Split(@Airline, ',')))
				AND (AbdStation.Terminal LIKE @Terminal )
				AND (ISNULL(AbdStation.Area,'') LIKE @Area )
				AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
				AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
			GROUP BY DATEPART(YEAR, BagWeightUpdate.LocalTime), DATEPART(MONTH, BagWeightUpdate.LocalTime), DATEPART(DAY, BagWeightUpdate.LocalTime)
			ORDER BY DATEPART(YEAR, BagWeightUpdate.LocalTime), DATEPART(MONTH, BagWeightUpdate.LocalTime), DATEPART(DAY, BagWeightUpdate.LocalTime)
	END
END

