USE [CUSSReportingDB_NRT]
GO
/****** Object:  StoredProcedure [dbo].[TransactionTimeForNoOfBagsPerABD]    Script Date: 12/15/2021 9:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[TransactionTimeForNoOfBagsPerABD]
	
			(
			@FromDateTime DateTime,
			@ToDateTime DateTime,
			@FlightNumber nvarchar(100),
			@BoardPass nvarchar(25),
			@Airline nvarchar(25),
			@Terminal nvarchar(10),
			@Area nvarchar(10),
			@SubArea nvarchar(10),
			@ABDStationIDs varchar(400),
			@ABDStationNames varchar(4000)
			)
WITH RECOMPILE
AS
BEGIN
		IF OBJECT_ID('tempdb..##tempCusSession') is not null
				DROP TABLE [dbo].[##tempCusSession]

		IF OBJECT_ID('tempdb..##temp') is not null
				DROP TABLE [dbo].[##temp]		
		Select * into ##tempCusSession  from CustomerSession Where LocalTime BETWEEN @FromDateTime AND @ToDateTime
 
		SELECT     CustomerSession.ID, CustomerSession.CustomerID, CustomerSession.AbdStationID, CustomerSession.CustomerLookupType, CustomerSession.PNR, 
							  CustomerSession.UtcCreationTime, CustomerSession.FlightID, CustomerSession.TimeSlot5minID, CustomerSession.TimeSlot10minID, 
							  CustomerSession.TimeSlotHourlyID, CustomerSession.DayOfTheWeekID, CustomerSession.LocalTime, CustomerSession.UtcCompletionTime, 
							  CustomerSession.SessionDuration, COUNT(BagWeightUpdate.BagID) AS BagCount
							  INTO ##temp
		FROM       ##tempCusSession  CustomerSession LEFT OUTER JOIN
							  BagWeightUpdate ON CustomerSession.ID = BagWeightUpdate.CustomerSessionID
		GROUP BY CustomerSession.ID, CustomerSession.CustomerID, CustomerSession.AbdStationID, CustomerSession.CustomerLookupType, CustomerSession.PNR, 
							  CustomerSession.UtcCreationTime, CustomerSession.FlightID, CustomerSession.TimeSlot5minID, CustomerSession.TimeSlot10minID, 
							  CustomerSession.TimeSlotHourlyID, CustomerSession.DayOfTheWeekID, CustomerSession.LocalTime, CustomerSession.UtcCompletionTime, 
							  CustomerSession.SessionDuration


		declare @TransactionTimeNoOfBags table 
		(
		[AbdStationName]  varchar(50),
		[NoOfBagsGroupID]  int,
		[AvgBagCount]  int,
		[AvgSessionDuration] float,
		[MinSessionDuration] float,
		[MaxSessionDuration] float,
		[NumberOfCustomerTransactions] bigint, 
		[NumberOfBags] int
		)

		insert into @TransactionTimeNoOfBags
		SELECT     
		dbo.GetAbdName(AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType) AS AbdStationName, 
		NumberOfBagsMap.NoOfBagsGroupID, 
		AVG(TransactionTimeNoOfBags.BagCount) AS AvgBagCount, 
		AVG(TransactionTimeNoOfBags.SessionDuration) AS AvgSessionDuration, 
		MIN(TransactionTimeNoOfBags.SessionDuration) AS MinSessionDuration, 
		MAX(TransactionTimeNoOfBags.SessionDuration) AS MaxSessionDuration,
		COUNT(TransactionTimeNoOfBags.ID) AS NumberOfCustomerTransactions, 
		SUM(TransactionTimeNoOfBags.BagCount) AS NumberOfBags

		FROM  ##temp  AS TransactionTimeNoOfBags INNER JOIN
							  AbdStation ON TransactionTimeNoOfBags.AbdStationID = AbdStation.ID INNER JOIN
							  Flight ON TransactionTimeNoOfBags.FlightID = Flight.ID INNER JOIN
							  NumberOfBagsMap ON TransactionTimeNoOfBags.BagCount = NumberOfBagsMap.NumberOfBags
		WHERE     (CAST(Flight.FlightNumber AS nvarchar(100)) LIKE @FlightNumber) 
			AND (TransactionTimeNoOfBags.CustomerLookupType LIKE @BoardPass) 
			AND (Flight.MarketingCarrier LIKE @Airline)
			AND (AbdStation.Terminal LIKE @Terminal)
			AND (ISNULL(AbdStation.Area,'') LIKE @Area )		
			AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea ) 
			AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
		GROUP BY AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.AbdType,AbdStation.SubArea, NumberOfBagsMap.NoOfBagsGroupID
		ORDER BY dbo.GetAbdName(AbdStation.Identifier, AbdStation.Terminal,AbdStation.Area,AbdStation.SubArea,AbdStation.AbdType), NumberOfBagsMap.NoOfBagsGroupID

		--select [AbdStationName],  
		--[NoOfBagsGroupID],
		--[AvgBagCount],
		--isnull([AvgSessionDuration], 0) as AvgSessionDuration,
		--isnull([MinSessionDuration], 0) as MinSessionDuration,
		--isnull([MaxSessionDuration], 0) as MaxSessionDuration,
		--isnull([NumberOfCustomerTransactions], 0) as NumberOfCustomerTransactions, 
		--[NumberOfBags] from @TransactionTimeNoOfBags

		select [AbdStationName], 
		[NoOfBagsGroupID], 
		sum([AvgBagCount]) as [AvgBagCount],
		avg(isnull([AvgSessionDuration], 0)) as AvgSessionDuration,
		min(isnull([MinSessionDuration], 0)) as MinSessionDuration,
		max(isnull([MaxSessionDuration], 0)) as MaxSessionDuration,
		sum(isnull([NumberOfCustomerTransactions], 0)) as NumberOfCustomerTransactions, 
		sum([NumberOfBags]) as [NumberOfBags]
		from @TransactionTimeNoOfBags
		group by [AbdStationName], [NoOfBagsGroupID] 
	
END

