/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [AccountOperationID]
      ,[CustomerID]
      ,[SiteID]
      ,[AccountOperationPermit]
      ,[AccountOperationRoleTypeID]
      ,[RegionCode]
      ,[MaximumWasteTonnesPerYear]
      ,[EmergencyContactPhoneNumber]
      ,[ConsignmentAuthorisationCreateFlag]
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[CreatedIPAddress]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[UpdatedIPAddress]
      ,[RowTimestamp]
      ,[NSWLicenceFlag]
      ,[ApprovalMultipleWasteCAFlag]
      ,[WasteCodeUpdateOffFlag]
  FROM [WDS].[dbo].[AccountOperation]
  WHERE AccountOperationPermit = cast(10055 as varchar)
---------------------------------------------------------------------------------------
  select * from Customer where CustomerID = 1374

  select * from Customer where PALMSAccountablePartyID = 4081

  select * from AccountOperation where AccountOperationPermit = '10055'

  select * from site where PALMSLocationID = 579
 
  select * from OWTAccountOperationWasteCode a
  inner join OWTWasteCode b on a.OWTWasteCodeID = b.OWTWasteCodeID
  where AccountOperationID = 1624

  select AccountOperationID, * from AccountOperation where AccountOperationID = 1624 and WasteCodeUpdateOffFlag = 0
---------------------------------------------------------------------------------------

 