/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [AccountOperationID]
    ,[CustomerID]
    ,[SiteID]
    ,[AccountOperationPermit]
    ,[AccountOperationRoleTypeID]
    ,[RegionCode]
    ,[MaximumWasteTonnesPerYear]
    ,[EmergencyContactPhoneNumber]
    ,[ConsignmentAuthorisationCreateFlag]
    ,[EffectiveDateFrom]
    ,[EffectiveDateTo]
    ,[DateCreated]
    ,[CreatedBySystemUserID]
    ,[CreatedIPAddress]
    ,[DateUpdated]
    ,[UpdatedBySystemUserID]
    ,[UpdatedIPAddress]
    ,[RowTimestamp]
    ,[NSWLicenceFlag]
    ,[ApprovalMultipleWasteCAFlag]
FROM [WDS].[dbo].[AccountOperation]
where [AccountOperationID] = 23673
order by [DateCreated] desc

select * from Customer where PALMSAccountablePartyID in ('69', '4081')

select * from [Site]
WHERE SiteID = 23660
order by [DateCreated] desc


---------------------------------------------------------------------------------------------------------------
select CustomerID from Customer where PALMSAccountablePartyID = 3403 and ActiveFlag = 1

select CustomerID from Customer where TradingName like 'TAMWORTH' and ActiveFlag = 1

select CustomerID from Customer where PALMSAccountablePartyID = 3403 and ActiveFlag = 1

select CustomerID from Customer where TradingName = 'TAMWORTH REGIONAL COUNCIL' and ActiveFlag = 1

select * from Customer where PALMSAccountablePartyID = 3403 OR CustomerID = 4480
---------------------------------------------------------------------------------------------------------------

select * from AccountOperation where AccountOperationID = 2420
