USE [ReportingDB_QF]
GO
/****** Object:  StoredProcedure [dbo].[BiometricAcceptanceRateByGender]    Script Date: 9/9/2020 9:56:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[BiometricAcceptanceRateByGender]
(
	@FromDateTime DateTime,
	@ToDateTime DateTime,
	@PassportType char(1),
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10),
	@ABDStationIDs varchar(400),
	@ABDStationNames varchar(4000)
)
AS 

SELECT PassportInfo.Gender, ROUND(CONVERT(float,COUNT(SuccessfulScans.ID)) * 100.0 / CONVERT(float,COUNT(PassportInfo.ID)),2) AS SucessfulScanRate,
	COUNT(PassportInfo.ID) AS NumberOfPassportScans,
	COUNT(SuccessfulScans.ID) AS NumberOfPassportSuccessfulScans,
	@ABDStationNames AS ABDStations
FROM PassportInfo
LEFT JOIN PassportInfo AS SuccessfulScans 
ON SuccessfulScans.ID = PassportInfo.ID AND SuccessfulScans.IsVerifiedSucessfully = 1
JOIN AbdStation ON PassportInfo.AbdStationID = AbdStation.ID
WHERE     PassportInfo.LocalCreationTime BETWEEN @FromDateTime AND @ToDateTime
	AND (@PassportType = '%' OR CAST(PassportInfo.IsRFIDPhoto AS char(1)) = @PassportType)
	AND (AbdStation.Terminal LIKE @Terminal )
	AND (ISNULL(AbdStation.Area,'') LIKE @Area )
	AND (ISNULL(AbdStation.SubArea,'') LIKE @SubArea )
	AND (@ABDStationIDs = '0' OR CHARINDEX(',' + CAST(ABDStation.ID AS varchar(10)) + ',', @ABDStationIDs) > 0)
GROUP BY PassportInfo.Gender


