--/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT TOP 1090 
--     a.[AccountOperationID]
--      ,[CustomerID]
--      ,[SiteID]
--      ,[AccountOperationPermit]
--      ,[AccountOperationRoleTypeID]
--      ,[RegionCode]
--      ,[MaximumWasteTonnesPerYear]
--      ,[EmergencyContactPhoneNumber]
--      ,[ConsignmentAuthorisationCreateFlag]
--      ,a.[EffectiveDateFrom]
--      ,a.[EffectiveDateTo]      
--      ,[NSWLicenceFlag]
--      ,[ApprovalMultipleWasteCAFlag]
--	  ,b.*
--	  ,c.Name as AccountOperationRoleType
--  FROM [WDS].[dbo].[AccountOperation] a 
--  left outer join Individual b on a.AccountOperationID = b.AccountOperationID
--  left outer join dbo.Classification c ON c.ClassificationID = a.AccountOperationRoleTypeID

--  select * from Classification
--  where ClassificationDomainID = 64

--SELECT ApplicationUserTypeID,
--		StateCode
--FROM   ApplicationSystemUser
--WHERE  ApplicationSystemUserID = 2398

							select  
							IndividualID,
							AccountOperationID,
							TitleCode ,
							GivenName ,
							Surname ,
							PhoneNumber,
							MobileNumber,
							FaxNumber,
							EmailAddress,
							StreetAddress,
                            Suburb,
							Postcode,
							StateCode
							from Individual
							where IndividualID in (4444, 2428)

select * from vwOWTContact
where CustomerID = 1034
order by AccountOperationID