/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  
       [TransporterLocationID]
      ,[LocationName]
      ,[AddressID]
      ,[AdditionalAddressInformation]
      ,[Notes]
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
FROM [PALMSDB].[dbo].[tblTransporterLocation]

select * from tblAddress where AddressID = 130685

--SELECT * FROM tblInstrumentLocation where InstrumentID = 20927

SELECT * FROM tblInstrumentTransporterLocation where InstrumentID = 20927
SELECT * FROM [tblTransporterLocation] where [TransporterLocationID] in (select TransporterLocationID from tblInstrumentTransporterLocation WHERE InstrumentID = 20927)

BEGIN TRAN A

	declare @InstrumentID INT
	set @InstrumentID = 20927

	declare @TransporterLocationID int
	set @TransporterLocationID = 0
 	
	DELETE FROM tblTransporterLocation WHERE TransporterLocationID in (select TransporterLocationID from tblInstrumentTransporterLocation WHERE InstrumentID = 20927)
	DELETE FROM tblInstrumentTransporterLocation WHERE InstrumentID = 20927 
	

COMMIT TRAN A

--DELETE FROM tblInstrumentTransporterLocation WHERE TransporterLocationID in (select TransporterLocationID from tblInstrumentTransporterLocation WHERE InstrumentID = 20927)
			
--select * from tblFeeBasedActivity where PremisesFlag = 0  