
 
DECLARE @NoStuPerClass INT
SET @NoStuPerClass = 25

--Here we declare a temp student info table to hold all data from physical table: [ToBeDeletedTemp]
declare @STU_INFO_TEMP table 
( 
  STU_ID INT,
  GIVEN_NAME varchar(50),
  FAMILY_NAME varchar(50),
  SUBURB varchar(50),
  POSTCODE varchar(10), 
  TRAVEL_ROUTES varchar(50),
  ASSIGN_CLASS_ID INT NULL 
)
 
INSERT INTO @STU_INFO_TEMP
SELECT *, null as ASSIGN_CLASS_ID FROM [ToBeDeletedTemp]

/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT [TRAVEL_ROUTES], COUNT(*) as ST_COUNT
--FROM @STU_INFO_TEMP 
--GROUP BY [TRAVEL_ROUTES]
--ORDER BY COUNT(*) DESC

--we define a table to hold class and routes records so we know each class contains all routes under its name
declare @SixClassRoutes table 
( 
  CLASS_ID INT,
  ROUTES_CODE varchar(20),
  STU_COUNT INT
)

--here we define the 6 classes in temp table so we can use its value as reference keys 
--when we allcate students we can use them
declare @SixClass table 
( 
  CLASS_ID INT,
  CLASS_NAME varchar(20),
  STU_COUNT INT
)
INSERT INTO @SixClass (CLASS_ID, CLASS_NAME) VALUES(1, '7A')
INSERT INTO @SixClass (CLASS_ID, CLASS_NAME) VALUES(2, '7B')
INSERT INTO @SixClass (CLASS_ID, CLASS_NAME) VALUES(3, '7C')

--here we declare a temp table to hold 6 class student allocation status
declare @SixClassStuStatus table 
(
  ROW_ID INT identity,
  [TravelRoutes] varchar(20),
  STU_COUNT INT,
  STU_SHORT INT,
  IS_DONE BIT  
)

--select the first top 6 rows as seed classes 
INSERT INTO @SixClassStuStatus
SELECT TOP 6 [TRAVEL_ROUTES], 
(case when COUNT(*) <= @NoStuPerClass then COUNT(*) else @NoStuPerClass end) as STU_COUNT, 
(case when @NoStuPerClass - COUNT(*) <=0 then 0 else @NoStuPerClass - COUNT(*) end) as STU_SHORT,
0 as IS_DONE 
--(case when COUNT(*) < @NoStuPerClass then 0 else 1 end) as IS_DONE
FROM @STU_INFO_TEMP
WHERE NOT [TRAVEL_ROUTES] is null
GROUP BY [TRAVEL_ROUTES]
ORDER BY COUNT(*) DESC

--================
--select * from @SixClassStuStatus
--================

--here we update those top 6 class students which we can allocate classes to them now
--so we write back into @STU_INFO_TEMP table by using join update command
DECLARE @RowId0 int
DECLARE @TravelRoutes0 varchar(50)
DECLARE @Cnt0 int
DECLARE @MyTable0 TABLE
(
SNo int IDENTITY(1,1), 
RowId int,
RouteValue varchar(50)
)
INSERT INTO @MyTable0
SELECT ROW_ID, TravelRoutes FROM @SixClassStuStatus
WHERE IS_DONE = 0 ORDER BY STU_COUNT DESC

SELECT @Cnt0 = MIN(Sno) FROM @MyTable0
 
WHILE (1=1)
BEGIN

SELECT @RowId0 = RowId, @TravelRoutes0=RouteValue FROM @MyTable0
WHERE SNo = @Cnt0

IF @@ROWCOUNT = 0  
BREAK
	 	       
 UPDATE TOP (25) A  
 SET A.ASSIGN_CLASS_ID = C.CLASS_ID	 	   
 FROM @STU_INFO_TEMP A 
 INNER JOIN @SixClassStuStatus B	
 INNER JOIN @SixClass C ON B.ROW_ID = C.CLASS_ID					 
 ON A.TRAVEL_ROUTES = B.TravelRoutes
 WHERE A.TRAVEL_ROUTES = @TravelRoutes0
 
 declare @TotalDone int
 select @TotalDone = COUNT(*) from @STU_INFO_TEMP where TRAVEL_ROUTES = @TravelRoutes0
 if @TotalDone >= @NoStuPerClass
   update @SixClassStuStatus set IS_DONE = 1 where TravelRoutes = @TravelRoutes0
      
 --test line below
 --SELECT * FROM @STU_INFO_TEMP where TRAVEL_ROUTES = @TravelRoutes0 and NOT ASSIGN_CLASS_ID IS NULL 
  
SELECT @Cnt0 = @Cnt0 + 1
END

  
--we use this table to track the class allocation process when it is done and how many students
--we still need to process
--SELECT * FROM @SixClassStuStatus 
INSERT INTO @SixClassRoutes
SELECT ROW_ID, TravelRoutes, STU_COUNT FROM @SixClassStuStatus

--we list all pending student route and count list after the frist allocation process
--SELECT ISNULL([TRAVEL_ROUTES], '') as TravelRoutes, COUNT(*) as ST_COUNT
--FROM @STU_INFO_TEMP 
--WHERE ASSIGN_CLASS_ID IS NULL
--GROUP BY [TRAVEL_ROUTES]
--ORDER BY COUNT(*) DESC
--we use a temp table to hold them so we can decide which group we can choose for further process
declare @PendingStuGroup table 
(  
  [TravelRoutes] varchar(20),
  [STU_COUNT] INT  
)
insert into @PendingStuGroup
SELECT ISNULL([TRAVEL_ROUTES], '') as TravelRoutes, COUNT(*) as STU_COUNT
FROM @STU_INFO_TEMP 
WHERE ASSIGN_CLASS_ID IS NULL
GROUP BY [TRAVEL_ROUTES]
ORDER BY COUNT(*) DESC

--********************************************
--SELECT *
--FROM @STU_INFO_TEMP 
--WHERE ASSIGN_CLASS_ID  = 1

--SELECT *
--FROM @STU_INFO_TEMP 
--WHERE ASSIGN_CLASS_ID  = 2

--select * from @SixClassStuStatus
--WHERE IS_DONE = 0 ORDER BY STU_COUNT DESC
--select * from @PendingStuGroup
--********************************************

--here we start to loop the class control table to check and allocate the rest of students till all 6 classes are full
DECLARE @RowId int
DECLARE @StuCount int
DECLARE @StuShort int

DECLARE @Cnt int
DECLARE @MyTable TABLE
(
	SNo      int IDENTITY(1,1), 
	RowId    int,
	StuCount int,
	StuShort int
)
INSERT INTO @MyTable
SELECT ROW_ID, STU_COUNT, STU_SHORT FROM @SixClassStuStatus
WHERE IS_DONE = 0 ORDER BY STU_COUNT DESC

SELECT @Cnt = MIN(Sno) FROM @MyTable
 
WHILE (1=1)
BEGIN

SELECT @RowId = RowId, @StuCount=StuCount, @StuShort=StuShort FROM @MyTable
WHERE SNo = @Cnt

IF @@ROWCOUNT = 0  
BREAK
     declare @TempRoutes varchar(10)
     declare @TempStuCount int
     declare @AllocatedStuCount int
     set @AllocatedStuCount = 0
     
   --  if @RowId = 5 
   --  begin
		 --print '@RowId = ' + cast(@RowId as varchar(50))
		 --print '@StuCount = ' + cast(@StuCount as varchar(50))
		 --print '@StuShort = ' + cast(@StuShort as varchar(50))
		 --print ''        
   --  end
     
     if (@StuShort > 0)
     begin
		DECLARE @intFlag INT
		SET @intFlag = 1
		WHILE (@intFlag <=100)
		BEGIN
				 
		 if exists(select top 1 TravelRoutes from @PendingStuGroup 
		           where STU_COUNT <= @StuShort 
		           order  by STU_COUNT desc)
		 begin	 
				 select top 1 @TempRoutes = TravelRoutes, @TempStuCount=STU_COUNT from @PendingStuGroup 
				 where STU_COUNT <= @StuShort 
				 order  by STU_COUNT desc

				 if (@StuShort = @TempStuCount) --selected route group just fit the shortange then we can complete this class 
				 begin
						 UPDATE A  
						 SET A.ASSIGN_CLASS_ID = @RowId			   
						 FROM @STU_INFO_TEMP A 
						 WHERE A.TRAVEL_ROUTES = @TempRoutes and A.ASSIGN_CLASS_ID IS NULL   
						 
						 --we set this class student allocation is done
						 INSERT INTO @SixClassRoutes (CLASS_ID, ROUTES_CODE, STU_COUNT) VALUES(@RowId, @TempRoutes, @TempStuCount)				 
						 update @SixClassStuStatus set IS_DONE = 1 where ROW_ID = @RowId
						 
						 set @StuShort = @StuShort - @TempStuCount
				 end
				 else
				 begin
						 --we stil update those students have been selected then we need choose more from pending students
						 UPDATE A  
						 SET A.ASSIGN_CLASS_ID = @RowId			   
						 FROM @STU_INFO_TEMP A 
						 WHERE A.TRAVEL_ROUTES = @TempRoutes and A.ASSIGN_CLASS_ID IS NULL  
						 
						 INSERT INTO @SixClassRoutes (CLASS_ID, ROUTES_CODE, STU_COUNT) VALUES(@RowId, @TempRoutes, @TempStuCount)  				        				 	         
						 --how many we still short				  
						 set @StuShort = @StuShort - @TempStuCount					 				  	 			 
				 end    
		 end
		 --in case we need sleep a group of student
		 else if exists(select top 1 TravelRoutes from @PendingStuGroup 
		           where STU_COUNT > @StuShort 
		           order  by STU_COUNT asc)
		 begin		         
						 select top 1 @TempRoutes = TravelRoutes, @TempStuCount=STU_COUNT from @PendingStuGroup 
						 where STU_COUNT > @StuShort 
						 order  by STU_COUNT desc		                 
		                 
						 UPDATE TOP(@StuShort) A  
						 SET A.ASSIGN_CLASS_ID = @RowId			   
						 FROM @STU_INFO_TEMP A 
						 WHERE A.TRAVEL_ROUTES = @TempRoutes and A.ASSIGN_CLASS_ID IS NULL  
						 
						 INSERT INTO @SixClassRoutes (CLASS_ID, ROUTES_CODE, STU_COUNT) VALUES(@RowId, @TempRoutes, @StuShort)  				        				 	         				 				 			    
		 end	
	
		 delete from @PendingStuGroup        
		 insert into @PendingStuGroup
		 SELECT ISNULL([TRAVEL_ROUTES], '') as TravelRoutes, COUNT(*) as STU_COUNT
		 FROM @STU_INFO_TEMP 
		 WHERE ASSIGN_CLASS_ID IS NULL
		 GROUP BY [TRAVEL_ROUTES]
		 ORDER BY COUNT(*) DESC				 
		 		 
		 set @intFlag = @intFlag + 1
		 
		--we check how many students in current class id now if it is 25 then we stop allocated more students to it
		 SELECT @AllocatedStuCount = COUNT(*) FROM @STU_INFO_TEMP WHERE ASSIGN_CLASS_ID = @RowId 		 
		 IF @AllocatedStuCount >= @NoStuPerClass OR @intFlag > 50
		 BREAK;
		 END		  
     end 
  
SELECT @Cnt = @Cnt + 1
END

select B.CLASS_NAME, COUNT(*) as STU_COUNT 
from @STU_INFO_TEMP A
INNER JOIN @SixClass B ON A.ASSIGN_CLASS_ID = B.CLASS_ID  
GROUP BY B.CLASS_NAME
ORDER BY B.CLASS_NAME

select * from @PendingStuGroup

select * from @SixClassRoutes order by CLASS_ID 
--select * from @STU_INFO_TEMP where ASSIGN_CLASS_ID = 1
--select * from @STU_INFO_TEMP where ASSIGN_CLASS_ID = 2
--select * from @STU_INFO_TEMP where ASSIGN_CLASS_ID = 3
--select * from @STU_INFO_TEMP where ASSIGN_CLASS_ID = 4
--select * from @STU_INFO_TEMP where ASSIGN_CLASS_ID = 5
--select * from @STU_INFO_TEMP where ASSIGN_CLASS_ID = 6
select * from @STU_INFO_TEMP where ASSIGN_CLASS_ID IS NULL

delete @STU_INFO_TEMP
delete @SixClassRoutes
delete @SixClass
delete @SixClassStuStatus
delete @PendingStuGroup
delete @MyTable
delete @MyTable0