/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [STU_ID]
      ,[GIVEN_NAME]
      ,[FAMILY_NAME]
      ,[SUBURB]
      ,[POSTCODE]
      ,[TRAVEL_ROUTES]
      , (CASE LEN(ISNULL([TRAVEL_ROUTES], '')) 
  WHEN 0 THEN ISNULL([TRAVEL_ROUTES], '')
  WHEN 1 THEN SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 1, 1)
  WHEN 2 THEN SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 1, 1) 
  + (case IsNumeric(SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1)) when 1 then SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1) else '' end)
  WHEN 3 THEN SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 1, 1) 
  + (case IsNumeric(SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1)) when 1 then SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1) else '' end)
  + (case IsNumeric(SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 3, 1)) when 1 then SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 3, 1) else '' end)
 END) AS FINAL_VALUE
 
  UPDATE [ToBeDeletedTemp] SET [TRAVEL_ROUTES] = (CASE LEN(ISNULL([TRAVEL_ROUTES], '')) 
  WHEN 0 THEN ISNULL([TRAVEL_ROUTES], '')
  WHEN 1 THEN SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 1, 1)
  WHEN 2 THEN SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 1, 1) 
  + (case IsNumeric(SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1)) when 1 then SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1) else '' end)
  WHEN 3 THEN SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 1, 1) 
  + (case IsNumeric(SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1)) when 1 then SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 2, 1) else '' end)
  + (case IsNumeric(SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 3, 1)) when 1 then SUBSTRING(ISNULL([TRAVEL_ROUTES], ''), 3, 1) else '' end)
 END)