DECLARE @TotalStudents INT
SELECT @TotalStudents = COUNT(*) from ToBeDeletedTemp WHERE IS_ELS = 0

DECLARE @TotalClasses INT
SELECT @TotalClasses = COUNT(*) from temp_class WHERE IS_ELS = 0

--SELECT @TotalStudents 
--SELECT @TotalClasses

DECLARE @NoStuPerClass INT
SELECT @NoStuPerClass = @TotalStudents/@TotalClasses 
 

--Here we declare a temp student info table to hold all data from physical table: [ToBeDeletedTemp]
declare @STU_INFO_TEMP table 
( 
  STU_ID INT,
  GIVEN_NAME varchar(50),
  FAMILY_NAME varchar(50),
  SUBURB varchar(50),
  POSTCODE varchar(10), 
  TRAVEL_ROUTES varchar(50),
  IS_ELS bit,
  ASSIGN_CLASS_ID INT NULL 
)
 
INSERT INTO @STU_INFO_TEMP
SELECT *, null as ASSIGN_CLASS_ID FROM [ToBeDeletedTemp]

--after above process the TEMP table: @STU_INFO_TEMP will contain all student infromation data
declare @PendingStuGroup table 
(  
  [TRAVEL_ROUTES] varchar(20),
  [STU_COUNT] INT  
)
insert into @PendingStuGroup
SELECT ISNULL([TRAVEL_ROUTES], '') as TRAVEL_ROUTES, COUNT(*) as STU_COUNT
FROM @STU_INFO_TEMP 
WHERE ASSIGN_CLASS_ID IS NULL AND IS_ELS = 0
GROUP BY [TRAVEL_ROUTES]
ORDER BY COUNT(*) DESC

select * from @PendingStuGroup
--after above process TEMP table: @PendingStuGroup will contain all route - student count records waiting for assign a class

declare @SixClassStuStatus table 
(
  ROW_ID INT identity,
  CLASS_ID INT,
  TRAVEL_ROUTES varchar(20),
  STU_COUNT INT,
  STU_SHORT INT,  
  IS_DONE BIT  
)
--First we insert class_id into this TEMP table
INSERT INTO @SixClassStuStatus(CLASS_ID)
SELECT class_id FROM temp_class order by class_id asc




--select the first top 6 rows as seed classes 
--INSERT INTO @SixClassStuStatus([TravelRoutes], STU_COUNT, STU_SHORT, IS_DONE)
--SELECT TOP 6 [TRAVEL_ROUTES], 
--(case when COUNT(*) <= @NoStuPerClass then COUNT(*) else @NoStuPerClass end) as STU_COUNT, 
--(case when @NoStuPerClass - COUNT(*) <=0 then 0 else @NoStuPerClass - COUNT(*) end) as STU_SHORT,
--0 as IS_DONE  
--FROM @STU_INFO_TEMP
--WHERE NOT [TRAVEL_ROUTES] is null
--GROUP BY [TRAVEL_ROUTES]
--ORDER BY COUNT(*) DESC

--here we loop through the @SixClassStuStatus
DECLARE @Cnt INT
DECLARE @ClassId INT
DECLARE @MyTable TABLE
(
SNo int IDENTITY(1,1), 
PrimaryId int
)    
INSERT INTO @MyTable(PrimaryId)	    
SELECT CLASS_ID FROM @SixClassStuStatus
ORDER BY ROW_ID ASC
 
SELECT @Cnt = MIN(Sno) FROM @MyTable

WHILE (1=1)
BEGIN

SELECT @ClassId = PrimaryId FROM @MyTable
WHERE SNo = @Cnt

IF @@ROWCOUNT = 0
 BREAK
       
       IF NOT EXISTS(SELECT class_id FROM temp_class WHERE class_id = @ClassId and IS_ELS = 1)                
       BEGIN
		DECLARE @TravelRoutes VARCHAR(10)
		DECLARE @STU_COUNT INT 
		DECLARE @STU_SHORT INT
		DECLARE @IS_DONE BIT
		
		 --we find the value from route-student infromation query
		SELECT TOP 1 
		@TravelRoutes = [TRAVEL_ROUTES], 
		@STU_COUNT = (case when COUNT(*) <= @NoStuPerClass then COUNT(*) else @NoStuPerClass end), 
		@STU_SHORT = (case when @NoStuPerClass - COUNT(*) <=0 then 0 else @NoStuPerClass - COUNT(*) end)
		FROM @STU_INFO_TEMP
		WHERE NOT [TRAVEL_ROUTES] is null AND ASSIGN_CLASS_ID IS NULL AND IS_ELS = 0
		GROUP BY [TRAVEL_ROUTES]
		ORDER BY COUNT(*) DESC 
		
		--we update those information onto @STU_INFO_TEMP base on current route value and student count
		 UPDATE TOP (@NoStuPerClass) A  
		 SET A.ASSIGN_CLASS_ID = @ClassId	 	   
		 FROM @STU_INFO_TEMP A 	
		 WHERE A.TRAVEL_ROUTES = @TravelRoutes
		 
		 declare @TotalDone int
		 select @TotalDone = COUNT(*) from @STU_INFO_TEMP where TRAVEL_ROUTES = @TravelRoutes and NOT ASSIGN_CLASS_ID IS NULL
		 if @TotalDone >= @NoStuPerClass
		   SET @IS_DONE = 1
		 else
		   SET @IS_DONE = 0
   		
   		--we update the table: @SixClassStuStatus
   		UPDATE @SixClassStuStatus SET TRAVEL_ROUTES = @TravelRoutes , STU_COUNT=@STU_COUNT, STU_SHORT=@STU_SHORT, IS_DONE=@IS_DONE
   		WHERE CLASS_ID = @ClassId
   	   END
       ELSE
       BEGIN               
			DECLARE @TotalStudentsELS INT
			SELECT @TotalStudentsELS = COUNT(*) from @STU_INFO_TEMP WHERE IS_ELS = 1  
   			UPDATE @SixClassStuStatus SET TRAVEL_ROUTES = @TravelRoutes , STU_COUNT=@TotalStudentsELS, STU_SHORT=0, IS_DONE=1
   			WHERE CLASS_ID = @ClassId			    
       END   	   
SELECT @Cnt = @Cnt + 1

END

SELECT * FROM @SixClassStuStatus



SELECT 
A.TRAVEL_ROUTES, 
COUNT(*) as TOTAL_STUDENT
FROM @STU_INFO_TEMP A
WHERE A.ASSIGN_CLASS_ID IS NULL
GROUP BY [TRAVEL_ROUTES]
ORDER BY TOTAL_STUDENT DESC