/****** Script for SelectTopNRows command from SSMS  ******/
SELECT a.[ID]
      ,[CustomerID]
      ,[AbdStationID]
      ,[CustomerLookupType]
      ,[PNR]
      ,[UtcCreationTime]
      ,[FlightID]
	  ,b.MarketingCarrier + b.FlightNumber as FlightNo
	  ,b.BoardPoint + ' - ' + b.OffPoint as FlightRoute
	  ,b.DepartureDate
	  ,c.UBI
      ,[UtcCompletionTime]
      ,[LocalCreationTime]
      ,[LocalCompletionTime]
      ,[MachineTime]
      ,[PaxTime]
      ,[DcsTime]
      ,[BhsTime]
      ,[CsaTime]
  FROM [BagDrop].[dbo].[CustomerSession] a 
  inner join Flight b on a.FlightID = b.ID
  inner join [Bag] c on a.CustomerID = c.BaggageGroupID
  WHERE [CustomerID] in (539936, 539934)
  order by a.[ID] desc