/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [OnlineLicenceChangeApplicationID]
      ,[AppNumber]
      ,[ApplicationTypeID]
      ,[AccountablePartyID]
      ,[InstrumentID]
      ,[AppXML]
      ,[ApplicationDocument]
      ,[ApplicationFee]
      ,[PaymentTypeID]
      ,[ElectronicSignatureSubmittedFlag]
      ,[SignatureUploadedFlag]
      ,[SignatureUploadedFileName]  
      ,[DocumentUploadedFlag]
      ,[ApplicationStatusID]
      ,[DateStatusChanged]
      ,[ReasonForStatusChanged]
      ,[NoticeInstrumentID]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
  FROM [PALMSDB].[dbo].[tblOnlineLicenceChangeApplication]
  WHERE InstrumentID = 13087 and [OnlineLicenceChangeApplicationID] = 36

SELECT        TOP (200) InstrumentNoticeID, a.InstrumentID, NoticeInstrumentID, a.DateCreated, a.CreatedBySystemUserID, a.DateUpdated, a.UpdatedBySystemUserID, 
                         a.RowTimestamp
FROM            tblInstrumentNotice a inner join tblInstrument b on a.NoticeInstrumentID = b.InstrumentID
WHERE a.InstrumentID = 13087 and b.InstrumentStatusID = 9

-----------------------------------
SELECT        TOP (200) OnlineLicenceChangeApplicationID, AppNumber, ApplicationTypeID, AccountablePartyID, InstrumentID, AppXML, ApplicationDocument, ApplicationFee, 
                         PaymentTypeID, ElectronicSignatureSubmittedFlag, SignatureUploadedFlag, SignatureUploadedFileName, DocumentUploadedFlag, ApplicationStatusID, 
                         DateStatusChanged, ReasonForStatusChanged, NoticeInstrumentID, DateCreated, CreatedBySystemUserID, DateUpdated, UpdatedBySystemUserID, 
                         RowTimestamp
FROM            tblOnlineLicenceChangeApplication
WHERE        (OnlineLicenceChangeApplicationID = 36)
-----------------------------------
SELECT        TOP (200) InstrumentID, InstrumentTypeID, InstrumentStatusID, ResponsibleSystemUserID, DECCWSectionID, IssuedBySystemUserID, DateIssued, DisplayFlag, 
                         DateCreated, CreatedBySystemUserID, DateUpdated, UpdatedBySystemUserID, RowTimestamp, ROW_ID
FROM            tblInstrument
WHERE        (InstrumentID = 1536738)
-----------------------------------