USE [BagDrop]
GO
/****** Object:  Table [dbo].[ABDErrorLog]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABDErrorLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ABDStationID] [int] NOT NULL,
	[FaultTypeID] [int] NOT NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[LocalCreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ABDErrorLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdStateHistory]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdStateHistory](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[UtcTime] [datetime] NOT NULL,
	[LocalTime] [datetime] NULL,
 CONSTRAINT [PK_AbdStateHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdStation]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdStation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PortCode] [nvarchar](10) NOT NULL,
	[Identifier] [nvarchar](10) NOT NULL,
	[AbdType] [nvarchar](10) NOT NULL,
	[Terminal] [nvarchar](10) NOT NULL,
	[Zone] [nvarchar](10) NULL,
	[Area] [nvarchar](10) NULL,
	[SubArea] [nvarchar](10) NULL,
 CONSTRAINT [PK_AbdStation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdWorkflowStep]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[StepName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](450) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AbdWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_AbdWorkflowStep_StepName] UNIQUE NONCLUSTERED 
(
	[StepName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bag]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bag](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BaggageGroupID] [bigint] NOT NULL,
	[UBI] [nvarchar](50) NOT NULL,
	[BagTagType] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Bag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaggageGroup]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaggageGroup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BaggageReference] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BaggageGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagWeightUpdate]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagWeightUpdate](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BagID] [bigint] NOT NULL,
	[Weight] [decimal](18, 0) NOT NULL,
	[UtcTime] [datetime] NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[LocalTime] [datetime] NULL,
 CONSTRAINT [PK_BagWeightUpdate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClvScannerType]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClvScannerType](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ClvScannerType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_ClvScannerType_ShortName] UNIQUE NONCLUSTERED 
(
	[ShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMOperationHistory]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMOperationHistory](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ABDStationID] [int] NULL,
	[MessageType] [varchar](100) NULL,
	[MessageSent] [datetime] NULL,
	[MessageTime] [int] NULL,
	[SessionID] [varchar](50) NULL,
	[Result] [varchar](100) NULL,
	[MessageSize] [float] NULL,
	[AirlineCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_CMOperationHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UCI] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](25) NULL,
	[GivenName] [nvarchar](255) NULL,
	[Surname] [nvarchar](255) NULL,
	[Gender] [nvarchar](25) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Customer_UCI] UNIQUE NONCLUSTERED 
(
	[UCI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSession]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSession](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerLookupType] [nvarchar](25) NOT NULL,
	[PNR] [nvarchar](50) NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[FlightID] [bigint] NULL,
	[UtcCompletionTime] [datetime] NULL,
	[LocalCreationTime] [datetime] NULL,
	[LocalCompletionTime] [datetime] NULL,
	[MachineTime] [float] NULL,
	[PaxTime] [float] NULL,
	[DcsTime] [float] NULL,
	[BhsTime] [float] NULL,
	[CsaTime] [float] NULL,
 CONSTRAINT [PK_CustomerSession] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSessionTimeOnEachScreen]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSessionTimeOnEachScreen](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[PageTypeID] [int] NOT NULL,
	[StepNo] [int] NULL,
	[Duration] [float] NOT NULL,
	[PaxActionID] [int] NULL,
	[OrdinalNo] [int] NULL,
	[MachineTime] [float] NULL,
	[PaxTime] [float] NULL,
	[DcsTime] [float] NULL,
	[BhsTime] [float] NULL,
	[CsaTime] [float] NULL,
 CONSTRAINT [PK_CustomerSessionTimeOnEachScreen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcessDetailsLog]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcessDetailsLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[TotalExcessValue] [money] NOT NULL,
	[IsExcessByWeight] [bit] NOT NULL,
	[NumberOfExcessWeight] [int] NOT NULL,
	[ExcessByWeightChargeRate] [money] NOT NULL,
	[ExcessByWeightChargeCurrency] [varchar](5) NULL,
	[IsExcessByPieces] [bit] NOT NULL,
	[NumberOfExcessPieces] [int] NOT NULL,
	[ExcessByPiecesChargeRate] [money] NOT NULL,
	[ExcessByPiecesChargeCurrency] [varchar](5) NULL,
	[IsExcessByOtherType] [bit] NOT NULL,
	[NumberOfExcessByOtherType] [int] NOT NULL,
	[ExcessByOtherTypeChargeRate] [money] NOT NULL,
	[ExcessByOtherTypeChargeCurrency] [varchar](5) NULL,
	[IsHeavyCharge] [bit] NOT NULL,
	[NumberOfHeavyChargeItems] [int] NOT NULL,
	[ExcessByHeavyChargeRate] [money] NOT NULL,
	[ExcessByHeavyChargeCurrency] [varchar](5) NULL,
	[IsOtherHeavyChargeType] [bit] NOT NULL,
	[NumberOfOtherHeavyChargeItems] [int] NOT NULL,
	[ExcessByOtherHeavyChargeRate] [money] NOT NULL,
	[ExcessByOtherHeavyChargeCurrency] [varchar](5) NULL,
	[WaiverCode] [nvarchar](20) NULL,
	[ExcessWeightToWaiver] [decimal](10, 2) NULL,
	[WaiverAmount] [money] NULL,
	[ExcessAlreadyPaid] [money] NULL,
	[ExcessAlreadyInvoiced] [money] NULL,
	[ExcessAgreedToPayThisTransaction] [money] NULL,
	[ExcessWaivedThisTransaction] [money] NULL,
	[ExcessOverrideStaffCardNumber] [nvarchar](20) NULL,
	[ExcessOverrideStaffSurname] [nvarchar](20) NULL,
	[ExcessOverrideStaffGivenName] [nvarchar](20) NULL,
	[ExcessTransactionCompleted] [bit] NOT NULL,
	[ExcessTransactionAborted] [bit] NOT NULL,
 CONSTRAINT [PK_ExcessDetailsLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcessTierLog]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcessTierLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[ChargeRateMoney] [money] NOT NULL,
	[ChargeValueMoney] [money] NOT NULL,
	[ChargeCurrency] [varchar](5) NULL,
	[Origin] [varchar](3) NULL,
	[Destination] [varchar](3) NULL,
	[Company] [varchar](5) NULL,
	[Flightnumber] [int] NOT NULL,
	[IsExcessByWeight] [bit] NOT NULL,
	[NumberOfExcessWeight] [int] NOT NULL,
	[ExcessByWeightChargeRate] [money] NOT NULL,
	[ExcessByWeightChargeCurrency] [varchar](5) NULL,
	[IsExcessByPieces] [bit] NOT NULL,
	[NumberOfExcessPieces] [int] NOT NULL,
	[ExcessByPiecesChargeRate] [money] NOT NULL,
	[ExcessByPiecesChargeCurrency] [varchar](5) NULL,
	[IsExcessByOtherType] [bit] NOT NULL,
	[NumberOfExcessByOtherType] [int] NOT NULL,
	[ExcessByOtherTypeChargeRate] [money] NOT NULL,
	[ExcessByOtherTypeChargeCurrency] [varchar](5) NULL,
	[IsHeavyCharge] [bit] NOT NULL,
	[NumberOfHeavyChargeItems] [int] NOT NULL,
	[ExcessByHeavyChargeRate] [money] NOT NULL,
	[ExcessByHeavyChargeCurrency] [varchar](5) NULL,
	[IsOtherHeavyChargeType] [bit] NOT NULL,
	[NumberOfOtherHeavyChargeItems] [int] NOT NULL,
	[ExcessByOtherHeavyChargeRate] [money] NOT NULL,
	[ExcessByOtherHeavyChargeCurrency] [varchar](5) NULL,
 CONSTRAINT [PK_ExcessTierLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaultType]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaultType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_FaultType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MarketingCarrier] [nvarchar](25) NOT NULL,
	[FlightNumber] [nvarchar](25) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[BoardPoint] [nvarchar](25) NULL,
	[OffPoint] [nvarchar](25) NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Flight_MarketingCarrier_FlightNumber_DepartureDate] UNIQUE NONCLUSTERED 
(
	[MarketingCarrier] ASC,
	[FlightNumber] ASC,
	[DepartureDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrequentFlyer]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrequentFlyer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[Carrier] [nvarchar](50) NULL,
	[Number] [nvarchar](50) NULL,
	[CmTierCode] [char](4) NULL,
	[AirlinePriority] [smallint] NULL,
	[Description] [nvarchar](50) NULL,
	[DoNotPrintInReceipt] [bit] NULL,
 CONSTRAINT [PK_FrequentFlyer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagInjectionLog]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagInjectionLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[HeavyTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeavyTagInjectionLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagPrintLog]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagPrintLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[HeavyTagPrintScreenTypeID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HeavyTagPrintLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagPrintScreenType]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagPrintScreenType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HeavyTagPrintScreenType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_HeavyTagPrintScreenType_ShortName] UNIQUE NONCLUSTERED 
(
	[ShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadAntenna]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadAntenna](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadLog]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadStep]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_HeavyTagReadStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadSuccessData]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[HeavyTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeavyTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_HeavyTagReadSuccessData_HeavyTagReadLogID] UNIQUE NONCLUSTERED 
(
	[HeavyTagReadLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadWorkflowStep]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageType]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_PageType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperBoardPassLookup]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperBoardPassLookup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[BoardPoint] [nvarchar](25) NOT NULL,
	[OffPoint] [nvarchar](25) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[OperatingCarrier] [nvarchar](25) NOT NULL,
	[FlightNumber] [nvarchar](25) NOT NULL,
	[SequenceNumber] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_PaperBoardPassLookup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_PaperBoardPassLookup_CustomerSessionID] UNIQUE NONCLUSTERED 
(
	[CustomerSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadLog]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_PaperTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadScanner]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadScanner](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[ClvScannerTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_PaperTagReadScanner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadStep]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_PaperTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_PaperTagReadStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadSuccessData]    Script Date: 7/23/2019 10:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[LicensePlate] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaperTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_PaperTagReadSuccessData_PaperTagReadLogID] UNIQUE NONCLUSTERED 
(
	[PaperTagReadLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadWorkflowStep]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_PaperTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassportInfo]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassportInfo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[DocumentNumber] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [date] NULL,
	[Expiry] [date] NULL,
	[Issuer] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[IsPassportPhotoRetrieved] [bit] NULL,
	[IsRFIDPhoto] [bit] NULL,
	[IsVerifiedSucessfully] [bit] NULL,
	[LocalCreationTime] [datetime] NULL,
 CONSTRAINT [PK_PassportInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadAntenna]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadAntenna](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_QBagTagReadAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadLog]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_QBagTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadStep]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_QBagTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagReadStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadSuccessData]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[QBagTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_QBagTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagReadSuccessData_QBagTagReadLogID] UNIQUE NONCLUSTERED 
(
	[QBagTagReadLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadWorkflowStep]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_QBagTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteAntenna]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteAntenna](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteLog]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasWriteSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteStep]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagWriteStep_Summary] UNIQUE NONCLUSTERED 
(
	[Summary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteSuccessData]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[QBagTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_QBagTagWriteSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QBagTagWriteSuccessData_QBagTagWriteLogID] UNIQUE NONCLUSTERED 
(
	[QBagTagWriteLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteWorkflowStep]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteWorkflowStep](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QCardLookup]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QCardLookup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[FrequentFlyerCarrier] [nvarchar](25) NOT NULL,
	[FrequentFlyerNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QCardLookup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QCardLookup_CustomerSessionID] UNIQUE NONCLUSTERED 
(
	[CustomerSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RfidAntennaType]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RfidAntennaType](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RfidAntennaType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_RfidAntennaType_ShortName] UNIQUE NONCLUSTERED 
(
	[ShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreenActionType]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreenActionType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[ShortName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_ScreenAction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 7/23/2019 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VersionCode] [nvarchar](25) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcDeploymentDate] [datetime] NOT NULL,
	[LocalDeploymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Version] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Version_VersionCode] UNIQUE NONCLUSTERED 
(
	[VersionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_Zone]  DEFAULT (N'') FOR [Zone]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_Area]  DEFAULT (N'') FOR [Area]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_SubArea]  DEFAULT (N'') FOR [SubArea]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_MachineTime]  DEFAULT ((0)) FOR [MachineTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_PaxTime]  DEFAULT ((0)) FOR [PaxTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_DcsTime]  DEFAULT ((0)) FOR [DcsTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_BhsTime]  DEFAULT ((0)) FOR [BhsTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_CsaTime]  DEFAULT ((0)) FOR [CsaTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_MachineTime]  DEFAULT ((0)) FOR [MachineTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_PaxTime]  DEFAULT ((0)) FOR [PaxTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_DcsTime]  DEFAULT ((0)) FOR [DcsTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_BhsTime]  DEFAULT ((0)) FOR [BhsTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_CsaTime]  DEFAULT ((0)) FOR [CsaTime]
GO
ALTER TABLE [dbo].[ExcessDetailsLog] ADD  DEFAULT ((0)) FOR [ExcessTransactionCompleted]
GO
ALTER TABLE [dbo].[ExcessDetailsLog] ADD  DEFAULT ((0)) FOR [ExcessTransactionAborted]
GO
ALTER TABLE [dbo].[ABDErrorLog]  WITH CHECK ADD  CONSTRAINT [FK_ABDErrorLog_ABDStation] FOREIGN KEY([ABDStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[ABDErrorLog] CHECK CONSTRAINT [FK_ABDErrorLog_ABDStation]
GO
ALTER TABLE [dbo].[ABDErrorLog]  WITH CHECK ADD  CONSTRAINT [FK_ABDErrorLog_FaultType] FOREIGN KEY([FaultTypeID])
REFERENCES [dbo].[FaultType] ([ID])
GO
ALTER TABLE [dbo].[ABDErrorLog] CHECK CONSTRAINT [FK_ABDErrorLog_FaultType]
GO
ALTER TABLE [dbo].[AbdStateHistory]  WITH CHECK ADD  CONSTRAINT [FK_AbdStateHistory_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[AbdStateHistory] CHECK CONSTRAINT [FK_AbdStateHistory_AbdStationID]
GO
ALTER TABLE [dbo].[Bag]  WITH CHECK ADD  CONSTRAINT [FK_Bag_BaggageGroupID] FOREIGN KEY([BaggageGroupID])
REFERENCES [dbo].[BaggageGroup] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bag] CHECK CONSTRAINT [FK_Bag_BaggageGroupID]
GO
ALTER TABLE [dbo].[BagWeightUpdate]  WITH CHECK ADD  CONSTRAINT [FK_BagWeightUpdate_BagID] FOREIGN KEY([BagID])
REFERENCES [dbo].[Bag] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BagWeightUpdate] CHECK CONSTRAINT [FK_BagWeightUpdate_BagID]
GO
ALTER TABLE [dbo].[BagWeightUpdate]  WITH CHECK ADD  CONSTRAINT [FK_BagWeightUpdate_CustomerSessionID] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[BagWeightUpdate] CHECK CONSTRAINT [FK_BagWeightUpdate_CustomerSessionID]
GO
ALTER TABLE [dbo].[CMOperationHistory]  WITH CHECK ADD  CONSTRAINT [FK_CMOperationHistory_AbdStation] FOREIGN KEY([ABDStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[CMOperationHistory] CHECK CONSTRAINT [FK_CMOperationHistory_AbdStation]
GO
ALTER TABLE [dbo].[CustomerSession]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSession_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[CustomerSession] CHECK CONSTRAINT [FK_CustomerSession_AbdStationID]
GO
ALTER TABLE [dbo].[CustomerSession]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSession_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[CustomerSession] CHECK CONSTRAINT [FK_CustomerSession_CustomerID]
GO
ALTER TABLE [dbo].[CustomerSession]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSession_FlightID] FOREIGN KEY([FlightID])
REFERENCES [dbo].[Flight] ([ID])
GO
ALTER TABLE [dbo].[CustomerSession] CHECK CONSTRAINT [FK_CustomerSession_FlightID]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_CustomerSession] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] CHECK CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_CustomerSession]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_PageType] FOREIGN KEY([PageTypeID])
REFERENCES [dbo].[PageType] ([ID])
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] CHECK CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_PageType]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_ScreenActionType] FOREIGN KEY([PaxActionID])
REFERENCES [dbo].[ScreenActionType] ([ID])
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] CHECK CONSTRAINT [FK_CustomerSessionTimeOnEachScreen_ScreenActionType]
GO
ALTER TABLE [dbo].[HeavyTagInjectionLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagInjectionLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagInjectionLog] CHECK CONSTRAINT [FK_HeavyTagInjectionLog_AbdStationID]
GO
ALTER TABLE [dbo].[HeavyTagPrintLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagPrintLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagPrintLog] CHECK CONSTRAINT [FK_HeavyTagPrintLog_AbdStationID]
GO
ALTER TABLE [dbo].[HeavyTagPrintLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagPrintLog_HeavyTagPrintScreenTypeID] FOREIGN KEY([HeavyTagPrintScreenTypeID])
REFERENCES [dbo].[HeavyTagPrintScreenType] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagPrintLog] CHECK CONSTRAINT [FK_HeavyTagPrintLog_HeavyTagPrintScreenTypeID]
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadAntenna_HeavyTagReadLogID] FOREIGN KEY([HeavyTagReadLogID])
REFERENCES [dbo].[HeavyTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna] CHECK CONSTRAINT [FK_HeavyTagReadAntenna_HeavyTagReadLogID]
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadAntenna_RfidAntennaTypeID] FOREIGN KEY([RfidAntennaTypeID])
REFERENCES [dbo].[RfidAntennaType] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadAntenna] CHECK CONSTRAINT [FK_HeavyTagReadAntenna_RfidAntennaTypeID]
GO
ALTER TABLE [dbo].[HeavyTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadLog] CHECK CONSTRAINT [FK_HeavyTagReadLog_AbdStationID]
GO
ALTER TABLE [dbo].[HeavyTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadLog_HeavyTagReadStepID] FOREIGN KEY([HeavyTagReadStepID])
REFERENCES [dbo].[HeavyTagReadStep] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadLog] CHECK CONSTRAINT [FK_HeavyTagReadLog_HeavyTagReadStepID]
GO
ALTER TABLE [dbo].[HeavyTagReadSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadSuccessData_HeavyTagReadLogID] FOREIGN KEY([HeavyTagReadLogID])
REFERENCES [dbo].[HeavyTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeavyTagReadSuccessData] CHECK CONSTRAINT [FK_HeavyTagReadSuccessData_HeavyTagReadLogID]
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep] CHECK CONSTRAINT [FK_HeavyTagReadWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_HeavyTagReadWorkflowStep_HeavyTagReadLogID] FOREIGN KEY([HeavyTagReadLogID])
REFERENCES [dbo].[HeavyTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HeavyTagReadWorkflowStep] CHECK CONSTRAINT [FK_HeavyTagReadWorkflowStep_HeavyTagReadLogID]
GO
ALTER TABLE [dbo].[PaperBoardPassLookup]  WITH CHECK ADD  CONSTRAINT [FK_PaperBoardPassLookup_CustomerSessionID] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[PaperBoardPassLookup] CHECK CONSTRAINT [FK_PaperBoardPassLookup_CustomerSessionID]
GO
ALTER TABLE [dbo].[PaperTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadLog] CHECK CONSTRAINT [FK_PaperTagReadLog_AbdStationID]
GO
ALTER TABLE [dbo].[PaperTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadLog_PaperTagReadStepID] FOREIGN KEY([PaperTagReadStepID])
REFERENCES [dbo].[PaperTagReadStep] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadLog] CHECK CONSTRAINT [FK_PaperTagReadLog_PaperTagReadStepID]
GO
ALTER TABLE [dbo].[PaperTagReadScanner]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadScanner_ClvScannerTypeID] FOREIGN KEY([ClvScannerTypeID])
REFERENCES [dbo].[ClvScannerType] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadScanner] CHECK CONSTRAINT [FK_PaperTagReadScanner_ClvScannerTypeID]
GO
ALTER TABLE [dbo].[PaperTagReadScanner]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadScanner_PaperTagReadLogID] FOREIGN KEY([PaperTagReadLogID])
REFERENCES [dbo].[PaperTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaperTagReadScanner] CHECK CONSTRAINT [FK_PaperTagReadScanner_PaperTagReadLogID]
GO
ALTER TABLE [dbo].[PaperTagReadSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadSuccessData_PaperTagReadLogID] FOREIGN KEY([PaperTagReadLogID])
REFERENCES [dbo].[PaperTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaperTagReadSuccessData] CHECK CONSTRAINT [FK_PaperTagReadSuccessData_PaperTagReadLogID]
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep] CHECK CONSTRAINT [FK_PaperTagReadWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_PaperTagReadWorkflowStep_PaperTagReadLogID] FOREIGN KEY([PaperTagReadLogID])
REFERENCES [dbo].[PaperTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaperTagReadWorkflowStep] CHECK CONSTRAINT [FK_PaperTagReadWorkflowStep_PaperTagReadLogID]
GO
ALTER TABLE [dbo].[PassportInfo]  WITH CHECK ADD  CONSTRAINT [FK_PassportInfo_AbdStation] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[PassportInfo] CHECK CONSTRAINT [FK_PassportInfo_AbdStation]
GO
ALTER TABLE [dbo].[PassportInfo]  WITH CHECK ADD  CONSTRAINT [FK_PassportInfo_CustomerSession] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[PassportInfo] CHECK CONSTRAINT [FK_PassportInfo_CustomerSession]
GO
ALTER TABLE [dbo].[QBagTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadAntenna_QBagTagReadLogID] FOREIGN KEY([QBagTagReadLogID])
REFERENCES [dbo].[QBagTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagReadAntenna] CHECK CONSTRAINT [FK_QBagTagReadAntenna_QBagTagReadLogID]
GO
ALTER TABLE [dbo].[QBagTagReadAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadAntenna_RfidAntennaTypeID] FOREIGN KEY([RfidAntennaTypeID])
REFERENCES [dbo].[RfidAntennaType] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadAntenna] CHECK CONSTRAINT [FK_QBagTagReadAntenna_RfidAntennaTypeID]
GO
ALTER TABLE [dbo].[QBagTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadLog] CHECK CONSTRAINT [FK_QBagTagReadLog_AbdStationID]
GO
ALTER TABLE [dbo].[QBagTagReadLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadLog_QBagTagReadStepID] FOREIGN KEY([QBagTagReadStepID])
REFERENCES [dbo].[QBagTagReadStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadLog] CHECK CONSTRAINT [FK_QBagTagReadLog_QBagTagReadStepID]
GO
ALTER TABLE [dbo].[QBagTagReadSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadSuccessData_QBagTagReadLogID] FOREIGN KEY([QBagTagReadLogID])
REFERENCES [dbo].[QBagTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagReadSuccessData] CHECK CONSTRAINT [FK_QBagTagReadSuccessData_QBagTagReadLogID]
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep] CHECK CONSTRAINT [FK_QBagTagReadWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagReadWorkflowStep_QBagTagReadLogID] FOREIGN KEY([QBagTagReadLogID])
REFERENCES [dbo].[QBagTagReadLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagReadWorkflowStep] CHECK CONSTRAINT [FK_QBagTagReadWorkflowStep_QBagTagReadLogID]
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteAntenna_QBagTagWriteLogID] FOREIGN KEY([QBagTagWriteLogID])
REFERENCES [dbo].[QBagTagWriteLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna] CHECK CONSTRAINT [FK_QBagTagWriteAntenna_QBagTagWriteLogID]
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteAntenna_RfidAntennaTypeID] FOREIGN KEY([RfidAntennaTypeID])
REFERENCES [dbo].[RfidAntennaType] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteAntenna] CHECK CONSTRAINT [FK_QBagTagWriteAntenna_RfidAntennaTypeID]
GO
ALTER TABLE [dbo].[QBagTagWriteLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteLog_AbdStationID] FOREIGN KEY([AbdStationID])
REFERENCES [dbo].[AbdStation] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteLog] CHECK CONSTRAINT [FK_QBagTagWriteLog_AbdStationID]
GO
ALTER TABLE [dbo].[QBagTagWriteLog]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteLog_QBagTagWriteStepID] FOREIGN KEY([QBagTagWriteStepID])
REFERENCES [dbo].[QBagTagWriteStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteLog] CHECK CONSTRAINT [FK_QBagTagWriteLog_QBagTagWriteStepID]
GO
ALTER TABLE [dbo].[QBagTagWriteSuccessData]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteSuccessData_QBagTagWriteLogID] FOREIGN KEY([QBagTagWriteLogID])
REFERENCES [dbo].[QBagTagWriteLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagWriteSuccessData] CHECK CONSTRAINT [FK_QBagTagWriteSuccessData_QBagTagWriteLogID]
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteWorkflowStep_AbdWorkflowStepID] FOREIGN KEY([AbdWorkflowStepID])
REFERENCES [dbo].[AbdWorkflowStep] ([ID])
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep] CHECK CONSTRAINT [FK_QBagTagWriteWorkflowStep_AbdWorkflowStepID]
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_QBagTagWriteWorkflowStep_QBagTagWriteLogID] FOREIGN KEY([QBagTagWriteLogID])
REFERENCES [dbo].[QBagTagWriteLog] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QBagTagWriteWorkflowStep] CHECK CONSTRAINT [FK_QBagTagWriteWorkflowStep_QBagTagWriteLogID]
GO
ALTER TABLE [dbo].[QCardLookup]  WITH CHECK ADD  CONSTRAINT [FK_QCardLookup_CustomerSessionID] FOREIGN KEY([CustomerSessionID])
REFERENCES [dbo].[CustomerSession] ([ID])
GO
ALTER TABLE [dbo].[QCardLookup] CHECK CONSTRAINT [FK_QCardLookup_CustomerSessionID]
GO
