USE [ReportingDB]
GO
/****** Object:  Table [dbo].[ABDAvailability]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABDAvailability](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[ABDStationID] [int] NULL,
	[StateTimeSlotID] [int] NULL,
	[ABDStateID] [int] NULL,
	[MinutesInState] [float] NULL,
 CONSTRAINT [PK_ABDAvailability] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABDErrorLog]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABDErrorLog](
	[ID] [bigint] NOT NULL,
	[ABDStationID] [int] NOT NULL,
	[FaultTypeID] [int] NOT NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[LocalCreationTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ABDErrorLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ABDStates]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABDStates](
	[ID] [int] NOT NULL,
	[State] [nvarchar](25) NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
	[StateHeading] [nvarchar](25) NULL,
	[StateDescription] [nvarchar](256) NULL,
	[GridColumnWidth] [int] NULL,
 CONSTRAINT [PK_ABDStates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdStation]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdStation](
	[ID] [int] NOT NULL,
	[PortCode] [nvarchar](10) NOT NULL,
	[Identifier] [nvarchar](10) NOT NULL,
	[AbdType] [nvarchar](10) NOT NULL,
	[Terminal] [nvarchar](10) NOT NULL,
	[Zone] [nvarchar](10) NULL,
	[Area] [nvarchar](10) NULL,
	[SubArea] [nvarchar](10) NULL,
 CONSTRAINT [PK_AbdStation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbdWorkflowStep]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbdWorkflowStep](
	[ID] [bigint] NOT NULL,
	[StepName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](450) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AbdWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirlineBillingData]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirlineBillingData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AirlineGroupID] [int] NULL,
	[JoinDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirlineDiscountChart]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirlineDiscountChart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NULL,
	[Todate] [datetime] NULL,
	[Discount] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirlineGroup]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirlineGroup](
	[AirlineGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NULL,
	[GroupDescription] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirlineGroupMapping]    Script Date: 7/23/2019 10:38:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirlineGroupMapping](
	[AGMID] [int] IDENTITY(1,1) NOT NULL,
	[AirlineGroupID] [int] NULL,
	[AirlineCode] [nvarchar](10) NULL,
	[AirlineName] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AirlineMailingList]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirlineMailingList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AirlineCode] [nvarchar](20) NULL,
	[ToMailList] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bag]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bag](
	[ID] [bigint] NOT NULL,
	[BaggageGroupID] [bigint] NOT NULL,
	[UBI] [nvarchar](50) NOT NULL,
	[BagTagType] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Bag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagTagType]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagTagType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BagTagType] [nchar](25) NULL,
 CONSTRAINT [PK_BagTagType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagWeightUpdate]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagWeightUpdate](
	[ID] [bigint] NOT NULL,
	[BagID] [bigint] NOT NULL,
	[Weight] [decimal](18, 0) NOT NULL,
	[UtcTime] [datetime] NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[TimeSlot5minID] [int] NULL,
	[TimeSlot10minID] [int] NULL,
	[TimeSlotHourlyID] [int] NULL,
	[DayOfTheWeekID] [int] NULL,
	[LocalTime] [datetime] NULL,
	[AbdStationID] [int] NULL,
 CONSTRAINT [PK_BagWeightUpdate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BdsAbdMapping]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BdsAbdMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BdsServerID] [int] NULL,
	[AbdStationID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BDSServerType]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDSServerType](
	[ID] [int] NULL,
	[ServerName] [nvarchar](20) NULL,
	[IPAddress] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillingBagGroups]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingBagGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BagGroup] [int] NULL,
	[NumberOfBags] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillingFYdata]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingFYdata](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fromdate] [datetime] NULL,
	[Todate] [datetime] NULL,
	[CreatedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoardPoint]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardPoint](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BoardPoint] [nvarchar](25) NULL,
 CONSTRAINT [PK_BoardPoint] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClvScannerType]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClvScannerType](
	[ID] [bigint] NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ClvScannerType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMOperationHistory]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMOperationHistory](
	[ID] [bigint] NOT NULL,
	[ABDStationID] [int] NULL,
	[MessageType] [varchar](100) NULL,
	[MessageSent] [datetime] NULL,
	[MessageTime] [int] NULL,
	[SessionID] [varchar](50) NULL,
	[Result] [varchar](100) NULL,
	[MessageSize] [float] NULL,
	[TimeSlot5minID] [float] NULL,
	[TimeSlot10minID] [float] NULL,
	[TimeSlotHourlyID] [float] NULL,
	[DayOfTheWeekID] [float] NULL,
 CONSTRAINT [PK_CMOperationHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLookupType]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLookupType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerLookupType] [nchar](25) NULL,
 CONSTRAINT [PK_CustomerLookupType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSession]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSession](
	[ID] [bigint] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerLookupType] [nvarchar](25) NOT NULL,
	[PNR] [nvarchar](50) NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[FlightID] [bigint] NULL,
	[TimeSlot5minID] [int] NULL,
	[TimeSlot10minID] [int] NULL,
	[TimeSlotHourlyID] [int] NULL,
	[DayOfTheWeekID] [int] NULL,
	[LocalTime] [datetime] NULL,
	[UtcCompletionTime] [datetime] NULL,
	[SessionDuration] [float] NULL,
	[SessionEndReasonID] [int] NULL,
	[SessionEndPageID] [int] NULL,
	[MachineTime] [float] NULL,
	[PaxTime] [float] NULL,
	[DcsTime] [float] NULL,
	[BhsTime] [float] NULL,
	[CsaTime] [float] NULL,
 CONSTRAINT [PK_CustomerSession] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSessionTimeOnEachScreen]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSessionTimeOnEachScreen](
	[ID] [numeric](18, 0) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[PageTypeID] [int] NOT NULL,
	[StepNo] [int] NULL,
	[Duration] [float] NOT NULL,
	[PaxActionID] [int] NULL,
	[OrdinalNo] [int] NULL,
	[MachineTime] [float] NULL,
	[PaxTime] [float] NULL,
	[DcsTime] [float] NULL,
	[BhsTime] [float] NULL,
	[CsaTime] [float] NULL,
 CONSTRAINT [PK_CustomerSessionTimeOnEachScreen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatabaseVersion]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatabaseVersion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DBVersion] [nvarchar](512) NULL,
	[ChangeDate] [datetime] NULL,
 CONSTRAINT [PK_DatabaseVersion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayOfTheWeek]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayOfTheWeek](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DayOfTheWeek] [nvarchar](25) NULL,
	[DayOfTheWeekAbr] [nvarchar](10) NULL,
 CONSTRAINT [PK_DayOfTheWeek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcessDetailsLog]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcessDetailsLog](
	[ID] [bigint] NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[TotalExcessValue] [money] NOT NULL,
	[IsExcessByWeight] [bit] NOT NULL,
	[NumberOfExcessWeight] [int] NOT NULL,
	[ExcessByWeightChargeRate] [money] NOT NULL,
	[ExcessByWeightChargeCurrency] [varchar](5) NULL,
	[IsExcessByPieces] [bit] NOT NULL,
	[NumberOfExcessPieces] [int] NOT NULL,
	[ExcessByPiecesChargeRate] [money] NOT NULL,
	[ExcessByPiecesChargeCurrency] [varchar](5) NULL,
	[IsExcessByOtherType] [bit] NOT NULL,
	[NumberOfExcessByOtherType] [int] NOT NULL,
	[ExcessByOtherTypeChargeRate] [money] NOT NULL,
	[ExcessByOtherTypeChargeCurrency] [varchar](5) NULL,
	[IsHeavyCharge] [bit] NOT NULL,
	[NumberOfHeavyChargeItems] [int] NOT NULL,
	[ExcessByHeavyChargeRate] [money] NOT NULL,
	[ExcessByHeavyChargeCurrency] [varchar](5) NULL,
	[IsOtherHeavyChargeType] [bit] NOT NULL,
	[NumberOfOtherHeavyChargeItems] [int] NOT NULL,
	[ExcessByOtherHeavyChargeRate] [money] NOT NULL,
	[ExcessByOtherHeavyChargeCurrency] [varchar](5) NULL,
 CONSTRAINT [PK_ExcessDetailsLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcessTierLog]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcessTierLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[ChargeRateMoney] [money] NOT NULL,
	[ChargeValueMoney] [money] NOT NULL,
	[ChargeCurrency] [varchar](5) NULL,
	[Origin] [varchar](3) NULL,
	[Destination] [varchar](3) NULL,
	[Company] [varchar](5) NULL,
	[Flightnumber] [int] NOT NULL,
	[IsExcessByWeight] [bit] NOT NULL,
	[NumberOfExcessWeight] [int] NOT NULL,
	[ExcessByWeightChargeRate] [money] NOT NULL,
	[ExcessByWeightChargeCurrency] [varchar](5) NULL,
	[IsExcessByPieces] [bit] NOT NULL,
	[NumberOfExcessPieces] [int] NOT NULL,
	[ExcessByPiecesChargeRate] [money] NOT NULL,
	[ExcessByPiecesChargeCurrency] [varchar](5) NULL,
	[IsExcessByOtherType] [bit] NOT NULL,
	[NumberOfExcessByOtherType] [int] NOT NULL,
	[ExcessByOtherTypeChargeRate] [money] NOT NULL,
	[ExcessByOtherTypeChargeCurrency] [varchar](5) NULL,
	[IsHeavyCharge] [bit] NOT NULL,
	[NumberOfHeavyChargeItems] [int] NOT NULL,
	[ExcessByHeavyChargeRate] [money] NOT NULL,
	[ExcessByHeavyChargeCurrency] [varchar](5) NULL,
	[IsOtherHeavyChargeType] [bit] NOT NULL,
	[NumberOfOtherHeavyChargeItems] [int] NOT NULL,
	[ExcessByOtherHeavyChargeRate] [money] NOT NULL,
	[ExcessByOtherHeavyChargeCurrency] [varchar](5) NULL,
 CONSTRAINT [PK_ExcessTierLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportReports]    Script Date: 7/23/2019 10:38:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportReports](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](150) NULL,
	[ObjectName] [nvarchar](1024) NULL,
	[Daily] [bit] NULL,
	[Monthly] [bit] NULL,
	[Weekly] [bit] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_ExportReports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportTasks]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportTasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExportReportID] [int] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Exported] [bit] NULL,
	[FileName] [nvarchar](256) NULL,
	[PDFExported] [bit] NULL,
 CONSTRAINT [PK_ExportTasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaultType]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaultType](
	[ID] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_FaultType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[ID] [bigint] NOT NULL,
	[MarketingCarrier] [nvarchar](25) NOT NULL,
	[FlightNumber] [nvarchar](25) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[BoardPoint] [nvarchar](25) NULL,
	[OffPoint] [nvarchar](25) NULL,
	[AirlineGroupID] [int] NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Flight_MarketingCarrier_FlightNumber_DepartureDate] UNIQUE NONCLUSTERED 
(
	[MarketingCarrier] ASC,
	[FlightNumber] ASC,
	[DepartureDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightNumber]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightNumber](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FlightNumber] [nvarchar](25) NULL,
 CONSTRAINT [PK_FlightNumber] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrequentFlyer]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrequentFlyer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[Carrier] [nvarchar](50) NULL,
	[Number] [nvarchar](50) NULL,
	[CmTierCode] [char](4) NULL,
	[AirlinePriority] [smallint] NULL,
	[Description] [nvarchar](50) NULL,
	[DoNotPrintInReceipt] [bit] NULL,
 CONSTRAINT [PK_FrequentFlyer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagInjectionLog]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagInjectionLog](
	[ID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[HeavyTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeavyTagInjectionLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagPrintLog]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagPrintLog](
	[ID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
 CONSTRAINT [PK_HeavyTagPrintLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadAntenna]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadAntenna](
	[ID] [bigint] NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadLog]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadLog](
	[ID] [bigint] NOT NULL,
	[HeavyTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadStep]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadStep](
	[ID] [bigint] NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
	[GridColumnWidth] [int] NULL,
	[Heading] [nvarchar](450) NULL,
 CONSTRAINT [PK_HeavyTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadSuccessData]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadSuccessData](
	[ID] [bigint] NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[HeavyTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_HeavyTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeavyTagReadWorkflowStep]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeavyTagReadWorkflowStep](
	[ID] [bigint] NOT NULL,
	[HeavyTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_HeavyTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoOfBagsGroups]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoOfBagsGroups](
	[ID] [int] NULL,
	[NoOfBagsGroupName] [nvarchar](50) NULL,
	[NoOfBagsGroupNumber] [nvarchar](50) NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
	[GridColumnWidth] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberOfBagsMap]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberOfBagsMap](
	[NumberOfBags] [int] IDENTITY(0,1) NOT NULL,
	[NoOfBagsGroupID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OffPoint]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffPoint](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OffPoint] [nchar](25) NULL,
 CONSTRAINT [PK_OffPoint] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageGroup]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageType]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageType](
	[ID] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
	[PageGroupId] [int] NULL,
 CONSTRAINT [PK_PageType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadLog]    Script Date: 7/23/2019 10:38:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadLog](
	[ID] [bigint] NOT NULL,
	[PaperTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_PaperTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadScanner]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadScanner](
	[ID] [bigint] NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[ClvScannerTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_PaperTagReadScanner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadStep]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadStep](
	[ID] [bigint] NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
	[GridColumnWidth] [int] NULL,
	[Heading] [nvarchar](450) NULL,
 CONSTRAINT [PK_PaperTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadSuccessData]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadSuccessData](
	[ID] [bigint] NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[LicensePlate] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaperTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperTagReadWorkflowStep]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperTagReadWorkflowStep](
	[ID] [bigint] NOT NULL,
	[PaperTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_PaperTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassportInfo]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassportInfo](
	[ID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[DocumentNumber] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [date] NULL,
	[Expiry] [date] NULL,
	[Issuer] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[IsPassportPhotoRetrieved] [bit] NULL,
	[IsRFIDPhoto] [bit] NULL,
	[IsVerifiedSucessfully] [bit] NULL,
	[LocalCreationTime] [datetime] NULL,
 CONSTRAINT [PK_PassportInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaxChargeBand]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaxChargeBand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[minRange] [int] NULL,
	[maxRange] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaxChargeMovementMapping]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaxChargeMovementMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PaxChargeBandID] [int] NULL,
	[PaxMovementBandID] [int] NULL,
	[Rate] [decimal](10, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaxMovementBand]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaxMovementBand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[minPaxRange] [int] NULL,
	[maxPaxRange] [int] NULL,
	[BandDescription] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaxMovementBandHistory]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaxMovementBandHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fromdate] [datetime] NULL,
	[Todate] [datetime] NULL,
	[PaxMovementBandID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ports]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ports](
	[PortID] [int] NOT NULL,
	[PortName] [nvarchar](25) NULL,
	[PortAbrv] [nvarchar](10) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Ports] PRIMARY KEY CLUSTERED 
(
	[PortID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadAntenna]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadAntenna](
	[ID] [bigint] NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_QBagTagReadAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadLog]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadLog](
	[ID] [bigint] NOT NULL,
	[QBagTagReadStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasReadSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_QBagTagReadLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadStep]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadStep](
	[ID] [bigint] NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
	[GridColumnWidth] [int] NULL,
	[Heading] [nvarchar](450) NULL,
 CONSTRAINT [PK_QBagTagReadStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadSuccessData]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadSuccessData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[QBagTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_QBagTagReadSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagReadWorkflowStep]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagReadWorkflowStep](
	[ID] [bigint] NOT NULL,
	[QBagTagReadLogID] [bigint] NOT NULL,
	[AbdWorkflowStepID] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_QBagTagReadWorkflowStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteAntenna]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteAntenna](
	[ID] [bigint] NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[RfidAntennaTypeID] [bigint] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteAntenna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteLog]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteLog](
	[ID] [bigint] NOT NULL,
	[QBagTagWriteStepID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[UtcLogTime] [datetime] NOT NULL,
	[LocalLogTime] [datetime] NOT NULL,
	[WasWriteSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_QBagTagWriteLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteStep]    Script Date: 7/23/2019 10:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteStep](
	[ID] [bigint] NOT NULL,
	[Summary] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
	[GridColumnWidth] [int] NULL,
	[Heading] [nvarchar](450) NULL,
 CONSTRAINT [PK_QBagTagWriteStep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QBagTagWriteSuccessData]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QBagTagWriteSuccessData](
	[ID] [bigint] NOT NULL,
	[QBagTagWriteLogID] [bigint] NOT NULL,
	[QBagTagNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_QBagTagWriteSuccessData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QCardLookup]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QCardLookup](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[FrequentFlyerCarrier] [nvarchar](25) NOT NULL,
	[FrequentFlyerNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QCardLookup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_QCardLookup_CustomerSessionID] UNIQUE NONCLUSTERED 
(
	[CustomerSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RfidAntennaType]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RfidAntennaType](
	[ID] [bigint] NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcCreateTime] [datetime] NOT NULL,
	[LocalCreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RfidAntennaType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreenActionType]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreenActionType](
	[ID] [int] NOT NULL,
	[Code] [int] NULL,
	[ShortName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_ScreenAction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionEndReason]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionEndReason](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[ShortName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
	[ColorR] [int] NULL,
	[ColorG] [int] NULL,
	[ColorB] [int] NULL,
	[GridColumnWidth] [int] NULL,
 CONSTRAINT [PK_SessionEndReason] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[PortID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Value] [nvarchar](1024) NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLAAvailability]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLAAvailability](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[TimeSlotHourlyID] [int] NULL,
	[SLASevStateID] [int] NULL,
	[MinutesInState] [float] NULL,
 CONSTRAINT [PK_SLAReport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLARequirements]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLARequirements](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PortID] [int] NULL,
	[SLASevStateID] [int] NULL,
	[TimeSlotHourlyID] [int] NULL,
	[FromInError] [int] NULL,
	[ToInError] [int] NULL,
 CONSTRAINT [PK_SLARequirements] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLASevStates]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLASevStates](
	[ID] [int] NOT NULL,
	[SevStateName] [nvarchar](50) NULL,
	[StateHeading] [nvarchar](25) NULL,
	[StateDescription] [nvarchar](256) NULL,
	[GridColumnWidth] [int] NULL,
	[ColorR] [int] NULL,
	[ColorB] [int] NULL,
	[ColorG] [int] NULL,
 CONSTRAINT [PK_SLASevStates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateTimeSlots]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateTimeSlots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlotHouryID] [int] NULL,
 CONSTRAINT [PK_StateTimeSlots] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempCustomerSession_SSISReports]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempCustomerSession_SSISReports](
	[ID] [bigint] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerLookupType] [nvarchar](25) NOT NULL,
	[PNR] [nvarchar](50) NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[FlightID] [bigint] NULL,
	[TimeSlot5minID] [int] NULL,
	[TimeSlot10minID] [int] NULL,
	[TimeSlotHourlyID] [int] NULL,
	[DayOfTheWeekID] [int] NULL,
	[LocalTime] [datetime] NULL,
	[UtcCompletionTime] [datetime] NULL,
	[SessionDuration] [float] NULL,
	[SessionEndReasonID] [int] NULL,
	[SessionEndPageID] [int] NULL,
	[MachineTime] [float] NULL,
	[PaxTime] [float] NULL,
	[DcsTime] [float] NULL,
	[BhsTime] [float] NULL,
	[CsaTime] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot10Min]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot10Min](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromTime] [datetime] NULL,
	[ToTime] [datetime] NULL,
	[TimeSlotName] [nvarchar](25) NULL,
 CONSTRAINT [PK_TimeSlot10Min] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot5min]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot5min](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromTime] [datetime] NULL,
	[ToTime] [datetime] NULL,
	[TimeSlotName] [nvarchar](10) NULL,
 CONSTRAINT [PK_TimeSlot5min] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlotHourly]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotHourly](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromTime] [datetime] NULL,
	[ToTime] [datetime] NULL,
	[TimeSlotName] [nvarchar](10) NULL,
 CONSTRAINT [PK_TimeSlotHourly] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTimeNoOfBags_SSIS]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTimeNoOfBags_SSIS](
	[ID] [bigint] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerLookupType] [nvarchar](25) NOT NULL,
	[PNR] [nvarchar](50) NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[FlightID] [bigint] NULL,
	[TimeSlot5minID] [int] NULL,
	[TimeSlot10minID] [int] NULL,
	[TimeSlotHourlyID] [int] NULL,
	[DayOfTheWeekID] [int] NULL,
	[LocalTime] [datetime] NULL,
	[UtcCompletionTime] [datetime] NULL,
	[SessionDuration] [float] NULL,
	[BagCount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTimePerMinute_SSIS]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTimePerMinute_SSIS](
	[ID] [bigint] NOT NULL,
	[BagTagType] [nvarchar](25) NOT NULL,
	[CustomerSessionID] [bigint] NOT NULL,
	[AbdStationID] [int] NOT NULL,
	[CustomerLookupType] [nvarchar](25) NOT NULL,
	[FlightID] [bigint] NULL,
	[CustomerID] [bigint] NOT NULL,
	[PNR] [nvarchar](50) NULL,
	[TimeSlot5minID] [int] NULL,
	[TimeSlot10minID] [int] NULL,
	[TimeSlotHourlyID] [int] NULL,
	[DayOfTheWeekID] [int] NULL,
	[LocalTime] [datetime] NULL,
	[SessionDuration] [float] NULL,
	[BagCount] [int] NULL,
	[TransactionTime] [float] NULL,
	[UtcCreationTime] [datetime] NOT NULL,
	[UtcCompletionTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 7/23/2019 10:39:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VersionCode] [nvarchar](25) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UtcDeploymentDate] [datetime] NOT NULL,
	[LocalDeploymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Version] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQ_Version_VersionCode] UNIQUE NONCLUSTERED 
(
	[VersionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_Zone]  DEFAULT (N'') FOR [Zone]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_Area]  DEFAULT (N'') FOR [Area]
GO
ALTER TABLE [dbo].[AbdStation] ADD  CONSTRAINT [DF_AbdStation_SubArea]  DEFAULT (N'') FOR [SubArea]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_MachineTime]  DEFAULT ((0)) FOR [MachineTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_PaxTime]  DEFAULT ((0)) FOR [PaxTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_DcsTime]  DEFAULT ((0)) FOR [DcsTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_BhsTime]  DEFAULT ((0)) FOR [BhsTime]
GO
ALTER TABLE [dbo].[CustomerSession] ADD  CONSTRAINT [DEF_CustomerSession_CsaTime]  DEFAULT ((0)) FOR [CsaTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_MachineTime]  DEFAULT ((0)) FOR [MachineTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_PaxTime]  DEFAULT ((0)) FOR [PaxTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_DcsTime]  DEFAULT ((0)) FOR [DcsTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_BhsTime]  DEFAULT ((0)) FOR [BhsTime]
GO
ALTER TABLE [dbo].[CustomerSessionTimeOnEachScreen] ADD  CONSTRAINT [DEF_CustomerSessionTimeOnEachScreen_CsaTime]  DEFAULT ((0)) FOR [CsaTime]
GO
ALTER TABLE [dbo].[DatabaseVersion] ADD  CONSTRAINT [DF_DatabaseVersion_ChangeDate]  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[ExportTasks] ADD  CONSTRAINT [DF_ExportTasks_Exported]  DEFAULT ((0)) FOR [Exported]
GO
ALTER TABLE [dbo].[ExportTasks] ADD  CONSTRAINT [DF_ExportTasks_PDFExported]  DEFAULT ((0)) FOR [PDFExported]
GO
ALTER TABLE [dbo].[PaxMovementBandHistory] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PaxMovementBandHistory] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[ABDAvailability]  WITH CHECK ADD  CONSTRAINT [FK_ABDAvailability_StateTimeSlots] FOREIGN KEY([StateTimeSlotID])
REFERENCES [dbo].[StateTimeSlots] ([ID])
GO
ALTER TABLE [dbo].[ABDAvailability] CHECK CONSTRAINT [FK_ABDAvailability_StateTimeSlots]
GO
ALTER TABLE [dbo].[StateTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_StateTimeSlots_TimeSlotHourly] FOREIGN KEY([TimeSlotHouryID])
REFERENCES [dbo].[TimeSlotHourly] ([ID])
GO
ALTER TABLE [dbo].[StateTimeSlots] CHECK CONSTRAINT [FK_StateTimeSlots_TimeSlotHourly]
GO
