/****** Script for SelectTopNRows command from SSMS  ******/
declare @InstrumentID int
set @InstrumentID = 4000582

declare @AirText varchar(20)
select @AirText = RiskAssessmentMedia from tblRiskAssessmentMedia where RiskAssessmentMediaID = 1

declare @WaterText varchar(20)
select @WaterText = RiskAssessmentMedia from tblRiskAssessmentMedia where RiskAssessmentMediaID = 2

declare @NoiseText varchar(20)
select @NoiseText = RiskAssessmentMedia from tblRiskAssessmentMedia where RiskAssessmentMediaID = 3

declare @IncidentsText varchar(20)
select @IncidentsText = RiskAssessmentMedia from tblRiskAssessmentMedia where RiskAssessmentMediaID = 4

SELECT DISTINCT 
  InstrumentID
 ,(case
  when charindex('for ' + @AirText, Details) > 0 then @AirText
  when charindex('for ' + @WaterText, Details) > 0 then @WaterText
  when charindex('for ' + @NoiseText, Details) > 0 then @NoiseText
  when charindex('for ' + @IncidentsText, Details) > 0 then @IncidentsText
  else ''
end) as MediaText

  FROM [dbo].[tblInstrumentAuditLog] as RiskAssessmentPriorityChangeRecord
  WHERE 
  InstrumentID = @InstrumentID 
  and 
  DescriptionOfAction = 'Risk Assessment Regulatory Priority Update'
  and len((case
  when charindex('for ' + @AirText, Details) > 0 then @AirText
  when charindex('for ' + @WaterText, Details) > 0 then @WaterText
  when charindex('for ' + @NoiseText, Details) > 0 then @NoiseText
  when charindex('for ' + @IncidentsText, Details) > 0 then @IncidentsText
  else ''
end)) > 0

SELECT DISTINCT 
  InstrumentID
, DescriptionOfAction
, Details
, CHARINDEX('for ' + @AirText, Details) as IndexValue
,case
  when charindex('for ' + @AirText, Details) > 0 then @AirText
  when charindex('for ' + @WaterText, Details) > 0 then @WaterText
  when charindex('for ' + @NoiseText, Details) > 0 then @NoiseText
  when charindex('for ' + @IncidentsText, Details) > 0 then @IncidentsText
  else ''
end
  FROM [dbo].[tblInstrumentAuditLog]
  WHERE 
  InstrumentID = 4000582 
  and 
  DescriptionOfAction = 'Risk Assessment Regulatory Priority Update'
