
declare @TempSystemUserID int
select @TempSystemUserID = SystemUserID from tblSystemUser where login like '%dec\hee%'
select * from tblSystemUser where SystemUserID = @TempSystemUserID
--UPDATE tblApplicationUserAccess set ApplicationSecurityRoleID = 6 where (SystemUserID = @TempSystemUserID) 

SELECT     TOP (200) ApplicationUserAccessID, SystemUserID, ApplicationSecurityRoleID, DateCreated, CreatedBySystemUserID, DateUpdated, 
                      UpdatedBySystemUserID, RowTimestamp
FROM         tblApplicationUserAccess
WHERE     (SystemUserID = @TempSystemUserID)

UPDATE tblApplicationUserAccess set ApplicationSecurityRoleID = 9 where (SystemUserID = 1399)  --9 is lower level account: Read only user

UPDATE tblApplicationUserAccess set ApplicationSecurityRoleID = 8 where (SystemUserID = 1399)  --8 is high level admin user account: System Admin --Allow send to SAP 

UPDATE tblApplicationUserAccess set ApplicationSecurityRoleID = 6 where (SystemUserID = 1399)  --6 is middle level manager user account: Manager ALLOW you issue POEO licence 

--UPDATE tblApplicationUserAccess set ApplicationSecurityRoleID =5 where (SystemUserID = 1399)    --5 is normal user account: Unit Head

--UPDATE tblApplicationUserAccess set ApplicationSecurityRoleID = 4 where (SystemUserID = 1399)    --4 is normal user account create and update only: Regional Officer

SELECT TOP 1000 [ApplicationSecurityRoleID]
      ,[SecurityRole]
      ,[SystemUserType]
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
  FROM [PALMSDB].[dbo].[tblApplicationSecurityRole]


SELECT TOP 1000 [ApplicationSecurityAccessID]
      ,[ApplicationSecurityRoleID]
      ,[ApplicationFunctionTypeID]
      ,[PrivilegeTypeID]
      ,B.Description
	  ,C.Description  
  FROM [dbo].[tblApplicationSecurityAccess] A INNER JOIN tblClassification B
  ON A.ApplicationFunctionTypeID = B.ClassificationID INNER JOIN tblClassification C ON A.PrivilegeTypeID = C.ClassificationID  
  WHERE ApplicationSecurityRoleID = 10  --Director role
      
  select * from viewSecurityProfileFunction where ApplicationSecurityRoleID = 10 order by SecurityRole  --RACSU user
  select * from viewSecurityProfileFunction where ApplicationSecurityRoleID = 9 order by SecurityRole  --Read only user
  select * from viewSecurityProfileFunction where ApplicationSecurityRoleID = 8 order by SecurityRole  --System Admin
  select * from viewSecurityProfileFunction where ApplicationSecurityRoleID = 6 order by SecurityRole  --Manager
  select * from viewSecurityProfileFunction where ApplicationSecurityRoleID = 5 order by SecurityRole  --Unit Head
  select * from viewSecurityProfileFunction where ApplicationSecurityRoleID = 4 order by SecurityRole  --Regional Officer


  --GRANT EXECUTE ON dbo.[uspGetRACSUGroupNotificationUsersAndMsg] TO ReadWriteRole

  select * from tblClassification where ClassificationDomainID = 1

  exec [dbo].[uspGetUserProfile] 'dec\hee'

  SELECT su.Login, su.SystemUserID,
			su.GivenName + ' ' + su.Surname ,
			DECCWPositionTitle
  FROM tblSystemUser su INNER JOIN tblApplicationUserAccess ua ON
			su.SystemUserID = ua.SystemUserID
  WHERE 
  --su.Login = @theUserLogin 
  --AND 
  su.ActiveFlag = 1

