/****** Script for SelectTopNRows command from SSMS  ******/
  
  DELETE FROM tblEMAssessmentResultSection WHERE EMAssessmentResultSectionID IN
  (
  SELECT  [EMAssessmentResultSectionID]
  FROM [PALMSDB].[dbo].[viewEMAssessmentResult]
  where InstrumentID = 4000005 
  and EMAssessmentSectionID = 12
  )