declare @tempTB table
(
	[EMAssessmentResultCategoryID] [int]NOT NULL,
	[InstrumentID] [int] NOT NULL,
	[EMAssessmentCategoryID] [smallint] NOT NULL,
	[CalculatedRiskScore] [int] NULL,
	[DateCreated] [smalldatetime] NOT NULL,
	[CreatedBySystemUserID] [int] NOT NULL,
	[DateUpdated] [smalldatetime] NULL,
	[UpdatedBySystemUserID] [int] NULL,	 
	[EMAssessmentCategory] varchar(250) NULL,
	[SortNo]  [int] NULL
)
    insert into @tempTB
	SELECT 	      
	       [EMAssessmentResultCategoryID]
		  ,[InstrumentID]
		  ,A.[EMAssessmentCategoryID]
		  ,ISNULL([CalculatedRiskScore], '0') as [CalculatedRiskScore]
		  ,A.[DateCreated]
		  ,A.[CreatedBySystemUserID]
		  ,A.[DateUpdated]
		  ,A.[UpdatedBySystemUserID]		  
		  ,rtrim(ltrim(B.EMAssessmentCategory)) as EMAssessmentCategory
		  ,(case A.[EMAssessmentCategoryID]
		   when 5 then 4
		   when 3 then 5
		   when 4 then 6
		   else 7
		   end) as SortNo
	FROM [tblEMAssessmentResultCategory] A INNER JOIN tblEMAssessmentCategory B ON 
	A.EMAssessmentCategoryID = B.EMAssessmentCategoryID 
	WHERE InstrumentID = 4000005
	order by SortNo

    declare @EMAssessmentResultCategoryID int
    declare @EMAssessmentCategoryID int
    
    select @EMAssessmentResultCategoryID = max(isnull(EMAssessmentResultCategoryID, 0)),
    @EMAssessmentCategoryID = max(isnull(EMAssessmentCategoryID, 0))
    from @tempTB
    
    insert into @tempTB
	select 
       (case B.EMAssessmentSectionID 
	     when 13 then @EMAssessmentResultCategoryID + 1
	     when 14 then @EMAssessmentResultCategoryID + 2
	     when 15 then @EMAssessmentResultCategoryID + 3
	    end) as [EMAssessmentResultCategoryID]
	  ,4000005 as [InstrumentID]
	  
	  ,(case B.EMAssessmentSectionID 
	     when 13 then @EMAssessmentCategoryID + 1
	     when 14 then @EMAssessmentCategoryID + 2
	     when 15 then @EMAssessmentCategoryID + 3
	    end) as [EMAssessmentCategoryID]
	  ,B.[RiskScore]
	  ,B.[DateCreated]
	  ,B.[CreatedBySystemUserID]
	  ,B.[DateUpdated]
	  ,B.[UpdatedBySystemUserID]	
	  ,(case B.EMAssessmentSectionID 
	     when 13 then 'Year 1 regulatory score'
	     when 14 then 'Year 2 regulatory score'
	     when 15 then 'Year 3 regulatory score'
	    end) as EMAssessmentCategory
	  ,(case B.EMAssessmentSectionID 
	     when 13 then 1
	     when 14 then 2
	     when 15 then 3
	    end) as ShortNo  
	from tblEMAssessmentResultSection B 
	LEFT OUTER JOIN tblEMAssessmentResultAnswer A ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
	LEFT OUTER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
	where C.InstrumentID = 4000005 and B.EMAssessmentSectionID IN (13, 14, 15)    

    --here we calculate the total score for: Enforcement history and Regulatory actions and tools
    --it's supposed to add Enforcement history and Regulatory actions and tools value together
    declare @TwoTotal int
    select @TwoTotal = sum(isnull(CalculatedRiskScore, 0)) from @tempTB where EMAssessmentCategoryID in (1, 2) 
    update @tempTB set CalculatedRiskScore = @TwoTotal where EMAssessmentCategoryID = 5
    
    --here we insert two rows for
    --Total Score and Environmental management category
    
select 
	[EMAssessmentResultCategoryID],
	[InstrumentID],
	[EMAssessmentCategoryID],
	[CalculatedRiskScore],
	[DateCreated],
	[CreatedBySystemUserID],
	[DateUpdated],
	[UpdatedBySystemUserID],	 
	[EMAssessmentCategory],
	[SortNo]
from @tempTB 
--where not EMAssessmentCategoryID in (1, 2)
order by SortNo asc

delete @tempTB