--we define a plain table and insert all reporting data into it
--for PDF generating
declare @InstrumentId int
set @InstrumentId = 4000011

--get all section total scores
declare @TotalSuccessfulProsecutions int
SELECT @TotalSuccessfulProsecutions = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 1  -- 1 means Successful prosecutions

declare @TotalEnforceableUndertakings int
SELECT @TotalEnforceableUndertakings = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID 
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 2  -- 2 means Enforceable undertakings       

	               
declare @TotalPenaltyNotices int
SELECT @TotalPenaltyNotices = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID 
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 3  -- 3 means Penalty Notices 
		             
declare @TotalOfficialCautions int
SELECT @TotalOfficialCautions = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 4  -- 4 means Official Cautions
	
	                
declare @TotalFormalWarnings int
SELECT @TotalFormalWarnings = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 5  -- 5 means Formal Warnings


declare @TotalCleanUpNotices int
SELECT @TotalCleanUpNotices = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID 
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 6  -- 6 means Formal Warnings
	              
	           
declare @TotalPreventionNotices int
SELECT @TotalPreventionNotices = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 7  -- 7 means Prevention Notices
	           
	
declare @TotalEnvironmentalAudits int
SELECT @TotalEnvironmentalAudits = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 8  -- 8 means Environmental Audits	
 
declare @TotalPRPs int
SELECT @TotalPRPs = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 9  -- 9 means PRPs Pollution reduction programs 		
	 
declare @TotalSiteInspections int
SELECT @TotalSiteInspections = SUM(case B.ScoreTypeID
  when 688 then isnull([EnteredValue], 0)*isnull(B.ScoreFactor, 0)    --multiply by factor
  when 685 then isnull([EnteredValue], 0)
  end) 		 
FROM [viewEMAssessmentResult] A
INNER JOIN tblEMAssessmentAnswer B ON A.EMAssessmentAnswerID = B.EMAssessmentAnswerID 
WHERE InstrumentID = @InstrumentID and A.EMAssessmentSectionID = 10  -- 10 means Site Inspections

--get management summary data
declare @tempTB table
(
[EMAssessmentResultCategoryID] [int]NOT NULL,
[InstrumentID] [int] NOT NULL,
[EMAssessmentCategoryID] [smallint] NOT NULL,
[CalculatedRiskScore] [int] NULL,
[DateCreated] [smalldatetime] NOT NULL,
[CreatedBySystemUserID] [int] NOT NULL,
[DateUpdated] [smalldatetime] NULL,
[UpdatedBySystemUserID] [int] NULL,	 
[EMAssessmentCategory] varchar(250) NULL,
[SortNo]  [int] NULL
)
insert into @tempTB
SELECT 	      
	   [EMAssessmentResultCategoryID]
	  ,[InstrumentID]
	  ,A.[EMAssessmentCategoryID]
	  ,ISNULL([CalculatedRiskScore], '0') as [CalculatedRiskScore]
	  ,A.[DateCreated]
	  ,A.[CreatedBySystemUserID]
	  ,A.[DateUpdated]
	  ,A.[UpdatedBySystemUserID]		  
	  ,rtrim(ltrim(B.EMAssessmentCategory)) as EMAssessmentCategory
	  ,(case A.[EMAssessmentCategoryID]
	   when 5 then 4
	   when 3 then 5
	   when 4 then 6
	   else 7
	   end) as SortNo
FROM [tblEMAssessmentResultCategory] A INNER JOIN tblEMAssessmentCategory B ON 
A.EMAssessmentCategoryID = B.EMAssessmentCategoryID 
WHERE InstrumentID = @InstrumentId
order by SortNo

declare @EMAssessmentResultCategoryID int
declare @EMAssessmentCategoryID int

select @EMAssessmentResultCategoryID = max(isnull(EMAssessmentResultCategoryID, 0)),
@EMAssessmentCategoryID = max(isnull(EMAssessmentCategoryID, 0))
from @tempTB

insert into @tempTB
select 
   (case B.EMAssessmentSectionID 
	 when 13 then @EMAssessmentResultCategoryID + 1
	 when 14 then @EMAssessmentResultCategoryID + 2
	 when 15 then @EMAssessmentResultCategoryID + 3
	end) as [EMAssessmentResultCategoryID]
  ,@InstrumentId as [InstrumentID]
  
  ,(case B.EMAssessmentSectionID 
	 when 13 then @EMAssessmentCategoryID + 1
	 when 14 then @EMAssessmentCategoryID + 2
	 when 15 then @EMAssessmentCategoryID + 3
	end) as [EMAssessmentCategoryID]
  ,B.[RiskScore]
  ,B.[DateCreated]
  ,B.[CreatedBySystemUserID]
  ,B.[DateUpdated]
  ,B.[UpdatedBySystemUserID]	
  ,(case B.EMAssessmentSectionID 
	 when 13 then 'Year 1 regulatory score'
	 when 14 then 'Year 2 regulatory score'
	 when 15 then 'Year 3 regulatory score'
	end) as EMAssessmentCategory
  ,(case B.EMAssessmentSectionID 
	 when 13 then 1
	 when 14 then 2
	 when 15 then 3
	end) as ShortNo  
from tblEMAssessmentResultSection B 
LEFT OUTER JOIN tblEMAssessmentResultAnswer A ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
LEFT OUTER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
where C.InstrumentID = @InstrumentId and B.EMAssessmentSectionID IN (13, 14, 15)    

declare @Year1                int
declare @Year2                int
declare @Year3                int
declare @RegulatoryTriggers   int
declare @OperatorSystems      int
declare @TotalScoreAssessment int
declare @ManagementCategory   varchar(1)

select @Year1 = isnull([CalculatedRiskScore], 0)
from @tempTB where not EMAssessmentCategoryID in (1, 2) and [SortNo] = 1

select @Year2 = isnull([CalculatedRiskScore], 0)
from @tempTB where not EMAssessmentCategoryID in (1, 2) and [SortNo] = 2
		
select @Year3 = isnull([CalculatedRiskScore], 0)
from @tempTB where not EMAssessmentCategoryID in (1, 2) and [SortNo] = 3

select @RegulatoryTriggers = isnull([CalculatedRiskScore], 0)
from @tempTB where not EMAssessmentCategoryID in (1, 2) and [SortNo] = 4	

select @OperatorSystems = isnull([CalculatedRiskScore], 0)
from @tempTB where not EMAssessmentCategoryID in (1, 2) and [SortNo] = 5		

select @TotalScoreAssessment = isnull([CalculatedRiskScore], 0)
from @tempTB where not EMAssessmentCategoryID in (1, 2) and [SortNo] = 6

select @ManagementCategory = B.[Description] 
from tblRiskAssessment A INNER JOIN tblClassification B on A.EnvironmentalManagementCategoryID = B.ClassificationID
where InstrumentID = @InstrumentID 	
		    
--select 
--	[EMAssessmentResultCategoryID],
--	[InstrumentID],
--	[EMAssessmentCategoryID],
--	[CalculatedRiskScore],
--	[DateCreated],
--	[CreatedBySystemUserID],
--	[DateUpdated],
--	[UpdatedBySystemUserID],	 
--	[EMAssessmentCategory],
--	[SortNo]
--from @tempTB where not EMAssessmentCategoryID in (1, 2)
--order by SortNo asc

DECLARE @tblReportData TABLE (
	InstrumentId                 INT NULL,
	ReportingDateRange           VARCHAR(255) NULL,
	SuccessfulProsecutions       VARCHAR(10)  NULL,
	EnforceableUndertakings      VARCHAR(10)  NULL,
	PenaltyNotices               VARCHAR(10)  NULL,
	OfficialCautions             VARCHAR(10)  NULL,
	FormalWarnings               VARCHAR(10)  NULL,
	CleanUpNotices               VARCHAR(10)  NULL,
	PreventionNotices            VARCHAR(10)  NULL,
	EnvironmentalAudits          VARCHAR(10)  NULL,
	PRPs                         VARCHAR(10)  NULL,
	SiteInspections              VARCHAR(10)  NULL,
	Year1                        VARCHAR(10)  NULL,
	Year2                        VARCHAR(10)  NULL,
	Year3                        VARCHAR(10)  NULL,
	RegulatoryTriggers           VARCHAR(10)  NULL,
	OperatorSystems              VARCHAR(10)  NULL,
	TotalScoreAssessment         VARCHAR(10)  NULL,
	ManagementCategory           VARCHAR(1)  NULL
)
insert into @tblReportData
select @InstrumentId as InstrumentId,
       (select ([dbo].[ufn_GetEMAssessmentPeriod](4000011))) as ReportingDateRange,
	CAST(@TotalSuccessfulProsecutions as varchar) as SuccessfulProsecutions,
	CAST(@TotalEnforceableUndertakings as varchar) as EnforceableUndertakings,
	CAST(@TotalPenaltyNotices as varchar) as PenaltyNotices,
	CAST(@TotalOfficialCautions as varchar) as OfficialCautions,
	CAST(@TotalFormalWarnings as varchar) as FormalWarnings,
	CAST(@TotalCleanUpNotices as varchar) as CleanUpNotices,
	CAST(@TotalPreventionNotices as varchar) as PreventionNotices,
	CAST(@TotalEnvironmentalAudits as varchar) as EnvironmentalAudits,
	CAST(@TotalPRPs as varchar) as PRPs,
	CAST(@TotalSiteInspections as varchar) as SiteInspections,
	cast(@Year1 as varchar) as Year1,
	cast(@Year2 as varchar) as Year2,
	cast(@Year3 as varchar) as Year3,
	cast(@RegulatoryTriggers as varchar) as RegulatoryTriggers,
	cast(@OperatorSystems as varchar) as OperatorSystems,
	cast(@TotalScoreAssessment as varchar) as TotalScoreAssessment,
	cast(@ManagementCategory as varchar) as ManagementCategory        

select * from @tblReportData

delete @tempTB  
delete @tblReportData