/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DGLicenceCourseConductedByID]
      ,[CourseConductedBy]
	  ,( case LEN(REPLACE(CourseConductedBy,' ','')) when LEN(CourseConductedBy) - 1 then PARSENAME(REPLACE(CourseConductedBy,' ','.'), 2) else 
	   PARSENAME(REPLACE(CourseConductedBy,' ','.'), 3) end ) as FirstName
	  ,( case LEN(REPLACE(CourseConductedBy,' ','')) when LEN(CourseConductedBy) - 1 then null else PARSENAME(REPLACE(CourseConductedBy,' ','.'), 2) end ) as MiddleName
	  ,PARSENAME(REPLACE(CourseConductedBy,' ','.'), 1) as LastName
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[Surname]
      ,[GivenName]
      ,[MiddleName]
      ,[Email]
      ,[Phone]
  FROM [PALMSDB].[dbo].[tblDGLicenceCourseConductedBy]

  UPDATE [tblDGLicenceCourseConductedBy]
  set 
    GivenName = ( case LEN(REPLACE(CourseConductedBy,' ','')) when LEN(CourseConductedBy) - 1 then PARSENAME(REPLACE(CourseConductedBy,' ','.'), 2) else 
	   PARSENAME(REPLACE(CourseConductedBy,' ','.'), 3) end ),
	MiddleName = ( case LEN(REPLACE(CourseConductedBy,' ','')) when LEN(CourseConductedBy) - 1 then null else PARSENAME(REPLACE(CourseConductedBy,' ','.'), 2) end ),
	Surname = PARSENAME(REPLACE(CourseConductedBy,' ','.'), 1)
  WHERE [DGLicenceCourseConductedByID] = 36