--  /****** Script for SelectTopNRows command from SSMS  ******/
--  SELECT TOP 1000 [EMAssessmentResultSectionID]
--      ,[EMAssessmentResultCategoryID]
--      ,[EMAssessmentSectionID]
--      ,[RiskScore]
--      ,[DateCreated]
--      ,[CreatedBySystemUserID]
--      ,[DateUpdated]
--      ,[UpdatedBySystemUserID]
--      ,[RowTimestamp]
--  FROM [PALMSDB].[dbo].[tblEMAssessmentResultSection]
    
  SELECT A.*, D.* FROM tblEMAssessmentResultAnswer A 
  INNER JOIN tblEMAssessmentResultSection B
  ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
  INNER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID 
  INNER JOIN tblEMAssessmentAnswer D ON A.EMAssessmentAnswerID = D.EMAssessmentAnswerID
  WHERE C.InstrumentID = 4000005 
  --AND D.EMAssessmentQuestionID = 23
  
  --select EMAssessmentQuestionID from tblEMAssessmentAnswer where EMAssessmentAnswerID = 40

 