			  declare @InstrumentID int
			  set @InstrumentID = 4000005

              declare   @YearOneScore int,    
					   @YearTwoScore int,
					   @YearThreeScore int; 
 
			  SELECT @YearOneScore = sum(isnull([EnteredValue], 0))   
			  FROM [viewEMAssessmentResult]
			  WHERE InstrumentID = @InstrumentID
			  and EMAssessmentAnswer like '%1 year%'
			  
			  SELECT @YearTwoScore = sum(isnull([EnteredValue], 0))  
			  FROM [viewEMAssessmentResult]
			  WHERE InstrumentID = @InstrumentID
			  and EMAssessmentAnswer like '%2 year%'  
			  
			  SELECT @YearThreeScore = sum(isnull([EnteredValue], 0)) 
			  FROM [viewEMAssessmentResult]
			  WHERE InstrumentID = @InstrumentID
			  and EMAssessmentAnswer like '%3 year%'    
             --here we update year 1-3 score into table: tblEMAssessmentResultSection  
             
			  print '@YearOneScore=' + cast(isnull(@YearOneScore, '') as varchar)
			  print '@@YearTwoScore=' + cast(isnull(@YearTwoScore, '') as varchar) 
			  print '@@@YearThreeScore=' + cast(isnull(@YearThreeScore, '') as varchar)              
               
			 --update B 
			 --set B.RiskScore = null
			 --from tblEMAssessmentResultSection B 
			 --LEFT OUTER JOIN tblEMAssessmentResultAnswer A ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
			 --LEFT OUTER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
			 --WHERE C.InstrumentID = @InstrumentID and B.EMAssessmentSectionID IN (13, 14, 15) 

			select 
		       B.[EMAssessmentResultSectionID]
			  ,B.[EMAssessmentResultCategoryID]
			  ,B.[EMAssessmentSectionID]
			  ,B.[RiskScore]
			  ,B.[DateCreated]
			  ,B.[CreatedBySystemUserID]
			  ,B.[DateUpdated]
			  ,B.[UpdatedBySystemUserID]
			  ,B.[RowTimestamp]			 
			from tblEMAssessmentResultSection B 
			LEFT OUTER JOIN tblEMAssessmentResultAnswer A ON A.EMAssessmentResultSectionID = B.EMAssessmentResultSectionID
			LEFT OUTER JOIN tblEMAssessmentResultCategory C ON B.EMAssessmentResultCategoryID = C.EMAssessmentResultCategoryID
			where C.InstrumentID = 4000005 and B.EMAssessmentSectionID IN (13, 14, 15)

