/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
       a.[RadiationLocationID]
      ,[LocationName]

	  ,B.RadiationLocationID as B_RadiationLocationID
	  ,B.DepartmentName as B_DepartmentName
	  ,B.RadiationDepartmentID as B_RadiationDepartmentID
      
	  ,[AddressID]
      ,[AdditionalAddressInformation]
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[ROW_ID]

  FROM [dbo].[tblRadiationLocation] a 
  inner join [DM_tblRadiationDepartment] b on a.RadiationLocationID = b.RadiationLocationID
----------------------------------------------------------------------------------------------------------------------------------------------------
select * from tblRadiationLocation
where RadiationLocationID in (select RadiationLocationID from [DM_tblRadiationDepartment])
 
select A.*, B.* from tblRadiationLocation a inner join [DM_tblRadiationDepartment] b on a.RadiationLocationID = b.RadiationLocationID
----------------------------------------------------------------------------------------------------------------------------------------------------
select a.*, b.* from tblRadiationLicenceRRM a inner join [DM_tblRadiationLicenceRRM] b on a.RadiationLicenceRRMID = b.RadiationLicenceRRMID
----------------------------------------------------------------------------------------------------------------------------------------------------