/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstrumentID]
      ,[InstrumentTypeID]
      ,[InstrumentStatusID]
      ,[ResponsibleSystemUserID]
      ,[DECCWSectionID]
      ,[IssuedBySystemUserID]
      ,[DateIssued]
      ,[DisplayFlag]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[ROW_ID]
  FROM [PALMSDB].[dbo].[tblInstrument]
  WHERE InstrumentID = 5067805 