/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RadiationDepartmentID]
      ,[RadiationLocationID]
      ,[DepartmentName]
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[RowID]
  FROM [PALMSDB].[dbo].[tblRadiationDepartment]