USE [PALMSDB]
GO
/****** Object:  StoredProcedure [dbo].[uspRadiationLicneceIssueCheck]    Script Date: 25/11/2015 9:04:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eric He
-- Create date: 04-02-2014 WED
-- Description: check radiation licence issue requirements if information is not enough then give back error messages
-- =============================================
ALTER PROCEDURE [dbo].[uspRadiationLicneceIssueCheck]
	-- Add the parameters for the stored procedure here
@inInstrumentID INT,  
@VariationFlag BIT = 0,
@outErrorMsg VARCHAR(5000) OUTPUT 
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	SET NOCOUNT ON;

	--we get instrument type id as this SP will be used to handle dangerous good and pesticide licence as well
	DECLARE @InstrumentTypeID int -- 750: radiation licence; 817: Dangerous Goods Licence; 818: Pesticide Licence 
	select @InstrumentTypeID = InstrumentTypeID from tblInstrument where InstrumentID = @inInstrumentID

	DECLARE @Temp VARCHAR(5000)
	SET @Temp = ''

	--==================Radiation licence submit check starts=====================================
	IF @InstrumentTypeID = 750
	BEGIN
		--A: Application complete date
		if exists(select * from tblRadiationLicence where InstrumentID = @inInstrumentID AND DateApplicationCompleted is null)
			SET @Temp = @Temp + '<br>' + 'Application completed date is a required field'    
 
		--here we get radiation licence type ID for late individually checking
		DECLARE @RadiationLicenceTypeIDTemp INT
		select @RadiationLicenceTypeIDTemp = RadiationLicenceTypeID from tblRadiationLicence where InstrumentID = @inInstrumentID
	
	
		--The following we do individually check based on different radiation licence type
		---------------------------------------------------------------------------------------------------------------------------------
		declare @QualificationCount int
		declare @AccrediationCount int
		DECLARE @RowCount INT

		--At least on accreditation type must be selected
		--At least one qualification must be added
		--qualification must match the selected accreditation type

		If @RadiationLicenceTypeIDTemp = 794 --Accrediation licence
		begin
			--At least on accreditation type must be selected
			select @AccrediationCount = isnull(count(*), 0) from tblRadiationLicenceAccreditationType where InstrumentID = @inInstrumentID
			if @AccrediationCount < 1
				set @Temp = @Temp + '<br>' + 'At least one accreditation type must be selected' 

			--At least one qualification must be added to accreditation
			select @QualificationCount = isnull(count(*), 0) from tblRadiationLicenceQualification where InstrumentID = @inInstrumentID
			if @QualificationCount < 1
				set @Temp = @Temp + '<br>' + 'At least one qualification must be added' 

			--qualification must match the selected accreditation type for example three accreditation types but only two qualifications have been selected

			----- DON'T NEED TO CHECK
			--IF EXISTS (SELECT * FROM tblRadiationLicenceQualification WHERE InstrumentID = @inInstrumentID)
			--BEGIN
			--	if not exists(SELECT  [AccreditationTypeID]     
			--		FROM [dbo].[tblRadiationLicenceAccreditationType]
			--		WHERE InstrumentID = @inInstrumentID AND AccreditationTypeID IN (select B.AccreditationTypeID from tblRadiationLicenceQualification A inner join tblQualification B 
			--		on A.QualificationID = B.QualificationID   
			--		where InstrumentID = @inInstrumentID))
			--		   set @Temp = @Temp + '<br>' + 'Qualification must match the selected accreditation type' 
			--END
	      
		    --Added the following in 17-07-2014 Eric He to enhance the issue checking: we need to make sure the selected qualifications must have the correspondent accreditation types
		    --qualification must match the selected accreditation type for example two accreditation types but only three qualifications have been selected

			------ DON'T NEED TO CHECK 
			--IF EXISTS (SELECT * FROM tblRadiationLicenceAccreditationType WHERE InstrumentID = @inInstrumentID)
			--BEGIN
			--	if exists(SELECT  B.AccreditationTypeID     
			--		FROM [dbo].[tblRadiationLicenceQualification] A INNER JOIN tblQualification B ON A.QualificationID = B.QualificationID
			--		WHERE InstrumentID = @inInstrumentID AND NOT B.AccreditationTypeID IN (select A.AccreditationTypeID from tblRadiationLicenceAccreditationType A   
			--		where InstrumentID = @inInstrumentID))
			--		   set @Temp = @Temp + '<br>' + 'The number of qualifications must match the selected accreditation types' 
			--END
		end

		---------------------------------------------------------------------------------------------------------------------------------
		declare @ConditionCount int

		--At least one licence condition must be added
		--Qualifications must be added if the selected conditions require
		--Ionising radiation apparatus must be added if the selected conditions require
		--Qualifications and Ionising radiation apparatus must match elected conditions
		--Licence duration must be specified

		If @RadiationLicenceTypeIDTemp = 795 --Licence to use
		begin
			--At least one licence condition must be added to licence
			select @ConditionCount = isnull(count(*), 0) from tblRadiationLicenceCondition where InstrumentID = @inInstrumentID
			if @ConditionCount < 1
				set @Temp = @Temp + '<br>' + 'At least one licence condition must be added' 

			--Qualifications must be added to the licence based on the selected conditions
			select @QualificationCount = isnull(count(*), 0) from tblRadiationLicenceQualification where InstrumentID = @inInstrumentID
			if @QualificationCount < 1
				set @Temp = @Temp + '<br>' + 'At least one qualification must be added' 

			--Licence duration must be defined duplicated with the one below so we commented out here 10-02-2014 Eric He
			--if not exists(select * from tblRadiationLicence where InstrumentID = @inInstrumentID and LicencetoUseDurationID > 0)
			--    set @Temp = @Temp + '<br>' + 'Licence duration must be defined for licence to use' 

			--Based on the requirements of the selected licence conditions, the system must ensure both Ionising radiation apparatus and Radioactive substances have been added accordingly.
			--this section is bit hard I am leaving it as it is now
	    
			if @ConditionCount > 1
			BEGIN
				--if exists(select * from tblRadiationLicenceCondition A INNER JOIN tblRadiationCondition B
				--		ON a.RadiationConditionID = b.RadiationConditionID where A.InstrumentID = @inInstrumentID and B.RequiredEquipmentFlag > 0)
				--BEGIN
				--	if not exists(select * from tblRadiationLicenceRadioactiveApparatus where InstrumentID = @inInstrumentID )
				--			 set @Temp = @Temp + '<br>' + 'Ionising radiation apparatus must be added' 
				--END

				declare @Cn int
				declare @RadiationConditionID int
				declare @ConditionName varchar(50)
				
				--apparatus condition checking
				if exists(select * from tblRadiationLicenceCondition A INNER JOIN tblRadiationCondition B
						ON a.RadiationConditionID = b.RadiationConditionID where A.InstrumentID = @inInstrumentID and B.ApparatusRequiredFlag > 0)
				BEGIN
				    --Start check apparatus condition on tblRadiationLicenceCondition
					--we need make sure each condition must have a record in table:tblRadiationLicenceRadioactiveApparatus
					DECLARE @MyTable TABLE
					(
					SNo int IDENTITY(1,1), 
					RadiationConditionID int,
					ConditionName varchar(50)
					)    
					INSERT INTO @MyTable(RadiationConditionID, ConditionName)	    
					select A.RadiationConditionID, B.ConditionName 
					from tblRadiationLicenceCondition A INNER JOIN tblRadiationCondition B
					ON a.RadiationConditionID = b.RadiationConditionID where A.InstrumentID = @inInstrumentID and B.ApparatusRequiredFlag > 0
	                
					SELECT @Cn = MIN(Sno) FROM @MyTable
	
					WHILE (1=1)
					BEGIN
   
						SELECT @RadiationConditionID = RadiationConditionID, @ConditionName = ConditionName FROM @MyTable
						WHERE SNo = @Cn
	    
						IF @@ROWCOUNT = 0
							BREAK

						if not exists(select * from tblRadiationLicenceRadioactiveApparatus where InstrumentID = @inInstrumentID and RadiationConditionID = @RadiationConditionID)
								 set @Temp = @Temp + '<br>' + 'Ionising radiation apparatus must be added for condition: ' + @ConditionName 
		
						SELECT @Cn = @Cn + 1
		
					END					 
                    --end check 
				  END
    

	            --substance condition checking
 				if exists(select * from tblRadiationLicenceCondition A INNER JOIN tblRadiationCondition B
						ON a.RadiationConditionID = b.RadiationConditionID where A.InstrumentID = @inInstrumentID and B.SubstanceRequiredFlag > 0)
				BEGIN
				    --Start check substances condition on tblRadiationLicenceRadioactiveSubstances
					--we need make sure each condition must have a record in table:tblRadiationLicenceRadioactiveSubstances
					DECLARE @MyTableSub TABLE
					(
					SNo int IDENTITY(1,1), 
					RadiationConditionID int,
					ConditionName varchar(50)
					)    
					INSERT INTO @MyTableSub(RadiationConditionID, ConditionName)	    
					select A.RadiationConditionID, B.ConditionName 
					from tblRadiationLicenceCondition A INNER JOIN tblRadiationCondition B
					ON a.RadiationConditionID = b.RadiationConditionID where A.InstrumentID = @inInstrumentID and B.SubstanceRequiredFlag > 0
	                
					SELECT @Cn = MIN(Sno) FROM @MyTableSub
	
					WHILE (1=1)
					BEGIN
   
						SELECT @RadiationConditionID = RadiationConditionID, @ConditionName = ConditionName FROM @MyTableSub
						WHERE SNo = @Cn
	    
						IF @@ROWCOUNT = 0
							BREAK

						if not exists(select * from tblRadiationLicenceRadioactiveSubstances where InstrumentID = @inInstrumentID and RadiationConditionID = @RadiationConditionID)
								 set @Temp = @Temp + '<br>' + 'Radioactive substances must be added for condition: ' + @ConditionName 
		
						SELECT @Cn = @Cn + 1
		
					END					 
                    --end check 
				  END

			END

			--Qualifications and Ionising radiation apparatus must match elected conditions
			--this has been done on code behind section we leave it as blank for now

			--Licence duration must be specified
			if not exists(select * from tblRadiationLicence where InstrumentID = @inInstrumentID and LicencetoUseDurationID > 0)
				set @Temp = @Temp + '<br>' + 'Licence duration must be defined' 
		end
		---------------------------------------------------------------------------------------------------------------------------------
		If @RadiationLicenceTypeIDTemp = 796 --Licence management
		begin
			--licence activity and duration must be defined for licence -- [ManagementLicenceActivityandDurationID]

			IF @VariationFlag =0
			BEGIN
				if not exists(select * from tblRadiationLicence where InstrumentID = @inInstrumentID and ManagementLicenceActivityandDurationID > 0)
				BEGIN
					 set @Temp = @Temp + '<br>' + 'Licence activity and duration must be defined' 
				END
			else
				BEGIN
					--At least one location must be added to licence if the licence activity is NOT sell only. In case one of the sell only options is selected for licence activity, no location is allowed to be added to licence
					DECLARE @ActivityTypeID INT
					select @ActivityTypeID = ManagementLicenceActivityandDurationID from tblRadiationLicence where InstrumentID = @inInstrumentID
				
					IF @ActivityTypeID = 765
							BEGIN
									select @RowCount = isnull(count(*), 0) from tblInstrumentRadiationLocation where InstrumentID = @inInstrumentID
									if @RowCount < 1
										BEGIN
											set @Temp = @Temp + '<br>' + 'At least one location must be added' 
										END
									ELSE
										BEGIN
											select @RowCount =  isnull(count(*), 0)  from tblRadiationLocationRRM where RadiationLocationID IN
												(SELECT RadiationLocationID FROM  tblInstrumentRadiationLocation where InstrumentID = @inInstrumentID)
							
											if @RowCount < 1
											BEGIN
												set @Temp = @Temp + '<br>' + 'At least one RRM must be added to location(s)' 
											END
										END
							END 
						ELSE
						BEGIN
							select @RowCount = isnull(count(*), 0) from tblInstrumentRadiationLocation where InstrumentID = @inInstrumentID

							if @RowCount >0
								BEGIN
									set @Temp = @Temp + '<br>' + 'Location is not reqired for the selected licence activity' 
								END

						END
				END

			END
			
		end
	
		--B: Fit and proper person declaration must be completed for three of them: Accrediation, Licence to use and Licence management
		declare @QuestionCount int
		declare @AnswerCount int
		--RadiationAccredication and RadiationLicenceToUse only allow individual accountable party so we check them in details
		If @RadiationLicenceTypeIDTemp = 794 OR @RadiationLicenceTypeIDTemp = 795
		begin	        
				select @QuestionCount = count(*)
				from [dbo].[tblFitAndProperQuestion]
				where CorporationFlag = 0
			
				select @AnswerCount = count(*) from tblRadiationLicenceFitAndProper where InstrumentID = @inInstrumentID
				if @AnswerCount < @QuestionCount
				   set @Temp = @Temp + '<br>' + 'All fit and proper person declaration must be answered' 
		end

		If @RadiationLicenceTypeIDTemp = 796
		begin	        
				select @QuestionCount = count(*)
				from [dbo].[tblFitAndProperQuestion]			 
			
				select @AnswerCount = count(*) from tblRadiationLicenceFitAndProper where InstrumentID = @inInstrumentID
				if @AnswerCount < @QuestionCount
				   set @Temp = @Temp + '<br>' + 'All fit and proper person declaration must be answered' 
		end

		IF @VariationFlag =0
		BEGIN
				If NOT EXISTS (select * from tblRadiationLicenceInvoice where InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 1)
				BEGIN    ----------------- INVOICE NOT CREATED
					set @Temp = @Temp + '<br>' + 'Select Calculate fee function to create a licence application fee invoice' 
				END
				ELSE
				BEGIN
					DECLARE @FullInvoice MONEY
					DECLARE @FullAdjustment MONEY
					DECLARE @CalculatedAmount MONEY

					SELECT @CalculatedAmount = dbo.ufn_RadiationGetNewLicenceFee(@inInstrumentID)

					SELECT @FullInvoice = ISNULL(SUM(InvoiceAmount),0)
						FROM tblRadiationLicenceInvoice
						WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 1

					SELECT @FullAdjustment = ISNULL(SUM(AdjustmentAmount), 0) 
					FROM tblRadiationLicenceInvoiceAdjustment 
					WHERE RadiationLicenceInvoiceID IN
						(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 1 and SystemGeneratedFlag = 1)


					IF @CalculatedAmount <> @FullInvoice + @FullAdjustment
					BEGIN
						set @Temp = @Temp + '<br>' + 'The invoice amount is different with calculated licence fee amount, please select Calculate Fee function to create fee adjustment.' 
					END
					ELSE
					BEGIN
						DECLARE @InvoiceBalance MONEY
						DECLARE @AdjustmentBalance MONEY

						SELECT @InvoiceBalance = ISNULL(SUM(InvoiceBalance), 0) FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 1

						SELECT @AdjustmentBalance = ISNULL(SUM(AdjustmentBalance), 0) 
						FROM tblRadiationLicenceInvoiceAdjustment 
						WHERE AdjustmentBalance >=0   AND  RadiationLicenceInvoiceID IN
							(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 1)

				
						IF @InvoiceBalance + @AdjustmentBalance > 0
						BEGIN
							set @Temp = @Temp + '<br>' + 'The licence application fee invoice must be paid before submitting the application' 
						END
					END
	
	

			END

		END
	
    END
    --==================Radiation licence submit check ends=======================================

	
	--==================Dangerous Goods licence submit check starts=====================================
	IF @InstrumentTypeID = 817
	BEGIN
	    DECLARE @DGLicenceTypeID INT
		DECLARE @TrainingRequiredFlag INT
		DECLARE @MFARequiredFlag INT

		select @DGLicenceTypeID = DGLicenceTypeID from tblDGLicence where InstrumentID = @inInstrumentID
		select @TrainingRequiredFlag = TrainingRequiredFlag, @MFARequiredFlag = MFARequiredFlag from tblDGLicenceDriver where InstrumentID = @inInstrumentID

		if exists(select * from tblDGLicence where InstrumentID = @inInstrumentID AND DateApplicationCompleted is null)
			SET @Temp = @Temp + '<br>' + 'Application completed date is a required field'    	
			
		if @DGLicenceTypeID = 819 --Dangerous goods licence
		begin
		    --print 'Dangerous Goods submitted check'
			if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND HeldDriversLicenceForFiveYearsFlag is null)
				SET @Temp = @Temp + '<br>' + 'Have you held a licence (other than the one detailed above) issued in another State or Territory during the last 5 years is a required field' 
            if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(LicenceIssuedState,'')='')
			    SET @Temp = @Temp + '<br>' + 'Licence issued state or territory is a required field'   
            if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND LicenceDisqualifiedFlag is null)
			    SET @Temp = @Temp + '<br>' + 'Have you had any driving licence disqualified, cancelled or suspended during that last 5 years is a required field'   								    
            
			IF @TrainingRequiredFlag = 1
			BEGIN
				if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(DGLicenceRTOID, 0)=0)
					SET @Temp = @Temp + '<br>' + 'Name of RTO is a required field'   	
				if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(DGLicenceCourseConductedByID, 0)=0)
					SET @Temp = @Temp + '<br>' + 'Course conducted by is a required field'   
				if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(DateOfCourse, '')='')
					SET @Temp = @Temp + '<br>' + 'Date of course is a required field' 
				 if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(CourseHeldAt, '')='')
					SET @Temp = @Temp + '<br>' + 'Course held at is a required field'	  	
			END 

			IF @MFARequiredFlag = 1
			BEGIN
				if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(MedicalPractitionerName, '')='')
					SET @Temp = @Temp + '<br>' + 'Medical practitioner name is a required field'   		
				if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(MedicalPractitionerTelephone, '')='')
					SET @Temp = @Temp + '<br>' + 'Medical practitioner telephone is a required field' 		
				if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(DateMedicalExamination, '')='')
					SET @Temp = @Temp + '<br>' + 'Date of medical examination is a required field' 		
				 if exists(select * from tblDGLicenceDriver where InstrumentID = @inInstrumentID AND isnull(MedicalAssessmentID, 0)=0)
					SET @Temp = @Temp + '<br>' + 'Assessment is a required field' 	
			END	
				
			if exists(select * from tblDGLicence where InstrumentID = @inInstrumentID AND DriverLicenceDurationID is null)
			SET @Temp = @Temp + '<br>' + 'Approved Duration is a required field' 																					
		end
		   
		DECLARE @VehicleID int
		SET @VehicleID = 0		

		if @DGLicenceTypeID = 820 --Dangerous Good Vehicle licence 
		begin
		    --print 'Dangerous Good Vehicle licence submitted check'
			if exists(select * from tblDGLicenceVehicle where InstrumentID = @inInstrumentID AND isnull(DGVehicleID, 0)=0)
				SET @Temp = @Temp + '<br>' + 'Dangerous goods vehicle information is a required field' 
			if exists(select * from tblDGLicenceVehicle A INNER JOIN tblDGVehicleClass B ON A.DGVehicleID = B.DGVehicleID and A. InstrumentID = @inInstrumentID and isnull(B.VehicleClassID,0) = 0)
				SET @Temp = @Temp + '<br>' + 'Dangerous goods vehicle class is a required field' 

            -- In order to check the vehicle information one by one we need loop through the vehicle list for current instrumentID
			--29-05-2014 Thu
			--declare a table avriable to hold all vehicle IDs before we loop it through 
			declare @VehicleTable table
			(
			SNo int IDENTITY(1,1), 
			DGVehicleID int,
			VehicleTypeID int
			)
			insert into @VehicleTable(DGVehicleID, VehicleTypeID)
			select A.DGVehicleID, B.VehicleTypeID from tblDGLicenceVehicle A INNER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID
			where InstrumentID = @inInstrumentID AND A.EffectiveDateTo IS NULL

			declare @DGVehicleIDTemp int
			declare @VehicleTypeIDTemp int
			declare @Cnt int
			select @Cnt = MIN(Sno) FROM @VehicleTable

			while (1=1)
			begin
                set @VehicleTypeIDTemp = 0

				select @DGVehicleIDTemp = DGVehicleID, @VehicleTypeIDTemp = VehicleTypeID from @VehicleTable
				where SNo = @Cnt
	    
				if @@rowcount = 0
				break

				set @VehicleID = 0 --reset its value to be zero before the detail loop
				-- main checking starts based on surrent Vehicle ID
				--here we check all vehicle data: tblDGVehicle
				--here start looping through
				 if exists(select A.[DGVehicleID]      
						  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and isnull(B.RegistrationNumber, '')='' and A.DGVehicleID = @DGVehicleIDTemp)			
						  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - registration number is a required field' 

				if exists(select A.[DGVehicleID]      
						  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and isnull(C.Description, '')='' and A.DGVehicleID = @DGVehicleIDTemp)		 
						  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - type is a required field' 

				

				if exists(select A.[DGVehicleID]      
						  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and isnull(B.RegistrationState, '')='' and A.DGVehicleID = @DGVehicleIDTemp)		 
						  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - registration state is a required field'

				--if exists(select A.[DGVehicleID]          
				--		  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
				--		  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
				--		  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and isnull(B.VehicleMake, '')='' and A.DGVehicleID = @DGVehicleIDTemp)				 				
				--		  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - maker is a required field'
			
			
			
				if exists(select A.[DGVehicleID]       
						  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.TransportWasteFlag is null and A.DGVehicleID = @DGVehicleIDTemp)			 
						  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - transport waste flag is a required field'
			
				if exists(select A.[DGVehicleID]  
						  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VacuumTankerFlag is null and A.DGVehicleID = @DGVehicleIDTemp)		
						  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - vacuum tanker flag is a required field'
			
				if exists(select A.[DGVehicleID]         
						  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.CoveredInsuranceFlag is null and A.DGVehicleID = @DGVehicleIDTemp)							   
						  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - covered insurance flag is a required field'
			
				if exists(select A.[DGVehicleID]       
						  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and  B.PhotograghAttachedFlag is null and A.DGVehicleID = @DGVehicleIDTemp)				 
						  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - photogragh attached flag is a required field'
			
				if @VehicleTypeIDTemp = 862
				begin
						--if exists(select A.[DGVehicleID]       
						--  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						--  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						--  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and isnull(B.VINNumber, '')='' and A.DGVehicleID = @DGVehicleIDTemp)										 
						--  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - VIN number is a required field' 


						--if exists(select A.[DGVehicleID]     
						--  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
						--  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
						--  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and isnull(B.VehicleYear, '')='' and A.DGVehicleID = @DGVehicleIDTemp) 			  
						--  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - made year is a required field'


						if exists(select A.[DGVehicleID]   
								  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
								  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
								  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and B.TankerTypeID is null and A.DGVehicleID = @DGVehicleIDTemp) 					 
					       SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - tanker type is a required field'
			
						if exists(select A.[DGVehicleID]       
								  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
								  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
								  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and B.Capacity is null and A.DGVehicleID = @DGVehicleIDTemp) 
					 				
								  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - tanker capacity is a required field'
			
						if exists(select B.[DGVehicleID]          
								  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
								  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
								  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and isnull(B.TankerTypeID, -1) <> -1 and (cast(isnull(B.DGTankMakeID, 0) as int)=0 or cast(isnull(B.TankYear, '') as varchar) ='' or cast(isnull(B.TankSerialNumber, '') as varchar) ='') and A.DGVehicleID = @DGVehicleIDTemp) 
					 
								  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - tanker maker and year and serial number are required fields'

						if exists(select A.[DGVehicleID]           
								  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
								  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
								  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and cast(isnull(B.DesignApprovalNo, '') as varchar) = '' and A.DGVehicleID = @DGVehicleIDTemp) 
						 
								  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - design approval number is a required field'
			
			
						if exists(select B.[DGVehicleID]         
								  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
								  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
								  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and cast(isnull(B.DateLastHydraulicTest, '') as varchar) = '' and A.DGVehicleID = @DGVehicleIDTemp) 
						 				 
								  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - last hydraulic test date is a required field'

						if exists(select A.[DGVehicleID]           
								  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
								  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
								  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and B.IsVehicleManufacturedAfter01July2014Flag is null and A.DGVehicleID = @DGVehicleIDTemp) 
						 			  
								  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - vehicle manufactured after 01 July 2014 flag is a required field'


						if exists(select A.[DGVehicleID]        
								  FROM tblDGLicenceVehicle A INNER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
									WHERE A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862  AND NOT EXISTS (SELECT * FROM tblDGVehicleClass WHERE DGVehicleID = B.DGVehicleID) and A.DGVehicleID = @DGVehicleIDTemp) 
						 				  
								  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - at least one DG licence classs must be added to the vehicle'

						--added by Eric He 10-09-2015 for DGVehicle design approval check
						--If DesignApprovalRegisteredFlag is ‘No’, the system will display error message and not allow to issue/complete licence application/variation
						if exists(select B.[DesignApprovalRegisteredFlag]        
								  FROM tblDGLicenceVehicle A INNER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
									WHERE A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and A.DGVehicleID = @DGVehicleIDTemp and B.DesignApprovalRegisteredFlag is not null) 
						BEGIN 		
                                  if not exists(select B.[DesignApprovalRegisteredFlag]        
								  FROM tblDGLicenceVehicle A INNER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
									WHERE A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and A.DGVehicleID = @DGVehicleIDTemp and B.DesignApprovalRegisteredFlag = 1) 								  
								  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - DGVehicle DesignApprovalRegisteredFlag must be set as to be Yes'
						

								--For vehicles with DesignApprovalRegisteredFlag = True, validation occurs when the user selects Save on the Add or Edit vehicle screen.  
								--If the validation is successful, the vehicle is saved and tblDGVehicle.VehicleValidatedFlag is set equal to True.  
								--If the validation is unsuccessful, an error message is displayed and the vehicle is not saved:
								--According to above requirements if checking process reached here and has no error message then
								--we need set this flag: VehicleValidatedFlag = 1 then bypass the following check
								if len(@Temp) = 0
								begin
								   update tblDGVehicle set VehicleValidatedFlag = 1 where DGVehicleID = @DGVehicleIDTemp and DesignApprovalRegisteredFlag = 1
								end
								else
								begin
									  -- If DesignApprovalRegisteredFlag is ‘Yes’, 
									  -- the system will check VehicleValidatedFlag, if Yes pass design approval validation otherwise display error message
									  if exists(select B.[DesignApprovalRegisteredFlag]        
									  FROM tblDGLicenceVehicle A INNER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
										WHERE A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and A.DGVehicleID = @DGVehicleIDTemp and B.DesignApprovalRegisteredFlag = 1)
									  BEGIN
										  if not exists(select B.[VehicleValidatedFlag]        
										  FROM tblDGLicenceVehicle A INNER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
											WHERE A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and A.DGVehicleID = @DGVehicleIDTemp and B.VehicleValidatedFlag = 1) 								  
										  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - DGVehicle VehicleValidatedFlag must be set as to be Yes'								  
									  
									    else
										  BEGIN
											DECLARE @DesignApprovalNo VARCHAR(50)

											SELECT @DesignApprovalNo = DesignApprovalNo FROM tblDGVehicle where DGVehicleID = @DGVehicleIDTemp  

											IF (SELECT DesignApprovalTypeID FROM tblDGDesignApproval WHERE DesignApprovalNumber =@DesignApprovalNo) = 997
											BEGIN
												IF (SELECT EPATankOnlyCheckFlag FROM tblDGVehicle where DGVehicleID = @DGVehicleIDTemp ) = 0
													  SET @Temp = @Temp + '<br>' + 'Vehicle ' + cast(@DGVehicleIDTemp as varchar) + ' - EPA Check Flag must be set as to be Yes'	
											END

										  END
									  
									  END	
								end					         
						END


						end 
						--end of vehicle type 862 with tanker checking
				
				
					select @Cnt = @Cnt + 1	
				
				end
				--main checking ends

								
				--here end looping through
				--end add part 29-05-2014

				--comment out the following line as this field in UI is checkbox so we don't need to check it anymore 27-05-2014
				--if exists(SELECT B.[DGVehicleID]      
				--		  FROM tblDGLicenceVehicle A LEFT OUTER JOIN tblDGVehicle B ON A.DGVehicleID = B.DGVehicleID 
				--		  LEFT OUTER JOIN tblClassification C ON B.VehicleTypeID = C.ClassificationID
				--		  WHERE (A.EffectiveDateTo is null or A.EffectiveDateTo > GETDATE()) and A.InstrumentID = @inInstrumentID and B.VehicleTypeID = 862 and isnull(B.ProhibitedVehiclesFlag, '') = '')
				--		  SET @Temp = @Temp + '<br>' + 'Prohibited vehicles flag is a required field'
		end 


		IF @VariationFlag =0
		BEGIN
			If NOT EXISTS (select * from tblRadiationLicenceInvoice where InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 4)
			BEGIN    ----------------- INVOICE NOT CREATED
				set @Temp = @Temp + '<br>' + 'Select Calculate fee function to create a licence application fee invoice' 
			END	
			ELSE
				BEGIN
					SELECT @CalculatedAmount = dbo.ufn_DGGetNewLicenceFee(@inInstrumentID)

					SELECT @FullInvoice = ISNULL(SUM(InvoiceAmount),0)
						FROM tblRadiationLicenceInvoice
						WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 4

					SELECT @FullAdjustment = ISNULL(SUM(AdjustmentAmount), 0) 
					FROM tblRadiationLicenceInvoiceAdjustment 
					WHERE RadiationLicenceInvoiceID IN
						(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 4 and SystemGeneratedFlag = 1)


					IF @CalculatedAmount <> @FullInvoice + @FullAdjustment
					BEGIN
						set @Temp = @Temp + '<br>' + 'The invoice amount is different with calculated licence fee amount, please select Calculate Fee function to create fee adjustment.' 
					END
					ELSE
					BEGIN
						SELECT @InvoiceBalance = ISNULL(SUM(InvoiceBalance), 0) FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 4

						SELECT @AdjustmentBalance = ISNULL(SUM(AdjustmentBalance), 0) 
						FROM tblRadiationLicenceInvoiceAdjustment 
						WHERE AdjustmentBalance >=0   AND  RadiationLicenceInvoiceID IN
							(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 4)

				
						IF @InvoiceBalance + @AdjustmentBalance > 0
						BEGIN
							set @Temp = @Temp + '<br>' + 'The licence application fee invoice must be paid before submitting the application' 
						END

					END

				
				END
		END
		


	END
	--==================Dangerous Goods licence submit check ends=======================================


    --==================Pesticide licence submit check starts=====================================
	IF @InstrumentTypeID = 818
	BEGIN
		if exists(select * from tblPesticideLicence where InstrumentID = @inInstrumentID AND DateApplicationCompleted is null)
			SET @Temp = @Temp + '<br>' + 'Application completed date is a required field'    
		if exists(select * from tblPesticideLicenceClass where InstrumentID = @inInstrumentID AND isnull(LicenceClassID, 0) = 0)
			SET @Temp = @Temp + '<br>' + 'Pesticide licence class is a required field' 	
			
		----------- check fit and proper question -----------------------------
		--1. we get all fit and proper question count based on current instrumentID
		declare @RequiredQuestionCount int
		Declare @RowCountTable as Table
		(
			[FitAndProperQuestionForPesticideLicenceID] int 
		)    
	    insert into     @RowCountTable
	    select [FitAndProperQuestionForPesticideLicenceID] from [viewFitandProperQuestionForPestcideLicence]
		WHERE LicenceClassID in (select LicenceClassID from tblPesticideLicenceClass where InstrumentID = @inInstrumentID)
		group by [FitAndProperQuestionForPesticideLicenceID]
		select @RequiredQuestionCount = count(*) from @RowCountTable

		--2. we get the end user all answered questions 
		declare @AnsweredQuestionCount int
	    SELECT @AnsweredQuestionCount = count([FitAndProperAnswerFlag])     
	    FROM [tblRadiationLicenceFitAndProper] A INNER JOIN tblInstrument B ON A.InstrumentID = B.InstrumentID 
	    WHERE B.InstrumentTypeID in (818) and B.InstrumentID = @inInstrumentID 
		--and FitAndProperAnswerFlag = 1

		if @RequiredQuestionCount <> @AnsweredQuestionCount
		begin
			SET @Temp = @Temp + '<br>' + 'All fit and proper person declaration must be answered' 

		 --if @RequiredQuestionCount = 1
		 --   SET @Temp = @Temp + '<br>' + 'There is ' + cast(@RequiredQuestionCount as varchar) + ' question, but only ' + cast(@AnsweredQuestionCount as varchar) + (case @AnsweredQuestionCount when 1 then ' has' else ' have' end) + ' been answered'
		 --if @RequiredQuestionCount > 1
		 --   SET @Temp = @Temp + '<br>' + 'There are ' + cast(@RequiredQuestionCount as varchar) + ' questions, but only ' + cast(@AnsweredQuestionCount as varchar) + ' been answered'
		end

		----------- end check fit and proper question -------------------------

		IF @VariationFlag =0
		BEGIN
			If NOT EXISTS (select * from tblRadiationLicenceInvoice where InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 6)

			BEGIN    ----------------- INVOICE NOT CREATED
				set @Temp = @Temp + '<br>' + 'Select Calculate fee function to create a licence application fee invoice' 
			END	
			ELSE
			BEGIN
					SELECT @CalculatedAmount = dbo.ufn_DGGetNewLicenceFee(@inInstrumentID)

					SELECT @FullInvoice = ISNULL(SUM(InvoiceAmount),0)
						FROM tblRadiationLicenceInvoice
						WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 6

					SELECT @FullAdjustment = ISNULL(SUM(AdjustmentAmount), 0) 
					FROM tblRadiationLicenceInvoiceAdjustment 
					WHERE RadiationLicenceInvoiceID IN
						(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 6 and SystemGeneratedFlag = 1)


					IF @CalculatedAmount <> @FullInvoice + @FullAdjustment
					BEGIN
						set @Temp = @Temp + '<br>' + 'The invoice amount is different with calculated licence fee amount, please select Calculate Fee function to create fee adjustment.' 
					END
					ELSE
					BEGIN
						SELECT @InvoiceBalance = ISNULL(SUM(InvoiceBalance), 0) FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 6

						SELECT @AdjustmentBalance = ISNULL(SUM(AdjustmentBalance), 0) 
						FROM tblRadiationLicenceInvoiceAdjustment 
						WHERE AdjustmentBalance >=0   AND  RadiationLicenceInvoiceID IN
							(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 6)

				
						IF @InvoiceBalance + @AdjustmentBalance > 0
						BEGIN
							set @Temp = @Temp + '<br>' + 'The licence application fee invoice must be paid before submitting the application' 
						END

					END

				
			END

		END
		
				
	END	
	--==================Pesticide licence submit check ends=======================================


	--==================DG Design Approval issue check starts=====================================
	IF @InstrumentTypeID = 990
	BEGIN
	    DECLARE @DesignApprovalTypeID INT
		DECLARE @DesignApprovalState VARCHAR(10)		
		select @DesignApprovalTypeID = DesignApprovalTypeID, @DesignApprovalState = DesignApprovalState from tblDGDesignApproval where InstrumentID = @inInstrumentID
		 
		if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND DateApplicationCompleted is null)
			SET @Temp = @Temp + '<br>' + 'Application completed date is a required field'    
		if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND len(DesignApprovalNumber) = 0)
			SET @Temp = @Temp + '<br>' + 'Design Approval Number is a required field'    				
		if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND DateApplicationReceived is null)
			SET @Temp = @Temp + '<br>' + 'Application received date is a required field'    
		--if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND AdminFee is null)
		--	SET @Temp = @Temp + '<br>' + 'Admin fee amount is required'  
			  		
		if (@DesignApprovalTypeID = 991 OR @DesignApprovalTypeID = 992 OR @DesignApprovalTypeID = 993) --specific approval	
		begin
		  if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND ExpiryDate is not null)
			SET @Temp = @Temp + '<br>' + 'For specific approval	expiry date has to be null'   		   
		end
	 -- else  --general approval we comment out this section as we allow the system to set the expiry date while issuing this DG design approval licence
		--begin
		--  if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND ExpiryDate is null)
		--	SET @Temp = @Temp + '<br>' + 'For general approval an expiry date has to set'   		
		--end
									
        if (@DesignApprovalTypeID = 991 OR @DesignApprovalTypeID = 992 OR @DesignApprovalTypeID = 993)
		begin
		    if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND (VINNumber is null or VINNumber = ''))
			    SET @Temp = @Temp + '<br>' + 'For specific approval VIN is a required field'   
		    --if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND NOT ExpiryDate is null)
			   -- SET @Temp = @Temp + '<br>' + 'For general approval ExpiryDate has to be null value'   
		end

        if (@DesignApprovalTypeID = 994 OR @DesignApprovalTypeID = 995 OR @DesignApprovalTypeID = 996 OR @DesignApprovalTypeID = 997)
		begin
		    if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND NOT VINNumber is null)
			    SET @Temp = @Temp + '<br>' + 'For general approval VIN has to be null value'   
		    --if exists(select * from tblDGDesignApproval where InstrumentID = @inInstrumentID AND NOT ExpiryDate is null)
			   -- SET @Temp = @Temp + '<br>' + 'For specific approval ExpiryDate is a required field'     
		end

		if not exists(select * from tblDGDesignApprovalClassUN where InstrumentID = @inInstrumentID)
				SET @Temp = @Temp + '<br>' + 'Design Approval Class or UN number must have at least one value'

		if @InstrumentTypeID = 997
		begin		      
            if exists(select * from tblDGDesignApprovalVehicleMake where InstrumentID = @inInstrumentID)
			    SET @Temp = @Temp + '<br>' + 'General approval - Tank only Vehicle Make should have no records'

            if not exists(select * from tblDGDesignApprovalTankMake where InstrumentID = @inInstrumentID)
			begin
			    declare @RecCount int
				select @RecCount = count(*) from tblDGDesignApprovalTankMake where InstrumentID = @inInstrumentID

				if  @RecCount = 0
			      SET @Temp = @Temp + '<br>' + 'General approval - Tank only Tank Make should have one record'  

				if @RecCount > 1 
				  SET @Temp = @Temp + '<br>' + 'General approval - Tank only Tank Make should have only one record'  
			end  								                																			
		end  
		
		--Fee payment checked
		if @InstrumentTypeID = 990
		BEGIN
			--check if this DGDesignApproval is interstate or just in NSW
			--If it is not in NSW then no fee required
			declare @IsNSW bit
			if exists(SELECT [DesignApprovalState]    
			FROM [tblDGDesignApproval]
			WHERE [DesignApprovalState] = 'NSW' and InstrumentID = @inInstrumentID)
			   set @IsNSW = 1
			else
			   set @IsNSW = 0

			IF @IsNSW = 1
			BEGIN

				If NOT EXISTS (select * from tblRadiationLicenceInvoice where InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 9)
				BEGIN    ----------------- INVOICE NOT CREATED
					set @Temp = @Temp + '<br>' + 'Select Calculate fee function to create dangerous goods tank design approval fee invoice' 
				END	
				ELSE
					BEGIN
						SELECT @CalculatedAmount = dbo.ufn_DGGetNewLicenceFee(@inInstrumentID)

						SELECT @FullInvoice = ISNULL(SUM(InvoiceAmount),0)
							FROM tblRadiationLicenceInvoice
							WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 9

						SELECT @FullAdjustment = ISNULL(SUM(AdjustmentAmount), 0) 
						FROM tblRadiationLicenceInvoiceAdjustment 
						WHERE RadiationLicenceInvoiceID IN
							(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 9 and SystemGeneratedFlag = 1)


						IF @CalculatedAmount <> @FullInvoice + @FullAdjustment
						BEGIN
							set @Temp = @Temp + '<br>' + 'The invoice amount is different with calculated licence approval fee amount, please select Calculate Fee function to create fee adjustment.' 
						END
						ELSE
						BEGIN
							SELECT @InvoiceBalance = ISNULL(SUM(InvoiceBalance), 0) FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID AND RadiationLicenceFeeTypeID = 9

							SELECT @AdjustmentBalance = ISNULL(SUM(AdjustmentBalance), 0) 
							FROM tblRadiationLicenceInvoiceAdjustment 
							WHERE AdjustmentBalance >=0   AND  RadiationLicenceInvoiceID IN
								(SELECT RadiationLicenceInvoiceID FROM tblRadiationLicenceInvoice WHERE InstrumentID = @inInstrumentID and RadiationLicenceFeeTypeID = 9)

				
							IF @InvoiceBalance + @AdjustmentBalance > 0
							BEGIN
								set @Temp = @Temp + '<br>' + 'The licence approval fee invoice must be paid before submitting the application' 
							END

						END

				
					END
			END
		END		  
	END
	--==================DG Design Approval issue check starts=======================================
	--FINALLY WE RETURN
	if len(@Temp) > 4
	begin		 
		set @outErrorMsg= substring(@Temp, 5, len(@Temp) - 3)    
	end
	else
        set @outErrorMsg = @Temp 

	SELECT @outErrorMsg as TEMP	
END


