/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstrumentID]
      ,[InstrumentTypeID]
      ,[InstrumentStatusID]
      ,[ResponsibleSystemUserID]
      ,[DECCWSectionID]
      ,[IssuedBySystemUserID]
      ,[DateIssued]
      ,[DisplayFlag]
      ,[DateCreated]
      ,[CreatedBySystemUserID]
      ,[DateUpdated]
      ,[UpdatedBySystemUserID]
      ,[RowTimestamp]
      ,[ROW_ID]
  FROM [PALMSDB].[dbo].[tblInstrument]
  WHERE [InstrumentTypeID] = 990

 select 
   NSWDesignApprovalID
 , DesignApprovalNumber
 , a.DateApplicationCompleted
 , b.DateIssued
 from tblDGDesignApproval a inner join tblInstrument b ON a.InstrumentID = b.InstrumentID
 where datepart(day, a.DateCreated) = 22 and datepart(month, a.DateCreated) = 10 and datepart(year, a.DateCreated) = 2015