

IF EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = N'PortID'
          AND Object_ID = Object_ID(N'SLAAvailabilityPerZone'))
BEGIN
    print ' we find a column name: ' + 'PortID'
	ALTER TABLE dbo.SLAAvailabilityPerZone DROP COLUMN PortID ; 
END

ALTER TABLE [dbo].[SLAAvailabilityPerZone]
ADD [PortID] [int] NULL