/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [RiskAssessmentAnswerID]
      ,A.[RiskAssessmentQuestionID]      
      ,[AnswerDescription]
      ,A.[SequenceOrder]
      ,[ScoreFlag]
      ,[ScoreTypeID]
      ,[Score]
      ,[ScoreFactor]
      ,[EffectiveDateFrom]
      ,[EffectiveDateTo]
      ,A.[DateCreated]
      ,A.[CreatedBySystemUserID]
      ,A.[DateUpdated]
      ,A.[UpdatedBySystemUserID]
      ,B.RiskAssessmentQuestionID
      ,B.QuestionDescription      
FROM [PALMSDB].[dbo].[tblRiskAssessmentAnswer] A INNER JOIN tblRiskAssessmentQuestion B
ON A.RiskAssessmentQuestionID = B.RiskAssessmentQuestionID