 
  declare @InstrumentID int = 1534159  

  select * from tblUserNotification where InstrumentID = @InstrumentID 
  select * from tblInstrumentAuditLog where InstrumentID = @InstrumentID 
  select * from tblNotice where InstrumentID = @InstrumentID 
  select * from tblInstrument where InstrumentID = @InstrumentID 
  select * from tblInstrumentNotice where [NoticeInstrumentID] = @InstrumentID 
  ---------------------------------------------------------------------------------------
  --delete from tblUserNotification where InstrumentID = @InstrumentID 
  --delete from tblInstrumentAuditLog where InstrumentID = @InstrumentID  
  --delete from tblNotice where InstrumentID = @InstrumentID
  --delete from [tblInstrumentNotice] where [NoticeInstrumentID] = @InstrumentID
  --delete from tblInstrument where InstrumentID = @InstrumentID