USE [CUSSReportingDB_NRT]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAbdName]    Script Date: 9/10/2021 11:22:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  FUNCTION [dbo].[GetAbdNameOLD]
(
	-- Add the parameters for the function here
	@PortCode nvarchar(10), 
	@Identifier nvarchar(10),
	@Terminal nvarchar(10),
	@Area nvarchar(10),
	@SubArea nvarchar(10)
)
RETURNS nvarchar(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result nvarchar(50)

	-- Add the T-SQL statements to compute the return value here
	SET @Result = (SELECT CASE WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') <> ''
							THEN @PortCode + '_' + @Terminal + '_' + @Area + '_' + @SubArea + '_' + @Identifier
						WHEN ISNULL(@Terminal,'') <> '' AND ISNULL(@Area,'') <> '' AND ISNULL(@SubArea,'') = ''
							THEN @PortCode + '_' + @Terminal + '_' + @Area + '_' + @Identifier
						ELSE @PortCode + '_' + @Terminal + '_' + @Identifier END)

	-- Return the result of the function
	RETURN @Result

END