/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PesticideLicenceClassID]
      ,[InstrumentID]
      ,[LicenceClassID]
      ,b.Description
	  ,a.*
  FROM [tblPesticideLicenceClass] a inner join tblClassification b
  on a.LicenceClassID = b.ClassificationID
  WHERE a.InstrumentID = 5068234


select * from tblClassification where ClassificationID = 856
select * from tblClassification where ClassificationDomainID in (104, 105)
select * from tblClassificationDomain where ClassificationDomainID in (104, 105)

select *, ExpiryDate from tblPesticideLicence where InstrumentID = 5068234

-- update tblPesticideLicence set OldLicenceNumber = 'BMW' where InstrumentID = 5068234


    declare @InstrumentID int
	set  @InstrumentID = 5068234

	DECLARE @MyTable TABLE
	(
		SNo int IDENTITY(1,1), 		
		ClassNumber int,
		ClassName varchar(500)
	)	
	
	insert into @MyTable	
    select distinct LicenceClassID, b.[Description] from [tblPesticideLicenceClass] a inner join tblClassification b
    on a.LicenceClassID = b.ClassificationID
    where InstrumentID = 5068234 and LicenceClassID > 0
	 

	select * from @MyTable

	declare @LicenceClass varchar(max)	
	select  @LicenceClass = COALESCE(@LicenceClass+', ' ,'') + (case isnull(v.ClassName, '') when '' then '' else '/' + isnull(v.ClassName, '') end)
	from @MyTable v

	select @LicenceClass = substring(@LicenceClass, 2, len(@LicenceClass)-1)

	delete @MyTable


	select *, Convert(varchar(10), CONVERT(date, DateIssued, 101), 101), DateIssued from tblInstrument where InstrumentID = 5068234 and Convert(varchar(10), CONVERT(date, DateIssued, 103), 103) = '01/05/2015'

	select *, Convert(varchar(10), CONVERT(date, DateIssued, 103), 103), DateIssued, DATEDIFF(day, '2015-05-03', RL.ExpiryDate) as Temp from tblPesticideLicence RL inner join tblInstrument I ON RL.InstrumentID = I.InstrumentID 
	WHERE RL.InstrumentID = 5068234 and DATEDIFF(day, '2015/05/03', RL.ExpiryDate) >= 0 

	--update tblInstrument set DateIssued = '2015-05-01' where InstrumentID = 5068234
