/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) a.[UserId]
      ,a.[RoleId]
	  ,b.UserName
	  ,c.RoleName
  FROM [ABDMembership].[dbo].[aspnet_UsersInRoles] a INNER JOIN [ABDMembership].[dbo].aspnet_Users b on a.UserId = b.UserId
  INNER JOIN aspnet_Roles c on a.RoleId = c.RoleId
  WHERE  a.[UserId] = '1ABB2577-67EA-4B94-A734-2DFEB6545B90'